[2017-09-25 14:56] ale-rt commented on #2156
Just a note this can happen also on other context (I have just been bitten by this while adding an embed tile through the mosaic editor)

[2017-09-25 16:53] tmunati opened #2159 "main menu is not working after changing the language to Hebrew"
after I change the main language to Hebrew the left main menu is not showing.

## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
after I change the main language to Hebrew the left main menu is not showing.

### What I expect to happen:

### What actually happened:

### What version of Plone/ Addons I am using:

[2017-09-25 19:40] hvelarde commented on #2159
what version of Plone? please fill the bug report properly.

[2017-09-25 20:48] thet commented on #1749
On latest Plone too.
While updating collective.lazysizes for Plone 5 I ran into the same issue. IIRC while installing the problem was that the ++resource++ directory paths coulnd't be found, so I left out the browser layer it worked again ( https://github.com/collective/collective.lazysizes/commit/58c4322331dbf3d65ec5966d43e5c79a049a6f95#diff-1e3819934a65fe2eae8c25b9e90dda01L27 )
I think not using

[2017-09-25 21:23] tmunati commented on #2159
Plone version: 5.0.8
I used it here
http://demo.plone.de
as admin

[2017-09-25 22:03] hvelarde commented on #2159
related with #2139

[2017-09-26 06:49] keul commented on #1749
@thet let's say is a feature, not a bug 😄

Is a perfectly legit workaround I'm my opinion too, having name clashing with resources is really uncommon... but still is a bit hacky. We protected resources with browser layers for years and it was OK.

[2017-09-26 10:08] tomgross commented on #2141
Here is a solution: https://github.com/plone/Products.CMFPlone/pull/2160
Please merge before releasing RC2

If you have an addon which pulls CMFDefault you need to add the following snippet to your buildout

[code]

[2017-09-26 11:03] tomgross commented on #2156
This is caused by ZConfig 3.2.0 which was included here:
https://github.com/plone/buildout.coredev/commit/6ab9919545e07f0919cd9b063ce1ce3f81dfc254#diff-b0468aad5891734de080d1ad63a84d56L21

Pinning back to ZConfig 3.1.0 solves the problem.

I wouldn't allow such changes in RC state. Only critical bug fixes.

[2017-09-26 11:05] tomgross commented on #2156
Pinning back ZConfig to 3.1.0 also solves

[code]
on startup.

[2017-09-26 11:07] tomgross commented on #2156
Here is my KGS for Plone 5.1 at the moment:

[code]

[2017-09-26 11:49] davisagli commented on #1749
The real fix is probably to declare that the registry import step depends on the browserlayer import step.

David Glick
(mobile)

[2017-09-26 12:03] jensens commented on #2156
- ``ZConfig`` was downgraded to ``3.1.0`` in buildout.coredev - this needs investigations
- ``zope.component 4.4.1`` is now released and used in coredev
- ``plone.autoform 1.7.3`` is fixed - just https://github.com/plone/plone.autoform/issues/20 was not closed
- ``zope.testbrowser`` @tomgross what is the specific reason to pin to version ``4.0.3``? Should we update buildout.coredev? It is pointing

[2017-09-26 12:44] pbauer commented on #2083
Fixed

[2017-09-26 12:44] #2083 closed

[2017-09-26 14:06] tomgross commented on #2156
@jensens Thanks for picking this up. I guess the reason for zope.testbrowser 4.0.3 was fewer egg dependencies. As far as I recall it no longer depends on `zope.app.testing` but plone.testing.z2.Browser still does. I would keep `3.11.1` for the Plone 5.1 release and go for 5.x for Plone 6.0 directly.

[2017-09-26 14:15] tomgross commented on #2156
I found another issue caused by the `zope.interface` update from `4.4.0` to `4.4.2` in https://github.com/plone/buildout.coredev/commit/907e63f8dbaae8bb8cbe255bdb7625d9cb04545b#diff-b0468aad5891734de080d1ad63a84d56R45

A lot of my unittests are failing with this traceback:
[code]

`self.tile` is a tile initiated directly in tests and not via zcml (`self.tile = FollowUsTile(doc, self.request)`). Fo

[2017-09-26 14:21] malthe opened #2161 "Zope-level language negotiation"
The `z3c.pt` package relies on Zope's language negotiation utility `zope.i18n.INegotiator` but `plone.i18n` does not register such a utility, instead relying on Zope's own negotiation logic which is not the same as `plone.i18n`.

The result is that different languages may be used on the same page.

[2017-09-26 15:45] gforcada commented on #2141
@tomgross that should go, whenever merged, on the upgrade guide that @pbauer started 👍

[2017-09-26 23:36] jensens commented on #2156
@tomgross well, I don't expect ``zope.interface`` to accept ``None`` as a name. In fact, this is - and was - just wrong and luck that it works at all. Better fix the tests?

I don't see this as a blocker - other opinions?

[2017-09-27 14:45] thet commented on #2124
@seanupton hi, sorry to not answering questions on communtiy.plone.org

If there is something I can help with, let me know!

[2017-09-27 15:43] Gagaro commented on #2154
I just tested this on a completely vanilla Plone and I got a list of str instead of unicode (as I have in my other project).
So I'm not sure what's wrong. I'll keep this issue updated.

[2017-09-27 16:06] Gagaro commented on #2154
Ok so I actually had lxml 4.0.0 on the vanilla Plone and 3.7.3 on the project one.

I updated it and I now get a `str`. But the values stored in the registry are still unicode so the import still fails.

[2017-09-28 18:57] pbauer commented on #1351
I fixed the issues with PlonePAS (ugly but working for now: https://github.com/plone/Products.PlonePAS/pull/25).

Now I see **a lot** of testbrowser-failures, many of which come from CSRF-protection where we get the `confirm-action` view instead of the expected URL. One rather simple such test is `test_rename_form_cancel` from `plone.app.content`. It passes for AT but fails for DX.

Can anyone giv

[2017-09-30 11:22] MichaelPN commented on #2140
This issue is also related to #2139

[2017-10-03 07:27] thet opened #2163 "New linkwidget pre-filled with portal root"
When adding a Link content type, the new link widget (from plone.app.z3cform 3.0.1 with internal, external and email inputs) is pre-filled with the portal root.

Fix is on the way...

Merge together:
https://github.com/plone/plone.app.contenttypes/pull/431
https://github.com/plone/plone.app.z3cform/pull/76

[2017-10-03 14:23] #2163 closed

[2017-10-03 14:26] mauritsvanrees commented on #1351
`plone.protect` has a suggestion, see the paragraph 'Fixing CSRF Protection failures in tests' on [PyPI](https://pypi.python.org/pypi/plone.protect):

[code]

That would require a change for each failing test, though hopefully in a shared `setUp` method this might solve several failures at once.

An alternative might be to set PLONE_CSRF_DISABLED=true in the environment of the OS. You could try th

[2017-10-03 17:39] pbauer commented on #1351
@mauritsvanrees I'm aware of these options but to lazu to to that. What I wonder is which change might be responsible for these issues appearing now and if we can work around it there. It did not happen 5 month ago when we had all test green (with source-checouts of zope.testbrowser and plone.testing).

[2017-10-03 18:33] hannosch commented on #1351
@pbauer I'd check if the code in https://github.com/plone/plone.transformchain/blob/master/plone/transformchain/zpublisher.py is still working as expected. Publication events are now emitted at a different place in the WSGI publisher. It should be more correct and fixes other issues. But maybe that's caused an issue for the transformchain code or something specific for testbrowser tests.

[2017-10-04 11:47] datakurre commented on #1486
@staeff Would you able to create a checklist of missing parts, and possibly also create a WIP pull request for this? Obviously we missed Plone 5.1, but maybe we could get this merged soon after 5.1 final is out.

[2017-10-04 11:47] datakurre commented on #1486
https://github.com/plone/Products.CMFPlone/commits/plip-1486-redirection

[2017-10-04 11:50] datakurre commented on #2092
@esteele @pbauer Would you be able to summarize what remains still missing after your Midsummer Sprint effort in July, and how your work could be tested already? https://github.com/plone/plone.login/commits/master

Is it possible already to use plone.login as an add-on or would it require merging into CMFPlone before testing/using and polishing?

[2017-10-05 18:27] zopyx opened #2166 "Plone 5.1: inconsistent add-on control panel"
I have this buildout

https://github.com/zopyx/pappnasen-plone5/

to plone-demo.info.

I am trying to port it from Plone 5.0 to 5.1.

It uses the following two script to setup the Plone demo instance:

https://github.com/zopyx/pappnasen-plone5/blob/master/setup-plone.py

https://github.com/zopyx/pappnasen-plone5/blob/master/setup-smashdocs.py

The `zopyx.smashdocs` add-on is installed by one of th

[2017-10-05 18:34] hvelarde commented on #2166
maybe @mauritsvanrees can give some hints over this.

[2017-10-05 18:46] zopyx opened #2167 "[Plone 5.1] Warning This product cannot be uninstalled!"
What is the current criteria in Plone 5.1 for a product not being uninstallable?
The existence of an uninstall profile?

Former versions of Plone were not that picky and allowed the deinstallation of an add-on - perhaps with some remaining data cruft. Not sure why this changed? For the sake of a dedicated uninstallation? An existing uninstallation profile does not give the guarantee for a complete

[2017-10-05 22:28] hvelarde commented on #2167
that was discussed last year in #1340.

[2017-10-05 22:28] #2167 closed

[2017-10-05 22:30] hvelarde commented on #2166
you may find some pointer is #1340 also; I think this is clear also for me now.

IIRC @mauritsvanrees documented that also; feel free to open a new issue in the documentation repo in case is not there.

[2017-10-06 04:12] zopyx commented on #2166
Why did you close this obvious bug without further explanation? I did not find anything in #1340. The described behavior is odd and wrong. An obviously installed add-on should not be listed  as installable but as installed. If there is some issue with the profile configuration then it should be reported or logged somehow as an error but should not leave the control panel in a weird state.

[2017-10-06 08:04] mauritsvanrees commented on #2166
This is similar to #2103, but that one already goes wrong when going from 4.3 to 5.0 and is specific for add-ons in the Products namespace.

I'll see next week if I can find out what is wrong here.

[2017-10-06 12:01] jaroel opened #2168 "Changing default_language doesn't set siteroot.language"
When I change the default language in @@language-controlpanel, then the language attribute on the site root object isn't changed to reflect this.

This causes constraint errors in adding/editing DX objects when the previous default language is no longer one of the available languages.
ie, when changing the site from EN to only DE after initial setup.

Also see https://github.com/plone/plone.app.de

[2017-10-06 12:20] jaroel commented on #2168
Use this in an upgrade step as a workaround:
[code]

[2017-10-06 12:37] thet opened #2169 "TinyMCE URL transformation errornous with folderish types"
Create a new folderish content type:

![Screenshot from 2022-08-24 18-23-14](https://user-images.githubusercontent.com/170891/186472513-53fa1b6a-ada6-49d4-b1bc-d855f1e2efe0.png)

![Screenshot from 2022-08-24 18-23-42](https://user-images.githubusercontent.com/170891/186472552-30a4dddf-a49d-40b9-a4f4-4477f9a440d3.png)

Add this type to a nested structure - here the path is ``/a/b``. Add a link poin

[2017-10-06 20:24] jaroel commented on #2148
afaik the "plone.versioning" behavior does that

[2017-10-08 11:13] pbauer commented on #2123
@tkimnguyen you to change some tests. I fixed them and started a jenkins-build: http://jenkins.plone.org/job/pull-request-5.1/546/
I might need to rebase the branches first though...

[2017-10-08 12:00] pbauer commented on #2123
@tkimnguyen: Tests are now green. Please rebase your branch of Products.CMFPlone and we can merge the whole thing.

[2017-10-08 22:04] thet opened #2170 "new link widget ui problems"
The new link widget (See https://github.com/plone/plone.app.z3cform/blob/master/plone/app/z3cform/widget.py#L703 and https://github.com/plone/plone.app.z3cform/blob/master/plone/app/z3cform/templates/link_input.pt ) has some UI problems:

- After submiting the form without a required field set (e.g. the title in a p.a.c link type) the link widgets input is cleared.
- The external url form tab shou

[2017-10-09 18:56] zopyx opened #2171 "5.1RC1: exclude from navigation ignored? registry.xml entries replacing a configuration instead of adding to an existing configuration."
I run plone-demo.info.

All auto-generated folders does not show up in the tabs.

They also do not show up after switching the exclude from navigation on/off manually.

A newsly created "Folder" also does not show up in the tabs.

This can be reproduced on plone-demo.info (admin/admin).

<img width="787" alt="bildschirmfoto 2017-10-09 um 20 53 05" src="https://user-images.githubusercontent.com/594

[2017-10-09 20:13] hvelarde commented on #2166
@zopyx sorry about that: I obviously pressed the wrong button.

[2017-10-10 08:28] pbauer commented on #2171
I cannot reproduce that issue. demo.plone.de is also running 5.1rc1 and doe not have it.

[2017-10-10 08:30] zopyx commented on #2171
Weird.

[2017-10-10 12:26] jensens commented on #2123
I rebased (and recompiled the plone and plone-logged-in resources) and started the tests for all 4 PRs.

[2017-10-10 12:49] tkimnguyen commented on #2123
I never got around to making the PR for namedfile packages...

[2017-10-10 13:10] jensens commented on #2123
I merged them all.

[2017-10-10 13:10] #2123 closed

[2017-10-10 14:30] hvelarde commented on #2123
seems we can close this now the PR are merged.

thanks to all the involved!

[2017-10-10 21:33] mauritsvanrees commented on #2166
I can confirm it with your example buildout.

Your product has three profiles: `default`, `uninstall` and `SMASHDOCs integration with Plone (SD only)`. (I would suggest a shorter name for that last one, but okay.)
It goes wrong because the last profile name starts with an uppercase character, which makes it sort alphabetically before `default`. That used to be a bad idea for exactly the reason you

[2017-10-10 22:30] mauritsvanrees commented on #2103
The change I proposed above seems mostly good. I will make a PR.
Note that in Plone 5.1 this is no problem.

[2017-10-11 01:29] zopyx commented on #2166
Renaming the profile as suggest solves this issue for me. The bad name is clearly a copy&paste error.

[2017-10-11 01:29] #2166 closed

[2017-10-11 02:05] zopyx commented on #2171
I tracked this down to my  `registry.xml`:

https://bitbucket.org/ajung/zopyx.plone.smashdocs/src/13111287936476d0b80b84450194e2be0abfad6c/zopyx/plone/smashdocs/profiles/default/registry.xml?at=master&fileviewer=file-view-default

In Plone 5.0 the two content types where added to the registry, in Plone 5.1 the two content types seem to replace existing entries. Although there is no `prune="True"`

[2017-10-11 14:51] jensens commented on #2074
still applies in RC1 (coredev of today)

[2017-10-11 14:55] jensens commented on #2074
see also #1298

[2017-10-12 17:35] tomgross opened #2174 "Fulltext filter in folder contents with alternative index installed"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

* Install Plone 5.1rc1 together with the latest collective.solr
* Add some content
* Go to `folder_contents`
* Do fulltext filtering

### What I expect to happen:

Table is filtered according to the input.

### What actually happened:

Endless spinner and the following traceback in  the log:

[code]

### What version of Plone/ Addons

[2017-10-13 01:07] jensens commented on #317
note: this is still an issue.

[2017-10-13 01:15] jensens commented on #315
these dependencies are gone in 5.1 (just plone.app.standardtiles uses plone.formwidget.querystring, but that's out of core)

[2017-10-13 01:15] #315 closed

[2017-10-13 11:38] datakurre opened #2175 "manage_UndoForm broken on Plone 5.1.rc1"
I upgraded a site from Plone 5.0 to 5.1rc1 and noticed ```manage_UndoForm``` being broken. Is it just me or a known issue?

[code]

[code]

[code]

[2017-10-14 08:19] zopyx commented on #2171
Setting `purge="false"` in my registry.xml resolved the issue

https://bitbucket.org/ajung/zopyx.plone.smashdocs/commits/e36db0e93eea252f4125b6030c5af39b9fd88af7

However I still believe that the change between 5.0 and 5.1 is a backward compatibility foul.

[2017-10-14 08:34] thet commented on #2171
@zopyx it`s ``purge="False"`` what is needed, otherwise existing entries will be cleared and overwritten.

You have the ``plone.excludefromnavigation`` ( https://github.com/plone/plone.app.dexterity/blob/master/plone/app/dexterity/behaviors/exclfromnav.py ) behavior  added to your content type?

[2017-10-14 08:42] zopyx commented on #2171
I am using this behavior for one of the two content-types in my package

https://bitbucket.org/ajung/zopyx.plone.smashdocs/src/e36db0e93eea252f4125b6030c5af39b9fd88af7/zopyx/plone/smashdocs/profiles/default/types/SmashFolder.xml?at=master&fileviewer=file-view-default#SmashFolder.xml-27

But how is this related?

My point is that adding values to a registry entry should be really added instead of r

[2017-10-14 10:57] thet commented on #2171
AFAIK ``purge="False"`` way was always the same with Generic Setup. Although in the end it depends on the exporthandlers if they support the ``purge`` attribute and if they append or replace existing values. And that is indeed not totally consistent.

The link to your repo gives a access denied error.

[2017-10-14 18:18] jensens commented on #2097
best practice is to not use the URLs as above, but use generated URLs with unique keys. After modification a new unique key is used and no purging at all is needed.

[2017-10-14 18:34] jensens commented on #2131
@thet I fear this is because of our major polishings to colder_contents... Any idea what has caused it?

[2017-10-14 18:44] jensens commented on #2141
I think, with merging docs, this one is resolved.

[2017-10-14 18:44] #2141 closed

[2017-10-14 18:47] jensens commented on #2175
I am on simplest a non-ZEO local installation here and the ``Undo`` tab tells me always:

So this is indeed a problem.

[2017-10-14 20:18] jensens commented on #2171
Since we're using this in ``profiles/default/types/*.xml`` files quite often, I just looked up how it worked the last years with behaviors.

Given a ``Link.xml`` overriding the behaviors of the default Link (in order to reduce fields), I define a block like this

[code]

Then the already existing behaviors are overridden. Only those defined here are active.

If I change this to:

[code]

Then the

[2017-10-14 20:22] jensens commented on #2148
So, this is all about missing documentation?

[2017-10-14 20:33] jensens commented on #2145
it is defined in ``plone.app.imaging/src/plone/app/imaging/configure.zcml:31``. I suppose you have an Archetypes free setup, so ``plone.app.imaging`` is no longer included? I agree to replace the permission. IMO we have way too many permissions added for the control panel.

[2017-10-14 20:37] jensens commented on #2145
@zmijunkie may you provide a pull request, please?

[2017-10-14 20:42] jensens commented on #2161
would be an enhancement of ``plone.i18n`` - PRs welcome.

[2017-10-14 21:25] jensens commented on #2168
I can confirm this, also the DX control panel does not work any longer.

[2017-10-14 21:31] jensens opened #2176 "RTL Language problems"
seems like we have a bunch of problems with RTL (right-to-left) languages. Plone is usually known to support those very well.

This ticket aims to collect the single tickets that are around:

- [ ] https://github.com/plone/Products.CMFPlone/issues/2139
- [ ] https://github.com/plone/Products.CMFPlone/issues/2140
- [ ] https://github.com/plone/Products.CMFPlone/issues/2159
- [ ] https://github.com/

[2017-10-14 22:18] zmijunkie commented on #2145
I am not so sure - I have got Products.Archetypes/archetypes.referencebrowserwidget/archetypes.multilingual and archetypes.schemaextender but  maybe the order might play a role:

Products.Archetypes is pulled in line 26
Products.CMFPlone in line 28
plone.app.imaging in line 278

I will try to change the order and report in the next few days

[2017-10-14 22:33] davisagli commented on #2145
IIRC I added all these control panel permissions in the PLIP that implemented the Site Administrator role, because people wanted finer control over who can access which control panels.

[2017-10-15 05:46] zopyx commented on #2171
Sorry but I did not notice that the repo is private (public now).

The excludefromnavigation behavior is unrelated.

In my original code for Plone 5.0 I had to this here in order to display my two content-types in portal_tabs:

https://bitbucket.org/ajung/zopyx.plone.smashdocs/src/13111287936476d0b80b84450194e2be0abfad6c/zopyx/plone/smashdocs/profiles/default/registry.xml?at=master&fileviewer=file

[2017-10-16 09:28] #2105 closed

[2017-10-17 06:08] tisto opened #2177 "PLIP: Ship Plone with plone.restapi"
## PLIP: Ship Plone with plone.restapi

## Responsible Persons

### Proposer: Timo Stollenwerk <tisto@plone.org>

### Seconder: @hvelarde

## Abstract

plone.restapi is a RESTful hypermedia API for Plone. Companies such as 4teamwork, code syntax, kitconcept, VNC and others use plone.restapi in production since many years already. Adding it to Plone core will allow us to further enhance our headles

[2017-10-17 06:36] pbauer opened #2178 "Root url broken when using Zope4"
Open http://localhost:8080/ and you get:

[code]

[2017-10-18 11:05] mamico commented on #2175
@datakurre @jensens  try with ZopeUndo 4.3 and https://github.com/zopefoundation/ZEO/pull/96
With those that works in my experience

[2017-10-18 11:17] mamico commented on #2097
Probably https://pypi.python.org/pypi/collective.purgebyid could help to solve this type of issue using a different way (disclaimer: I am the author)

[2017-10-18 13:06] zopyx opened #2179 "CSS Issue in Plone 5.1RC1 on plone-demo.info"
See

https://www.plone-demo.info/images/image-1/view

or
<img width="1414" alt="bildschirmfoto 2017-10-18 um 15 05 12" src="https://user-images.githubusercontent.com/594239/31720067-d196d582-b415-11e7-8cb6-f42e2ce841f8.png">

The image should not spread into the right portlet.

[2017-10-18 13:36] karalics commented on #2097
Possible solution:
https://github.com/plone/plone.app.caching/pull/39
( additional class for plone.app.caching.purge )

[2017-10-18 15:49] jensens commented on #2175
With plone/buildout.coredev#376 (no ZEO) all works fine again.

[2017-10-18 15:50] jensens commented on #2175
@mamico do I understand correctly the ZEO problem isn't solved without the ZEO PR?

[2017-10-18 17:59] mamico commented on #2175
@jensens absolutely yes (... I think that we don't want monkey patching ZEO or ZopeUndo, right?)

[2017-10-18 22:40] #2131 closed

[2017-10-18 22:45] thet commented on #2131
@krissik tnx for the bug report!

[2017-10-18 22:56] jensens commented on #2179
nice issue, but bad bug report. You should know better. How can one reproduce this in a fresh install? May you please describe all steps briefly?

[2017-10-18 23:03] jensens commented on #2066
any reason to keep this one open?

[2017-10-18 23:06] jensens commented on #2056
IMO this should be an addon. It is quite simple: provide a (fake) index returning all ids in random order. thats all.

[2017-10-18 23:06] #2056 closed

[2017-10-18 23:08] jensens commented on #2056
FYI: I closed this, because it's formal not a plip, just a rough idea.

[2017-10-19 02:12] zopyx commented on #2179
https://github.com/zopyx/pappnasen-plone5

`bin/instance run setup-plone.py`

[2017-10-19 08:43] mauritsvanrees commented on #2066
Nope, everything has been fixed as far as I know.

[2017-10-19 08:43] #2066 closed

[2017-10-21 10:11] terapyon commented on #1475
@MatthewWilkes Please check this ticket again.

[2017-10-22 09:17] ale-rt opened #2184 "Best practices for making code compatible with Python2 and Python3"
Yesterday we have been discussing (see #2181) if using six is a good option for us and there seems there is consensus about it.

We are investigating ways to automate the code porting and we found out the tool [sixer](https://github.com/haypo/sixer).

We now want to write a script to automatically run sixer on our packages.

Anybody who has suggestions (or is aware of some reasons to not use this

[2017-10-22 20:53] gforcada commented on #2184
My personal opinion: using sixer sound a really good idea 👍 👍 👍 👍 run it automatically on all our packages a really bad one 👎 👎 👎

Although I guess, I have barely tried six before, that six is mostly safe, our test matrix is quite complex enough to give it one commit on each package and then have fun trying to figure out which one is responsible of the breakage.

I love this talk from this year's

[2017-10-22 23:41] pbauer commented on #1351
All branches in here are merged. Thanks so much to everyone helped working on it!. We have still 5 failing tests left in the new 5.2-branch of the coredev, that we will fix in the next couple of days. What remains to be done is to:

- [ ] write upgrade-steps that deal with the changes (e.g. https://github.com/zopefoundation/Zope/issues/205) and
- [ ] write the upgrade-guide for changes related to

[2017-10-23 07:35] pbauer opened #2185 "Sorting of roles has changed in 5.2"
Sort order of roles in `@@usergroup-groupprefs` has changed.

In 5.1:
Contributor | Editor | Member | Reader | Reviewer | Site Administrator | Manager

In 5.2:
Site Administrator | Member | Editor | Reader | Contributor | Reviewer | Manager

This is due to a change in AccessControl that usses set now: https://github.com/zopefoundation/AccessControl/commit/d7373d8a41bee48507f2d1370133fdb02ce8e035#d

[2017-10-23 16:57] mauritsvanrees commented on #2185
Sorting it alphabetically may be best. Now it seems random.
Of course then it won't be sorted once you translate the roles; keeping the order the same in all languages is probably best for people who manage multiple sites in different languages.

[2017-10-23 17:44] fulv commented on #2185
I would put the roles in order of "powers", e.g. something like:

Member | Reader | Contributor | Reviewer | Editor | Site Administrator |
Manager

or leave it unchanged from the way it has always been.

On Mon, Oct 23, 2017 at 6:58 PM Maurits van Rees <notifications@github.com>
wrote:

[2017-10-23 18:34] mauritsvanrees commented on #2185
But then you get into debates about the relative power of each role.

- Member vs Reader: probably usually a Reader is a Member with extra rights. But a user may be authenticated (say via SAML) and have the Reader role without being a Member. A Member may be able to add content and a Reader not.
- Reviewer vs Editor: I would put Reviewer above Editor, because a Reviewer reviews the work of an Edit

[2017-10-24 09:02] mauritsvanrees opened #2187 "Failing Plone 5.2 test_cooking_missing test due to subrequest handling"
This is currently the [last failing test](http://jenkins.plone.org/job/plone-5.2-python-2.7/lastBuild/testReport/Products.CMFPlone.tests.testResourceRegistries/TestResourceRegistries/test_cooking_missing/) on Jenkins for the main Plone 5.2 job. This fails:

[code]

So that is [this line](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/tests/testResourceRegistries.py#L174)

[2017-10-24 09:17] tomgross commented on #2174
Works with latest plone.app.content

[2017-10-24 09:17] #2174 closed

[2017-10-24 09:23] tomgross opened #2188 "Translations in folder_contents are incomplete"
Partly this looks like a regression to 5.1b4. The translation coverage was better there.

### What I did:

- Install Plone 5.1rc1 and set a language different to English.
- Go to folder_contents of the site or a folder.

### What I expect to happen:

 * All actions are translated to the selected language.

### What actually happened:

 * NOT all actions are translated to the selected language.

![

[2017-10-24 11:25] jensens commented on #2187
A subrequest has to return sane status codes. Mosaic will get problems too if this happens. So, we need to find the source of the changed behavior.

[2017-10-24 15:07] pbauer commented on #2187
I'm pretty sure @davisagli knows where this change originates since he already dealt with many issues regarding the changed error-handling in Zope 4.

[2017-10-24 19:20] mauritsvanrees commented on #2187
When I switch to `plone.subrequest` 1.7.0 it works (though probably some other tests fail). 1.8 works too.  1.8.4 is the first version that fails.  The difference is in [these lines](https://github.com/plone/plone.subrequest/blob/master/plone/subrequest/__init__.py#L166-L171). In previous versions, `response.exception` would be called and that would set an error status.  Now an exception view is l

[2017-10-24 19:38] mauritsvanrees commented on #2187
Well, seems to make sense anyway. I have pushed a branch with this and will make a pull request.

[2017-10-24 20:25] mauritsvanrees commented on #2187
Yes! That fixes the failure and introduces no other test errors.

[2017-10-24 21:04] mauritsvanrees commented on #2188
When I search for 'Move to top of folder' I only find this in `mockup/patterns/structure/js/actionmenu.js`. So it has something to do with Javascript translations.
@thet Does this ring a bell for you?

[2017-10-25 07:55] #2187 closed

[2017-10-25 08:38] malthe commented on #1761
The problem seems to be that the `PloneSite` object does not override the `Title()` method to pull the value of the registry via `ISiteSchema` interface.

[2017-10-25 09:28] agitator opened #2191 "SassSyntaxError: Syntax error after u'resource++collective': Found u'.z3cform.w' but expected one of ",", ":","
[code]

Since the merge of https://github.com/plone/Products.CMFPlone/pull/2107 cooking/building css seems to be a lot stricter.

It looks like there is a problem if the src within an url() doesn't have quotes around.

I patched the scan method in https://github.com/Kronuz/pyScss/blob/master/scss/grammar/scanner.py#L202 with
[code]
Looks like that helps.

fyi collective.z3cform is there because I'

[2017-10-25 09:48] mauritsvanrees commented on #2187
Strange, after merge, Jenkins 5.2 Python reports zero test failures, but the build is *not* marked as successful. When I check the [console log](http://jenkins.plone.org/job/plone-5.2-python-2.7/55/console) I do see an error in test teardown:

[code]

I guess it makes sense that a failure during teardown gives a broken build, even though all tests have passed.
I have restarted the build to see if

[2017-10-25 14:17] pbauer commented on #2116
This really needs a fix and a regression-test.

[2017-10-25 16:07] mauritsvanrees opened #2192 "Jenkins 5.2 Python: failure on test teardown"
The 5.2 Python job on Jenkins finally has [zero failures](http://jenkins.plone.org/job/plone-5.2-python-2.7/55/). But one of the test teardowns fails:

[code]

I guess it makes sense that a failure during teardown gives a broken build, even though all tests have passed.
I restarted the build to see if this is just a temporary problem, but it failed again.

It is a `plone.app.relationfield` test, b

[2017-10-25 16:09] mauritsvanrees commented on #2187
The teardown is not a temporary problem. [New issue opened.](https://github.com/plone/Products.CMFPlone/issues/2192)

[2017-10-25 18:55] davisagli commented on #2185
`portal.__ac_roles__` has a list of the roles that have been set up for the portal. Let's use the order there, which gives control to the integrator (it can be controlled via rolemap.xml).

[2017-10-26 10:35] pbauer commented on #2192
I traced it back to `TestFactoryPloneSite`. When I transformed these tests from `PlonetestCase` to a proper TestCase in https://github.com/plone/Products.CMFPlone/commit/79e6d415d2484917e12dfd06416cffdd55e1fff7 the error disappeared. I hope jenkins thinks so too.

[2017-10-26 10:58] pbauer commented on #2192
My fix for this issue unearthed a bunch of tests that were not running before because of the error during teardown. We now run 5817 tests instead of 3534 in the plone-5.2-python-2.7 job. Ans since some of them fail we're now at 35 failing tests. But 2248 more tests are now passing.

Migrating a weirdly failing test away from `PloneTestCase` might be a viable option in some other cases as well.

[2017-10-26 10:58] #2192 closed

[2017-10-26 11:01] pbauer commented on #2192
Oh, by the way. I found out about the faioing test by running `./bin/test --layer plone.app.testing.bbb.PloneTestCase` with a conditional pdb in queryUtility ands then inspecting the locals in the stacks above:

[code]

[2017-10-26 15:04] pbauer opened #2193 "test-errors related to FileUpload in Plone 5.2"
Two test related to FileUpload fail.

1. `./bin/test -s plone.formwidget.namedfile -t widget.rst`. Traceback: http://jenkins.plone.org/job/plone-5.2-python-2.7/61/testReport/junit/plone.formwidget/namedfile/widget_rst/
2. `./bin/test -s plone.app.blob -t replacement-types.txt`. Traceback: http://jenkins.plone.org/job/plone-5.2-python-2.7-at/56/testReport/junit/src.plone.app.blob/tests/replacement_

[2017-10-26 22:42] mauritsvanrees commented on #2193
The formwidget errors are because we are mocking FileUpload and the mock needs to incorporate some changes to the original class. Done in:
- https://github.com/plone/plone.formwidget.namedfile/commit/b6c5d4e434920b3be7cdd5cc4447802b5302c33e
- https://github.com/plone/plone.formwidget.namedfile/commit/5510211f90ae46d866268b03144bb2e7641633a3
- https://github.com/plone/plone.formwidget.namedfile/com

[2017-10-26 22:56] mauritsvanrees commented on #2193
It looks like the monkey patch in `plone.app.blob` could be removed, if we split off a branch for Plone 5.0 and 5.1.  But when I remove the patch, the failures stay the same.

[2017-10-27 11:48] pbauer opened #2194 "traversal fails with portal from getPortalObject()"
In Plone 5.2 with CMF 2.4 traversal with a portal returned by `url_tool.getPortalObject()` fails since it can not acquire the request. `unrestrictedTraverse` needs that though. Found when debugging `test ./bin/test -t testIconLookupForUnknownMimeType`

[code]

[2017-10-27 11:56] davisagli commented on #2194
You have to get portal_url using getToolByName in order for it to include the request in the acquisition chain. five.localsitemanager removes the request for utility lookups so that it doesn't get cached by the ZCA

David Glick
(mobile)

[2017-10-27 12:30] pbauer commented on #2194
Yes, but the lookup happens in `DynamicType` which is in CMF when doing `portal['some_file'].getIcon()` as done in the test `testIconLookupForUnknownMimeType`.

[2017-10-27 13:51] pbauer opened #2195 "Fix remaining failing test in 5.2"
Plone 5.2 - Python 2.7 is finally green but we still have 9 failling tests in http://jenkins.plone.org/job/plone-5.2-python-2.7-at/.
This is a meta-ticket so that people do not work on the same issue at the same time.

Here are these tests and links to issue/pr.

- [x] `Products.ATContentTypes.tests.traversal.txt` see below
- [x] `Products.CMFFormController.tests.testRedirectTo.TestRedirectToFunct

[2017-10-27 14:32] davisagli commented on #2194
Okay. Then I think my `getPortalObject` which I added to CMFPlone's URLTool is not correct. We should go back to the CMFCore version, but I'll need to follow up with a small fix to that for one of the other failures.

[2017-10-27 15:29] pbauer commented on #2195
I'm working on `Products.ATContentTypes.tests.traversal.txt` at the moment.

[2017-10-27 16:41] pbauer commented on #2195
`Products.ATContentTypes.tests.traversal.txt` is partly fixed with https://github.com/zopefoundation/Zope/pull/215. But in line 252 there is another issue with PUT:

[code]

For 5.1 `PUT` of `Zope/webdav/NullResource.py(105)PUT()` is used but in 5.2 it is `ZServer-4.0b1-py2.7.egg/webdav/Resource.py(239)PUT()`. The question is why?

Details: The (swallowed) error is `raise MethodNotAllowed('Method

[2017-10-29 08:52] ale-rt commented on #2195
Just a note: reverting this https://github.com/zopefoundation/Products.CMFCore/commit/05b3968859ab66938479ce0682437484912ff2a7#diff-4e6966d1d7ef0aaed5a8c2322c887fb1
is enough to make the test `plone.app.blob.tests.test_integration.IntegrationTests.testIconLookupForUnknownMimeType` pass.
If we keep the test like it is now the goal is to have `utool.getPortalObject().unrestrictedTraverse(icon)` actu

[2017-10-30 15:39] pbauer commented on #2193
TL;DR Uploading gif images is broken in Plone 5.2.

So I thought the reason why `TemporaryFileWrapper` was not used had something to do with it being a doctest using PloneTestCase and created a new 'modern' that is easier to debug. But that failed in the same way:

[code]

After some more digging I suddenly had a passing test. WHAT??? So it turns out the issue is that it only fails with gif images

[2017-10-30 15:54] zopyx opened #2199 "Folder contents: resorting on "Last Change" -> CatalogError: Unknown sort_on index: 'ModificationDate'"
Plone 5.1RC1.

I migrated a folder of AT Newsitems to Dexterity.

Inside folder_contents I want to reorder the folder by last change. This gives me:

[code]

[2017-10-30 16:01] pbauer opened #2200 "Uploading gif images fails with Arechtypes in Plone 5.2"
In https://github.com/plone/Products.CMFPlone/issues/2193 I found out that uploading a gif image in Archeypes and Plone 5.2 fails.

Steps to reproduce:
- Install ATContentTypes
- Add a image of the type gif

Or run the test `./bin/test -t test_debug_testfailure` in branch test_gifimages of `plone.app.blob`.

[code]

[2017-10-30 16:12] pbauer commented on #2193
The monkey patches could go away now but that is different task.

[2017-10-30 16:12] #2193 closed

[2017-10-30 16:25] zopyx opened #2201 "5.1RC1: mixture of IDs and texts in folder_contents view"
See screenshots..the dropdown shows several IDs instead of the related texts.

<img width="1298" alt="bildschirmfoto 2017-10-30 um 17 23 16" src="https://user-images.githubusercontent.com/594239/32182540-3fc1d798-bd97-11e7-891f-d48510014489.png">

[2017-10-30 17:27] mauritsvanrees commented on #2193
Ouch. I guess it is better upload png or jpeg nowadays, but gif should still be possible.

[2017-10-30 17:55] zopyx commented on #2201
The report is also true for buildout.coredev as of today

[2017-10-30 17:56] zopyx commented on #2199
https://github.com/plone/Products.CMFPlone/issues/2199

[2017-10-31 10:24] zopyx commented on #723
All modern browsern -including Webkit  - implement meanwhile hpyhenation. So a single

[code]
to the CSS of the toolbar would solve most of the pain.

[2017-10-31 10:42] zopyx commented on #723
<img width="1438" alt="bildschirmfoto 2017-10-31 um 11 32 05" src="https://user-images.githubusercontent.com/594239/32220061-8fad24b2-be30-11e7-85e9-3882b00c5776.png">

[2017-11-01 10:48] pbauer commented on #2194
@davisagli any idea when you might get around to doing that?

[2017-11-01 18:37] jensens commented on #2116
I dug a bit into it. I have no clue why the schemaeditor created schema tries cannot adapt its context.

Wild guess is because p.a.multilingual also fiddles with the schemaeditor and so both together might not work well.

Easy solution would be to just change the users actions context to use the plone site root and not the navigation root.

IMO this has no effect on the functionality.

[2017-11-01 19:10] jensens commented on #2116
well, no, then this does not work for sites where nav root is set to a domain directly. So we need a solution. But I am not deep enough into the schemaeditor story to fix it.

[2017-11-01 19:29] jensens commented on #2097
https://github.com/plone/plone.app.caching/pull/39 was merged, so this issue was solved. thanks @karalics !

[2017-11-01 19:29] #2097 closed

[2017-11-01 19:37] jensens commented on #2179
@fgrcon btw, do you have an idea whats going on here?

[2017-11-01 19:39] jensens commented on #2171
I don't think the default behavior changed. I have several projects coming from 4.3/5.0 with a whole bunch of registry.xml and had not a single problem b/c of this.

[2017-11-02 01:03] davisagli commented on #2194
I'll try to take a look tomorrow.

[2017-11-02 06:29] #2130 closed

[2017-11-02 09:08] pbauer commented on #2179
Thaty is a old issue and you can see it here as well: http://demo.plone.de/de/demo/a-image.jpg/view
To reproduce: Upload a image content-type and enable a right portlet.

[2017-11-02 11:43] jensens commented on #2179
@pbauer - do I get it right: old == but still an issue?

[2017-11-02 11:44] zopyx commented on #2179
The error is in all Plone 5.X versions.

[2017-11-02 11:46] pbauer commented on #2179
Yes, it is still an issue.

[2017-11-02 11:53] jensens commented on #2175
Ok, so we have to wait for merge and release.

@esteele - do you have the power to push things a bit forward over there? (zopefoundation/ZEO#96)

[2017-11-02 12:30] pbauer commented on #2116
True. Maybe @ebrehault could have another look at this since he wrote the memberdata feature. I just confirmed that this is broken in Plone 5.0.8 as well.

[2017-11-02 12:39] pbauer commented on #2116
The same is true for 5.0

[2017-11-03 10:19] pbauer opened #2203 "Error message broken on Zope-Root"
http://localhost:8080/foo when `foo` does not exists (i.e. is not a Plone instance) results in a traceback.

In Plone 5.1 we used to get:
[code]
That was ugly (escaped html) but the text was correct.

Plone 5.2 on the other hand tries to render the `ExceptionView` and fails sind the app has no method `Language()`.

[code]

[2017-11-03 10:36] pbauer commented on #2203
After the fix in https://github.com/plone/Products.CMFPlone/pull/2204 this basically works.

But even when am logged in as a admin I cannot see the traceback because `AccessControl` claims I am `Anonymous User`:

[code]

[2017-11-03 12:34] davisagli commented on #2203
Hmm, maybe the Zope 4 wsgi publisher is clearing the security manager before it renders the exception view? Now I'm wondering why this worked before (404 pages have shown the "log in" link since forever even if you are logged in, yet showing the traceback to managers worked...hmm)

[2017-11-03 13:46] davisagli commented on #2194
I took a look but haven't been able to get it right yet.

[2017-11-05 17:37] newbazz commented on #2011
I would like to work on this issue if no ones working.

[2017-11-05 18:17] Jigar3 commented on #2201
I would like to work on this issue. Can you guide me on how to solve this

[2017-11-05 23:53] #2194 closed

[2017-11-06 07:03] sgmentzer opened #2206 "Drag & drop folder content reordering fails"
On a fresh install of 5.1rc1, rearranging items in a folder via drag & drop fails. This error appears in the browser console upon dropping.

    TypeError: window[b.options.drop] is not a function  plone-logged-in-compiled.min.js:25:3544
        init/< http://127.0.0.1:8080/rctc/++plone++static/++unique++2017-10-01%2017%3A21%3A25/plone-logged-in-compiled.min.js:25:3544
        dispatch http://127.

[2017-11-06 07:12] agitator commented on #2206
had the same problem, looks like it's fixed in master

@thet ?

[2017-11-06 09:33] pbauer commented on #2195
The two issues that pass locally might be fixed with https://github.com/plone/Products.Marshall/commit/23a775224247cfebf17366b981a45a5e5bd393e7

[2017-11-06 13:00] #2203 closed

[2017-11-06 17:44] MrTango commented on #2179
Looks like an issue in bareloneta styles.
Should be easy to fix ;).

[2017-11-06 20:51] imjog commented on #1943
this is not an issue now. please close it. thanks

[2017-11-06 20:53] #1943 closed

[2017-11-08 21:52] sgmentzer opened #2210 "Can't save static text portlet if mime type changed"
On a fresh install of 5.1rc1, changing the mime type (editor) when adding a static text portlet hangs with a spinner upon saving, and the JS error below appears in the browser console.

Also happens if you just change the mime type, then change it back so TinyMCE re-appears.

    TypeError: a.tiny is undefined  plone-logged-in-compiled.js:73963:12
      init/</< plone-logged-in-compiled.js:73963:1

[2017-11-09 10:03] pbauer commented on #2195
plone/Products.Marshall@23a7752 fixed failures I had when running `./bin/test --layer plone.app.testing.bbb.PloneTestCase -s Products.Marshall -s Products.CMFFormController` but sadly not the two `KeyError: Application`. I will investigate further.

The remaining failure in `Products.ATContentTypes.tests.traversal.txt` where `NullResource` was not used in 5.2 was fixed with https://github.com/zope

[2017-11-09 13:50] davisagli commented on #2195
@pbauer I've been trying a different approach to that one in https://github.com/plone/plone.app.folder/pull/14 but I haven't gotten it quite right yet.

[2017-11-09 16:42] lyralemos commented on #949
This is still a problem even in 5.1rc1.

I tried changing "/mockup/js/i18n.js" like @claytonc said, but it made no difference. Several parts of the UI still in English.

It's been 3 years since the original post, does anyone have an idea on how to solve this?

[2017-11-09 17:11] pbauer commented on #2195
So here is small story about the failing tests in `Products.CMFFormController`. Here is the spoiler: I did not find the issue so I migrated them to proper plone.app.testing and worked around it like this. I probably should have done that first. But I still think the approach I took might be of interest for those who do not regularly have to deal tests due to test-isolation issues.

The two breakin

[2017-11-09 22:37] gforcada commented on #2195
@pbauer you should turn that into a blog post!

According to http://jenkins.plone.org/py3/deps-reverse/Products.CMFFormController.svg only archetypes, ATCT and CMFPlone use CMFFormController, and on CMFPlone is almost gone, is still that much work to do?

Lastly, regarding migration to p.a.testing, sadly is the way to go, we need to have all tests over it to avoid isolation tests.

[2017-11-10 14:03] pbauer commented on #2195
@gforcada I did as you said 😄
https://www.starzel.de/blog/obstacles-on-the-road-towards-plone-2020

[2017-11-10 14:19] pbauer commented on #2178
Fixed in https://github.com/zopefoundation/Zope/pull/218

[2017-11-10 14:19] #2178 closed

[2017-11-10 16:53] pbauer commented on #2092
@datakurre this basically works fine in 5.1. Only for self-registration to work you also need the branch `plonelogin` of `plone.app.users`. Give it a try!

The changes in CMFPlone are basically only removing the old templates and are not strictly needed to use is as an addon.

To make the PLIP mergeable we need to fix quite a number of tests (see http://jenkins.plone.org/view/PLIPs/job/plip-2092-l

[2017-11-13 10:50] pbauer commented on #2092
I fixed a couple of bugs that I found when testing it.
In https://github.com/collective/demo.plone.de/pull/22 I use it in demo.plone.de.

[2017-11-14 08:39] agitator commented on #827
This is still an issue with 5.1rc1

[2017-11-14 20:52] jensens commented on #680
superseded see #2177

[2017-11-14 20:52] #680 closed

[2017-11-14 20:55] jensens commented on #1334
I do think with the Zope 4 changes, this one is no longer needed.

[2017-11-14 20:55] #1334 closed

[2017-11-14 21:16] ebrehault commented on #1775
@mauritsvanrees the FWT discussed this PLIP today. We think it is interesting, and we would like to know if you are stil volunteering to work on that (as you submitted one year ago).

[2017-11-14 21:19] jensens commented on #1803
The PLIP is incomplete. Do you plan to implement this by yourself? Then please add yourself to the participants. Also, the other sections should be refined.

[2017-11-14 21:36] mauritsvanrees commented on #1775
Yes, I am still volunteering.

[2017-11-15 14:29] jensens opened #2214 "Working Copy Support: Cancelling a check out from the original deletes the original"
see plone/plone.app.iterate#54

[2017-11-15 14:53] mlechner commented on #2032
seems to be, that this can happen while upgrading from 5.0.6 to 5.0.8 as well - this is critical, because it affects stable plone

[2017-11-15 17:42] pbauer commented on #2175
@esteele The PR is merged. Now we need a release of ZEO and we can finally release Plone 5.1.

[2017-11-15 19:43] zmijunkie commented on #2175
:+1:

[2017-11-16 11:00] pbauer commented on #2214
Fixed with https://github.com/plone/plone.app.iterate/pull/55

[2017-11-16 11:00] #2214 closed

[2017-11-16 19:58] claytonc opened #2215 "Calendar portlet navigation problem"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

1. added a folder in the site, for example "**Folder 1**";
2. added a calendar portlet inside the folder created;
3. view the portlet in the site, hit the button for next month and back month.

Adding a calendar portlet to the root of the site works well.

### What I expect to happen:

Calendar portlet  showing next or previous month

[2017-11-16 20:01] claytonc commented on #2215
[1] https://github.com/plone/plone.portlets/blob/2.3/plone/portlets/utils.py#L66

I didn't fix because I don't know why did they use "decode()" at line 66.

[2017-11-16 20:33] pbauer commented on #2195
The final issue was fixed with https://github.com/plone/plone.app.folder/pull/14 by @davisagli. Many thanks!
With this the build of 5.2 is finally green. As it happens today is also the day when the last blocker was removed from https://github.com/plone/Products.CMFPlone/projects/6, so we could release 5.1 and 5.2 on the same day 😉

[2017-11-16 20:35] pbauer commented on #2195
With this closed we can start merging the open pull-requests that fix imports with Python 3. Tada!

[2017-11-16 20:35] #2195 closed

[2017-11-17 06:57] djay commented on #1955
@thet Does this proposal solve the problem of requiring a plugin reinstall to have updated filesystem compiled js/css be active? I can't see that explicitly stated but I might be missing it as a sublte implication.
This problem is a huge pain. You should be able to deploy a plugin and just have it work. Currently on a shared platform you have to go to every plone site and reinstall. If there are u

[2017-11-17 08:17] pbauer opened #2217 "Start migrating Plone to Python 3"
# Meta-ticket to collect todos for this task.

Initial work was documented in https://docs.google.com/document/d/1rYN817-9SjAQulpes36k1veTt4pABZRbl0T0BbuZrHA/edit#

## Tasks
* [ ] Document setup of different Python 3 versions, tox and related tools to test and maintain Python 3 compatibility.
* [ ] Migrate GenericSetup and MailHost to Python 3 (Godefroid Chapelle and Andreas Zeidler)
* [X] Update

[2017-11-17 08:30] ale-rt commented on #2217
Take care that many of that PR use the `_compat` module approach instead of sixer.
We should not merge them as they are, see:

- https://github.com/plone/Products.CMFPlone/pull/2181

[2017-11-17 11:21] ebrehault commented on #1485
Here is the branch where Nathan started the implementation https://github.com/plone/mockup/tree/react-upgrade

[2017-11-17 13:23] hvelarde commented on #1955
that's why I want to get rid of all the bundling process that happens on runtime; I insist that resources should be just registered and rendered without any need of interaction among them; I know that's far from optimal but this problem is really complex and we have no good solution available now.

just look at the insane process of updating any JS component in the core; the repos are continuously

[2017-11-17 13:41] claytonc commented on #2215
https://github.com/plone/plone.app.portlets/blob/2.5.6/plone/app/portlets/utils.py#L42

path = key.encode()   ?

[2017-11-17 13:56] thet commented on #2191
@gforcada @loechel the change in https://github.com/plone/Products.CMFPlone/pull/2107 is giving us headaches. compiling legacy scripts/css fails for us with:

[code]

[2017-11-17 14:01] thet commented on #2191
@agitator patched it with:
[code]
and
[code]

but that fails for me with:

[code]

Because my _scanner.so doesn't have the _scan method, while the fallback does.

[2017-11-17 14:16] hvelarde commented on #2215
maybe because the use `encode` here? https://github.com/plone/plone.portlets/blob/2.3/plone/portlets/utils.py#L56

[2017-11-18 22:52] tkimnguyen commented on #1485
OK, really only tongue in cheek, here is the branch where Nathan finished the implementation: https://github.com/castlecms/castle.cms

[2017-11-20 08:52] MrTango opened #2219 "Initial focus on title field and default action > save"
## Initial focus is not on title anymore

Until Plone 4, when creating or editing an object we have always the initial focus on the title field, whcih is not the case in Plone 5. This is anyoing and might also bad for accessibility.

## The default action is wrong since Plone 5

Until Plone 4 the default action on edit or add forms was set to submit, so that when pressing ENTER while focussing the

[2017-11-20 08:53] MrTango commented on #2219
I thing #1549 is related to this general problem.

[2017-11-20 09:02] pbauer commented on #2219
This is a duplicate of #779

[2017-11-21 03:37] ivanteoh opened #2220 "Navigation tree depth level zero doesn't show all levels"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

I created multi level of folders and pages and then I clicked on a page on level 3. Navigation portlet configuration is default, which is 'start level' 1 and  'Navigation tree depth' 0.

### What I expect to happen:

Side navigation shows all the levels till level 3.

### What actually happened:

Side navigation shows the first level.

[2017-11-22 15:41] abosio commented on #1713
I just noticed it would work for me with new Custom Tags if I disabled filtering, saved, then reenabled and saved on Plone 5.0.7.

[2017-11-23 01:55] hvelarde opened #2221 "PLIP: bring back JS and CSS head slots"
## Responsible Persons

### Proposer: @hvelarde
### Seconder:

## Abstract

It's another step backwards [having to create a bundle](https://docs.plone.org/manage/upgrading/version_specific_migration/p4x_to_p5x_upgrade.html#conditional-resources) to add a couple of lines of JS or CSS on a single template.

## Motivation

Make the life of developers and integrators easier.

In the past I was able to

[2017-11-23 02:08] hvelarde opened #2222 "pattern.relatedItems.less style sheet could not be loaded"
### What I did:

Install brand new Plone site and it displays the following error on the console:

![selection_023](https://user-images.githubusercontent.com/341393/33156596-68764b58-cfe2-11e7-89a2-2f80b9b18b2b.png)

### What version of Plone/ Addons I am using:

Plone 5.1rc1 with collective.fingerpointing installed from [branch feature-17](https://github.com/collective/collective.fingerpointing/t

[2017-11-23 08:03] agitator commented on #2221
isn't https://docs.plone.org/adapt-and-extend/theming/resourceregistry.html#controlling-resource-and-bundle-rendering doing what you're looking for?

examples: https://docs.plone.org/manage/upgrading/version_specific_migration/p4x_to_p5x_upgrade.html
https://training.plone.org/5/javascript/exercises/2.html#load-your-javascript-resource

[2017-11-23 10:22] jensens commented on #2221
@hvelarde Peters suggestion is exact the solution you're looking for.: Adding a single css/js for a specific view.

So yes, you have to register a bundle, which is imo ok (can be a non-compiling one). But you don't need to apply it globally or via condition, you can just add it in your view.

[2017-11-23 11:01] hvelarde commented on #2221
guys, I know that can be done that way, but, why complicate even more the life of the developers/integrators for free? why this was removed on the first place? what problem the removal sovles? IMO, this is not solving anything and creates more burden for free.

my package has no static resources registration, I just want to put a form button side by side of an input, and I only want a `Reset` butt

[2017-11-23 11:18] jensens commented on #2221
cc @thet - do you have an idea how to solve the it's-just-a-tiny-javascript-snippet problem in an easier/ better way?

[2017-11-24 19:46] esteele commented on #2062
Do we have any hope of backporting that fix for 5.0.x and 4.3.x?

[2017-11-27 10:07] petschki opened #2223 "Drag and drop reordering in folder_contents not working"
Fresh Plone 5.1rc1 installation does not save drag and drop reordering in folder_contents view.

[2017-11-27 10:09] petschki commented on #2223
oh, sorry ... dup of #2206

[2017-11-27 10:09] #2223 closed

[2017-11-27 10:10] petschki commented on #2206
same here ...

[2017-11-27 10:15] thet commented on #2206
Duplicate of https://github.com/plone/mockup/issues/808 and fixed with https://github.com/plone/mockup/pull/809
Should land in 5.1rc2. Test it with: http://dist.plone.org/release/5.1rc2-pending/

[2017-11-27 10:15] #2206 closed

[2017-11-27 10:30] petschki opened #2224 "Typo in versions.cfg for Jinja2 package"
The `Jinja2` package is written with uppercase "J" so the version pin in `plone-5.1rc2-pending/versions.cfg` with lowercase "j" does not apply. instead the version 2.5.5 from http://dist.plone.org/versions/zopetoolkit-1-0-8-ztk-versions.cfg is pulled in, which leads to a buildout error if you use plone.recipe.varnish >= 2.0

`bin/buildout annotate` output:

[code]

[2017-11-27 10:59] petschki commented on #2206
@thet thank you! in a fresh 5.1rc2 installation it works. My 5.1rc1 installation refuses to work, even when resource registry is running in debug mode and recompiling plone-logged-in bundle ... also all the tinymce icons are gone ... can you give me a hint how to fix this in the resource registry? is there a missing upgrade step?

[2017-11-27 12:24] hvelarde commented on #2062
@rodfersou can you help here?

[2017-11-27 12:34] zopyx opened #2225 "CSS navigation tree issues in Plone 5.1RC1"
Create a Folder and add two news items with lead image:
![navi](https://user-images.githubusercontent.com/594239/33266741-20681f1a-d377-11e7-8c93-f0eb5621ecd9.png)

1) the line break and the rendering of the 2nd item looks weird and broken
2) The positioning of the right arrow in the navigation is supposed to be where? Aligned with the top or the bottom?
3) lead image and arrow right overlap ...lo

[2017-11-27 15:21] tomgross opened #2226 "Implement Python file methods for binary contenttypes (file, image)"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

The binary contenttypes (file, image) should provide the Python file API (https://docs.python.org/2/library/stdtypes.html#file-objects) to make it easier to work with them.

Instead of accessing the raw data with

`data = obj.file.data` it should be `data = obj.read()`

### What version of Plone/ Addons I am using:

5.1

[2017-11-27 18:32] zopyx opened #2227 "Embedded Youtube videos do you allow fullscreen mode"
Plone 5.1RC1

Edit a page and insert the IFRAME embedding code for an arbitrary video from Youtube.

-> the fullscreen mode option is not available for the video  (reproducible with all YT videos).

Embedding the same IFRAME on a standard HTML page works without issue.
<img width="1002" alt="bildschirmfoto 2017-11-27 um 19 29 31" src="https://user-images.githubusercontent.com/594239/33282677-a4b8a

[2017-11-27 18:49] zopyx commented on #2227
You need to add "allowfullscreen" to the list of allowed attributes in HTML filtering. Other TinyMCE will filter them out.

[2017-11-27 18:49] #2227 closed

[2017-11-28 21:12] ebrehault commented on #2221
@hvelarde it is an interesting PLIP as it is a small change and can help with compatibility of old packages. Could you finish up the PLIP description so the Framework team can vote?

[2017-11-28 21:55] ale-rt commented on #2221
It looks like the slots are still there:

- https://github.com/plone/Products.CMFPlone/blob/243c913b0af73d168aca1af61d7d63bbc5572751/Products/CMFPlone/browser/templates/main_template.pt#L35

And they are used in the core:

- https://github.com/plone/plone.app.viewletmanager/blob/master/plone/app/viewletmanager/manage-viewlets.pt#L9

I think this is just a misinterpretation of the documentation.

[2017-11-29 01:04] hvelarde commented on #2221
yes, the slots are there, but there are not working as expected: the CSS is not included (probably because the name is wrong) and the JS is inserted inside the body.

I need to test again.

[2017-11-30 10:33] zopyx opened #2228 "AttributeError: 'PersistentAdapterRegistry' object has no attribute 'lookupAll'"
The following error is raised in Plone 5.1 when you try to install a new Plone site with an add-on where the Dexterity content-class could not be imported properly e.g. for some NameError in my case.

In particular this error message shadows the primary problem. It seems to me that some errors in the bootstrapping phase of Plone or inside of GS are just swallowed.

[code]

[2017-11-30 13:42] thet opened #2229 "Allow more custom attributes in safe_html transform"
**Proposer** : Johannes Raggam
**Seconder** : None by yet

# Abstract

Currently the following HTML attributes are disallowed:

- controls - Necessary for displaying Player controls when adding a ``<audio>`` or ``<video>`` tag, e.g. from Vimeo.
- height - Necessary for TinyMCE to allow changing table height.
- style - Necassary for ``rest_to_html`` transform to allow scaling of pictures.
- width -

[2017-11-30 14:16] zopyx opened #2230 "Unhandled error in folder_factories when submitting the form without selection"
Plone 5.1

Submitting the folder_factories form without a selection gives an error

[code]

[2017-11-30 14:16] zopyx commented on #2230
<img width="1073" alt="bildschirmfoto 2017-11-30 um 15 14 25" src="https://user-images.githubusercontent.com/594239/33435066-7c13377a-d5e1-11e7-8b27-16d4af562263.png">

[2017-11-30 14:54] zopyx opened #2231 "Content types derived from DX Item behaves like a folderish item"
Plone 5.1

I have a simple content-types derived from Item.

[code]

This types behaves inside Plone 5.1. like a container and not like an Item. It has folder_contents as action attached and it seems to be folderish in reality...why is this?

[2017-11-30 14:57] zopyx commented on #2231
![slide2](https://user-images.githubusercontent.com/594239/33437059-1a26b91e-d5e7-11e7-93c1-3bfc23ba00d4.png)
![slide1](https://user-images.githubusercontent.com/594239/33437060-1a6d4ca8-d5e7-11e7-9f49-2b03c26c9d56.png)

[2017-11-30 15:02] pbauer commented on #2231
Can you actually create items inside the item (e.g. by using paste or upload)?
Can you paste the FTI please?
Side note: You should use the decorator `@implementer(ISlide)`

[2017-11-30 15:22] zopyx commented on #2231
I can add sub items and the Item-ish objects show up in the ZMI as "Dexterity Container".

[code]

[2017-11-30 17:38] hvelarde commented on #2229
can you limit the scope of the `width`/`height` attributes to just some tags?

[2017-11-30 21:15] mauritsvanrees opened #2232 "Merge patches from PloneHotfix20171128"
On Tuesday November 28 2017 [PloneHotfix20171128](https://plone.org/security/hotfix/20171128) was released. This should be merged to various packages in core. This is a master ticket to track all pull requests. I will first list all items that need to be fixed. I will add a link to a PR when I create it (or when someone else has). When a PR has been merged, we can mark the checkbox.

**Zope specif

[2017-12-01 03:20] thet opened #2237 "Copying a default page copies the parent with all it's children"
Moment ... there is something else going on here.
Got the same result with the default page being deactivated.

Maybe it has something to do with the following error, when i tried to rename the id from ``index`` to ``index-bak``

[code]

### What I did:

In folder_contents I copied the default page on the start site and pasted it somewhere.

### What I expect to happen:

The page should have been

[2017-12-01 03:45] thet opened #2238 "Running upgrade step results in Plone's default ``front-page`` being recreated"
### What I did:

Run my site's integration profile with the option to include all dependent profiles.
Since I have a custom workflow, which does not have the ``publish`` transition (instead a ``make-public`` one), the following error appeared:

[code]

OK, so i changed the default workflow temporarily to ``simple_publication_workflow`` and re-run the profile.

The following below happened.

### Wh

[2017-12-03 17:01] newbazz commented on #2219
I want to work on this issue.

[2017-12-03 17:39] newbazz commented on #1078
I would like to work on this issue.

[2017-12-04 08:25] petschki commented on #2224
as this is fixed in http://dist.plone.org/release/5.1rc3-pending/versions.cfg I'll close it.

[2017-12-04 08:25] #2224 closed

[2017-12-04 08:26] ksuess opened #2240 "TinyMCE: "Insert Media" of internal audio file fails"
### What I did:
Used "insert media" with an internal audio file address like
http://bluechurch.example.com/marketplace/06-grace-kelly.mp3/view

### What I expect to happen:
Generation of a node like
`<audio controls="controls">
    <source src="http://bluechurch.example.com/marketplace/06-grace-kelly.mp3/@@download/file/06 Grace Kelly.mp3" type="audio/mpeg">
  </audio>`
or
`<audio controls="contro

[2017-12-04 09:48] jensens commented on #2092
The old login supports `External Logins`.
I expect the new login to also support this feature. It is broadly used in larger companies.

[2017-12-04 10:02] ksuess opened #2241 "RelatedItemsFieldWidget fails"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
Used RelatedItemsFieldWidget for a field of a custom Dexterity type.

    eventlocation = RelationChoice(
        title=_(u"Location"),
        required=True,
        vocabulary='plone.app.vocabularies.Catalog',
        )
    widget(
        'eventlocation',
        RelatedItemsFieldWidget,
        pattern_options={
            'select

[2017-12-04 10:03] pbauer commented on #2092
@jensens True. Support for the existing settings `external_login_url`, `external_logout_url` and `external_login_iframe` is still missing.
@esteele Can you remember if we talked about that in Finnland or did we simply miss it?

[2017-12-04 10:14] jensens commented on #2092
``external_login_iframe`` scares me, we may want to deprecate that ;)

[2017-12-04 10:20] jensens commented on #2092
Btw.: The current way providing these urls is not good. But its used and `plone.login` should provide feature parity.

Having a way to plugin a subform or subtemplate or whatever its is called in the shiny z3cform world would be probably better. Also we then would have better UX and the ability to support multiple login methods (like username-password and OAuth2 with google, twitter and facebook).

[2017-12-04 13:00] hvelarde commented on #1078
@newbazz then go for it: you have to know how to work with Git and branches.

[2017-12-04 13:01] newbazz commented on #1078
@hvelarde i already made a PR but dont know coz my agreement for is not yet accepted it fails tests.

[2017-12-05 15:50] newbazz commented on #1111
Hey i would like to help something on this issue, can someone please elaborate it.

[2017-12-06 11:36] mauritsvanrees opened #2242 "Mail control panel does not show and test mail queue options"
In the ZMI in the MailHost tool you can set a mail queue, with the options 'use mail queue' (`smtp_queue` boolean property) and 'queue directory' (`smtp_queue_directory` text property).
Two problems:

1. These cannot be set (or unset) in the Plone UI.

2. If the queue directory is used, and you send a test mail from the Plone Mail control panel, this does not use the queue, but directly delivers t

[2017-12-07 14:27] pbauer commented on #2238
I think I figured it out.

I tried to reproduce the issue in 5.1rc1 and also in 5.1rc2-pending I failed. But when I upgraded a site from 5.1rc1 to 5.1rc2 it actually happened.

The reason is the change to use a `post_handler` instead of a `import_step` in https://github.com/plone/plone.app.contenttypes/commit/322ae669eafc6036e2b0dd32409488a7ff077d7b and how GenericSetup handles such steps.

In 5.1

[2017-12-07 14:29] agitator commented on #2238
I'm also experiencing this problem, kudos for finding that out!

[2017-12-07 14:33] pbauer commented on #2238
@thet can you check if your issue is gone with https://github.com/plone/plone.app.upgrade/pull/144?

[2017-12-07 16:12] pbauer opened #2244 "Can we have a automatic run of our tests after a commit to Zope?"
https://github.com/zopefoundation/Zope/commit/e2f83e6c26204477fc860cbf66e5b766e5e663f7 broke the 5.2-AT build at http://jenkins.plone.org/job/plone-5.2-python-2.7-at/.

I only found out after testing all the commits in Zope since the last passing build since mr.roboto (or whoever) does not trigger an automatic build even though Zope is in the checkouts for the 5.2-coredev.

[2017-12-07 16:16] gforcada commented on #2244
If I get access to the zopefoundation organization, yes, we could make mr.roboto also trigger Jenkins jobs.  Who should I ping for getting that access?

Meanwhile we can run them on an hourly basis as well...

[2017-12-07 16:20] davisagli commented on #2244
@gforcada if you've signed the Zope contributor agreement then @hannosch or @tseaver can do that. If not and it's a matter of adding a webhook I have access to do that.

[2017-12-08 23:20] mauritsvanrees commented on #2238
Heh, nice one.
Registering import steps in `import_steps.xml` is really old and should not be done, though I guess there might be reasons. If these had been registered in zcml, this would not have happened.

Your fix looks good. I will comment there.

Manual workaround would be to go to the Manage tab of `portal_setup` (`portal_setup/manage_stepRegistry`) and delete the steps there.

[2017-12-09 09:11] pbauer commented on #2244
I fixed the issue and the build is green again. I started it by hand.

[2017-12-10 00:28] gforcada commented on #2244
@pbauer are we tracking released eggs or git checkouts from zope packages? If we want to have just the same like in Plone, that for every package listed in sources.cfg a build is triggered, we should make mr.roboto be able to talk and get info from zopefoundation github org.

If the build twice a day is enough for now, we can go with that as well.

[2017-12-10 20:43] sarvesh211999 commented on #1110
I am unable to find where is print.css
Please tell how to setup project manually so that I can access css?

[2017-12-11 14:53] keul opened #2245 "Is not possible to disable TinyMCE menu items"
Customer ask for removing the "Align" menu item at all (and other menus too).

I tried to empty it by providing an emtpy registry collection, but the menu entry is still displayed.

An easy fix can be to not put menu entries in case there's not items, like there:

https://github.com/plone/Products.CMFPlone/blob/6dd64f562576ecf47e067d0ed4a8564ab7e1c653/Products/CMFPlone/patterns/tinymce.py#L102

[2017-12-11 15:06] sarvesh211999 commented on #721
I think sorting should be done on language basis
As a new user I first started searching alphabetically It is very difficult

[2017-12-11 15:17] pbauer commented on #2244
Anything is better than nothing, so I'd say enable two builds a day and then enable builds for commits to checkouts from github.com/zopefoundation. We not only checkout Zope but also Products.CMFCore, AccessControl and probably some more. It might even be good to be able to integrate pull-request-jobs like we do for plone packages.

[2017-12-12 18:21] gforcada commented on #2244
@pbauer then we do really need full access for mr.roboto to Zope and me admin access as well.

@davisagli where's that contributor agreement that I need to sign? 🙂

[2017-12-12 18:36] tseaver commented on #2244
[ZopeFoundation_Committer_Agreement-2013.pdf](https://github.com/plone/Products.CMFPlone/files/1552832/ZopeFoundation_Committer_Agreement-2013.pdf)

[2017-12-12 20:54] gforcada commented on #2244
I can never get around to get a grip on cronjob scheduling, but finally I made it: 5.2 jobs are already scheduled to run twice a day.

[2017-12-14 09:05] pbauer commented on #2238
@mauritsvanrees I can confirm that we need to run this before every other step to fix this issue.
As you suspected in https://github.com/plone/plone.app.upgrade/pull/144#pullrequestreview-82301681

Any ideas on how to implement this in a sane way? I experimented with a list of steps that need to run before all others and adding them to the top of the list of steps. But I ran into several issues th

[2017-12-14 09:14] pbauer commented on #2238
A workaround would be to simply rename the steps that I migrated in https://github.com/plone/plone.app.contenttypes/commit/322ae669eafc6036e2b0dd32409488a7ff077d7b to something else. This way the old steps will not be found and can safely be removed in `cleanup_import_steps`.

[2017-12-14 21:06] #2238 closed

[2017-12-14 23:00] mauritsvanrees commented on #2238
It could help if the MigrationTool would have a list of functions to call before running any steps. Something like this:

[code]

Maybe some functions are already there by default.
Maybe other packages, like plone.app.contenttypes here, should be expected to append a function here. plone.app.upgrade may add a few.
Probably the `RUN_ME` list should not be added to directly, but via a small function

[2017-12-14 23:03] mauritsvanrees opened #2246 "Allow running some methods before starting a migration"
See discussion in https://github.com/plone/plone.app.upgrade/pull/144#pullrequestreview-82301681 and https://github.com/plone/Products.CMFPlone/issues/2238.

Basically: sometimes there is code that should be run before running any Plone migration steps.

The MigrationTool could have a list of functions to call before running any steps. Something like this:

[code]

Maybe some functions are already

[2017-12-14 23:03] mauritsvanrees commented on #2238
I created an issue for that: https://github.com/plone/Products.CMFPlone/issues/2246

[2017-12-15 02:46] esteele commented on #2175
Requested a new Zeo release.

[2017-12-16 09:48] zopyx opened #2247 "CatalogError: Unknown sort_on index (relevance)' after Plone 4.3.6 -> 4.3.15 upgrade"
We upgraded from Plone 4.3.6 to 4.3.15.

Now we encounter various errors

[code]

The particular URL

https://www.XXXX.om/de/@@search?advanced_search=True&sort_on=relevance&b_start:int=20&SearchableText=

is caused by Bingbot.

Any idea why this URL did not cause a problem in an older 4.3 version?

[2017-12-17 15:55] ebrehault commented on #2177
Review by Eric Bréhault (ebrehault@gmail.com, barbichu@irc.freenode.net)

The PLIP was reviewed on Ubuntu 16.04 using python 2.7.8 (https://github.com/collective/buildout.python) and Chromium 49.0.2623.108.

December 10, 2017

# Review steps

- Set up the buildout using the plone.restapi config:
[code]

and for plone.test:

[code]

- Ran tests::
[code]

- Reviewed code

- Manual testing

# Notes a

[2017-12-20 12:00] thet opened #2248 "PLIP: Better default options for markup mime types"
## PLIP: Better default options for markup mime types.

## Responsible Persons

### Proposer: Johannes Raggam

### Seconder: none of yet.

## Abstract

Plone supports different markup languages for it's richtext fields.
Per default, ``text/html`` and ``text/x-web-textile`` are configured.
We should use different defaults to reflect the popularity of markup languages better, remove obsolete mime ty

[2017-12-21 08:02] svx opened #2249 "Listing in folder_contents"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Background

In Plone 4 we have on the bottom of the listing “Show all content”

It seems that this is gone in Plone 5.x.

You can find more info on [community.plone.org](https://community.plone.org/t/listinig-in-folder-contents/5432/2).

### What I did:

* Plone 5 with the official plone.docker build
* http://demo.plone.de/en

If you add more than 15

[2017-12-21 09:49] 1letter commented on #2154
A Workaround for me in the Registry, is purge the Values via Attribute.
[code]

[2017-12-22 11:57] thet opened #2250 "Bring http://jone.github.io/plone-hotfixes under the Plone Foundation"
I regularly use http://jone.github.io/plone-hotfixes/ to check the necessary hotfixes for specific Plone versions. It's a super useful tool by Jonas Baumann ( @jone ) and it looks well maintained.

Because it's so useful and even though it's still well maintained I think it would be a good idea to bring this project closer to the Plone Foundation and let it be manage there. It should be promoted a

[2017-12-22 14:12] gforcada commented on #2250
If the hotfixes provided that information via JSON, any frontend could consume them and use it (i.e. the always dreamed button on the control panel to warn about them).

Should that be PLIPed?

[2017-12-25 14:36] fgrcon commented on #2179
There are several ocurrences of this flaw:

- for plone.app.contenttypes/plone/app/contenttypes/browser/templates/image.pt :
  adding
[code]
![before](https://user-images.githubusercontent.com/1640384/34340623-e2672504-e987-11e7-9668-12e4755a2af0.jpg)
-->
![after](https://user-images.githubusercontent.com/1640384/34340625-e6a8b97a-e987-11e7-9df0-093086461af2.jpg)

to plonetheme.barceloneta/ploneth

[2018-01-03 09:47] juangallostra commented on #1394
@zopyx is there any solution or workaround to this issue? Working with Plone 4.3.10 and trying to retrieve the mail settings in order to export them results in exactly the same error (at least for me):
[code]

[2018-01-03 10:37] fgrcon opened #2251 "plone 5.2 / 5.1 confusing versions ....."
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)
branch **master** ( referred in sources.cfg for **5.2**)  currently   version = '**5.1rc2.dev0**'
branch 5.1x (referred in sources.cfg for 5.1)  currently   version = '5.1rc3.dev0' ....
5.1.1. .....

[2018-01-03 14:16] do3cc opened #2252 "Removing an internal reference from a link page does not delete the relation object"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

This is a bug encountered with Plone 4.3 and dexterity. I am confident that the problem exists in latest plone too.

### What I did:

I created a Link object with an internal reference.
Then I changed from an internal reference to an external one.

### What I expect to happen:

I expect that that attribute `internal_link` becomes none again, or at lea

[2018-01-04 06:21] svx commented on #1486
@staeff @datakurre is there something I can help with ?

I really need/want that thing  :)

[2018-01-04 07:51] tulikavijay commented on #1892
I would like to work on this if no one is.

[2018-01-04 09:43] staeff commented on #1486
@svx @dataflake I have to apologize, I am the bottle neck here. I will give an update on the state of the work and make a WIP pr this weekend.

[2018-01-04 15:05] jone commented on #2250
I'd welcome moving it to the Plone Foundation. 👍
I sometimes fail to update the hotfixes list or version constraints of hotfixes quick enough (e.g. when I'm on vacation), especially when a new Plone version is released including a hotfix.
By moving it to the Plone Foundation the people releasing hotfixes and new Plone versions could update the list or notify someone who can; the bus-factor would b

[2018-01-04 17:39] tulikavijay commented on #1892
@cewing @pbauer  @vangheem  @datakurre  In plone-logged-in-complied.min.js theres the function -
`toggleSelectAll` and `selectAll`. And according to this guide, how should i proceed :
[JavaScript styleguide - Custom events](https://docs.plone.org/develop/styleguide/javascript.html#custom-events)

[2018-01-04 18:37] thet commented on #1875
That was actually a problem in plone.app.content, where selected items are retrieved by a catalog call, which is passed a list of UUIDs. The order is then not preserved. I fixed that for copying items.

The order is kept for items in folder when the folder itself is copied. That is because the sort order is actually defined as annotation on the folder itself.

[2018-01-04 22:22] thet opened #2253 "PLIP: Use Web Components instead of Patterns for Mockup."
## PLIP: Use Web Components instead of Patterns for Mockup.

## Responsible Persons

### Proposer: Johannes Raggam

### Seconder: none of yet.

## Abstract

Web Components is a developing W3C standard for reusable widgets and components for websites.
The goal is similar to Mockup and it's underlying framework Patterns, with the big difference that web components are added to the HTML and DOM speci

[2018-01-04 22:33] thet commented on #2253
Please comment here, if there is something unclear or wrong in this PLIP.

[2018-01-04 22:42] thet commented on #2229
@hvelarde I'm not sure, if that can be done easily with our current portal transform.

[2018-01-04 23:26] gforcada commented on #2253
@thet can this be done in parallel and/or could an estimate of work involvement be made? i.e. with polymer we can drop x/y/z mockup patterns, and only a/b/c need to be reimplemented.

By using a specific implementation, polymer as you are suggesting, do we loose anything important that we are used to with mockup? Translations come to mind for example, I'm expecting that lots of gains (usability, a

[2018-01-05 07:49] ebrehault commented on #2253
This PLIP does not state clearly if we are talking about a frontend-oriented approach (similar to Plone React or Plone Angular but based on Polymer) or about a backend-oriented approach (like the current Plone 5 UI implementation mixing .pt and Mockup components).

As you named the PLIP "Use Web Components instead of Patterns for Mockup ", I guess you are considering the second option.

We already

[2018-01-05 09:29] thet commented on #2253
I do not think a backend based approach is better, also I did not consider the ongoing efforts with React/Angular SDKs.
I have to rethink this again. It's a WIP.
But I think web components can help to not have to implement every "widget" for every frontend framework seperately.

[2018-01-05 16:01] tkimnguyen opened #2254 "add formatting or enable/disable option for moment.js relative datetimes"
moment.js was all the rage and in casual circumstances presents datetimes in a useful way, but other situations require knowing the exact datetime, e.g. when you are looking at version history or workflow state change history. @jensens

It would be useful to be able to either:

- 1: disable relative datetimes (and show absolute ones e.g. "December 26, 2017 2:36 PM" instead of "1 day ago")

- or 2:

[2018-01-06 18:21] cekk commented on #1663
I had a similar issue too yesterday.
My situation was a Plone 5.1rc2 with updated mockup version (to fix a bug with a pattern).
To be able to see the mockup update in the site, i had to re-compile plone-logged-in from the control panel.

After compiling it, i had mockup patterns updated, but i lost tinymce button icons because there were some resources with a wrong url, for example:
http://localho

[2018-01-06 18:49] tkimnguyen commented on #964
Rereading the comments above, I think we can close this issue because we have answered the question "why is there no workflow for File and Image types?". If someone wants to pursue another possible solution, please create a new issue. (e.g. if File and Image types do not have their own workflow state, have an Info message appear if the File or Image is or isn't publicly visible based on its contai

[2018-01-06 18:49] #964 closed

[2018-01-06 18:54] tkimnguyen opened #2255 "whether or not a Link should redirect immediately should be a per-item setting"
By default, Links do not redirect immediately. To change that, we have to go into the Content Settings panel, choose Link, then make the change.

1. I think that setting ("should redirect immediately") should be on by default but ok...
2. It would be more obvious and less bull-in-a-china-shop if there was also a way to edit a specific Link and make it redirect immediately (or not), taking as defau

[2018-01-08 08:50] staeff commented on #1486
@svx @datakurre I made a WIP pull request now. There are some tiny things that could be improved, as I see it. I'd be glad to get your opinions and questions.

[2018-01-08 23:21] #1875 closed

[2018-01-09 09:52] thet opened #2258 "deprecate catalog_get_all"
@hannosch added a ``getAllBrains`` method to Products.ZCatalog in https://github.com/zopefoundation/Products.ZCatalog/pull/31, which replaces ``Products.CMFPlone.CatalogTool.catalog_get_all`` (added here: https://github.com/plone/Products.CMFPlone/commit/8520b2bc3ad6966e53673d92d164d06d05bf29e4 )

``getAllBrains`` is a generator and less hacky - we should deprecate ``catalog_get_all`` and replace

[2018-01-09 17:44] staeff commented on #1486
@svx here is a list of things, that are needed or would be nice to have from my perspective.

* @@redirection-controlpanel (global alias managment) must be reachable through the @@overview-controlpanel
* @@manage-aliases (alias management on an object) should be reachable from a content type. Suggested solution is the make it an action (that is hidden by default)
* Confirmation dialogue when alias

[2018-01-09 17:46] svx commented on #1486
@staeff I can take care of the docs, no problem :)

[2018-01-10 03:36] djay commented on #1486
Was there any update on changing the word alias? I see no reference to this change.

[2018-01-10 03:52] djay commented on #1486
call it "url management".

[2018-01-10 14:23] staeff commented on #1486
@djay okay.

[2018-01-11 01:11] tkimnguyen opened #2259 "make Members folder private by default"
In years of deploying Plone sites, I have never needed the Members folder to be public, and have in fact had to retract it on every site... when I remembered to.

We should make that folder private by default.

[2018-01-11 01:45] tkimnguyen commented on #2259
by removing this line: https://github.com/plone/plone.app.contenttypes/blob/master/plone/app/contenttypes/setuphandlers.py#L310

[2018-01-13 19:30] #2116 closed

[2018-01-16 21:46] wohnlice opened #2261 "Error using Users vocabulary with SelectFieldWidget"
This crosses over both the plone.app.vocabularies and plone.app.z3cform packages, and it's not clear to me that one of them is at fault. My issue comes from a form that uses the plone.app.vocabularies.Users vocabulary on a Choice field, with the plone.app.z3cform.widget.SelectFieldWidget widget when one of the users has a special character in their full name.

### What I did:

I have a form that l

[2018-01-19 19:23] tisto commented on #2177
plone.restapi 1.0.0 released: https://pypi.python.org/pypi/plone.restapi/1.0.0
plone.rest 1.0.0 released: https://pypi.python.org/pypi/plone.rest/1.0.0

[2018-01-19 19:38] tisto commented on #2177
Pull Request: https://github.com/plone/Products.CMFPlone/pull/2263

[2018-01-22 01:40] pfraterdeus opened #2264 "Bug? Upload text file to folder, nothing there. Plone 5.1 rc 2"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Per @thet
@pfraterdeus - can you please file a bug report at https://github.com/plone/Products.CMFPlone/issues and mention me (I’m @thet on github)

### What I did:

Uploading images like jpg is fine.
Folder_contents view, click “upload” select file(s)
Upload
Click on icon of uploaded file> Picture appears with standard Plone title, etc

Same sequence

[2018-01-22 14:50] pbauer commented on #2184
I started to document to process. Feel free to update as needed.

Porting Plone packages to Python 3
==================================

Principles:
- We support Python 2 and 3 with the same codebase
- We support Python 2.7, Python 3.4, Python 3.5 and Python 3.6
- We use six and sixer to do the first steps towards python 3.
- We do the work for all packages used by the coredev branch 5.2

**Github

[2018-01-22 22:31] gforcada commented on #2184
@pbauer thanks for putting some documentation!! ❤️ , shouldn't we put that on buildout.coredev docs folder?

May I ask one question? According to [wikipedia](https://en.wikipedia.org/wiki/CPython#Version_history) by 2020, only Python 3.6 will still be supported (ok, 3.5 as well, but only until September).

Does it make sense to support 3.4 at all? Given that our testing setup is complex enough, ha

[2018-01-23 05:28] pbauer commented on #2184
@gforcada good question. I simply thought we would support the same version as Zope. But it makes sense to only support 3.5. and 3.6 since 3.4 reaches end of live in march next year.
The ticket is WIP. I'll move the final text to buildout.coredev docs after the sprint in Insbruck this week.

[2018-01-23 10:11] gforcada commented on #2184
Cool 👍 have fun there!! ⛷

[2018-01-23 10:52] mrsaicharan1 commented on #2255
Hello. This idea of setting the option of redirection default is a great idea! Also, I had an idea where we could prompt the user with help of a pop-up or a dialog box whether the redirection should happen or not.
I'd like to look into this issue.

[2018-01-23 11:13] tisto opened #2266 "Plone 5.1rc2 buildout fails with "UnknownExtra: plone.namedfile 4.2.4 has no such extra feature 'blobs'""
I ran into this multiple times so I report it here. I have to pin plone.namedfile and plone.app.event to make my Plone 5.1rc2 buildout pass:

[code]

Example: plone.restapi:

https://github.com/plone/plone.restapi/blob/master/plone-5.1.x.cfg

@thet any idea?

[2018-01-23 11:49] tisto commented on #2266
FYI: @sneridagh is not able to reproduce that problem on OS X. I saw the problem on Travis though. Could be that this is a Linux/Ubuntu only issue...

[2018-01-23 16:52] mrsaicharan1 commented on #2259
Hello! I would like to look into this issue. Can I take this up?

[2018-01-23 17:21] mrsaicharan1 commented on #2246
I would like to look into this issue. Can I get assigned to this?

[2018-01-23 17:36] mauritsvanrees commented on #2246
I'd be happy if you could look into this.
But I cannot assign the issue you, because you are no member of the Plone github organization. You can only become a member after you have submitted a [contributor agreement](https://docs.plone.org/develop/coredev/docs/agreement.html). This is because for legal reasons, we cannot accept code from you if we don't have that agreement.

[2018-01-23 19:26] tisto commented on #2177
It seems Plone 5.2 removed Products.Five.metaclass:

http://jenkins.plone.org/job/pull-request-5.2/160/console

[code]

It there an upgrade guide for Plone 5.2 with a list of removed imports?

[2018-01-23 19:26] tisto commented on #2177
@jensens five.pt has been removed in Plone 5.2? Is there an upgrade guide for Plone 5.2?

[2018-01-23 19:48] tisto commented on #2177
Ok. Found the change:

https://github.com/zopefoundation/Zope/commit/b4d37a31a626904bc1fdfd7d49cb24b28ca99f96

[2018-01-23 21:10] tisto commented on #2177
I fixed the import failure with https://github.com/plone/plone.rest/pull/71. Though, there are quite a few regressions in both plone.rest and plone.restapi. @plone/framework-team Is there any upgrade guide for Zope 4 / Plone 5.2?

[2018-01-24 07:15] pbauer commented on #2177
@tisto there is a ticket https://github.com/plone/Products.CMFPlone/issues/1940 but there is no finished upgrade-guide yet. Additions are very welcome.

[2018-01-24 09:43] tisto commented on #2177
@pbauer thanks for the link! Though, this is still pretty far away from an integrators-ready upgrade guide. :)

@plone/framework-team When I wrote the PLIP, I really expected this to be a 30 minutes job. If this becomes more a days/week-like challenge, because of the Zope 4 changes, I might have to drop the PLIP.

I really want to focus on pushing things on the front end (plone-react, pastanaga, e

[2018-01-24 10:41] jensens commented on #2177
@tisto whats the stopper exactly? May we help you getting this done, like adding it as a sprint topic?

[2018-01-24 11:06] tisto commented on #2177
@jensens I will set up a PLIP jenkins job to show the current test failures. It seems something in plone.rest is broken that leads to additional test failures in plone.restapi. I fixed the obvious import problems. Though, as said, I have no idea about the changes in Zope 4, so I am lost.

Would be great if someone at the sprint could look into this!

[2018-01-24 11:45] gforcada commented on #2177
The jenkins job that @tisto created is here http://jenkins.plone.org/view/PLIPs/job/plip-plone-restapi/ for everyone's pleasure to run it 🙂

[2018-01-24 12:42] tisto commented on #2177
As a starting point, I would recommend looking into why plone.rest returns a 404 instead of a 401:

http://jenkins.plone.org/view/PLIPs/job/plip-plone-restapi/1/testReport/plone.rest.tests.test_dispatching/TestDispatchingDexterity/test_private_dx_folder_invalid_creds/

[2018-01-24 14:28] davisagli commented on #2177
It doesn't surprise me if it takes some work to make plone.rest work on Zope 4, since plone.rest added adding a feature to the Zope publisher, and Zope 4 involves a pretty big change to use the WSGI publisher.

[2018-01-25 11:38] #2199 closed

[2018-01-25 12:19] thet commented on #2031
https://github.com/plone/Products.CMFPlone/issues/939 will be obsolete after implementing this.

[2018-01-25 13:51] pbauer commented on #2217
Packages that still need to be looked at for this ticket: https://oasis.sandstorm.io/shared/Rw17tl3FBnXpwgqO-6-86UxGYYuPD8jyW40oPhAnvRs

[2018-01-25 22:39] loechel commented on #2250
@jone, could you add me as an owner of this repository, than I could and will move it to the Plone org and would update that list as part of the hotfix release process.

[2018-01-25 22:55] loechel commented on #2250
@gforcada I don't understand why that should be PLIPed based on this package, the hotfix list is already avaliable as JSON: https://plone.org/security/hotfix_json
there is also a set of consumers implemented: https://github.com/plone/plone.vulnerabilitychecks.core

This was already done at the sprint of the PloneConf 2013
https://github.com/plone/plone.app.vulnerabilities/pull/1

[2018-01-26 07:05] pbauer commented on #2184
sixer is not picking up doctests automatically. Files not ending with *.py need to be specified explicitly:

[code]

[2018-01-26 07:53] jone commented on #2250
@loechel moving the repository will break the public URLs, since it is published on github-pages, wich include user and repo-name in the URL.

[2018-01-26 10:35] pbauer opened #2268 "Port all doctest to python 3"
As discussed in https://github.com/plone/Products.CMFPlone/issues/2217 and https://github.com/plone/Products.CMFPlone/issues/2184#issuecomment-359445243 doctests are not handled when using `sixer`.

So we need to go through all our packages again and start migrating doctests like this

[code]

`sixer` does for some reason not really fix doctests, so you will have to do that by hand 😭

Getting doct

[2018-01-26 11:37] gforcada commented on #2250
@loechel I meant that plone.vulnerabilitychecks.core is not part of Plone. Having it installed would be great, maybe with a setting to turn it off if one is so paranoid about it.

[2018-01-26 18:02] loechel commented on #2250
@gforcada the core package does nothing by itself, so could go into core, but the three or for dependent packages could or should go as optional elements into the unified installer

[2018-01-26 18:05] loechel commented on #2250
@jone ok thanks now I have access, and will push infos for future hotfixes upstream,

I think we could close this one.

[2018-01-26 18:05] #2250 closed

[2018-01-26 23:49] mauritsvanrees commented on #2232
All done. Thanks to all who helped!

[2018-01-26 23:49] #2232 closed

[2018-01-27 07:39] pbauer commented on #2217
Some pull-requests need to replace replace `_compat` with `six`:

* [ ] https://github.com/plone/plone.app.imaging/pull/34
* [ ] https://github.com/plone/plone.app.linkintegrity/pull/61

Please update this list when you encounter any.

[2018-01-27 11:26] mauritsvanrees commented on #1656
See #2274 and #2275 for (hopefully) fixing the linkintegrity tests.

[2018-01-27 16:40] iham opened #2276 "better template for pagination (nextprevious and collection pagination)"
### What I did:

while theming less/css/pt i wanted to hide the labels (eg 'next item') and change the arrows.
also the "next items" arrow is way smaller then the "previous".
<img width="431" alt="screen shot 2018-01-27 at 15 35 58" src="https://user-images.githubusercontent.com/36721/35473723-48c12e6a-0384-11e8-95cc-ce5cd9b68797.png">

### What I expect to happen:
that it will be easy by using on

[2018-01-27 23:40] mauritsvanrees commented on #2184
Some things that sixer does not pick up:

- Python 3 has no `cmp` function anymore. For sorting it is always better to use a key instead.
- `zope.interface.implements` should become a decorator `@implementer`.  But Gil already fixed a lot of this last year.

[2018-01-29 00:05] mauritsvanrees commented on #1775
On the way home in the train from the Alpine City Sprint I wanted to work on something that did not interfere with the sprint topic. So I made preparations for this PLIP, mostly updating code that used `portal_quickinstaller` to use `get_installer` instead, or have the QI only as backwards compatibility code. I made several pull requests that should be fine to merge already in Plone 5.2 or earlier

[2018-01-29 12:17] petschki commented on #2264
well this is due Plone's `content_type_registry` ... If you upload *.txt Files they are converted to a  `Document` content type and not a `File` this can be configured in `content_type_registry` predicate list but only in ZMI ...

[2018-01-29 12:18] petschki commented on #2264
see this issue for details https://github.com/plone/plone.app.content/issues/33

[2018-01-30 05:14] djay commented on #2177
@thet there is a current bug plone.rest and the plone theme editor. Believe its still current. We are trying to add a test for it now to show the fix works.
https://github.com/plone/plone.rest/pull/61

[2018-01-30 12:08] sunew opened #2283 "Plone 5.1rc2 Image upload in tinymce in static portlet richtext area fails with 404"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

I can reproduce in a standard plone 5.1rc2 with no additional modules.

Add a static portlet somewhere in a new plone site.
Insert an image: - click the insert image in the tinymce toolbar in the richtext field.
Choose the 'upload' tab.

When uploading, this error happens:

In the browser console:
Failed to load resource: the server r

[2018-01-30 18:14] #2103 closed

[2018-01-31 00:15] gp54321 commented on #1955
I noticed today that when uninstalling an add-on the resources can't be removed (there is no actual removing done in the exportimport directory modules). This seems well known since an addon like collective.glossary does not even include resource instructions in the uninstall profile. However when the uninstall is done, the plone-legacy bundle is not cooked, and the javascript of the removed add-o

[2018-01-31 08:01] mrsaicharan1 commented on #2259
I've made the relevant change by removing public functionality of the 'members' folder. I've taken care of this issue. Thank you for the guidance!

[2018-02-02 08:27] thet commented on #1224
That was always included in Plone 5 and done during migration. The support for the old resource registries  is deprecated for Plone 6 IIRC.

[2018-02-02 08:27] #1224 closed

[2018-02-03 11:46] gforcada opened #2290 "TRACKER: test isolation problems"
*Copied over from https://github.com/plone/buildout.coredev/pull/155:*

Mixing ``ZopeTestCase`` and ``plone.app.testing`` **within** the same distribution renders all its tests unstable with newer versions of ``zope.testrunner``.

Note that fixing these test isolation problems not only has the benefit of having more robust tests, but at the same time our test infrastructure will be way more easy (

[2018-02-04 14:04] zopyx opened #2291 "Various alignment issues in Plone 5.1"
See plone-demo.info and screenshot

* "Log in " completely unaligned
* Navigation portlet: unwanted indent, image not aligned
* portal tabs: not aligned with left border

![screenshot-www plone-demo info-2018 02 04-15-00-11](https://user-images.githubusercontent.com/594239/35778290-927f00f2-09bc-11e8-8053-5dc58d9e3a2f.png)

[2018-02-05 08:12] djay commented on #2177
We've now added a test for the plone.rest issue that caused a regression in the theme editor in plone. https://github.com/plone/plone.rest/pull/61. If someone could review it, we can get it merged

[2018-02-06 04:29] tkimnguyen commented on #2247
Same error as https://github.com/plone/Products.CMFPlone/issues/2060 ?

[2018-02-06 04:33] tkimnguyen commented on #2060
Perhaps this is the fix we need? https://github.com/4teamwork/opengever.core/issues/3220

[2018-02-06 04:40] zopyx commented on #2247
very likely

[2018-02-06 11:03] mauritsvanrees commented on #2060
It could be that the error for `relevance` was a new addition caused by #1600. But I have seen the same and similar tracebacks on earlier Plone versions, already 4.3.7 I think, with different `sort_on` indexes.
Anyway, should be fixed with a new Plone version, which I expect soonish.

[2018-02-06 11:03] #2060 closed

[2018-02-06 11:49] jensens commented on #2228
I had the same error here, but with different preconditions.

- I registered a custom ``IIndexQueueProcessor`` as a local component utility.
- I had a typo in the path given at ``factory=""``, so this was a non existent path.
- There were no error while registering the local component.
- A lookup of the local utility returned a ``<PloneSite at /Plone>``.
- Even the resulting ``AttributeError`` (be

[2018-02-06 11:59] allusa opened #2293 "Link reset text not translated in password reset mails."
The text "The following link will take you to a page where you can reset your password for site_name site:" isn't translated.

When moving from PasswordResetTool some fields were cleaned. However there is still remaining a `
i18n:domain="passwordresettool"` in
https://github.com/plone/Products.CMFPlone/blob/1db95d954fa395eaa5479a93d376b9a55030f4cc/Products/CMFPlone/browser/templates/mail_password_

[2018-02-06 12:05] vincentfretin commented on #2293
You need to remove this i18n:domain so it uses the plone domain. I will resync the translations after that.

[2018-02-06 12:07] vincentfretin commented on #2293
If you can search for any i18n:domain="passwordresettool" in other templates and remove them or use i18n:domain="plone" if there isn't one defined in a parent tag, it would be great.

[2018-02-06 12:51] allusa commented on #2293
I have only found this one.

[2018-02-06 13:37] tkimnguyen commented on #2060
Ah good! Do you recall what the fix is that went into 5.1 so I/we could backport it?

[2018-02-06 13:47] mauritsvanrees commented on #2060
It was a few fixes I did last week on 4.3, and I already forward ported it to Plone 5.0/5.1/5.2.
It could happen in several packages. I have a list of PRs. All have been merged, and all have been released, except CMFPlone.
For 4.3:

- [x] https://github.com/plone/plone.app.search/pull/23
- [x] https://github.com/plone/plone.app.querystring/pull/85
- [x] https://github.com/plone/Products.CMFPlone/p

[2018-02-06 20:39] mauritsvanrees commented on #2259
Fix by PR https://github.com/plone/plone.app.contenttypes/pull/452. Thanks!

[2018-02-06 20:39] #2259 closed

[2018-02-07 12:24] allusa commented on #2293
Now it is in the plone domain. You may resync locales whenever possible.

[2018-02-07 12:24] #2293 closed

[2018-02-07 13:16] vincentfretin commented on #2293
You need the fix in the 5.1.x branch as well if you want I resync the translations for Plone 5.1.

[2018-02-08 10:18] vincentfretin commented on #2293
@allusa Thanks for the PRs. I resynced the translations and even put back the translations we had in Plone 5.0.

[2018-02-08 10:27] vincentfretin commented on #2293
I released plone.app.locales 5.1.5 with the translations.

[2018-02-08 11:15] allusa commented on #2293
Many thanks @vincentfretin.

This is very good news.

[2018-02-08 14:45] ale-rt commented on #2201
@Jigar3 This is the file where the magic happens: https://github.com/plone/plone.app.content/blob/3401b8470188cb83cfcffec6a13cf4f8926d0a96/plone/app/content/browser/contents/__init__.py#L242
I would say that many of those indexes should not even be there.

[2018-02-08 14:53] ale-rt opened #2296 "Regression: paste buttons should check for the __cp cookie"
If I go to the `@@folder_contents` view, on Plone 5.0.8 the paste button is disable until I copy something:

![image](https://user-images.githubusercontent.com/1300763/35979164-f0c467b4-0ce7-11e8-8d1e-d6ee70a94e59.png)

On Plone 5.1rc2 the button is always enabled:

![image](https://user-images.githubusercontent.com/1300763/35979252-255e50d4-0ce8-11e8-8f09-b3e4b762370a.png)

[2018-02-08 14:59] ale-rt commented on #2296
Maybe fixed by https://github.com/plone/mockup/commit/9576b3ec833c4e978486a038c386fdf9861b24a9

[2018-02-11 04:53] ajayns opened #2300 "Login link looks out of place"
## UI BUG REPORT

### What I did:
I was browsing Plone and the header caught my eye. The login button seemed out of alignment, as if it was randomly placed.

### What I expect to happen:
I've made a few UI tweaks for it to look like a button and also aligned it.

![image](https://user-images.githubusercontent.com/20743219/36069732-0b70f63e-0f15-11e8-9fe1-30891924b5f4.png)

### What actually happen

[2018-02-11 05:00] ajayns opened #2301 "Footer appears in center of page if no content"
## UI BUG

### What I did:
In a basic Plone site I'm working on, folders such as News and Events hardly have any content and so this seems to place the footer right below the content, which is somewhat at the center of the page.

### What I expect to happen:
The footer should attach to the bottom of the viewport if less content and when more content comes, it should be at the end of the scroll.

!

[2018-02-11 05:09] ajayns commented on #2300
#2291 Seems to already have noted this.

[2018-02-11 05:18] kakshay21 commented on #2300
Good work @ajayns!
Let's not duplicate the issue. I'm closing it.

[2018-02-11 05:18] #2300 closed

[2018-02-11 05:21] ajayns commented on #2291
For the login, I've thought of the following fix:

Made a few UI tweaks for it to look like a button and also aligned it.

![image](https://user-images.githubusercontent.com/20743219/36069732-0b70f63e-0f15-11e8-9fe1-30891924b5f4.png)

I feel this looks way better than what we have currently. @zopyx

[2018-02-11 05:30] ajayns commented on #2291
About the navigation alignment issue relative to the Plone logo, I don't think it's an issue cause each one of them are styled to look like buttons and have padding, which aligns them to the center of the container. This is what makes them look unaligned. But when we're at the Home, you can see its actually aligned:

![image](https://user-images.githubusercontent.com/20743219/36070150-c5d041b0-0f1

[2018-02-11 05:40] ajayns commented on #2291
For some reason, in the styling when I checked it out, it seems that the following is specified.
[code]
Once that is removed it seems to be showing the icons, and looks fine:
![image](https://user-images.githubusercontent.com/20743219/36070189-cca6e5ba-0f1b-11e8-824f-13786e004891.png)

[2018-02-11 08:03] zopyx opened #2302 "Inconsistent visual representation of links and behaviour for a:hover"
See screenshots made with Plone 5.1RC2

* The links in the portlet slots are not underlined vs. underlined links in the main slot

* a:hover on a link in the main slot will remove the underline from the document icon and leave it with the link text. a:hover on a link in a portlet will a an underline....

...that does not feel consistent....
![s1](https://user-images.githubusercontent.com/594239/36

[2018-02-12 06:59] mrsaicharan1 commented on #1966
I'd like to look into this issue. Where can I find pat-markspeciallinks?

[2018-02-12 09:19] djay commented on #2301
I don't think that is a bug. The theme is designed so the content area expands or shrinks to fit the content. You have no content then it is zero height. If you want it different then customise the theme to set a minimum height.

[2018-02-12 09:19] #2301 closed

[2018-02-12 13:01] mrsaicharan1 commented on #2302
What is the expected behavior when we hover the mouse over the Document 1,Document 2 heading and the like? I would like to look into this issue.

[2018-02-12 13:04] zopyx commented on #2302
The expectation is a consistent behaviour across all links.

[2018-02-12 13:12] mrsaicharan1 commented on #2302
Can you point me to the exact file as to where this is occurring ?

[2018-02-12 13:19] zopyx commented on #2302
https://www.plone-demo.info/documents

[2018-02-12 18:20] mrsaicharan1 commented on #2302
@zopyx So would it be consistent if the words(for example Document1) changed from blue to red?

[2018-02-12 18:29] zopyx commented on #2302
Your question does not make sense to me. I don't know what the intention of the Plone developers here is and how things are supposed to be. I don't care if something is green or blue...but it should not be green in one case or blue in the other case. The behaviour must be consistent. It is obvious that the current behaviour is inconsistent.

[2018-02-12 18:46] mrsaicharan1 commented on #1217
Could you point me to the exact file in the repo? I'd like to help fixing this.

[2018-02-12 21:46] gforcada commented on #1966
@mrsaicharan1 is on the mockup project: https://github.com/plone/mockup/tree/master/mockup/patterns/markspeciallinks

[2018-02-12 21:49] gforcada commented on #1217
@mrsaicharan1 the template might be https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/skins/plone_login/login_form.cpt as for the CSS that styles it, that's another matter. If you get a buildout from [buildout.coredev](https://github.com/plone/buildout.coredev) running you can grep on the `parts/packages` for it.

[2018-02-13 11:02] mrsaicharan1 commented on #1357
I would like to take up this issue. What would be a possible approach to this hurdle?

[2018-02-14 11:30] zopyx opened #2303 "Error messages from GS XML sanity check misleading (Plone 5.1)"
It seems that Plone 5.1 (or GenericSetup) performs a sanity check on the XML files of profiles of the installed add-ons.

I received the following startup error (for configure.zcml) for an error in `profiles/default/metadata.xml`.

This is error message is misleading. It is correct that there is an error with the particular profile but GenericSetup should really report an invalid XML file with the

[2018-02-16 14:51] zopyx opened #2305 "Delete in folder_contents -> fragile, error-prone, attack vector"
The current implementation of the delete operation in the folder_contents view is neither user friendly nor stable, in some cases dangerous. The Plone is that Plone seems to check for the number of content items to be deleted in order to show a confirmation request. There is a big problem for large folders:

- the spinning wheel starts directly as soon as you click on the trashcan icon
- you can c

[2018-02-16 15:51] jensens commented on #2177
We had a look at the TUS implementation.
https://github.com/plone/plone.restapi/blob/master/src/plone/restapi/services/content/tus.py#L286

It seems it stores the uploads in tmp-dirs. How is it supposed to scale up over more than one machine?

[2018-02-16 17:02] mauritsvanrees commented on #2303
This is in `Products.GenericSetup`. The error is caught and reraised as a `ConfigurationExecutionError` by [zope.configuration](https://github.com/zopefoundation/zope.configuration/blob/3.7.4/src/zope/configuration/config.py#L625-L633).
Looks easy enough to change GenericSetup so it passes the file name along. When I try it, the traceback becomes something like this:

[code]

That still looks a bi

[2018-02-18 13:05] djay commented on #2177
@jensens there is a TUS implementation in plone 5 and this issue was got around by turning it off by default. Not ideal but I don't see any choice but to do the same with restapi.
It's a shame that ZEO doesn't have an api to allow for merging blobs or that tempoary storage doesn't support blobs, otherwise you could store the parts in the ZODB. I guess you could still store the parts unmerged in th

[2018-02-19 09:51] jensens commented on #2177
I would store the parts in ZODB and do a manual merge after the next part arrived and is committed. Or do i miss something?

[2018-02-19 12:05] jaroel commented on #2177
I think one could set up a nfs share and point TUS_TMP_FILE_DIR to it, alike sharing blobs between instances?

[2018-02-19 12:15] jensens commented on #2177
Ack, that is possible. But it need to be bold in the docs. Personally I would prefer a solution w/o configuration overhead.

[2018-02-20 09:29] zopyx opened #2306 "Various UI detail problems in folder_contents in Plone 5.1RC2"
See screenshot
![fc](https://user-images.githubusercontent.com/594239/36416288-f1745b84-1628-11e8-8efa-54e30e60684c.png)

[2018-02-20 09:33] zopyx opened #2307 "z-index issues in folder_contents in 5.1RC2"
Seen screenshot
![zindex](https://user-images.githubusercontent.com/594239/36416514-781d3a02-1629-11e8-998d-4760ce7e515a.png)

[2018-02-20 09:36] zopyx opened #2308 "Pagination in folder_contents in 5.1RC2"
There is no need to display (active) pagination options if there is nothing to paginate.

The pagination options should be hidden or at least rendered as inactive if there is only page.

Everything else is confusing.

![pagination](https://user-images.githubusercontent.com/594239/36416633-df6799be-1629-11e8-868b-f83b867143c0.png)

[2018-02-20 09:40] zopyx opened #2309 "folder_contents in 5.1RC2: "Rearrange Dropdown""
The "What to rearrange" dropdown still displays internal names like

* getObjectPositionInParent
* is_default_page
* path

[2018-02-20 09:46] zopyx opened #2310 "folder_contents 5.1RC2 - visual issue"
There should be more space between the checkboxes and the labels.
![space](https://user-images.githubusercontent.com/594239/36417091-4209df5e-162b-11e8-8c60-7fc06471cbda.png)

[2018-02-20 09:48] zopyx opened #2311 "folder_contents 5.1Rc2 - actions column"
See screenshot

* untranslated menu items (DE)
* action icons broken into two lines
![actions2](https://user-images.githubusercontent.com/594239/36419228-98511f48-1631-11e8-826b-7987e88944c1.png)

[2018-02-20 09:49] zopyx opened #2312 "folder_contents 5.1RC2 partly untranslated (DE)"
See screenshot
![upload](https://user-images.githubusercontent.com/594239/36417272-be55967a-162b-11e8-95fb-9a8ab97ec12d.png)

[2018-02-20 09:51] zopyx opened #2313 "folder_contents 5.1RC2 untranslated properties dialog"
See screenshot (DE)

![props](https://user-images.githubusercontent.com/594239/36417333-f2293f42-162b-11e8-8997-b5feca2c2679.png)

[2018-02-20 09:53] zopyx opened #2314 "Actions: control panel in 5.1RC2 irregular button sizes/missing translations"
See screenshot
![actions](https://user-images.githubusercontent.com/594239/36417426-3803b52e-162c-11e8-991d-9fb4e45d18a9.png)

[2018-02-20 10:28] espenmn commented on #2311
Where is the screenshot ?=

[2018-02-20 10:46] zopyx opened #2315 "Toolbar in 5.1RC1: clipping of text"
See photos (german UI, Chrome 64 Linux).

Texts would be "Bearbeiten" and "Hinzufügen"...so at least one character missing.

![img_1301](https://user-images.githubusercontent.com/594239/36419923-9cdc3a32-1633-11e8-9648-a8a045ddebac.jpg)
![img_1302](https://user-images.githubusercontent.com/594239/36419925-9d0a08fe-1633-11e8-95d0-a31dc7e6a57d.jpg)

[2018-02-20 14:12] jensens commented on #2305
An attack vector if one has delete permissions anyway? Come on.

This is indeed a problem, I agree on the other points made. And the UI ones are need fixes here.

But this problem is not new. Deleting large structures in Plone always had those problems.
This can be solved only by splitting the delete in more than one transaction, I suppose.

[2018-02-20 14:25] jensens commented on #2291
@ajayns is there a pull request related to your changes?

[2018-02-20 14:27] jensens commented on #2296
@thet can you confirm this?

[2018-02-20 14:40] kakshay21 commented on #2011
Anyone working on it? @jensens @newbazz

[2018-02-20 14:58] jensens commented on #2011
@kakshay21 I do not work on it.

[2018-02-20 15:30] zopyx commented on #2060
The problem not only occurs with a spider but also in our case inside the advanced search when you click on the link for the second batch.

[2018-02-20 16:03] zopyx commented on #2305
The problem is of course not new - as old as Zope.
Attack vector - intentional or unintentional...you can bring a Plone site down easily or at least block it and make it unresponsive for some time.

[2018-02-20 18:49] tomgross commented on #2177
I'd love to see an analysis and roadmap of how current Plone core components (like folder contents and relation widget) will use the REST API together with this PLIP. This will make it easier for new developers to understand. Otherwise this is yat (Yet another thing 😉 ) in Plone.

[2018-02-20 21:00] jensens commented on #2177
I personally hope with restapi all those distributed wild endpoints will die as the next step. But not together with this PLIP, that would broaden the scope too much.

[2018-02-21 04:14] ajayns commented on #2291
Actually, I haven't been able to figure out where to find the code for this to work on. If you could guide me on where Plone stores its styling I'd love to make PRs! @jensens

[2018-02-21 04:16] ajayns commented on #2306
@jensens I'd like to work on this!

[2018-02-21 07:17] zopyx opened #2316 "Creating a new 5.1-pending site with policy package -> aborting transaction due to no CSRF protection"
Creating a new Plone 5.1-pending site with a simple policy package and these dependencies (the dependencies are irrelevant since I can reproduce the error with plone.app.dexterity as single dependency too)

[code]

causes this error

[code]

[2018-02-21 07:28] zopyx commented on #2316
Plone itself installs perfectly without the policy package. Installing the policy later through Plone also does not show any installation related issues.

[2018-02-21 07:33] zopyx commented on #2316
Some more insight:

Plone starts up happily with the policy package.

The skeleton generated by bob.templates does not import the generated content classes during startup.

By forcing the import of all generated content classes I see this error

[code]

which is clearly an import error in my code -> my problem.

However Plone/CMF is - again - illegally swallowing exceptions and error without prope

[2018-02-21 07:44] jensens commented on #2291
LESS-Files are in plonetheme.barceloneta. Take a buildout.coredev branch 5.1 as a start and add plonetheme.barceloneta to the checkouts.cfg and run buildout. You will need to compile the less file. There will be a script bin/plone-compile-resources that helps you to do so. In case of any questions come back here or to https://community.plone.org for a broader audience. Make sure to read the Plone

[2018-02-21 07:46] jensens commented on #2306
Great! Code is in mockup, structure pattern and LESS-files in plonetheme.barceloneta (afaict).

[2018-02-21 09:58] ajayns commented on #2291
@jensens Okay thanks, let me check it out!

[2018-02-21 20:21] tisto commented on #2177
@tomgross +1, we need to write down some best practices for add-on developers how to implement a proper plone.rest-based and plone.restapi compliant API as well as start to move core components that do not need to be server-side rendered.

Though, I fully agree with @jensens that this is beyond the scope of this PLIP. The first step is to ship with plone.restapi. Then we can start with migrating.

[2018-02-22 12:24] zopyx opened #2317 "Creating a Plone 5.1-pending site programmatically: Sorry, the requested resource does not exist. - jquery.highlightsearchterms.js"
I have this browser view for creating a fresh Plone 5.1-pending site through a browser view
(intended usage is as a provisioning endpoint in plone.restapi):

https://github.com/zopyx/plone.restapi/blob/master/src/plone/restapi/services/provisioning/provisioning.py

[code]

[2018-02-22 22:52] mauritsvanrees commented on #2312
This is simply not translated into German yet. You can fix it in this file:
https://github.com/collective/plone.app.locales/blob/5.1.6/plone/app/locales/locales/de/LC_MESSAGES/widgets.po#L271-L273

[2018-02-22 23:03] mauritsvanrees commented on #2316
Is the site itself created successfully at this point?
Do you end up at the confirmation page where Plone warns you that you may be a victim of CSRF? (I don't remember the exact text that is used here.)
Does loading the front-page again work? Or maybe visiting another page, like News or Events?

[2018-02-23 07:47] zopyx commented on #2316
The site is created (correctly). However the CSRF warning is weird here.

[2018-02-23 07:48] zopyx commented on #2312
The overall problem is the lack of completeness and the lack of control over the state of translations before the final release. Several parts of the control panels are untranslated.

[2018-02-26 19:21] sunew commented on #1264
Regarding overriding the tinymce-styles.css stylesheet:

This is a tinymce feature - see here: https://www.tinymce.com/docs/plugins/importcss/#importcss_file_filter

All tinymce settings can be overridden via the `other_settings` value - it is loaded as the last, setting new values or overriding any previously defined values - see https://github.com/plone/Products.CMFPlone/blob/master/Products/CMF

[2018-02-26 19:29] sunew commented on #1591
See also https://github.com/plone/Products.CMFPlone/issues/1264#issuecomment-368617473

[2018-02-26 22:32] fredvd opened #2319 "5.1-pending theme editor does not compile less theme"
I have installed Plone 5.1-pending from source, using our internal Plone 5.x scaffolding. Plain Plone 5.1, no other add'ons, nothing else activated in the site.

I'm following the Plone 5 theming training on https://training.plone.org/5/theming/ttw-advanced-2.html and I'm creating a new them that inherits from Barcelona.

I've followed the guide, copied the manifest.cfg from the training page, cop

[2018-02-27 15:55] mrsaicharan1 commented on #2219
I'd like to help fix this. Does this occur only when we are creating/editing a form? Could you point me to the file where this is possibly occurring?

[2018-02-27 15:57] mrsaicharan1 commented on #2219
Also, could you explain some of the places where this is occurring?

[2018-02-27 16:00] mrsaicharan1 commented on #2219
Also, could you explain some of the places where this is occurring?

[2018-02-27 23:40] cdw9 commented on #2317
related to #1811

[2018-02-28 09:40] terapyon opened #2321 "BUG REPORT TinyMCE Image Upload widget for Custom Folder type"
## BUG REPORT

### What I did:

- I made a new custom content type for folderish.
- I set up `contains_objects` in TinyMCE controlpanel.

### What actually happened:

I could not select the new folderish content type in the Image Upload widget.

### What version of Plone/ Addons I am using:

I tested Plone5.1.0rc2.

## Additional comment

### settings.py

https://github.com/plone/Products.CMFPlone

[2018-03-01 06:34] terapyon opened #2322 "BUG REPORT: Some nested `section id="edit-bar"` tag in folder_contents page"
## BUG REPORT

### What I did:

- Click any `fc-breadcrumbs` on folder_contents page
- And Re-Click the `fc-breadcrumbs`

### What I expect to happen:

I think `section id="edit-bar"` tag will not be shown  in dynamic html.

### What actually happened:

`section id="edit-bar"` tag will be made too.

[2018-03-01 09:16] gforcada commented on #1882
@kakshay21 on plone.openid there is still an import for it, but as it is no longer part of plone core (not used in 5.1 nor in 5.2) it can be safely ignored. On the others you are right, there were some pull requests a few weeks/months ago that cleaned them up.

[2018-03-01 14:55] jensens commented on #1882
Great work! Thanks our get-rid-of-unittest2-hero @kakshay21 and all others who helped to make it happen!

[2018-03-01 14:55] #1882 closed

[2018-03-01 15:00] jensens commented on #2291
Navigation alignment issue:
I just needed it in a customization: the portal-tabs are in need of a negative left margin of 30px (2x the normal margin of 15px - iirc thats a variable and needs to be calculated in less).
my simplified customization looks like so:

[code]

Looks much cleaner now!

[2018-03-02 01:33] mrsaicharan1 commented on #1357
What is the expected behaviour in Plone 5?

[2018-03-02 02:09] mrsaicharan1 commented on #1926
I'd like to look into this issue. BTW, are you referring to the **NAME** column present at that url when the site is up and running? If I'm wrong, which is the expected column to be removed?

[2018-03-02 02:21] mrsaicharan1 commented on #1124
I'd like to look into this issue. Could you point me to the file where the delete button for locked items is present?

[2018-03-02 05:25] mrsaicharan1 commented on #2276
Can you emphasise on what you meant by &lt/&gt?

[2018-03-02 08:42] pbauer opened #2325 "Some Errors cannot render their exceptions during the creation of portal"
This is a follow-up for #2203.

A exception of the following type cannot rendered in Plone 5.2:

[code]

The issue is that the portal and the main_template exist during rendering of ExceptionView but the main_template cannot be rendered because the context of the exception is not the Plone site but the Application. Thus the exception-template cannot be rendered properly. To fix that i suggest we t

[2018-03-02 12:59] iham opened #2327 "plone-compile-resources"
i would like to see:

- option to only generate a gruntfile for a specific bundle
- watch per bundle
- browsersync per bundle like it is used by plone theme (including the default browser)

is anyone interested in this?

[2018-03-02 13:45] lyralemos commented on #949
Just installed 5.1.0.1 and this is still a issue.

[2018-03-02 14:16] arunkiddo commented on #2306
Could I Work on this

[2018-03-02 14:32] ajayns commented on #2306
@arunkiddo I won't be available to code for a few days owing to college. So you can take it up! Do ask for any guidance.

@jensens Has provided a basic of where to look at for the code.
This [discussion](https://community.plone.org/t/setting-up-a-local-development-env-for-working-on-the-theme/5874/5) in the community could help setup your local dev env.

[2018-03-02 15:16] arunkiddo commented on #1320
Can I Work in this issue

[2018-03-02 16:05] #2325 closed

[2018-03-02 17:14] cekk opened #2329 "Tinymce: unable to set an alignment style"
I want to continue a discussion started on the [forum](https://community.plone.org/t/tinymce-unable-to-set-an-alignment-style/5480) and on irc today.

The problem is that when you want to align some text, Tiny add an inline style to selected tag, but on save, Plone filters remove that attributes (styles) because they are blacklisted.

Going deeper in this feature, i’ve found that from 5.0 to 5.1 t

[2018-03-02 21:33] #1078 closed

[2018-03-03 07:05] mrsaicharan1 commented on #2308
I'd like to work on this. Please correct me if I'm wrong in my approach.
approach:
 I'll be adding some python logic in this file
https://github.com/plone/plone.app.layout/blob/master/plone/app/layout/nextprevious/nextprevious.pt
the logic is that if there is only one page , not to display the pagination.(using python code in tal:condition).

[2018-03-03 07:50] mrsaicharan1 commented on #2308
Which function do I use to count the number of items on the page??

[2018-03-03 10:48] gforcada commented on #2308
@mrsaicharan1 the folder contents view is rendered with JavaScript, the pattern used is this one: https://github.com/plone/mockup/tree/master/mockup/patterns/structure

[2018-03-03 15:53] mrsaicharan1 commented on #2308
@gforcada OK, so now I'm at  `structure/templates/paging.xml`. Now I'm trying to remove the pagination bar by writing logic in the xml file. How do I go about this? Am I editing the right file?
Could you suggest what would be the best way to do this?

[2018-03-03 20:16] gforcada commented on #2308
@mrsaicharan1 I'm sorry but I'm not so used with that piece of code, @thet or @frapell might know better where to look for.

[2018-03-03 21:23] gforcada commented on #2308
@mrsaicharan1 I'm sorry but I'm not so used with that piece of code, @thet or @frapell might know better where to look for.

Searching a bit more the relevant JS file is https://github.com/plone/mockup/blob/master/mockup/patterns/structure/js/views/paging.js probably.

[2018-03-04 07:26] ShushantSood commented on #2314
I want to work on this issue . how can i begin.

[2018-03-04 09:55] joplono opened #2330 "contact-info not translated to german"
contact-info not fully translated to german.

Tested with Plone 5.08

[2018-03-04 10:14] malikrohit16 commented on #2312
I would like to fox this.

[2018-03-04 13:12] #2179 closed

[2018-03-04 13:52] fgrcon commented on #2251
@jensens @esteele ????

[2018-03-04 15:14] jensens commented on #2251
There's work in 5.2 done already, so yes there's a branch. But what's the problem? Why is it so confusing?

[2018-03-04 16:31] malikrohit16 commented on #2313
Hello @zopyx I want to work on it. Can you tell me where to find the respective file for the changes?

[2018-03-04 18:47] fgrcon commented on #2251
Maybe I'm just  to stupid to understand the Plone  versioning scheme?

coredev Plone5.2 > sources.cfg:  Products.CMFPlone = master   -> setup.py : 5.1rc2.dev0
 I supposed this should rather be something like 5.2.dev0 ????

[2018-03-04 19:33] jensens commented on #2251
I think you're right about that, seems like we missed an increase here.

[2018-03-05 01:10] tkimnguyen commented on #1357
It should be named "Management Interface"

[2018-03-05 08:45] mauritsvanrees commented on #2312
@malikrohit16 For this you would need to be able to write German. Then it is a matter of adding changes to https://github.com/collective/plone.app.locales/blob/5.1.6/plone/app/locales/locales/de/LC_MESSAGES/widgets.po and the other German translation files.

[2018-03-05 10:44] tisto commented on #2266
This problem is still present on Plone 5.1 final. I just created a new project from the scratch with bobtemplates.kitconcept (fork of bobtemplates.plone 2.x). I tried to check why this does not occur on bobtemplates.plone but the test setup goes over my head...

As said, I run into this in all my Plone projects (on Ubuntu) and it is hard to believe that I am the only one. cc @plone/release-team

[2018-03-05 11:50] hvelarde commented on #2266
the `[blobs]` extra had no dependencies back in 4.3 and was just present for backwards compatibility only; that extra mus have been removed at some point and now you have to find which package is still depending on that extra and just remove it.

[2018-03-05 12:47] mauritsvanrees commented on #2266
I created a new project with `bobtemplates.plone` 3 about two weeks ago, and I did not see this. This is on Mac.

[2018-03-05 15:37] malikrohit16 commented on #2312
thanks @mauritsvanrees  I have created a PR please check it out.

[2018-03-05 15:38] malikrohit16 commented on #2314
hello @zopyx I would like to fix this issue. Can you tell me where to find the respective file?

[2018-03-05 16:00] mauritsvanrees commented on #2312
Ah, I indeed see you made https://github.com/collective/plone.app.locales/pull/183. I will leave it to German speakers to check that one out. :-)

[2018-03-05 16:36] tkimnguyen commented on #2255
@mrsaicharan1 thanks for your interest! I think option 2 above would be the best way to proceed as it does not change a Link's behaviour. Changing the behaviour would require writing new documentation and (re)training users.

[2018-03-05 16:42] sneridagh opened #2331 "Missing upgrade step in Plone 5.1"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)
Missing upgrade step in Plone 5.1

### What I did:
Upgrading from 5.1rc1 (version originally installed) to 5.1 triggered:

`KeyError: 'Interface Products.CMFPlone.interfaces.controlpanel.IImagingSchema defines a field 'highpixeldensity_scales', for which there is no record.'`

when accessing image scales. Checked out on the IImagingSchema, and the reco

[2018-03-06 00:26] gforcada commented on #2266
I could not reproduce it on Fedora 27 in a completely fresh new laptop with the following buildout:

[code]

[2018-03-06 05:34] cewing commented on #2313
@malikrohit16 since this issue has to do with missing translations in content, a good first step would be to learn about [how to edit translations in Plone](https://docs.plone.org/develop/plone/i18n/contribute_to_translations.html#how-to-contribute-to-plone-core-translations).  Once you've got that working, you can find the code responsible for building this view (which is showing the "settings" t

[2018-03-06 18:08] mauritsvanrees commented on #2331
Confirmed.
This is due to the renaming of the `retina_scales` field to `highpixeldensity_scales` in bd04fe15bdddc339f449752a055e4cdfb0038bfc.

Applying that `registry.xml` step would indeed fix it:

[code]

You would lose a previous setting of `retina_scales`, but I'd say it is unlikely that someone has changed this. And if they did, nothing bad happens. Would be nicer to migrate that setting, but

[2018-03-06 19:50] ashraysinha6069 commented on #2310
i'm intrested in solving this issue.
can you guide me further about where can i find the  files.

[2018-03-07 09:32] agitator commented on #1568
@hvelarde can we close this issue, or is there still work to be done?

[2018-03-07 13:33] #1568 closed

[2018-03-07 13:46] gforcada commented on #1568
We could add a warning message on the control panel though, so that users would know that the content types need to be added manually on the list of available types to add...

[2018-03-07 16:04] mrsaicharan1 commented on #2255
@tkimnguyen Great! I would like to proceed with fixing this issue! Could you point me to the file which handles this operation??

[2018-03-08 05:00] malikrohit16 commented on #2312
Thanks @mauritsvanrees for the help. It got merged :+1:

[2018-03-08 14:31] pbauer opened #2332 "Language-selector broken in mobile view for 5.0 and 5.1"
When p.a.multilingual is installed the language-switcher is not useable because the search-form has a padding that overlaps it. Also it does not look very nice.

Here is a screenshot made with 5.1 but it looks the same in 5.0:

![language switcher](https://user-images.githubusercontent.com/453208/37155980-04b0a9c8-22e5-11e8-80b0-e11a4e1ac633.png)

[2018-03-08 14:34] pbauer opened #2333 "Toolbar broken in 5.1 mobile view"
The submenus do not open in 5.1 and have no arrow indicating that there are submenus:
![toolbar](https://user-images.githubusercontent.com/453208/37156281-ede0382a-22e5-11e8-858a-46b55e0cba6c.png)

In 5.0.8 it works:
![toolbar 5 0](https://user-images.githubusercontent.com/453208/37156328-156e09a8-22e6-11e8-8fa3-026043a3181a.png)

[2018-03-08 20:53] abosio commented on #2331
I think this is related.

We updated a 5.1b3 site to 5.1, purged `retina_scales` from the registry and added `highpixeldensity_scales` and we get AttributeError for retina_scales when loading our pages: [retina-scales-error.txt](https://github.com/plone/Products.CMFPlone/files/1794767/retina-scales-error.txt)

Using `scales.tag(...)` does not fix.

[2018-03-08 22:19] ashraysinha6069 commented on #2332
@pbauer
i'm intrested in solving this issue.
i've added plone.app.multilingual in eggs buildout
can you tell me where i can find the required code to proceed.

[2018-03-08 23:00] mauritsvanrees commented on #2331
@mrsaicharan1 No that would not be enough, and also not necessary. We need an upgrade step in `plone.app.upgrade`. That is always tricky to get right. I made a PR for this. You can have a look if you want: https://github.com/plone/plone.app.upgrade/pull/152

@abosio: Did you override the version pin for `plone.namedfile`?  http://dist.plone.org/release/5.1/versions.cfg pins it to 4.2.4, which as f

[2018-03-08 23:09] hvelarde commented on #2331
I was thinking the same; I also took a look at the code and saw no traces of that attribute.

[2018-03-09 05:16] zopyx commented on #723
I wonder why this bugfix does not show up in Plone 5.1.0?

[2018-03-09 10:14] paskyorg opened #2336 "navbar with z-index: 10"
## navbar with z-index: 10

### What I did:

Click on toolbar options with submenus.

### What I expect to happen:

Open the submenu and display it correctly.

### What actually happened:

The navbar has z-index: 10 and it is on top.

### What version of Plone/ Addons I am using:

Version 5.1.0

![image](https://user-images.githubusercontent.com/1679533/37202547-0ecf9396-238b-11e8-8eb5-675e787b6b9

[2018-03-09 10:34] pbauer commented on #2332
@ashraysinha6069 the styles are part of of the barceloneta theme (https://github.com/plone/plonetheme.barceloneta) in the file `header.plone.less` (https://github.com/plone/plonetheme.barceloneta/blob/master/plonetheme/barceloneta/theme/less/header.plone.less).

I'm not really good at theming so I do not know how to develop barceloneta but https://github.com/plone/plonetheme.barceloneta/blob/maste

[2018-03-09 12:32] ashraysinha6069 commented on #2332
@pbauer, in header.plone.less i just increased top margin for seach box in mobile view. it brings the search box in the blue nav-bar
![screenshot from 2018-03-09 17-41-25](https://user-images.githubusercontent.com/34709632/37207133-94cf561c-23c1-11e8-9a02-d544a99855bc.png)

or by changing the positioning of search-box
![screenshot from 2018-03-09 17-42-13](https://user-images.githubusercontent.com

[2018-03-09 13:02] pbauer commented on #2332
@sneridagh: Can someone from the Frontend-Team chip in here?

[2018-03-09 13:25] zopyx opened #2337 "File/Image should be excluded from portal tabs navigation"
By accident I created a bunch of images and files inside the Plone root. Image + File instances show up in portal tabs. Arguable but I believe that the tabs should contain folderish content only.
![screenshot-dynamore zopyx de-5080-2018 03 09-14-23-34](https://user-images.githubusercontent.com/594239/37209511-d5cd4ee2-23a5-11e8-9c65-8f8d743cb2ef.png)

[2018-03-09 13:52] zopyx commented on #1811
This bug is a major issue since it disallows the usage of the addPloneSite() which is necessary for creating Plone Site programmatically.

[2018-03-09 13:53] jensens commented on #1811
May you explain why this issue is related to creating a Plone Site?

[2018-03-09 13:54] jensens commented on #1811
Ah, its #2317

[2018-03-09 14:27] zopyx commented on #1811
Why? Because the error is reproducible with the following code used for created a Plone 5.1.0 site as part of a small provisioning API. The error is reproducible even when you don't pass any extension profiles - naked Plone only.

[code]

[2018-03-09 14:38] zopyx commented on #1811
In addition to that, you end up with fresh, completely broken site layout

![screenshot-dynamore zopyx de-5080-2018 03 09-15-36-41](https://user-images.githubusercontent.com/594239/37212633-da25fca0-23af-11e8-87c1-c725c7d2fdfa.png)

[2018-03-09 14:43] jensens commented on #2317
but https://github.com/plone/Products.CMFPlone/blob/5.1.x/Products/CMFPlone/skins/plone_ecmascript/jquery.highlightsearchterms.js is still there.

[2018-03-09 15:07] zopyx commented on #2317
How to reproduce:

git clone git@github.com:zopyx/dynamore.policy.git
and run buildout

[code]

On different terminal start

[code]

[2018-03-09 20:33] ArhantJain commented on #1934
@jensens @gforcada  I want to work on this issue. Please guide me the way to sort out this.

[2018-03-09 20:43] ArhantJain commented on #1549
Hii, @tkimnguyen @jensens @MrTango
   I want to work on this issue, please guide me the way to proceed.

Also, I have made my own site using Plone 4.3, thus I have Experienced hands on it.

[2018-03-09 20:56] ArhantJain commented on #2219
Hii @MrTango,
I understand the issue you are depicting and now I want to work on it.
Because I have used Plone 4.3, I  experienced that accessibility while creating and editing the Events.

So, Please guide me the way of solving this issue and from where should I start?

[2018-03-09 21:00] ArhantJain commented on #1934
Hii @jensens
I understand the issue you are depicting.
So, Please guide me the way of solving this and where should I start from?

[2018-03-09 23:08] jensens commented on #1934
In fact its about moving the code from plone.theme to a place in this package and properly deprecate plone.theme. From my smartphone its hard to tell details, I am back in office Monday to follow up on this. Thanks for taking this task!

[2018-03-09 23:45] davisagli commented on #2337
There's a setting in the navigation control panel, "Generate tabs for items other than folders." (`plone.nonfolderish_tabs` in portal_registry) Maybe we just need to change its default.

[2018-03-10 02:47] mauritsvanrees commented on #2337
I haven't checked if there is a good reason for the current default, but it sounds reasonable to make the default False.

Arguably it is better to not add lots of items in the root, but put them in folders.

[2018-03-10 05:32] zopyx commented on #2317
I wonder why this fatal error is being swallowed and ignore by Plone. A proper error handling would raise an exception and abort the transaction all together.

[2018-03-10 09:09] #2331 closed

[2018-03-10 20:32] ArhantJain commented on #1934
Okay, I will wait for your guidelines. :)

[2018-03-11 15:30] lheagney opened #2338 "Cannot add content to site upgraded from 5.0.8 to 5.1.0.1"
### What I did:

I updated a 5.0.8 install to 5.1 (5.1.0.1) via buildout. The site starts up as normal, but when logged in as an admin user I could not add any content. The items on the "add new" section of the toolbar did not display the forms to add content.  Any existing content can be edited as normal

### What I expect to happen:

The relevant form should be displayed to add content

### What

[2018-03-12 06:58] ale-rt commented on #2245
This should be fixed by #2335, am I right?

[2018-03-12 06:58] #2245 closed

[2018-03-12 09:01] jensens commented on #1934
@ArhantJain thanks for taking this task.

This is work for Plone 5.2, since 5.1 ist released in and in maintenance mode .

This package just provides one Interface in `interfaces.py`and a subscriber in ``layer.py``.

Move the code (to be done on `Products.CMFPlone` master based feature branch  first):
- the ``interfaces.py`` needs to be moved to a new ``Products/CMFPlone/interfaces/defaultlayer.py

[2018-03-12 13:45] tisto commented on #1342
Hey @ebrehault, we just had a discussion about an actions endpoint for plone.restapi at the Plone-React sprint in Bonn and we were wondering if it wouldn't be better to just completely move the portal actions to the registry instead of creating an actions endpoint.

Is that something you thought about? Is there a good reason in your opinion not to move to the registry?

If we move to the registry,

[2018-03-12 14:10] jensens commented on #1342
IIRC, the discussion was: control-panel first (keep the scope of the PLIP narrow), then we don't need the ZMI any more and a migration to a registry based solution is easier (another PLIP).
IMO, the next logical step is to move the configuration to the registry.

[2018-03-12 14:22] tisto commented on #1342
@jensens ok, makes sense. I guess we will go ahead and implement the actions as registry entries for plone.restapi (since it does not make much sense to implement an actions endpoint that will be deprecated at some point). If anybody is up for the task to push this in Plone core they can rely on our work...

[2018-03-12 21:40] gforcada commented on #1934
@jensens yes you missed the point that this is by no means easy... even though code can be moved verbatim from one place to the other, ensuring that this movement is done without breaking everything apart, deprecation notices and so on, are far too much for a newcomer IMHO. But hey, if @ArhantJain is brave enough to go through it I will shut up right now :no_mouth:

Back to the point, create branc

[2018-03-13 09:46] zopyx commented on #2316
The error under Plone 5.1 is reproducible using this test buildout:

https://github.com/zopyx/dynamore.policy

Create a new Plone site with profile "dynamore.policy:default".

[2018-03-14 13:32] zopyx opened #2339 "CSS issue with lock icons on plone-demo.info"
Portal tabs on plone-demo.info look weird.

This is plain Plone 5.1.0.

![45776436-d67e-40d2-b34b-9cb633e50a77](https://user-images.githubusercontent.com/594239/37405245-6e95ba3c-2794-11e8-8486-e66d0e6a70ba.jpeg)

[2018-03-14 13:37] tomgross opened #2340 "No diff in history for keywords"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

- Enable CMFEditions for documents
- Add a document
- Change keywords of a document
- View @@history

### What I expect to happen:
- Changed keywords are shown in diff

### What actually happened:
- Changed keywords are NOT shown in diff

### What version of Plone/ Addons I am using:

5.0 and 5.1.1-pending

[2018-03-14 13:40] tomgross opened #2341 "Allow disabling versioning per content item"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

- Enable CMFEditions for documents
- Add documents

### What I expect to happen:

- A flag on each document for disabling versioning per item.

### What actually happened:

- Versioning is turned on/off for *ALL* content items of a type

### What version of Plone/ Addons I am using:

- 5.1.1-pending

[2018-03-15 02:53] ArhantJain commented on #1934
Thanks, @jensens  @gforcada... I will follow this.

Sorry, for the late reply. Semester Exams of my University are going on.
I will be on the issue just after two days.

Thanks :)

[2018-03-15 07:19] tomgross opened #2343 "Dateformat in toolbar broken after Upgrade to Plone 5.1.1"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

The dateformat in the toolbar broke after the upgrade from (Plone 5.1rc1 to 5.1.1-pending).

Before (5.1rc1):

![grafik](https://user-images.githubusercontent.com/339384/37449072-3a58f5e6-2829-11e8-853a-966a5a3d4595.png)

After (5.1.1-pending):

![grafik](https://user-images.githubusercontent.com/339384/37449081-41548e50-2829-11e8-989e-7a5dba88af70.pn

[2018-03-15 09:08] #2303 closed

[2018-03-15 10:16] thet opened #2344 "Themeeditor: ACE plugin not loading correctly for CSS, LESS and HTML"
### What I did:

In Plone 5.1 Release:

- Go to: http://localhost:8080/Plone/@@theming-controlpanel
- Copy Barceloneta Theme, name it test.
- Go to: http://localhost:8080/Plone/++theme++test/@@theming-controlpanel-mapper
- Open less/barceloneta.plone.less
- Click on "Build CSS"/"Compile"

### What I expect to happen:

- A syntax-highlighted LESS file within the ACE editor
- A successful compilatio

[2018-03-15 11:45] mamoep commented on #2344
I have the same issue with 5.1.0 release.

[2018-03-15 15:30] zopyx opened #2345 "Drag and drop inside folder_contents on iPad complete unusable"
Resorting content using drag and drop inside the folder contents view on Plone 5.1 only works as expected on a desktop browser.

Dragging items on iPad conflicts with the iOS system behavior, gestures etc. making DnD basically unusable on iPad.

[2018-03-15 15:51] jensens commented on #2337
+1 for setting it by to false by default - But I  don't think we should add a migration step, otherwise it could change it on sites where its a feature and not a bug (who knows...).

[2018-03-15 15:53] jensens commented on #2344
dup of #2319 ?

[2018-03-15 16:01] jensens opened #2346 "plone.app.upgrade time machine problem blocks pull requests"
At the moment Pull Requests for 5.1 are broken, because of some problems with the profile version. See https://github.com/plone/Products.CMFPlone/pull/2324 and https://github.com/plone/Products.CMFPlone/pull/2342.

Involved test are:
- Products.CMFPlone/Products/CMFPlone/tests/testMigrationTool.py", line 60
- plone/app/upgrade/tests/test_upgrade.py", line 62
- plone/app/upgrade/v50/tests.py", line

[2018-03-15 16:32] mauritsvanrees commented on #2346
The tests will pass when the destination of the last upgrade step in plone.app.upgrade matches the profile version in Products.CMFPlone.

Current coredev 5.1 has no checkouts of these two packages, so it uses the latest releases, and the tests pass there.

Both packages already have a change in their source to handle a new version: CMFPlone has a new profile version and plone.app.upgrade has that

[2018-03-15 16:32] #2346 closed

[2018-03-15 18:16] nehsus commented on #2345
Hey, I'd like to work on this issue. I'll have a pull request up in a bit

[2018-03-16 11:30] pbauer commented on #2332
@sneridagh ping!

[2018-03-16 12:57] sunew commented on #2307
Also in plone 5.1 final

![selection_547](https://user-images.githubusercontent.com/893142/37521680-de431148-2921-11e8-8b81-d74aea0646e8.png)

[2018-03-16 13:47] sunew opened #2348 "Collection location-criteria widget behavior differs on add and edit form"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

Install plone 5.1
Add a new plone site.
Add a folder.
Add some content in the folder.
Add a collection in the same folder.

On the collection add form - add a Location criteria.
Choose "Current (./)" as the value.

The content objects in the folder are shown in the preview.

Save the collection.

Nothing is shown in the view.

Edit th

[2018-03-16 13:54] hvelarde commented on #2348
I think this happens also in Plone 4.3; I have never understood how to use the location field.

[2018-03-16 22:35] esteele commented on #2346
Thanks, Maurits. I forgot to add those back after releasing them. Maybe the Products.CMFPlone, plone.app.upgrade, and Plone eggs should be exempted from the removal-after-release.

[2018-03-19 08:07] mamoep commented on #2344
Looks like a dup, yes.

[2018-03-19 11:40] erral commented on #983
Moving plone.app.multilingual translations into plone.app.locales:

plone.app.multilingual master is used both for Plone 5.0.x and 5.1.x, so I included the translations in both 5.x and master branches of plone.app.locales.

https://github.com/plone/plone.app.multilingual/pull/306

https://github.com/collective/plone.app.locales/pull/200
https://github.com/collective/plone.app.locales/pull/201

htt

[2018-03-19 12:07] vincentfretin commented on #983
LGTM @erral If nobody disagree, you can merge all those PR.

[2018-03-19 15:08] erral commented on #983
The pull-requests for p.a.multilingual are failing in an unrelated way:

https://jenkins.plone.org/job/pull-request-5.0/415/#showFailuresLink
https://jenkins.plone.org/job/pull-request-5.1/955/#showFailuresLink
https://jenkins.plone.org/job/pull-request-5.2/466/#showFailuresLink

Should I merge or try to reproduce and fix before merging?

[2018-03-19 17:29] erral commented on #983
OK, p.a.multilingual tests are expected to fail until all pull requests are merged, because they depend on a translation coming from plone.app.locales. So I'm merging them.

[2018-03-20 06:59] erral commented on #983
Moving plone.dexterity translations:

These are PRs to include plone.dexterity's translations into plone.app.locales. As they include plone.dexterity master, it targets only Plone 5.1. If needed/wanted, I can also do it for Plone 5.0.

https://github.com/plone/plone.dexterity/pull/80
https://github.com/plone/buildout.coredev/pull/431
https://github.com/collective/plone.app.locales/pull/204

[2018-03-20 08:35] erral commented on #983
PR for Products.CMFDiffTool:

https://github.com/plone/Products.CMFDiffTool/pull/32

[2018-03-20 13:59] erral commented on #983
PR for plone.app.caching

https://github.com/plone/buildout.coredev/pull/439
https://github.com/plone/plone.app.caching/pull/42
https://github.com/collective/plone.app.locales/pull/210

[2018-03-20 15:09] vincentfretin commented on #983
@erral Thanks for your work. You should start merging all those PR before you have any conflicts.

[2018-03-20 15:47] erral commented on #983
Thanks for your guide too, it was very useful to get things done.

[2018-03-20 15:56] erral commented on #983
I also created a PR to include those files in 5.2 branch of coredev: https://github.com/plone/buildout.coredev/pull/440

[2018-03-20 16:09] vincentfretin commented on #2319
Oh man, I encountered this error today on Plone 5.1 for a customer that needed a simple color change in their theme. I really don't have time to debug this...
I successfully rebuilt the styles.css file with lessc command like this.

Add the following import to styles.less before the `@import "++theme++barceloneta/less/barceloneta.plone.less";` line:

    @import "++plone++static/patterns/toolbar/s

[2018-03-20 16:13] vincentfretin commented on #2344
I have the same issue, I posted a workaround on #2319 if some of you are blocked by this.

[2018-03-20 16:22] vincentfretin commented on #983
Yes indeed, it should be in sync with 5.1 branch, thanks.

[2018-03-20 18:59] gforcada commented on #983
All done?!! Cool thanks to everyone for working on this!

Shall the issue be closed then?

[2018-03-20 19:14] iamar7 commented on #2315
@zopyx I want to work on this issue. can you tell me where i can find the required code to proceed.

[2018-03-21 06:45] erral commented on #983
On the list above there is stille an open thing: plone.z3cform, but it's still an open issue whether it should be moved to plone organisation or not.

[2018-03-21 08:56] gforcada commented on #983
Well, then we can close it and add on that ticket that as soon as we move it, if we ever do, translations should also get merged into plone.app.locales.

[2018-03-21 08:56] #983 closed

[2018-03-21 18:48] Frankkyl opened #2349 "plone-toolbar-logo 5.1 - 'toolbar_width' of undefined"
pls refe the screenshot below:
Error:
Uncaught TypeError: Cannot read property 'toolbar_width' of undefined.

![image](https://user-images.githubusercontent.com/14010337/37730484-10b9336c-2cfd-11e8-96cb-1909d72a4cbe.png)

[2018-03-22 06:32] pbauer commented on #2041
In https://github.com/plone/Products.CMFPlone/issues/2184#issuecomment-359445243 I also now documented how to run the whole of Plone (without AT) in python3. I copy it here for completeness sake.

# Running Plone on Python 3

The config `py3.cfg` (https://github.com/plone/buildout.coredev/blob/5.2/py3.cfg) can
be used to build and run Plone on Python3. It removes the Arcetypes-dependecies that wil

[2018-03-22 19:16] gp54321 commented on #1124
I think that a patch to plone/app/contentmenu/menu.y should give a better UI

[code]
rationale: it solves (a bit) the issue 'the user can't see the item is locked': if there is no action menu with delete/cut it gives an hint. If the locking user is another user, there is a warning in the UI. Now when trying to delete from content view, the lock error is caught and a nice error message is displayed

[2018-03-23 11:09] jnns commented on #2184
As an addendum to @pbauer 's instructions to get coredev-py3 running:

I ran into problems running `./bin/buildout -c py3.cfg` when it tried to install `zope.security`:

Installing it manually via `./bin/pip install zope.security` yields:

This means that I had to install the Python3 development package (which on my system is done with `sudo apt install python3-dev`).

Maybe this helps someone.

[2018-03-24 00:59] volkerjaenisch opened #2350 "Why are PLIPs rocket science?"
Adding a PLIP is not straight forward. Let us improve this.

[2018-03-24 01:01] volkerjaenisch commented on #2350
I added an issue but where to place the :

03 type: feature (plip)

I am lost

[2018-03-24 12:25] iamar7 commented on #2315
You can correct this by following this-:
   Toolbar -> Admin -> Site setup -> Go to control panel
   In the control panel -> Go to Resource Registry
   Enable Development mode
   In the "plone" bundle below click on develop CSS
   Go to Less variables tab
   Find the variable plone-left-toolbar-expanded and set it to 300 px or according to your use
   Hit the save button and reload the page
   go

[2018-03-24 14:02] sneridagh commented on #2332
@pbauer Sorry! I didn't see it! I'm on it!

[2018-03-25 07:14] thet commented on #2350
You can state your ideas about how to improve the PLIP process here.

Regarding the "03 type: feature (plip)" - I don't understand the question here. If it is how to add the label, you can do it on the right side under "labels".

[2018-03-25 15:52] tkimnguyen commented on #1342
I'm curious why move or get rid of portal_actions, as it is a well understood mechanism that has been around for eons, and we finally got this nice control panel. What does it improve to move these to the registry?

[2018-03-25 19:47] sonawanemaitreya opened #2351 "Confirmation message to delete portal actions in Site Setup aren't translated"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I expect to happen: Confirmation message to delete action in general site setup option is expected to be translated in language chosen by user

### What actually happened: Confirmation message was always given in English
![delete confirm message](https://user-images.githubusercontent.com/33842949/37879238-43149dee-3093-11e8-9d81-01bffa7eb2dc.

[2018-03-26 07:11] agitator commented on #2332
I think I prefer the current order of elements, Logo/Language/Search or even move Language to the first

[2018-03-26 11:29] sauzher opened #2352 "content_status_history does not honor effectiveDate and expirationDate field's guards"
## BUG/PROBLEM REPORT
content_status_history renders an edit form for two quite standard ATFields: `expirationDate` and `effectiveDate`. These fields may have custom read and write permissions in custom archetype schema to match specific use cases. The cpt does not check these permissions (i.e. write_permission) before rendering related edit input widget.

### What I did:
Suppose to create a custo

[2018-03-26 12:29] zopyx opened #2353 "Using ZEO in Plone 5.1 fragile and unstable"
As part of a migration I have a Plone 5.1 instance with REST API up and running. At some point I decided to stop and restart the related app server because of some code changes in my policy package.
Plone refuses to start after the shutdown with

[code]

There is only the message in the zeo.log:

[code]

The ZEO server itself was still running and `bin/zeo status` reported `running`

[2018-03-26 12:36] tkimnguyen commented on #1342
@jensens you wrote "Unification of configuration, also in the profile. Also we get rid of the tool at all. Portal actions are very dumb, no own place needed."

Thinking about this some more, maybe this is too philosophical and/or something to ask in the forum, I agree that portal actions are very simple, why not store them as their own Dexterity content type? Configuration vs. content. Plone is gr

[2018-03-26 12:39] zopyx opened #2354 "ZEO in Plone 5.1 does not store properly database index"
Just a warning:

The ZEO server of Plone 5.1 does not properly persistent the database index file.
I discovered that my migration instance re-creates the index with each ZEO restart ("Ignoring index for ...." message.

Reporting this to the ZODB tracker as well

[2018-03-26 12:45] jensens commented on #1342
.oO( seems I got it on the wrong thread... Never answer Github messages on mobile...)

I think the configuration registry is the place where configuration has to be stored. We should not abuse content here unless we have a way to cleanly divide between configuration types and content types. Sometimes this could be handy.

[2018-03-26 12:55] zopyx commented on #2354
https://github.com/zopefoundation/ZODB/issues/195

[2018-03-26 20:02] alan-oneill opened #2355 "Bug: 'Plone' object has no attribute 'mark_view'"
I have been trying to upgrade to Plone 5.x for several months, but the migration has always terminated with an error.  I have managed to get the migration to work with Plone-5.1.0-UnifiedInstaller-r2.tgz, but when I try to view the site, I get the following error.

AttributeError("'Plone' object has no attribute 'mark_view'",) (Also, the following error occurred while attempting to render the stan

[2018-03-27 06:53] zopyx opened #2356 "CSS issue with lead images in navigation"
Plone 5.1.0:

![screenshot-localhost-5080-2018 03 27-08-52-41](https://user-images.githubusercontent.com/594239/37951326-53d066f4-319c-11e8-97c6-f0bb2f1b8942.png)

[2018-03-27 07:30] zopyx opened #2357 "CSS issues in resource registries control panel"
Plone 5.1.0
![screenshot-localhost-5080-2018 03 27-09-29-22](https://user-images.githubusercontent.com/594239/37952853-7b19aa40-31a1-11e8-9fd5-b561f6934a71.png)

[2018-03-27 07:44] zopyx opened #2358 "Content-types derived from plone.dexterity.content.Item indexed with isPrincipiaFolderish=1"
I have a DX content-types derived from Item.

All instances are index with `isPrincipiaFolderish=1`

which is wrong.

There is no way to determine from the brain proxy of a DX content-types about being folderish or no.

[2018-03-27 11:21] fgrcon commented on #2356
**I have introduced more detailed control for showing of preview images  aka thumbs and  document type icons for lists, tables (e.g.: content view)  and portlets :**

Set globally in site settings:

![global-thum-settings](https://user-images.githubusercontent.com/1640384/37964217-02f6f73c-31c1-11e8-8c20-b7f8db702aaa.jpg)

In your special case (works for all standard portlet types ...) you can ove

[2018-03-27 11:44] fgrcon opened #2359 "Upgrade steps not sufficient for last changes of tinymce integration ..... ?"
cc: @frapell , @thet

# Steps to reproduce:

 * clean 5.0.x  build
 * create plone site

 * clean 5.1.x build   (including https://github.com/plone/Products.CMFPlone/pull/2320 and later)
 * move dat.fs  from 5.0  to 5.1.x
 * run Upgrade

# Results:
![edit-bug](https://user-images.githubusercontent.com/1640384/37965028-f01f624a-31c3-11e8-82aa-1d045dd046a0.jpg)

## error messages when building bundl

[2018-03-27 12:18] frapell commented on #2359
Ouch... I need to fix this, thanks @fgrcon !

[2018-03-27 12:25] zopyx commented on #2356
The default CSS  should give a better user experience. Right now it is possible to mess up the UI in so many ways....the defaults must be more conservative or more explicit.

[2018-03-27 13:03] zopyx commented on #2358
oh, the index seems to be `is_folderish`...Welcome to acquisition.

[2018-03-27 13:06] #2358 closed

[2018-03-28 00:06] frapell commented on #2359
@fgrcon I have submitted these pull requests to the 3 different products involved... hope they get merged soon

[2018-03-28 06:56] fgrcon commented on #2359
tested (merged privately) this right now - works fine, should be merged,   thank you!

[2018-03-28 13:42] mauritsvanrees commented on #2359
@fgrcon, your upgrade report shows 'unresolved or circular dependencies'. The important part is the last part of that big dictionary: `"rer.cookieconsent" [color=red,style=filled];`. This gets color red, which means there is something wrong with it. Search back in the dictionary and you see this wrong dependency: `"rer.cookieconsent" -> "registry.xml"`. That should be `plone.app.registry`, and sho

[2018-03-28 13:47] mauritsvanrees commented on #2359
I have approved the `plone.app.upgrade` PR. I don't quite know enough about the other involved parts of the Plone code base to review them with confidence, but they look okay.
Do they need to be merged all three together?

[2018-03-28 13:48] mbarde commented on #1969
Observed the same issue, setup:

- Plone 4.3.14
- plone.app.multilingual 2.0.0 (and 2.0.2)
- plone.app.portlets 2.5.6

Issue is caused by setting `Language = all` in https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/WorkflowTool.py#L234 as search parameter. If you use `plone.app.multilingual` the query will return no result with `Language = all` set.

Removing following line

[2018-03-28 13:58] frapell commented on #2359
@mauritsvanrees Ideally yes:

* CMFPlone change is pretty much the same as plone.app.upgrade so it will work fine for new sites
* Mockup change is a change needed for the tinymce pattern so it will pull the fonts from the proper path
* plone.app.upgrade change is for upgrading from 5.0.x to 5.1.x

so if we can have all three merged at once, that would be best

[2018-03-28 16:04] MrTango commented on #2354
Hm, i had the feeling recently that there is something wrong. After adding content and couln'd find it in search results in sopme widgets like the related items. Good catch

[2018-03-28 16:12] zopyx commented on #2354
This looks then like a different problem. A data persistence problem is different from from recreating the in-memory index every time you start your instance.

[2018-03-28 21:28] fgrcon commented on #2359
sorry about the confusion but:  "rer.cookieconsent" ha s nothing to do with the tinymce upgrade,
...
Just try to keep things separated  as long as feasible,
yes  rer.cookieconsent might  cause some troubles - and it really might do - but it is usefull for me - and once again: IT DOES NOTi interfere with tinymce etc.

[2018-03-29 06:33] mauritsvanrees commented on #2359
I am not saying it interferes. I am basically saying the opposite. 😀 It was meant as a friendly hint that there is something else wrong, which should be fixed in that add-on (which I don’t know).

[2018-03-29 08:09] ida commented on #2228
Had exactly the same error as reported above in a Plone-5.1.0.1, when installing an add-on via the add-site-advanced-form, but *not* when installing it after site-creation. The cause in my case was a portlet-assignment to a portlet-manager of Products.ContentWellPortlets via a GenericSetup-profile.

Steps to reproduce:
In an add-on's profile add 'portlets.xml' with these lines:
    <?xml version =

[2018-03-29 09:46] fgrcon commented on #2359
@mauritsvanrees : I apologize, I was misunderstanding because did not read carefully...

[2018-03-29 09:57] #2359 closed

[2018-03-29 09:59] jensens commented on #2359
Well, not all merged right now, but very soon.

[2018-03-30 16:35] pbauer opened #2368 "PLIP: Port Plone to Python 3"
### Proposer: Philip Bauer

### Seconder: Alexander Loechel

## Abstract

Support Python 3 and 2.7.

Plone 5.2 should run on Python 2.7, 3.6 and 3.7

For Plone 6 Python 3 should be the default but it should still run on 2.7.

## Motivation

On 2020-01-01 support for Python 2.7 ends. Migrating to Python 3 is a requirement to ensure the continued success of Plone.

## Assumptions

Most of the depend

[2018-03-30 17:43] datakurre commented on #2368
@pbauer Just FYI that we begin reimplementing ZServer for Python 3 on top of aiohttp (unless we find better base) at Sauna Sprint in July 2018. We are serious, because we rely heavily on current asyncore base of ZServer and async patches for wsgi don’t look interesting when asyncio could be an option.

[2018-03-30 17:48] fulv commented on #2368
Just pointing out that the deliverable *Document best-practices for porting
Addons* in turn depends on several of the other dependencies, because if
you want to port an Add-on you need a 5.2 build that can run on Python 3,
and you need all the testing infrastructure and plone.testing and
plone.app.testing to work on Python 3.

On Fri, Mar 30, 2018 at 10:43 AM Asko Soukka <notifications@github.com>

[2018-03-30 18:00] pbauer commented on #2368
@datakurre Great to hear, I totally forgot about that. I updated the info in the PLIP. Is there already a ticket to track the progress and the discussion that I can link to?

[2018-03-30 18:05] pbauer commented on #2368
Also: I'm looking for a partner in crime for this. See
https://community.plone.org/t/porting-plone-to-python-3/6226

[2018-03-30 18:12] jaroel commented on #2368
Awesome, the p2.7 support is a BIG plus IMHO!

Is there a specific reason to support 3.5, or does that just happen to come OOTB with six?
AFAICT 3.6+ should be good enough, maybe 3.7+ even; we probably won't finish this before 3.7 is stable.

[2018-03-30 18:18] datakurre commented on #2368
@pbauer Not yet. We know better only in the summer once we have POC’d it.

[2018-03-30 18:22] sonawanemaitreya commented on #2336
When we minimise the window, whether we have set toolbar position side or top in 'Site Setup', same thing happens:
![screenshot from 2018-03-30 23-48-59](https://user-images.githubusercontent.com/33842949/38148745-5be835ca-3475-11e8-8fbe-07ef2cc2ddfb.png)

[2018-03-30 18:38] Frankkyl commented on #2336
I thought this is same as #2307. I try to update the z-index to 2 for nav. But still no more comments on that case.

[2018-03-30 22:07] pbauer commented on #2368
@jaroel Yes, there is nothing to be gained from supporting (and testing) 3.5. We should support the last two versions only. 3.6 is what I'm using now and I will switch to 3.7 when it is released.

[2018-03-31 18:28] pbauer opened #2370 "In python3 errors when rendering templates lead to fatal python errors"
Errors in templates are not properly caught and rendered as tracebacks by Chameleon and lead to:

`Fatal Python error: Cannot recover from stack overflow.`

The line where that happens is `formatted = traceback.format_exception_only(type(exc), exc)[-1]` in Chameleon.exec, line 319.

I worked around that with `formatted = repr(exc)` and now I can see the rendered traceback.

The stack there is:
[co

[2018-04-01 13:35] gforcada commented on #2368
IMHO as we are doing the porting *now* I would stick with 3.6 for now, there's no much gain to keep our CI matrix more complex for the sake of it... As we have a steady working version on 3.6, we can add the +3.6 python versions on the CI matrix.

I can try to work on the CI bits... one thing that I would like to work on would be on catching regressions, with all the six porting for example, if ne

[2018-04-02 18:07] davisagli opened #2372 "URL redirection no longer works for images in Plone 5"
In Plone 4, if you move an image then try to access its old URL, you get redirected to the new URL. In Plone 5 this works when accessing the old URL directly, but not when loading the old URL via an `img` tag (at least not in Firefox).

This is because of this code:
https://github.com/plone/Products.CMFPlone/blob/5.1.x/Products/CMFPlone/skins/plone_templates/standard_error_message.py#L30 (Plone 5.

[2018-04-03 09:57] szakitibi opened #2373 "plone.app.referenceablebehavior.referenceable.IReferenceable - lower letter starting non ASCII title raises UnicodeDecodeError"
## BUG REPORT

First I want to apologize to report it here, but I could not create an issue on [plone.app.referenceablebehavior](https://github.com/plone/plone.app.referenceablebehavior/issues/new) repository, and [contributing.rst](https://github.com/plone/plone.app.referenceablebehavior/blob/dcf6735a513fb1ba18a9702727bbe6828d76147e/CONTRIBUTING.rst) then [Guidelines for Contributing to Plone](ht

[2018-04-03 11:45] alan-oneill commented on #2355
I'm wondering, does anyone have any thoughts and/or is anyone else experiencing this same problem?
Thanks.

[2018-04-03 12:13] davisagli commented on #2355
It sounds like you have a customized `main_template` which is still trying to call `mark_view` as a method of the `@@plone` view. This method was moved to the `@@plone_layout` view. Generally, customizations to `main_template` can be tricky to handle when upgrading Plone and you will need to work on your customized version to merge in any changes that happened to the template in Plone core.

If yo

[2018-04-03 13:20] rodfersou commented on #2247
@zopyx your problem is still alive after #2060 fix?

[2018-04-03 21:56] gp54321 commented on #2062
For the record this is fixed in 5.1

[2018-04-04 20:12] tomgross opened #2374 "WSGI does not start up with `No module named 'zc.buildout'`"
because zc.buildout was not importable. I worked around that by adding the path of zc.buildout to `bin/wsgi.py`.
For me that was:
`'/Users/pbauer/.cache/buildout/eggs/zc.buildout-2.11.2-py3.6.egg',`

Might be a broken setuptools/buildout combination.

[2018-04-04 20:15] tomgross commented on #2374
Most likely this is a buildout issue: https://github.com/buildout/buildout/issues/410

There is a workaround proposed there to use bootstrap-buildout.py (from https://bootstrap.pypa.io/bootstrap-buildout.py), which works for me.

[2018-04-04 20:55] LFPSGS commented on #2319
Hey guys! Tried to do just the same but can't find those directories to build the css.

The closest I found was:

/etc/plone/buildout-cache/eggs/plonetheme.barceloneta-1.8-py2.7.egg/plonetheme/barceloneta/theme

I tried to find my styles.less using linux search and nothing

Could you guys give me a hand?

Best regards,

[2018-04-05 05:53] tomgross commented on #2374
See also https://github.com/buildout/buildout/issues/434

[2018-04-05 07:12] vincentfretin commented on #2319
@LFPSGS You need to export your theme and create a package on the file system for this. Or just export the content of your styles.less in a directory on the file system, do my instructions, and reupload styles.css I guess.

[2018-04-05 13:03] LFPSGS commented on #2319
Hi @vincentfretin! I've done the following steps:

1.At the plone installation folder (just 'cos it's easier to keep it all together), I've created a folder named workspace (/etc/plone/zinstance/workspace/theme_name)
2.Downloaded my files from Plone via webUI (index.html, manifest.cfg, styles.less and rules.xml) and copied to the previously created folder.
3.Then run npm install less
4.Then run: l

[2018-04-05 13:39] LFPSGS commented on #2319
Hi @vincentfretin just found what I was missing (to READ!). When I was following the example made at the Plone Training, they ask you to copy the manifest.cfg:

[code]

But my theme was called ACME so, plone couldn't find the files, when I altered to:

[code]
Every change I made started to work!

[2018-04-05 15:17] vincentfretin commented on #2319
I'm glad my instructions was helpful to you.

[2018-04-06 13:02] alan-oneill commented on #2355
Thanks, David!  Since I'm not familiar with the internals of Plone/Zope, it took me about a day to figure out what the details in your message meant, but now it appears my site is working.

Here's what I did.

1. I followed the steps that I included in my post above.
2. I went into the custom folder in the ZMI.  I had to go there "directly," not through Plone because going there by way of Plone's

[2018-04-06 16:20] MrTango commented on #2356
definitely turning them off the right choice.
I can't thing of a situation where I want thumbnails in the navigation, but for sure not by default in barceloneta.
@fgrcon could please make a sane default for this and disable thumbs for the navigation.

[2018-04-07 08:56] vincentfretin commented on #2344
The ace error and the less build may be two different issues?
I now see a LessError in the console, maybe I simply didn't pay attention before.
![capture d ecran de 2018-04-07 10-51-10](https://user-images.githubusercontent.com/112249/38453181-bb6a06ae-3a51-11e8-8fe6-aaf6a15456dd.png)

some syntax error around mobile variable in variables.plone.less. Do you see something to fix there or around tho

[2018-04-07 09:10] vincentfretin commented on #2344
Ah I didn't understand what gp54321 said https://community.plone.org/t/plone-5-1-1-soft-released/6159/8 at first, there is missing ':' separator here, and it was fixed the 23 Feb in plonetheme.barceloneta 1.8.1 (unreleased)
https://github.com/plone/plonetheme.barceloneta/commit/4153e4a072f6c0480386e172236e69709d7c3815#diff-56b6091c8819a7730eb024b8caefa5f9

opening variables.plone.less and fixing t

[2018-04-08 21:07] thet opened #2376 "Let CMFPlone depend on plone.app.caching"
Currently plone.app.caching is only a dependency of the Plone distribution package (see: https://github.com/plone/Plone/blob/master/setup.py#L38 ).
Not having plone.app.caching available doesn't even make use of ram caches and makes the site really slow.

I propose to add this dependency directly to CMFPlone.

/cc @plone/framework-team

[2018-04-09 08:53] mauritsvanrees commented on #2376
For a site that is only internally available, or where everyone is always authenticated, `plone.app.caching` may not give you much improvement, unless you spend a long time configuring it. I would always add it myself (same for `plone.app.upgrade` btw), but if we can keep it out of the dependencies, I think that would be nice.

[2018-04-10 10:22] mauritsvanrees opened #2377 "MigrationTool should not migrate beyond current filesystem version"
With current Plone 5.1.2-pending, when upgrading from 5.1.1, you see this on the ``plone-upgrade`` page:

<img width="708" alt="screen shot 2018-04-10 at 11 40 31" src="https://user-images.githubusercontent.com/210587/38550559-1d33ee9c-3cb7-11e8-8ac4-e4a6854648d8.png">

So:

-  The database is at profile 5111.
- The CMFPlone package has profile 5112.
- The plone.app.upgrade package has upgrades to

[2018-04-10 11:12] zopyx opened #2378 "Portlet and Search not right-aligned!?"
Is it intentional that the portlet and search slots are not right-aligned? See screenshots (tested on Plone 5.1 on plone-demo.info).

![screenshot-www plone-demo info-2018 04 10-13-10-54](https://user-images.githubusercontent.com/594239/38553823-ca2ad774-3cc0-11e8-95b9-b075fb618545.png)

[2018-04-10 11:13] #2378 closed

[2018-04-10 11:13] zopyx commented on #2378
Invalid

[2018-04-10 14:38] davisagli commented on #2355
@alan-oneill hurray! I'm glad my brief description was enough clues for you to figure out the problem.

I looked at the diff a bit and some of it is changes that I would expect because they have happened in Plone, but part of it looks like an obfuscated script that might be trying to redirect the user to a scam software site. So it seems possible that main_template was customized via a hack at som

[2018-04-11 12:05] thet commented on #2376
I saw response times of 20sec for each request vs 50ms for a site because apparently the Zope RAM cache wasn't leveraged without plone.app.caching installed. I think plone.app.caching makes sense also for internal sites unless something else was wrong.
I also explicitly depend on plone.app.upgrade, e.g. for a separate service instance.

[2018-04-11 12:14] jensens commented on #2376
I agree with @thet. I always enabled caching even for Intranet sites. The RAM cache is one good reason, but also caching of CSS/JS in browser wont happen in those cases, w/o having sane rules caching delivered. W/o p.a.caching, on every request all JS/CSS and even fonts and icons are delivered.

`plone.app.upgrade` is a different case. I tend to have an separate service instance with ZMI access fo

[2018-04-11 12:49] hvelarde commented on #2376
probably is also time to review the default caching rules includes in plone.app.caching.

[2018-04-11 16:08] tomgross commented on #2376
I agree including p.a.caching is useful for almost 100% of real world usecases. Still I have mixed feelings of including it at as a hard dependency.

- If there is no direct import this is a policy thing. Pip and/or zc.buildout are made for this purpose. One might have another (better?) caching solution.
- Unittesting in Plone is more complex than it should be. Adding more dependencies does not ea

[2018-04-11 19:59] jensens commented on #2376
yes, the caching rules need a review.
and yes, from a testing pov it is a good thing to have it separate.
and most people use Plone as dependency i suppose.

but the killer argument against including it: more circular dependencies.
https://github.com/plone/plone.app.caching/blob/master/plone/app/caching/browser/configure.zcml#L8
(those are not declared in setup.py)

[2018-04-11 21:39] gforcada commented on #2368
@pbauer there you go: https://jenkins.plone.org/view/PLIPs/job/plip-py3/1 it is already complaining about Products.statusmessages branch not being found :smile:

[2018-04-11 23:03] mauritsvanrees commented on #2228
So is this when installing an add-on in the add-ons control panel?  Or only when selecting extra add-ons to install while creating a site?
In the last case, I wonder if it would help to add `import transaction; transaction.commit()` after creating the Plone Site and before applying any extra add-on profiles. So right before this line: https://github.com/plone/Products.CMFPlone/blob/5.1.2/Products/

[2018-04-12 06:42] ale-rt commented on #2368
It should be fixed by this PR https://github.com/plone/buildout.coredev/pull/452: the `Products.statusmessages` branch has been merged to master

[2018-04-12 09:43] ida commented on #2228
@mauritsvanrees It only happens when selecting extra add-ons to install when creating a site. It does not happen when installing after site-creation via the add-ons control-panel or the ZMI's portal_quickinstaller.

Tried your suggestion and it does resolve the error in my case.

Frankly, I have no idea what's happening and avoid adapters in general, even more so because there was never a need for

[2018-04-13 11:15] gp54321 commented on #2184
I think that unicode could have a full blown article in your porting code guidelines.

I tried Plone Python 3 and searching for news, one of the first thing I tried, is crashing.
[code]
The Python error message is difficult to understand, path[len(site_path) + 1:] *is* a bytes object, that's the whole problem, if it was a str it would work.

the code:
[code]
Removing  the
          path = path.enc

[2018-04-13 11:50] ale-rt commented on #2184
Try:
[code]

Note the *b*. Prepending a b should work on both Py2 and Py3.

[2018-04-13 16:12] gp54321 commented on #2184
@ale-rt : yes it seems to work on both Plone for Python 3 and Python 5.1.2.
My main point was that it's a specific task that could be documented in guidelines, with the patterns to search, how to fix...It can't be the one place in the code where unicode will be a problem.

[2018-04-13 17:27] idgserpro commented on #2215
Using "blame" it seems to be Python 3 support https://github.com/plone/plone.portlets/blame/2.3/plone/portlets/utils.py#L66. Maybe @davisagli can give us a hint here.

[2018-04-13 23:36] hvelarde commented on #2129
I just tried upgrading a site from Plone 5.0.4 to Plone 5.1.1 and stumble with this error.

[2018-04-13 23:38] hvelarde commented on #2143
it's not fixed as I described in #2129.

[2018-04-13 23:47] hvelarde commented on #2129
seems the errors are logged just before the upgrade.

[2018-04-13 23:47] #2129 closed

[2018-04-16 15:05] idgserpro commented on #2337
The problem here is that if you don't add a migration step, people who were using this "bug as a feature" and are used to this behavior will be confused that it isn't working as intended after upgrading.

Usability is indeed hard.

[2018-04-17 09:06] zopyx commented on #2247
The problem disappeared after upgrading from 4.3.15 to 4.3.17

[2018-04-17 09:06] #2247 closed

[2018-04-17 14:08] tomgross commented on #2343
Looks good in 5.1.2-pending

[2018-04-17 14:08] #2343 closed

[2018-04-17 14:08] tomgross commented on #2341
Everthing merged.

[2018-04-17 14:08] #2341 closed

[2018-04-17 14:12] tomgross commented on #2093
I'm closing this now. The special cases for programmatically setting of languages and profile requirements are documented here for further reference.

[2018-04-17 14:12] #2093 closed

[2018-04-17 14:48] tomgross opened #2384 "Relations lost in folderish working copies"
### What I did:

I'm using Plone with plone.app.iterate and collective.folderishtypes. With folderish standardtypes Plone faces some special challenges.

Plone.app.iterate is "borrowing" code from "z3c.relationfield" to handle relations between the baseline and the working copy.

Z3c.relationfield provides an event subscriber binding to zope.lifecycleevent.IObjectModifiedEvent. This subscriber rem

[2018-04-17 15:07] tomgross commented on #2384
A Test for this is:

[code]

[2018-04-17 17:36] wohnlice commented on #1789
This appears to still be an issue in Plone 5.1. Works fine in Firefox and IE.

[2018-04-18 10:15] pbauer commented on #1663
The same issue appeared on demo.plone.de with Plone 5.1.1. I worked around this with https://github.com/collective/demo.plone.de/commit/a1d41f5fed93b7e3cc09f01aef347d71749f1a60 but it needs a proper fix in the core.

[2018-04-18 10:28] pbauer commented on #1663
In 5.1.2-pending i could not reprocide it any more. Can this be closed? @ebrehault

[2018-04-18 11:04] ebrehault commented on #1663
@pbauer did you try to reproduce the original issue or the one described by @keul ?

[2018-04-18 12:05] pbauer commented on #1663
@ebrehault I had the same issue as @cekk but with tinymce-icons in a clean instance:

When running 5.1.1 in production I got requests to http://localhost:8082/Plone7/++plone++production/++unique++2018-04-18T13:49:25.560803/++plone++static/fonts/tinymce.ttf and http://localhost:8082/Plone7/++plone++production/++unique++2018-04-18T13:49:25.560803/++plone++static/fonts/tinymce.woff which do not exist

[2018-04-18 12:11] ebrehault commented on #1663
I think so, because I haven't seen any recent changes that could have fixed it.

[2018-04-19 07:35] pbauer opened #2385 "buildout script is broken during running buildout in py3"
Before running buildout it is:

[code]

While running buildout it is first deleted and then replaced by the following:

[code]

It seems like a weird mix between the `wsgi.py` config created by `plone.recipe.zope2instance` and a self-updated buildout.

[2018-04-19 07:37] pbauer commented on #2385
@tschorr can you have a look at that since you wrote the wsgi-part in plone.recipe.zope2instance?

[2018-04-19 07:58] pbauer commented on #2374
This is also the reason why https://jenkins.plone.org/view/PLIPs/job/plip-py3/ fails:

[code]

The workaround does not work for me:

[code]
When I install buildout with pip and add the path to the `wsgi.py` script it works.

[2018-04-20 06:59] zopyx opened #2386 "Plone 4.3 -> Plone 5.1: unable to run migration type object 'XXXX' has no attribute '__iro__'"
We have a Plone 4.3.9 site which uses some Archetypes-based content types and some Dexterity types.

Trying to move the site to Plone 5.1 does not work since it is impossible to load the ZMI of the Plone site for accessing the upgrade functionality.

[code]

The problem could not be solved neither with wildcard.fixpersistentutilities  nor moving the Data.fs to a fresh Plone 5.1 site without any ex

[2018-04-20 07:11] pbauer commented on #2386
`ICacheManager` is part of wicked. See https://community.plone.org/t/problem-migrating-from-archetypes-to-dexterity-via-atct-migrator/4866/20 for discussion and solution.

[2018-04-20 07:32] pbauer commented on #2386
See http://lmgtfy.com/?q=IGeoMarkerUtility. `IGeoMarkerUtility` is part of collective.geo.contentlocations. You should clean up the old instance before upgrading. You can look at https://github.com/collective/collective.geo.contentlocations/blob/master/src/collective/geo/contentlocations/upgrades.py for a upgrade-step that removes this utility. But personalIy I ould probably use `plone.app.upgrade

[2018-04-20 12:55] davisagli commented on #2386
This kind of problem with broken interface objects is pretty common when upgrading and it would be nice if we handled it better. I'm not sure if zope.interface should be modified to handle broken interfaces that don't have an `__iro__`, or if the ZODB should be modified to put an empty `__iro__` on broken objects. Either way we should probably still log a warning.

[2018-04-20 13:02] rodfersou opened #2387 "Plone 5 external resources"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

Migrating an addon from Plone 4.3.x to Plone 5.1.x there is an external javascript associated with this addon, that should not be merged, just need to be referenced in the header:

[code]

### What I expect to happen:

In the header should be a script tag pointing to this resource.
[code]

### What actually happened:

This traceback p

[2018-04-20 18:03] hvelarde commented on #2387
you have to give more information: how are you registering the resource in Plone 5.1?

a failing test case should be nice.

[2018-04-22 04:54] fgrcon commented on #2169
I Just crashed into the same issue but **not with a folderish type** : its just a pdf.file

I tried to insert an external link:
https://<server>/dev/ebooks/nginx-1-web-server-implementation-cookbook-ebook.pdf/view (using document viewer) but this is also converted to
https://<server>/ebooks/nginx-1-web-server-implementation-cookbook-ebook.pdf/view ("/dev" is eaten up  tinmce or what ever....)

How

[2018-04-23 07:18] gp54321 commented on #2370
What kind of template error can generate this problem exactly ?

I tried to reproduce it, added a trivial bug to sitemap (*)
[code]
it just generated a nice traceback in the UI, no infinite loop.
(...)
[code]

(*): plone.app.customerize has not been ported *at all* to python3, so I had to change it somewhat:

[code]
it's enough to get it working, but it's sure not an elegant fix.

[2018-04-23 15:25] zopyx opened #2388 "Navigation portlet edit screen showing portlet resource name as navigation root"
See screenshot.

As a user I expect the name/path of the current context object but displaying a resource path here makes no sense.

Plone 5.1.1
![screenshot-test dynaexamples com-2018 04 23-17-23-46](https://user-images.githubusercontent.com/594239/39136369-58a750c2-471b-11e8-904f-8ab555bc9385.png)

[2018-04-23 16:14] zopyx opened #2389 "Navigation portlet issue with nested folders"
See screenshot
![screenshot-test dynaexamples com-2018 04 23-18-10-44](https://user-images.githubusercontent.com/594239/39139340-eed9f080-4721-11e8-91c3-816eaa4e473d.png)

The screenshot shows a navigation portlet with a three level deep folder structure. The items on the third level which belong to "Wave..." can not be distinguished from the following items on the 2nd level.
This is totally confu

[2018-04-23 16:28] zopyx commented on #2389
The expected output is something like this here
<img width="324" alt="screenshot 2018-04-23 18 28 18" src="https://user-images.githubusercontent.com/594239/39140195-26c0e3bc-4724-11e8-9289-cd7ebe94ee2b.png">

[2018-04-23 17:14] pbauer opened #2390 "Deprecate Archetypes"
According to #2368 Archetypes will not be ported to Python 3.
These are the relevant packages:

* Products.Archetypes
* Products.ATContentTypes
* plone.app.blob
* plone.app.collection
* plone.app.imaging
* plone.app.folder
* archetypes.referencebrowserwidget
* archetypes.schemaextender
* archetypes.multilingual
* Archetypes-related parts of Products.contentmigration

We need to:
* [x] deprecate th

[2018-04-23 20:01] hvelarde commented on #2390
IIRC, plone.app.imaging is used in Dexterity-based content types also.

[2018-04-23 21:34] davisagli commented on #2390
@hvelarde plone.app.imaging isn't used for Dexterity types. They use the scaling view in plone.namedfile. The only thing I'm aware of that Dexterity used to depend on in plone.app.imaging was the setting for scale sizes, but that got moved to the registry for Plone 5.

[2018-04-23 21:42] hvelarde commented on #2390
you mean this one? https://github.com/plone/plone.namedfile/blob/master/plone/namedfile/scaling.py#L38

that's completely transparent, right? I still use the same `@@images` helper view?

[2018-04-23 21:45] davisagli commented on #2390
There are 2 different views, both named `images`. The one in plone.app.imaging adapts Archetypes content and the one in plone.namedfile adapts Dexterity content. They aim to implement the same interface; I don't know if there are bugs. ;-)

[2018-04-24 07:06] mamoep opened #2391 "Plone 5.1 file icons referenced with absolute path"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
1. Install Plone 5.1 on RHEL7
`install.sh --target=/test/plone5 --build-python zeo`
2. Create new Plone Site with default settings
3. Add files like pdf, doc, xls
4. Configure Apache 2.4 as reverse proxy
`RewriteRule ^/News($|/.*) http://localhost:9090/VirtualHostBase/https/%{SERVER_NAME}/Plone/VirtualHostRoot/_vh_News$1 [L,P]`

### Wh

[2018-04-25 10:10] mauritsvanrees commented on #1775
Analog to https://github.com/plone/Products.CMFPlone/issues/2390 I would say that `Products.CMFQuickInstallerTool should not be ported to Python 3.

[2018-04-26 09:48] agitator commented on #2150
@thet wouldn't be https://github.com/Eonasdan/bootstrap-datetimepicker the way to go?

[2018-04-26 13:24] tschorr commented on #2374
As another you can copy the definition of `waitress_main` to the `bin/wsgi.py` script, so it looks like this after the `sys.path` definition:

[code]

Like this you get rid of the dependency on zc.recipe.egg which is otherwise unnecessary for all the startup scripts.

I wonder wether we should convince `p.r.zope2instance` to produce the above output or put wsgi.py (and maybe also `instance` script

[2018-04-26 13:27] tschorr commented on #2374
Note also that the instructions in https://github.com/plone/buildout.coredev/blob/5.2/py3.cfg#L34 on how to start Plone are wrong, because the `waitress.ini` command line argument is missing. https://github.com/plone/buildout.coredev/blob/5.2/py3.cfg#L63 though is correct.

[2018-04-27 07:54] tschorr commented on #2385
@pbauer could you try the `fix_wsgi_initialization` branch of `p.r.zope2instance`?

[2018-04-29 11:50] #2385 closed

[2018-04-30 07:46] zopyx opened #2392 "Plone 5.1 migration AT->DX failing: TypeError: Can't pickle objects in acquisition wrappers."
We have some Plone 4.3 (legacy) site with mixed AT and DX content where the AT->DX migration process fails:

[code]

[2018-04-30 09:42] zopyx commented on #2392
The workaround is to disable the versioning policy for all portal types before migration

[2018-05-01 14:29] pbauer commented on #2368
@gforcada thanks for the jenkins-job. The buildout works fine now. But the test itself makes no sense: `./bin/instance run test.py`

The `instance`-script cannot work since it pulls in ZServer and other stuff that does not work in Python 3. Same goes for the `test`-script since AT is a test-dependency for most packages.
Can we have something that starts up Plone like this and stops after 10 second

[2018-05-02 07:52] thet opened #2393 "TinyMCE: link resolveuid on current context instead of portal root."
A typical image in TinyMCE looks like:

[code]

and this is a typical link:

[code]
But resolvuid is a relative link resolving to the portal root.
I don't see the point in that.
It might be slightly wrong when dealing with subsites and accessing the content via a different URL.

I suggest to link to the current context instead. E.g.: ``./resolveuid/54edbfde33574cb0a20bbdd007e4e725``.

I don't know

[2018-05-02 09:03] agitator opened #2394 "Error setting password - Info Welcome! You are now logged in."
Plone 5.1 (coredev and released) with self registration.
User registers, gets password reset mail, sets password - all good.
But on login with newly set password, the error page is displayed but with the status message "Info Welcome! You are now logged in." - which is true.
But where comes the redirect to the error page from?

![screen shot 2018-05-02 at 11 01 53](https://user-images.githubusercon

[2018-05-02 10:42] tomgross opened #2395 "Folder contents tree navigation broken in Plone 5.1.2"
### What I did:

1. Create a Plone 5.1.2-pending Site.
2. Create a nested structure with some folders and pages
3. Navigation within `folder_contents` to a deeper lever.
4. Click `Edit` Button in toolbar.

### What I expect to happen:

Edit navigated page

### What actually happened:

URL points to the folder the navigation started.

### What version of Plone/ Addons I am using:

Plone 5.1.2-pendi

[2018-05-02 10:44] tomgross commented on #2384
Fixed with z3c.relationfield PR.

[2018-05-02 10:44] #2384 closed

[2018-05-02 10:45] tomgross commented on #2395
A JavaScript Error is thrown in folder contents:

![grafik](https://user-images.githubusercontent.com/339384/39519353-b647262a-4e06-11e8-9654-45faa466e194.png)

[2018-05-02 11:52] krissik opened #2396 "Can not build "plone-logged-in" through the web"
### What I did:

I want to build "plone-logged-in" bundle ttw so I clicked "Build" in "Resource Registries"

### What I expect to happen:

That it builds without any error.

### What actually happened:

I see a lot of compilation errors.

[code]

![demo-plone-org-compile-plone-logged-in-error](https://user-images.githubusercontent.com/5301889/39521542-36833542-4e0f-11e8-886f-da05c0e78291.png)

I c

[2018-05-02 13:00] gp54321 commented on #2395
it's because of this [fix](https://github.com/plone/Products.CMFPlone/commit/a3fb0199a187ebde022b059a9605060ca3067e60#diff-c0797358aafd527ae7b3a81b842b51df)  for https://github.com/plone/Products.CMFPlone/issues/2322

Since I am now an old hand at using plone-compile-resources I can confirm that reverting the patch fixes the UI bug and the javascript console error (if it was not obvious enough)

U

[2018-05-02 13:41] hvelarde commented on #2393
I think is better to resolve on portal root because you're going to have only one call to the view no matter where are you trying to resolve the UUID; the chief problem is replacing all those `../` to the portal root instead, also you don't need to recalculate all those links in case you move the content around.

[2018-05-04 15:44] pbauer commented on #2370
Here is such a traceback that I can only see with my patch:

[code]

I'll still habe to figure out how to repoduce that.

[2018-05-05 16:10] gp54321 commented on #2370
I managed to reproduce it by creating a page with invalid content (under debug)
[code]
then editing the page triggers a coredump. That's why I was not seeing this problem, it does not happen with 'normal' exceptions, only with very naughty data.
Fixing the code should be easy now ! :-)

[2018-05-07 13:05] thet opened #2402 "Uploaded images cannot be opened in the edit form"
When I upload an image as part of creating a News Item and then open the @@edit view, the image has a link but cannot be opened:

![image-upload-preview](https://user-images.githubusercontent.com/170891/39703328-0db6aaf2-5208-11e8-9072-147088173858.png)

Trying to open the link produces the error:
[code]

[2018-05-07 17:07] MatthewWilkes commented on #2370
I've sprinted on this bug this morning and submitted a PR to chameleon, referenced above.

[2018-05-07 18:11] gp54321 commented on #2396
IIRC I pointed this problem in the 5.1.1 soft-release process:
https://community.plone.org/t/plone-5-1-1-soft-released/6159/2
it was fixed later and should not appear anymore in 5.1.2 (unfortunately this release is still pending and has its own problems).

[2018-05-07 20:46] gp54321 commented on #2402
I can't reproduce this problem neither with 5.1.0 nor 5.1.2 pending. What's baffling is that in your trace line 69 seems included in _make_namedfile routine while it's not in all Plone version that I have on my disk, be it 5.1.0, 5.1.2, 5.0.8 or even Plone 4.3 or 5.2). Usually _make_namefile ends before line 60. And file widget.py in plone.formwidget.namedfile has about 310-320 lines, so it's uncl

[2018-05-08 07:02] pbauer opened #2403 "Editing the generated frontpage fails in py3"
http://0.0.0.0:6543/Plone/front-page/edit

[code]

It works fine for content generated by hand but in both cases the `value` that is set by `self.el.text = value` is bytes (i.e. `self.context.text.raw_encoded`):

[code]

[2018-05-08 12:44] MatthewWilkes commented on #2403
I fixed this yesterday and it was merged in to plone.app.z3cform. Are you fully updated?

[2018-05-08 13:50] ebrehault commented on #2368
@pbauer the @plone/framework-team has approved this PLIP.

[2018-05-08 19:15] tomgross opened #2404 "Plone 5.2: Remove occurences of ZODB3 in all eggs"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Currently (Plone 5.1 and 5.2) ships with both ZODB 3 AND ZODB 5. Only the newer one is used. Version 3 is pulled in via dependencies in setup.py. Since we always depend on Zope it is probably safe to assume we are using the version (pin) of the applicaton server. The following eggs need changes:

- [ ] ./plone.app.discussion/setup.py:    'ZODB3',
- [