[2018-05-08 19:17] davisagli commented on #2404
Note that the release of ZODB3 that is pulled in is an empty shim that simply requires ZODB, so this is pretty low priority. But sure, it would be nice to clean up.

[2018-05-08 20:43] pbauer commented on #2403
I was not when I tried this on the train this morning. Works now. Thanks for the fix!

[2018-05-08 20:43] #2403 closed

[2018-05-08 21:25] gforcada commented on #2404
Perfect material for GSOC students to warm their skills in providing patches :wink:

[2018-05-09 03:23] natea opened #2405 "UniversalInstaller buildout fails"
### What I did:

Tried to run the UniversalInstaller, and buildout failed when it could find one of the Zope packages.

### What I expect to happen:
Buildout to finish successfully.
### What actually happened:
Buildout failed trying to install a Zope package.
### What version of Plone/ Addons I am using:
5.1.1

The fix is to add this line to the buildout.cfg file:
[code]

Add the line `index=https

[2018-05-10 17:32] wohnlice opened #2406 "Accessibility issues with pickadate module"
We recently had an accessibility 508/WCAG2 review performed on our sites for compliance with HHS contracts and the reviewer made two notes pertaining to the pickadate jquery module used on Date/Time Dexterity fields. In my testing, this applies to both 5.0.5 and 5.1, out of the box.

I am copying his issues verbatim as I have no expertise in this area. If the Plone team believes that the current i

[2018-05-11 08:59] krissik opened #2407 "Missing icons after building plone-logged-in ttw"
### What I did:

I installed Plone 5.1.2 (using minimalplone5 buildout). After creating a new site I can see tinymce icons while editing front-page. Then I build plone-logged-in in resource registry and save resource registry.

### What I expect to happen:

That there are still icons in tinymce and the toolbar.

### What actually happened:

The icons are gone.

![fehlende_icons](https://user-image

[2018-05-11 14:51] tkimnguyen opened #2408 "add link to VPAT statement on accessibility-info page"
The VPAT statement https://www.state.gov/m/irm/impact/126340.htm is part of the accessibility compliance story for Plone (though perhaps US specific).

We now have one at https://plone.com/vpat-accessibility-statement/view (linked to from https://plone.com/accessibility-info). It should be similarly linked to from the default accessibility-info page on all Plone sites.

[2018-05-13 13:47] pbauer commented on #2368
Here comes a quick status-update before the sprint in Halle next week: We've made great progress and most features of Plone work in python 3.

A couple of core-features still need some love (e.g. login in Plone, adding files and images, schema-editor etc.). I'm optimistic that we can make good progress on many of these during the sprint.

We even started testing in jenkins (https://jenkins.plone.o

[2018-05-13 16:15] tkimnguyen commented on #2408
![screen shot 2018-05-13 at 11 15 02 am](https://user-images.githubusercontent.com/815418/39969275-f0ebce16-569e-11e8-9c2a-2892c6976438.jpg)

[2018-05-14 09:10] jensens commented on #2092
I implemented external-login in the old way. external iframe support is untested, but should work. pas.plugins.authomatic integration works, so should others.
More improvements needed, but could be done later.

Also template customization using `z3c.jbot` is now supported.

@agitator and I will do some field-testing of all this in customer projects.

Once found ready it can be released as addon fo

[2018-05-14 09:13] jensens commented on #2092
Ah, and i18n/l10n is missing. But there is a PR already (wip) https://github.com/plone/plone.login/pull/46

[2018-05-14 09:17] #2316 closed

[2018-05-14 12:37] mauritsvanrees commented on #2228
With a `transaction.commit()` before installing add-ons, the above `AttributeError lookupAll` goes away, but the underlying error (in Ida's case a `ComponentLookupError` for a portlet class) is still there. It only isn't drowned out by dozens of the same AttributeErrors in development. And when installing via the add-ons control panel, the underlying error is still there.

So the `transaction.comm

[2018-05-14 16:38] ida commented on #2228
@mauritsvanrees thanks a lot for the investigations. I wonder if would be possible to re-use parts of the working after-site-creation-form within the on-site-creation-form. Theoretically it should. And could be of benefit, in terms of reducing redundancy and less work for maintaining. Practically it might open up one or another can. [Placeholder for thinking-face-emoji]

[2018-05-14 16:56] mauritsvanrees commented on #2228
What do you mean with the 'working after-site-creation-form'? Do you mean the add-on form within the Site Setup?
Basically that is what the advanced site-creation form currently is.

Problem here is that a transaction abort fails, maybe because too much has been aborted already (so that the site manager does not work properly) for this particular abort to work... A fix in `CMFCore/indexing.py` mig

[2018-05-14 17:32] ida commented on #2228
Yes meant that form, wasn't aware it is reused already. Thought each form has it own solution and  therein lies the difference. Agree the fix should be where the cause of the errors lies.
BTW, from my side no urgency in fixing.

[2018-05-14 20:15] mauritsvanrees commented on #2228
Well, they don't share code, so it is not code reuse. But the basic functionality of both is the same: call `portal_setup.runAllImportStepsFromProfile` on a profile. It's just that the advanced site creation form does this for various profiles at once.
The most logical way to make them more the same is to do a `transaction.commit` in between, and Andreas does not like the implications, and he has

[2018-05-15 04:55] ida commented on #2228
Didn't mean that a `transaction.commit` would be recommendable, was just agreeing with you all the that your fix in `CMFCore/indexing.py` is a feasible solution, yet it's always better to fix the root of the cause, however that solution may look. Cheers, Ida

[2018-05-15 09:12] mauritsvanrees commented on #2228
By coincidence I saw another similar bug I reported a couple of weeks ago, in this case during test setup of Products.Poi in Plone 5.1: https://github.com/collective/Products.Poi/issues/44

[2018-05-15 12:33] tkimnguyen opened #2415 "UI toolbar tweak: make the content rule "Rules" toolbar button always visible"
Currently, the Rules button does not appear until a content rule has been created and enabled.

This makes sense in terms of minimalism, but it also makes content rules less visible to inexperienced users and administrators.

In the interest of making this powerful feature more visible and discoverable ("marketing"), the Rules toolbar button should be always visible.

If no content rule exists and

[2018-05-15 12:48] tkimnguyen commented on #2415
![screen shot 2018-05-15 at 7 47 26 am](https://user-images.githubusercontent.com/815418/40057598-53d92372-5814-11e8-8f6c-a9f290c5e70e.jpg)

[2018-05-15 13:23] #2377 closed, assigned to mauritsvanrees

[2018-05-16 10:52] terapyon opened #2419 "Review state should be translatable on folder_contents page"
## BUG REPORT

Review state should be translatable on folder_contents page

<img width="1083" alt="2018-05-16 19 37 18" src="https://user-images.githubusercontent.com/485372/40112538-396f10fe-5941-11e8-9444-c76c892f4d57.png">

### What I expect to happen:

`@@getVocabulary` should return new property `review_state_title` and this property should be used on the page. Because `review_state` property

[2018-05-16 10:55] pbauer opened #2420 "Text in files is not indexed correctly in python 3"
See the failing test `test_file_fulltext_in_searchable_text_index_string`:

Data in file: `b'Lorem ipsum K\xc3\xb6ln '`

Value in SearchableText index: `['file', 'b', 'lorem', 'ipsum', 'k', 'xc3', 'xb6ln']`

-> text is not converted correctly

[2018-05-17 06:18] pbauer opened #2421 "Specified source-checkout not used in py3 buildout"
When running buildout sometimes the released egg of Chameleon is used, not the source-checkout as specified.

This was observed for local buildouts, on jenkins and ay leasty in one case for a custom package (aside from Chameleon). I am not sure but strongly suspect that it only happens in python 3. If it is a issue in mr.developer, zc.buildout or a recipe is still unclear.

It is not possible to p

[2018-05-17 06:52] pbauer opened #2422 "Move GopipIndex from plone.app.folder to Products.CMFPlone"
Needed to remove Archetypes. Subticket for #2390

[2018-05-17 13:10] pbauer commented on #2420
Fixed with https://github.com/plone/plone.app.contenttypes/commit/9c6cef5884cfcac0b4cace9786a6e7289e0e0b77 and https://github.com/plone/Products.PortalTransforms/commit/5e297b66e04cd1771d40e40f30cb81a5aa3509ea

[2018-05-17 13:13] davisagli commented on #2421
Last week I had trouble with it until I started using lowercase `chameleon` as the name of the mr.developer checkout. I'm not sure if that was the real fix or if it's intermittent for some other reason and I just got lucky when I changed the checkout to lowercase.

[2018-05-17 13:14] davisagli commented on #2422
This is low priority. plone.app.folder's dependency on Archetypes is already optional.

[2018-05-17 13:32] ale-rt commented on #2421
Once I had a similar problem with eggs containing a `_` in their name: https://github.com/fschulze/mr.developer/pull/150

Maybe this is something related.

Setting:
[code]
might help to have a consistent result.

[2018-05-17 13:44] pbauer commented on #2421
It used to be lowercase and switched to uppercase in https://github.com/plone/buildout.coredev/commit/f4dabae7fb828e2c55179bb6a1d6af965893dca6 hoping that would fix it. It changed nothing.

[2018-05-17 13:57] ale-rt commented on #2421
I still did not verify it but I guess the problem might be here:

- https://github.com/ale-rt/mr.developer/blob/0cb7515902d1f358d28ef59d553c800532f7c17c/src/mr/developer/extension.py#L206

mr.developer tries to remove from the `[versions]` section `safe_name(name)`.
I think in this case we have `Chameleon` in versions and `safe_name('Chameleon')` is `'chameleon'`.

Will check this tonite.

[2018-05-17 18:43] gp54321 commented on #2406
since the whole widget is meant to be axed and replaced, you may want to take a look at
https://github.com/plone/Products.CMFPlone/issues/2150
If you could build the project in a test setup and look if it fits the norm that is interesting you, I'm sure your input on the eventual missing points could be of more interest there. That's a work in progress, now is the appropriate time to weigh in.

[2018-05-18 10:37] ale-rt commented on #2421
Closed by https://github.com/plone/buildout.coredev/commit/3d4e05b75d886a18c8e674ccfa58e0798952a3f4

[2018-05-18 10:37] #2421 closed

[2018-05-18 14:57] Gagaro opened #2425 "TinyMCE not working after upgrading to 5.1.2 from 5.1rc1"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

I tried lots of things but it seems to be a side effect of something in my modules and I have no clue where to search further. Any help or advice is appreciated.

### What I did:

Upgraded Plone from 5.1rc1 to 5.1.2.

### What I expect to happen:

TinyMCE loads correctly.

### What actually happened:

TinyMCE doesn't load. I have the following error:

[2018-05-18 19:08] Lmpessoa commented on #1122
Although I'm in favour of a more centralised setting option for favicon close to the site logo, I'm a little bit sceptic this would be implemented since I found out I can set up a file at the root of a site with the same name of those expected in the HTML <head/> section and Plone will load those files instead the defaults. It is not much intuitive or easy to be done, but works.

[2018-05-18 19:31] hvelarde commented on #1122
yes, @fulv, they call this "progress" ;)

in fact is a little bit more difficult to get this right; to get an idea check this site we use to validate our projects:

https://realfavicongenerator.net/favicon_checker?protocol=https&site=plone.org

I think we need to work on this at some point because I'm also tired of this madness.

[2018-05-21 16:57] aj-ze commented on #2425
For me it is the same phenomenon after the upgrade from 5.1 to 5.2: TinyMCE is no longer displayed. The users have to edit pure html - if they can.

In addition, the links in the navigation bar no longer work. Instead of the drop-down menus, the options (add item etc.) are displayed as a separate page.

I work with webcouturier.dropdownmenu (that still works well), no other extensions.

Firefox We

[2018-05-22 11:28] mauritsvanrees opened #2426 "plone.app.querystring shows up in activated add-ons"
In Plone 5.1 (and presumably 5.2), `plone.app.querystring` ends up in the list of activated add-ons in the add-ons control panel:

![screen shot 2018-05-22 at 13 18 21](https://user-images.githubusercontent.com/210587/40359325-a287685e-5dc2-11e8-9b54-d83473a771b1.png)

It also shows with the warning that it cannot be installed, but really it should not be in this list at all: you should not be abl

[2018-05-22 14:40] lyralemos commented on #2425
Same problem here...

I realized this problem only happens when I have custom configuration for tinyMCE. In my case was in Other settings in the Advanced tab.

What I had was:
[code]
If I remove this and leave only de curly braces the editor comes back.
The problem also happens if I try to add a custom TinyMCE plugin.

My configuration:
Plone 5.1.2.1 (5112)
CMF 2.2.12
Zope 2.13.27
Python 2.7.14 (d

[2018-05-23 07:02] gforcada opened #2427 "Adapt tests to Zope 4.0b5"
After bumping buildout.coredev branch 5.2 to use Zope 4.0b5 tests are running but there are only two failures here in CMFPlone:
[code]
Which is kind of expected as one of the main changes in beta 5 is to allow unicode ids: https://github.com/zopefoundation/Zope/pull/181

[2018-05-23 09:16] gyst opened #2428 "support reindexObjectSecurity on Solr and other non-ZCatalog backends"
In #1343 collective.indexing was assimilated.
Todo: also assimilate https://github.com/plone/collective.indexing/pull/17

The monkey patches ported there fix `reindexObject` but not `reindexObjectSecurity`.

https://github.com/plone/collective.indexing/pull/17 adds support for `reindexObjectSecurity` to collective.indexing. This fix should be forward-ported here, to properly support non-ZCatalog b

[2018-05-23 18:57] pbauer opened #2429 "Collections preview fails in python 3"
The preview of collections fails since `plone.app.contentlisting` cannot adapt lists to `IContentListingObject` even though `list` is registered like this:

[code]

The method `ContentListing.__getitem__` is actually called in a template and the item in question is a list.

[code]

[2018-05-23 21:30] pbauer commented on #2368
At the sprint in Halle we made very good progress. Plone is running nicely on Python 3 but now we have to fix over 500 failing tests. I wrote a blogpost at https://www.starzel.de/blog/porting-plone-to-python-3 with some more details.

[2018-05-25 17:50] eric-jahn commented on #1290
In 5.1.2 the settings stick in the settings page, but my content still shows UTC times.  I set it to Los Angeles.

[2018-05-28 14:34] pnicolli opened #2430 "plone-logged-in contains tinymce styles"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
Install a fresh Plone 5.1.2 site. Add my own add-on.

In the add-on, add a bundle that contains css.
[code]

The CSS files include these lines, for example:
[code]

### What I expect to happen:
I expected the site font to be set by my styles

### What actually happened:
The body font is set by [a css file](https://github.com/plone/Prod

[2018-05-29 08:00] zopyx opened #2431 "Plone news summary view with CSRF protection issue"
Fresh Plone 5.1.2.1 site with migrated news content causes this error when you click on the "News" tab or "News" in the navigation:

[code]

[2018-05-29 13:38] esteele commented on #2395
@tomgross Can you confirm this was fixed in the final 5.1.2 release?

[2018-05-29 17:10] davisagli commented on #2431
Any improvement with this fix? https://github.com/plone/plone.protect/commit/ec1d1fd58bcc1e668ea8b212e40771dc07b89d3a

[2018-05-30 06:26] zopyx opened #2433 "Breadcrumbs messed up by long titles"
See screenshot (Plone 5.1.2.1)
![screenshot-dev zopyx de-5080-2018 05 30-08-25-59](https://user-images.githubusercontent.com/594239/40702722-30790034-63e3-11e8-9120-48e63179180b.png)

[2018-05-30 11:22] pbauer opened #2434 "Products.MimetypesRegistry need overhault for python 3"
The tests and code to classify data in Products.MimetypesRegistry is hard to port to Python 3.

For example, we are maintaining a huge list of mimetypes in `Products/MimetypesRegistry/mime_types/`. Would it be better to add https://pypi.org/project/filemagic as a dependency and rely on that to be able to correctly identify files and data?

Similarly can we use https://pypi.org/project/chardet/ to

[2018-05-30 13:01] andreesg opened #2435 "Search updated url becomes unreadable"
Plone has amazing human readable urls. A lot of people share search results in emails. This is the only url in Plone that looks very long and unreadable. Also it shouldn't be necessary to have all the empty variables.

**Example:**
* https://plone.org/@@search?sort_on=&sort_order=&SearchableText=Plone&advanced_search=False&pt_toggle=%23&portal_type%3Alist=Document&portal_type%3Alist=File&portal_ty

[2018-05-31 18:03] tomgross commented on #2395
Works OK.

[2018-06-02 06:52] thet opened #2437 "Resource Registry: plone-compile-resources always compies a file name BUNDLENAME-compiled, regardless what's configured in js/csscompilation"
I have a registry.xml like the following:

[code]

When compiling with ``./bin/plone-compile-resources -b collectionfilter-bundle the resulting js file is ``collectionfilter-bundle-compiled.js`` but the file which is configured in ``jscompilation`` - ``collectionfilter-compiled.js`` is used.

plone-compile-resources should rather use the file name configured in jscompilation.

[2018-06-06 11:17] gforcada commented on #2434
Is Products.MimetypesRegistry a hard dependency? :thinking: while waiting for the overhaul, one could *"simply"* create dummy replacements for the methods that are needed (with ``six``) as to not block other work.

[2018-06-07 11:46] petschki commented on #2430
I think this is related to https://github.com/plone/mockup/issues/838 ... maybe you want to watch progress there

[2018-06-07 15:29] thet commented on #949
@malthe checked against your sv_SE comment - in plone.app.locales there is no sv_SE variant - only ``sv``.

[2018-06-07 15:30] #949 closed

[2018-06-08 19:20] mauritsvanrees commented on #2215
Confirmed.
Plone 5.0 is using plone.portlets 2.3.3 and branch 2.2.x. See https://github.com/plone/buildout.coredev/pull/284.
We should do the same should happen on 4.3: it is currently using a newer plone.portlets than 5.0, which is of course silly. I will fix that.

Summary: you can fix this in individual projects by pinning `plone.portlets = 2.2.3`.

[2018-06-08 21:52] #2215 closed

[2018-06-10 09:48] pbauer opened #2438 "Fix all test that break test isolation"
The main task is to migrate all tests away from `plone.app.testing.bbb.PloneTestCase`

Currently only Products.CMFEditions and plone.app.versioningbehavior (which depends on the testlayer of Products.CMFEditions) are throwing these errors.

But there are probably still be some in the packages with import-problems in py3:

[code]

[2018-06-10 09:56] pbauer commented on #2434
Yes, both are hard dependencies. Plone on py3 works even with this in the current state but some features that require guessing amd converting data do not work correctly.  With https://github.com/plone/Products.MimetypesRegistry/pull/15/commits/2991e7431a81ff0c0bdb35984765e2c2d80d1ae6 i moved the tests away from `bbb.PloneTestCase`.

Integrating filemagic and chadet is some more work. Since it mea

[2018-06-10 16:02] tomgross commented on #2434
How about https://github.com/zopefoundation/zope.mimetype? Does it do the same thing? It's in the ZTK, it's ported to Python 3 already, has a good test coverage and probably included already implicitly.

[2018-06-10 18:06] pbauer commented on #2438
I started work on Products.CMFEditions with https://github.com/plone/Products.CMFEditions/pull/58

[2018-06-10 21:16] gforcada commented on #2438
I created https://github.com/plone/Products.CMFPlone/issues/2290 some time ago, if it already outdated, feel free to close it.

[2018-06-10 21:16] gforcada commented on #2438
:sweat_smile: sorry for the accidental close.

[2018-06-10 21:18] gforcada commented on #1817
@pbauer @jensens is this still relevant or should it be closed? I remember reading something about it some weeks/months ago.

[2018-06-11 05:43] pbauer commented on #1817
This is being worked on in https://github.com/plone/Products.CMFPlone/issues/2422

[2018-06-12 00:21] gp54321 commented on #2296
@ale-rt : this fix you were considering in Februar is in Plone (at least in 5.1.2) and the problem is still here.

My guess: this [change](https://github.com/plone/mockup/commit/b470e3505b870896009a40ef9e54ce28e7af4529#diff-599bb9dd7f168ce749d908c88dfa06c1) seems a much more likely culprit.

[2018-06-12 09:43] agitator opened #2439 "Reminder for Password Reset Autologin in 5.2"
After autologin use IRedirectAfterLogin from merged plone.login to determine redirection target.

[2018-06-12 11:46] ale-rt commented on #2296
Thanks for your findings @gp54321!

[2018-06-12 13:38] agitator commented on #2394
fixed with https://github.com/plone/Products.CMFPlone/pull/2441

[2018-06-12 13:38] #2394 closed

[2018-06-12 13:50] rnixx commented on #2434
``Products.MimetypesRegistry`` is ported as is now here https://github.com/plone/Products.MimetypesRegistry/pull/15

[2018-06-12 17:32] #2426 closed

[2018-06-12 21:36] jensens commented on #2092
state: plone.login is ready now. I am mergin the code now into Products.CMFPlone (target 5.2 master).

[2018-06-12 22:50] jensens commented on #2092
to merge together
- [] Products.CMFPlone #2445 (plone login moved here)
- [] plone/plone.app.upgrade#165 (remove skins)
- [] https://github.com/plone/plone.protect/pull/78 (tests)
- ...

[2018-06-12 22:58] gp54321 commented on #2396
I can't help you with TTW rebuilding of system bundles because I have given up on it; however I can point that plone-compile-resources works all right for Plone 5.1.2 for system bundles rebuilding, and, even if it's not as 'user friendly' as TTW should really be preferred for this task, if only because if something goes wrong while rebuilding TTW, it can remove the very possibility to do another r

[2018-06-12 23:04] gp54321 commented on #2407
The Plone system fonts are in plone-compiled.css (that's default.css in production mode). This is definitely broken in TTW rebuilding, plone-fontello is missing completely. You can use plone-compile-resources instead. After that you have to delete the (broken) 'personalizations' created in the 'static' Zodb directory under portal_resources/resource_overrides leaving only the legacy entries, then i

[2018-06-12 23:16] jensens commented on #2092
Note: the po-files (there are already german translations in plone.login) are not moved to plone.app.locales for now.

[2018-06-13 11:17] terapyon commented on #2188
I want to fix it.

[2018-06-14 12:30] mamoep commented on #2391
I tried to follow the code to find out more about this issue. plone.app.contenttypes uses `tal:attributes="src item/MimeTypeIcon">` in the template showing the list. MimeTypeIcon function comes from [plone.app.contentlisting](https://github.com/plone/plone.app.contentlisting/blob/c82cf3059fcf04b707d078e7afeb7ac70e393dfa/plone/app/contentlisting/contentlisting.py#L154). This function uses [getNavig

[2018-06-16 18:26] tomgross opened #2446 "Support relationwidget in subforms"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Currently (with Plone 5.1.2) it is not possible to use the relatedwidget in subforms (like https://github.com/collective/collective.z3cform.datagridfield)

### What I did:

1. Create a z3c.form with a dict or object schema and a subform with a relation (https://github.com/collective/collective.z3cform.datagridfield/blob/master/src/collective/z3cform/d

[2018-06-18 08:10] gforcada opened #2448 "PLIP: keep track of dependencies"
## Responsible Persons

### Proposer: Gil Forcada (@gforcada)

### Seconder: anyone?

## Abstract

Plone is huge: hundreds of packages in constant evolution that depend on each other to share functionality and to not duplicate code.

Plone is old: packages, ideas, concepts, approaches, even people come and go.

With these two ideas in mind, one can imagine that the network of dependencies between

[2018-06-18 08:16] jensens commented on #2448
I love this PLIP (as probably expected). I no one else raises the hand I would also second it. I added myself as participant.

[2018-06-18 08:31] mauritsvanrees commented on #2448
I support this.
I have too many (good) things going on my life now to be able to actively participate.

[2018-06-18 12:03] jensens commented on #2092
released https://pypi.org/project/plone.login/ for 5.1 (and probably 5.0 - untested) as rc1

[2018-06-18 12:36] jensens commented on #2092
**Note:** The external login of the merged plone.login does no longer provide the more or less hacky way to pass ``__ac`` cookie of wrong domain from some second Plone login site to the current site and use it as login credentials. At the Buschenschanksprint we decided its ok to remove this rarely used feature including its tests. If someone needs this, please create an addon supporting this. Bett

[2018-06-18 15:34] jensens commented on #2092
Ops and sorry - for 2 commits on master (plone.app.users/plone.app.portlets) - I just forgot I merged 'em already and branches were gone. But looks good so far.

[2018-06-18 17:25] zopyx opened #2449 "Unable to export a particular configuration registry schema."
The Plone configuration registry only support an export of all configuration records.

In GenericSetup you were to export a particular aspect of the Plone configuration e.g. the mailhost configuration (that configured someone TTW).

The same should be possible with the configuration registry. One must be able to export for example all records for IMailSchema in order to include these particular ma

[2018-06-18 18:32] tisto commented on #2448
+1 from me. Keeping track of our dependency tree is a huge effort though. Any work in the right direction is appreciated. Go go go! I am not sure if this even requires a PLIP and/or approval by the FWT.

[2018-06-18 22:11] gforcada commented on #2448
@ida thanks for showing interest in this PLIP, but that's, by no means, a single man/woman effort :smile: you can start playing with z3c.dependencychecker right now (install it on a virtual environment and point it to repositories) but be aware that there are a few cherries on top about to land, so I would not go all mad working on it right now.

@tisto you are probably right, a PLIP was probably

[2018-06-18 22:36] cdw9 opened #2450 "Can't set capital letters in an ID"
Tested in Plone 5.0 and 5.1

### What I did:

Added a new folder. In the settings tab, I set the Short name to `Test`, with a capital T. After saving, the id is `test`. I click Actions > Rename, and enter `Test` again. Now the folder has the id `test-1`.

### What I expect to happen:

I expect this to keep the capital letters in the ID.

### Reasoning:

I'm guessing this change was on purpose, and

[2018-06-19 06:15] gforcada commented on #2450
*Assuming you are migrating to Dexterity*

Could this actually be turned into a behavior? :thinking:

[2018-06-19 06:17] jensens commented on #2450
Overall, I do not think its a bug. It's a feature doing things different than you expect them. The normalization and name-choosing is always lower-casing. Usually this is good.

The only part I consider a bug is, on second rename a `-1` is chosen. This is probably wrong.

I agree, this could be handled different. While derivation of an ID from from title all is fine. If an ID is explicitly set usi

[2018-06-19 06:35] jensens commented on #2092
All GREEN. I merge it now.

[2018-06-19 06:38] jensens commented on #2449
Ah, I already created a PR here some time ago https://github.com/plone/plone.app.registry/pull/26

[2018-06-19 07:49] jensens opened #2451 "Login form w/o focus [6.0]"
In Plone 5.2.10 and 6.0.2 the first field in the login form has no focus.

Todo: figure out how to give the z3c.form widget a ``autofocus`` attribute.

[2018-06-19 08:30] zopyx commented on #2449
For now I have the gist code running and working. I can not do more at the moment (heading out for a two week trip).

[2018-06-19 08:34] jensens commented on #2449
ok, have fun!

[2018-06-19 08:56] jensens commented on #2439
https://github.com/plone/Products.CMFPlone/pull/2440
https://github.com/plone/plone.app.upgrade/pull/164

[2018-06-19 09:40] tomgross commented on #2395
Unfortunately I was wrong. The compiled scripts

`static/plone-logged-in-compiled.js`
and
`static/plone-logged-in-compiled.min.js`

of the `Products.CMFPlone-5.1.2.1-py2.7.egg` still contain the wrong JavaScript. To make it work the plone-logged-in bundle needs to be recompiled.

[2018-06-19 11:33] ida commented on #2448
@gforcada Was just trying to get notified when this PLIP gets love.

[2018-06-19 12:23] #2449 closed, assigned to nobody

[2018-06-19 12:39] #2092 closed

[2018-06-19 13:27] jensens commented on #2451
@MrTango IIRC you had an idea how to solve this in a different context, what do you think?

[2018-06-19 14:06] MrTango opened #2452 "folder_content JS broken, does not update context"
## Bug

The folder_content view does not update the context in the toolbar and in the breadcrumbs.

I can see the following JS error in the console:

`TypeError: t.$el.parent.replaceWith is not a function`

### What I did:

change folder in forder_content

### What I expect to happen:

the toolbar and breadcrumb reflects the chnages

### What actually happened:

The toolbar and breadcrumb still ha

[2018-06-19 14:07] MrTango commented on #2452
I could reproduce this in two separate installations.

[2018-06-19 14:30] tomgross commented on #2395
There is another issue in this context, which is probably not a blocker but still annoying: The status message is not reloaded on navigation in folder contents.

Steps to reproduce:

1. Activate plone.app.iterate
2. Make a nested structure with some folders and documents
3. Create a working copy on an upper level
4. Go to the baseline of the working copy -> You will see a banner that this item is

[2018-06-19 14:55] tomgross commented on #2452
This is a duplicate of #2395

[2018-06-19 14:55] #2452 closed

[2018-06-19 16:35] MrTango commented on #2395
At least the recompiling TTW does not help :(

[2018-06-21 18:36] tomgross commented on #2450
It is also possible to keep the ids as they are and register a custom case insensitive zope.traversing.interfaces.ITraversable adapter.

[2018-06-24 07:44] jaroel opened #2454 "PLIP: Using Dexterity for Plone Site"
## PLIP (Plone Improvement Proposal)

## Responsible Persons

### Proposer: Roel Bruggink

### Seconder: Alessandro Pisa

## Abstract

Replace the CMFPlone Portal class with a Dexterity implementation.

## Motivation

Moving from a CMF item to a Dexterity container will allow us to edit the site root directly using the DX framework including support for behaviors.

This makes it possible to add th

[2018-06-25 10:57] jensens commented on #2454
How do you plan to migrate the Site Root?

[2018-06-25 15:01] pbauer commented on #2429
Exposedn in ``./bin/test -s plone.portlet.collection -t test_exclude_context``

[2018-06-25 15:33] davisagli commented on #2429
Addressed in https://github.com/plone/plone.app.contentlisting/pull/28

[2018-06-25 16:57] jaroel commented on #2454
I haven't given it too much thought atm.
I copied over an existing Plone 5.1 Data.fs into my development stuff and at least it loaded the state correctly from the ZODB, had the correct mro for the Plone Site root and rendered the site just fine.

Something like this should do using a view/script on the zope root for each Plone site:

[code]

I do need to check what bookkeeping can be dropped.
Note

[2018-06-25 18:11] jaroel commented on #2454
We'll need to add the `Plone Site` FTI and fix the `edit` method alias.

[2018-06-25 20:47] #2429 closed

[2018-06-25 23:13] sunew opened #2455 "Plone 5.2: Problem with ZODB 5.4.0: Intermittent KeyError on releasing resources of a Connection when running tests."
## Plone 5.2: Problem with ZODB 5.4.0: Intermittent KeyError on releasing resources of a Connection when running tests.

One finding from the Beethoven sprint ( @tisto ) is a problem with ZODB 5.4.0 when running tests of Plone 5.2. I spend a day or more tracking this down, while discussing it with @lukasgraf and @jaroel  - the hint to narrowing it down more closely was the different behaviour (fre

[2018-06-26 05:05] jensens commented on #2455
Wow, good catch!

[2018-06-26 07:53] pbauer opened #2456 "port UnicodeSplitter to Python 3"
With https://github.com/plone/Products.CMFPlone/commit/4fc016f102c9bcadd84c8b4ef63850b31182b0e1 the tests for UnicodeSplitter no longer use PloneTestCase. That means they can now be run in python 3 with ``./bin/test -s Products.CMFPlone -t testUnicodeSplitter`` and as expected they fails spectacularly.
Porting `UnicodeSplitter` and related tests to py3 requires more knowledge of japanese that I ha

[2018-06-26 09:11] 1letter opened #2457 "Missing <hr> Tag in the Standard Definition of IFilterSchema"
Plone 5.1.2:
I missing the `<hr/>` Tag. I think it should be availalable as default value. [Here is](https://github.com/plone/Products.CMFPlone/blob/6e16cde95f3acdab80d6135688b5041570824b49/Products/CMFPlone/interfaces/controlpanel.py#L367) the Interafce. I know it could be set via registry.xml, but this tag should be "default".
[code]

[2018-06-26 10:32] terapyon commented on #2456
@pbauer Okay, I will check the code in this week.

[2018-06-26 13:37] ebrehault commented on #2454
@jaroel The FWT is very positive about this PLIP.

It would be useful to get more information about the motivations (what could be the benefits? What kind of behaviors could be usefully used on the Plone Site object) as it would help to communicate about this important improvement.

Note: we will vote on the PLIP during our next meeting.

[2018-06-26 15:51] pbauer opened #2459 "py3 tests aborts on some errors"
In some cases (I could not pinpoint when exactly but it happend a lot of time during the course of the py3 porting effort) the test-run aborts with this traceback.

We're obviously in some cases passing a string instead of a exception. That case needs to be dealt with.

[code]

[2018-06-26 16:52] MrTango commented on #2395
Whats the current status here?
We have a new release of CMFPlone out, but the issue still the same :(

[2018-06-26 17:43] sunew commented on #2454
for one, selectablecontrainstypes behavior would be super useful:)

[2018-06-26 23:10] gp54321 commented on #2395
@MrTango : I don't get it. It was my impression that the fix was already committed in [this change](https://github.com/plone/Products.CMFPlone/commit/ce44eca1f35bbebca5f693ad5e120b6e134ab7df#diff-c0797358aafd527ae7b3a81b842b51df)  and indeed if I recompile bundle as it is as shipped with 5.1.2 it is correct; however your patch seems to apply the change again.
Also it does lot of other changes that

[2018-06-27 05:30] tisto commented on #2177
@plone/framework-team thanks to @davisagli and @sunew we are very close to a green build. Just one test isolation issue is left. Can we merge the PLIP right away on a green build? I see the risk that we have to spend way more work on this if we don't merge it as soon as it is green since the Plone 5.2 branch is under heavy development right now. :)

[2018-06-27 08:22] gforcada commented on #2448
@idgserpro I guess so, with the just released p.r.codeanalysis 3.0.0 there is z3c.dependencychecker as an available option

[2018-06-27 12:19] frapell commented on #2177
Huge +1 from me

[2018-06-27 13:06] jensens commented on #2177
Yes, it is approved and reviewed. Merge it after green build.

[2018-06-27 13:29] davisagli commented on #2459
Fixed in https://github.com/zopefoundation/zope.testrunner/tree/fix-tb-format

[2018-06-27 13:40] tisto commented on #2177
Thanks for the swift reply! We are very close. Just one flickering robot test prevents the merge. :)

[2018-06-27 14:32] sunew commented on #2177
The flickering test is apparently more or less normal:
`Products.CMFPlone/Products/CMFPlone/tests/robot/test_querystring.robot`

    [Tags]  unstable
    [Documentation]  This sometimes fails with: Element locator 'jquery=:focus' did not match any elements.
    ...              This sometimes fails with: Element locator 'jquery=.pattern-relateditems-tree-select' did not match any elements.

[2018-06-27 14:33] sunew commented on #2177
as seen in this build: https://jenkins.plone.org/job/pull-request-5.2/909/consoleFull

[2018-06-27 14:36] ebrehault commented on #2177
@tisto @sunew @gforcada in such cases, re-playing failing tests and merging the results is a pretty good strategy, see http://laurent.bristiel.com/re-executing-failed-test-cases-and-merging-outputs-with-robot-framework/

[2018-06-27 16:35] tisto commented on #2177
Merged: https://github.com/plone/buildout.coredev/pull/494

[2018-06-27 18:47] tisto commented on #2177
Plone 5.2 build is green: https://jenkins.plone.org/job/plone-5.2-python-2.7/1254/

[2018-06-28 22:03] sunew commented on #2455
It can be reproduced outside of a testing environment, it is related to zope 4 shutdown. More on this here https://github.com/zopefoundation/ZODB/issues/208

[2018-06-29 09:01] tisto commented on #2177
@gforcada it seems plone.rest and plone.restapi do not have the post-push hooks on Jenkins to trigger a 5.2 coredev build on changes. Could you please run our script to update that?

[2018-06-29 13:43] gforcada commented on #2177
@tisto sure

[2018-06-29 14:13] gforcada commented on #2177
@tisto ... and done! :tada: let me know if it does not work

[2018-06-29 15:57] sunew commented on #2455
Latest Plone 5.2 build failed (again) because of this problem.
One possible temporary solution is to downgrade to ZODB 5.3.0 (but it might not work with the py3 builds ? )

[2018-06-29 17:57] tisto commented on #2177
Thank you Gil!

[2018-07-02 11:49] petschki commented on #2329
this is odd ... just wondered why my mosaic html tiles do not want to align the text ... it's exactly the same problem there. Tiny's base formatting functions should not be filtered out by default ... @agitator @MrTango

[2018-07-02 12:20] tmassman commented on #2319
The problem was the missing colons in `variables.plone.less`, which was fixed in https://github.com/plone/plonetheme.barceloneta/commit/28d164738a21113d15eed7bb2b8ddb4a54a2862f. This commit is included in `plonetheme.barceloneta` 1.8.1 which was released on 2018-04-08.

[2018-07-02 12:20] #2319 closed

[2018-07-02 13:43] jensens commented on #2344
@tmassman I would either rename the title of this issue or close this issue and open a new issue.

[2018-07-02 13:44] tmassman commented on #2344
Ok, so after playing around with mockup I got it working again. The problem seems to be the wrong version used for ACE. There is the `src` and the `src-noconflict`. The `src-noconflict` is working in `buildout.cordev`. But I'm not sure how to proceed in the correct way to get it into the `thememapper` bundle. Maybe someone with more RR experience can help here.

[2018-07-02 13:45] tmassman commented on #2344
@thet can you guide me on how to best do this?

[2018-07-02 15:46] robgietema commented on #2454
This makes it possible to add the rich text behavior to the site root. This way we don’t need to use extra documents to select as default views. This is the last step we need to be able to go with a full folderish objects site and get rid of the “select item as default view” which is a huge usability improvement. I can second this proposal.

[2018-07-02 16:50] tmunati commented on #2176
Still problem is there http://demo.plone.de/en/@@personal-preferences
![plone](https://user-images.githubusercontent.com/11505097/42176305-2e7473b4-7e31-11e8-8bd5-5ca151b22f15.png)

[2018-07-02 21:07] tkimnguyen commented on #2176
@tmunati it would be more helpful to say which specific problem you mean

[2018-07-02 21:21] tmunati commented on #2176
the left menu is not working at all - can not navigate just try to change
the language to עברית

עופר ויסגלס

מנכ"ל

תמונתי מערכות מידע

טל: 054-5619592

tmunati.israel@gmail.com
www.tmunati-it.info             www.b2bmaster.info

*גינתי-כל אחד יכול להיות גנן*

http://ginati.wix.com/gardentools

http://tmunatiisrael.wix.com/whitelabel

https://twitter.com/TmunatiIsrael

פיתוח מערכות ניהול תוכן ואת

[2018-07-02 21:50] hvelarde commented on #2176
@tmunati Plone support for Arabic and Hebrew has been broken for some time because we lack developers with knowledge/background; feel free to contribute!

[2018-07-02 21:56] tmunati commented on #2176
I am not good programmer if i could i would fix if there is a programmer
who can work with me i would be more than happy to do so.

עופר ויסגלס

מנכ"ל

תמונתי מערכות מידע

טל: 054-5619592

tmunati.israel@gmail.com
www.tmunati-it.info             www.b2bmaster.info

*גינתי-כל אחד יכול להיות גנן*

http://ginati.wix.com/gardentools

http://tmunatiisrael.wix.com/whitelabel

https://twitter.com/Tmunati

[2018-07-03 07:45] jensens commented on #2176
Ok, as I understand you select a language in personal-preferences that is not supported by the global site settings, ``עברית``.

Therefore the change has no effect and the sites is still ``English``.

If I choose ``Deutsch`` (German) which is supported in ``demo.plone.org``, the change has also no immediate effect.

But after the change, if I go to to the root of demo.plone.org, I am redirected to

[2018-07-03 09:05] tomgross opened #2463 "Revert revision breaks in Plone 5.1.2"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

* Activate plone.app.iterate on Plone site
* Create a page
* Edit a page
* Got to <PAGE URL>/@@historyview and try to revert to any earlier version

### What I expect to happen:

* Reverting works

### What actually happened:

* An `Unauthorized` error is raised.

[code]

### What version of Plone/ Addons I am using:

* Plone 5.1.2
*

[2018-07-03 09:07] tomgross commented on #2463
The problem was introduced here: https://github.com/plone/Products.CMFEditions/commit/a8c0b41c5ca6fcc0e7d76d0b5a5cf4b9512627fb#diff-248dc9cf5dc608a5c25bf6363bd06585R13

[2018-07-03 09:10] tomgross commented on #2463
A workaround is to customize the `revertversion` script in portal_skins and copy the old version in:

https://github.com/plone/Products.CMFEditions/blob/f02745c856d51b2e63dbc720cadee93a42cb5fe3/Products/CMFEditions/skins/CMFEditions/revertversion.py

[2018-07-03 09:11] tomgross commented on #2463
A good solution for 5.2 would to migrate the skins to Browserviews.
Didn't we want to get rid of portal_skins for Plone 5.0 already 😉

[2018-07-03 12:57] hvelarde commented on #2463
IMO, removal of portal_skins is a breaking change that must be done only in 6.0

[2018-07-03 13:10] tomgross commented on #2463
I agree, but shipping with an empty portal_skins was an agreement long ago.

[2018-07-03 20:34] volkerjaenisch opened #2464 "Catalog sort_on on multiple columns is broken"
ZCatalog can handle multiple sort_indexes.

Products.ZCatalog.Catalog.py [1014]
accepts a list of search indexes:
[code]
But commit 0909383eb2bbc8d31794a7dbf4392eec6236be22 breaks this

CatalogTool.py [461]
[code]
This assumes that sort_on is a index_name and fails if it is a list of index names.

Also the QueryBuilder has the same flaw:
plone.app.querystring.queryparser [53]
[code]
The later can

[2018-07-03 21:35] volkerjaenisch commented on #2464
Here a simple fix for the impatient

[code]

[2018-07-04 08:22] terapyon commented on #2456
@pbauer

I try to make a new env for Py3 in Ubuntu. But I got error. Please let me know to fix the error.

[code]

[2018-07-04 08:28] ale-rt commented on #2456
z3c.objpath should not be needed anymore since https://github.com/plone/buildout.coredev/commit/855c6d412e7e4add0f67cbd1fd0d991d21ba003b#diff-f31379029ed90855a5d01e9641483909
Be sure you have the latest buildout.coredev checkout.
If it is still not working add this line to the `[sources]` section
[code]

[2018-07-04 08:40] terapyon commented on #2456
@ale-rt Thank you! I got the new code, I'm trying setup for Py3.

[2018-07-04 08:51] Netroxen opened #2465 "Editing images after inserted in TinyMCE breaks content"
### Scenarios

#### Scenario 1

1. Open image dialog in TinyMCE editor
  * Default ( Large 768x768 )
2. Go to "Upload" tab
  * Select an image from the local disk
  * Click "Insert" or "Upload" and then "Insert"
3. Navigate to the image and "Settings" tab
  * Select "Exclude from navigation"
4. Navigate back to parent item ( Content-Type the image was inserted on )
  * The image is no longer shown

[2018-07-04 09:44] terapyon commented on #2456
I've just run the test. I got `Total: 24 tests, 9 failures, 5 errors and 0 skipped in 10.285 seconds.` .
I will go to local developer event (4days camp) next week. I will try to fix this issue with my friends.

[2018-07-04 12:43] tmunati commented on #2176
who can fix this?

עופר ויסגלס

מנכ"ל

תמונתי מערכות מידע

טל: 054-5619592

tmunati.israel@gmail.com
www.tmunati-it.info             www.b2bmaster.info

*גינתי-כל אחד יכול להיות גנן*

http://ginati.wix.com/gardentools

http://tmunatiisrael.wix.com/whitelabel

https://twitter.com/TmunatiIsrael

פיתוח מערכות ניהול תוכן ואתרי אינטרנט

 E-shops ושיווק רישתי

On Tue, Jul 3, 2018 at 10:45 AM, Jens W. Kl

[2018-07-04 12:52] tkimnguyen commented on #2176
Unless you know any Python or Plone developers in your area willing to help you, you can post in the forum https://community.plone.org and ask for help with this. If you have some funds, you can also post in the forum's Jobs category to ask for paid help.

[2018-07-09 06:10] petschki commented on #2465
NOTE: this happens every time you edit the image. This is likely due to scale recreation on ObjectEdited event but somehow portal_transform doesn't get the updated scales for the image object?

/cc @davisagli maybe you've got some idea where to fix this?

[2018-07-09 07:51] iham opened #2466 "Leadimage needs fix"
after fixing the leadimage behavior [see issue](https://github.com/plone/plone.app.contenttypes/pull/480)

i need to update [this line](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/syndication/adapters.py#L296)

[2018-07-09 11:17] tomgross commented on #2446
Plone part is OK. A reference implementation is here: https://github.com/collective/collective.z3cform.datagridfield/pull/71

This needs to be revised with newer z3c.form since subwidget suport is gone.

[2018-07-09 11:17] #2446 closed

[2018-07-09 12:05] MrTango commented on #1906
This is still the case in current 5.1.3 release.

![plone-nested-folders-indention-bug](https://user-images.githubusercontent.com/1113628/42449429-f5d41ab4-8380-11e8-83a8-0b98a8121665.png)

[2018-07-09 12:08] #2466 closed

[2018-07-10 08:20] tomgross opened #2468 "Creating content with non ASCII characters in title fails"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

Call `api.content.create(container=self.portal, type='Folder', title='äöü')` in a unittest or elsewhere.

### What I expect to happen:

A content item is created.

### What actually happened:

An exception is raised:

[code]

### What version of Plone/ Addons I am using:

Plone `5.1.3-pending` (with plone.app.content `3.5.3` and plone

[2018-07-10 13:14] ebrehault commented on #2454
@jaroel, the @plone/framework-team approved this PLIP

[2018-07-10 13:16] ebrehault commented on #2448
The @plone/framework-team approved this PLIP

[2018-07-10 13:59] jaroel commented on #2454
@ebrehault that's great news, thanks!

[2018-07-10 15:22] Gagaro commented on #2425
I think it has something to do with tinymce loading external files such as plugins or language files. It works with no plugins and default language.

It looks like tinymce is trying to do something while it is not yet initialized.

[2018-07-10 15:24] jensens opened #2469 "Subobjects are indexing attributes of parent"
### What I did:

- Created a custom container type with an behavior attribute ``bpm``.
- Items inside this container do not have this behavior and attribute.
- ``bpm`` is registered as catalog index.

### What I expect to happen:

Looking at portal_catalog -> indexes -> bpm -> browse, values should show up results for the container, but not the contained items.

### What actually happened:

Lookin

[2018-07-11 10:00] #2469 closed

[2018-07-11 14:40] thet commented on #1918
/cc @lukasgraf referring to our discussion in bern.

partly related to:
https://github.com/4teamwork/opengever.core/issues/1778
https://github.com/4teamwork/opengever.core/pull/2118

[2018-07-11 14:48] thet opened #2473 "DRAFT: PLIP: Disallow implicit Acquisiton of properties"
Note: This is a rough PLIP draft

Acquisition is a powerful but very confusing concept. It can be very handy, especially when dealing with object permissions. But acquiring each and every property on attribute access is not only expensive but highly confusing and not expected by generic Python developers at all.

This PLIP proposes to change implicit acquisition to explicit acquisition wherever it

[2018-07-11 14:52] #2473 closed

[2018-07-11 14:56] thet commented on #2473
Moved to: https://community.plone.org/t/plip-proposal-disallow-implicit-acquisiton-of-properties/6841

[2018-07-11 15:00] tkimnguyen commented on #2454
How does this work? "This is the last step we need to be able to go with a full folderish objects site and get rid of the 'select item as default view'" In CastleCMS we got rid of default items by using Mosaic and including a rich text tile on the Folder content type default layout

[2018-07-12 09:49] datakurre commented on #1918
But isn’t that correct behavior? AFAIK default value is a feature for add forms. We mixed things by making it implicit value for attributes.
On 12 Jul 2018, 12.28 +0300, Lukas Graf <notifications@github.com>, wrote:

[2018-07-12 12:17] petschki commented on #2395
fixed and merged in #2471 ... hopefully released in 5.1.3(.1) ?

[2018-07-12 12:18] petschki commented on #1906
anybody willing to review my fix here https://github.com/plone/plonetheme.barceloneta/pull/156 ?

[2018-07-12 12:48] lukasgraf commented on #1918
Maybe. But at the very least, it's currently not constistent with what `DexterityContent.__getattr__` does. In my opinion falling back (on `__getattr__`) to `missing_value` (but not default values) can be viewed as the correct behavior. I was just pointing it out as something to consider, so that, which ever way it might be changed with this PLIP, we end up with *consistent* behavior across storag

[2018-07-12 15:54] jensens commented on #1918
cc @davisagli IIRC you also heavily worked into this topic of default values, may you comment on the above?

[2018-07-12 16:06] datakurre commented on #1918
David has fixed the issue related to default values preventing z3c.form to save equal value a long time ago.

We’ve been running Plone 5 without this implicit default value lookup for 1,5 years for now. We do have the issue that when we enable new behaviors in fly, we see errors, be because code for those (core) behaviors expect the new attributes to be there.
On 12 Jul 2018, 18.55 +0300, Jens W.

[2018-07-12 20:08] lukasgraf commented on #1918
Don't get me wrong, I don't oppose you proposal - quite the contrary actually ;). I just wasn't aware of *that* particular fix by David (plone/plone.dexterity#67), which indeed takes care of the z3c.form related issue.

Increase in DB size isn't much of a worry to me personally. A more noticeable consequence for us is that without the implicit default value lookup, introducing a new field with a d

[2018-07-13 05:33] datakurre commented on #1918
Yes. This has significant risks. This is why we should still keep thinking how to overcome the risks: https://community.plone.org/t/why-is-plone-4-3-faster-than-plone-5-1/3808/8

[2018-07-13 12:05] petschki commented on #2229
For me this is not a PLIP this is a BUG in portal_transforms along several other bugs regarding TinyMCE functionality (ever wanted to make a centered text in Plone 5.1? meep! #2329)

Why don't we let editors mess around when they want to? I think it should not be the integrators work to "enable" mandatory editor functionality (YARE - yet another registry entry) ... he should rather be able to easi

[2018-07-13 15:05] pbauer opened #2474 "Port plone.rest and plone.restapi to Python 3"
In https://github.com/plone/plone.rest/pull/75 and https://github.com/plone/plone.restapi/pull/542 I started to work in this.

First the dependency on Archetypes should be removed (that could probably be done much cleaner  that how I did it) and then the failures on py3 should be fixed.

[2018-07-14 05:15] pbauer commented on #2368
Status report
=============

Here is report of the current state of Plone on Python 3. It covers what was done in the last couple of weeks since the Buschenschank Sprint (https://community.plone.org/t/this-was-the-buschenschanksprint-2018/6711) and lists some things that still need to be done.

&tldr;~Things are looking good but we still need to do a lot of work to migrate some remaining packages,

[2018-07-15 05:59] gforcada opened #2475 "PLIP: drop Python 2.6 support for Plone 4.3.x series"
## PLIP (Plone Improvement Proposal)

## Responsible Persons

### Proposer: Gil Forcada (@gforcada)

### Seconder: Philip Bauer (@pbauer)

## Abstract
Plone 4.3 was released around April 2013, 6 months later there Python 2.6 reached its end of life.

As that release was dually supported by the release team, it was decided at that time, that we would only drop Python 2.6 support on a new major rele

[2018-07-15 10:54] lukasgraf commented on #2474
No worries. Who would have thought that a message service limited to 140 characters could ever lead to misunderstandings 😉 And while I can't fully commit myself to this, I'll of course still try to help where and when I can.

[2018-07-16 14:17] krissik opened #2476 "folder_contents: rename page with quotation marks"
### What I did:

I try to rename a page that has quotations marks in its title. I am using rename function in folder_contents.

### What I expect to happen:

I expect full title in rename dialog.

### What actually happened:

Just the part before the quotation mark is shown.

![rename-bug](https://user-images.githubusercontent.com/5301889/42763488-7bd77ec0-8913-11e8-9cd1-b8cfaed22bab.jpg)

### Wha

[2018-07-16 21:29] gforcada commented on #2448
This PLIP is **ready for review**:
- documentation: http://jenkinsploneorg.readthedocs.io/en/latest/qa-dependencies.html
- ``buildout.coredev`` (branch ``5.2``) has been updated to the latest version of ``z3c.dependencychecker`` (after running buildout use ``bin/dependencychecker`` script)
- global jenkins job: https://jenkins.plone.org/view/QA/job/qa-undeclared-dependencies/
  - with some graphs

[2018-07-17 09:45] nzambello commented on #2333
I'm currently trying to resolve this issue.
@pbauer Any update in the meanwhile?

[2018-07-19 08:03] #1906 closed

[2018-07-28 14:44] agitator opened #2478 "TypeError: Struct() argument 1 must be string, not unicode on Statusmessage"
On http://dist.plone.org/release/5.1.3-pending/ while saving a standard document.
[code]

Not sure what combination produces this error but it seems the fixes from https://github.com/plone/Products.statusmessages/commit/efb21fa5db0a76c25a12544e9a27fbe802150841 are being nullified by some of the latest py3 compatibility fixes...

I think the 'b' should be back in https://github.com/plone/Products.s

[2018-07-30 15:15] jensens commented on #2478
yes, looks like this should be  a bytes. OTHO the Plone 3 docs claim this to be a string: https://docs.python.org/3.6/library/struct.html#struct.pack

[2018-07-30 18:57] #2478 closed

[2018-07-31 05:40] zopyx opened #2480 "CSS issue/usability in "actions" control panel"
![screenshot-localhost-10081-2018 07 31-07-34-30](https://user-images.githubusercontent.com/594239/43439672-7f2611c2-9494-11e8-9b7c-7f1a517aa285.png)

The width of the "Hide" and "Show" button are different but they should have the same width (looks ugly and unprofessional.

This control panel also has usability flaw because you can not detect easily which actions are visible or invisible. The exi

[2018-07-31 10:38] llisa123 opened #2481 "Summary vs Description: naming not consistent"
![bildschirmfoto von 2018-07-31 12-36-19](https://user-images.githubusercontent.com/41467993/43454808-6608941a-94be-11e8-8a0e-512e18e58c45.png)
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

usually the word Summary is used but here it's called Description

[2018-07-31 11:11] zopyx opened #2482 "Default TinyMCE /HTML filtering settings incompatible with HTML list classes"
Plone 5.1 does not define any of the CSS classes used for lists in TinyMCE as allowed CSS classes in HTML filtering. They are stripped already client side.

See

https://community.plone.org/t/ordered-list-in-other-formats-beside-numbers-are-not-showing-up-properly/6953/6?u=zopyx

[2018-07-31 11:14] petschki commented on #2465
fixed by https://github.com/plone/plone.app.textfield/pull/30

[2018-07-31 11:14] #2465 closed

[2018-08-01 07:07] zopyx opened #2485 "Configuration registry search should (optionally) the related schema"
It is a common usecase that you want to search for particular registry key like "sitemap" in order to export parts of the registry by schema. Therefore you need to know which registry schema contains the related key. The name of the schema `ISomeThing` should be displayed either as column or within on of the existing columns.

[2018-08-01 07:09] zopyx commented on #2485
Something like
![screenshot-www dynaexamples com-2018 08 01-09-08-08](https://user-images.githubusercontent.com/594239/43506507-8d5adf12-956a-11e8-8d1b-7b9a0e8b0119.png)

[2018-08-01 10:35] RKomen2609 opened #2486 "Cutting and pasting Content in same folder"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
I cut content and pasted it in the same folder, by using "Contents" on the Toolbar

### What I expect to happen:
Content is pasted in the folder.

### What actually happened:
Content was removed from Navigation and in the Content View, but still accesable through the URL or prev. / next Navigation

### What version of Plone/ Addons I a

[2018-08-01 10:43] RKomen2609 opened #2487 "TinyMCE Text Aligntment and Table Settings"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
Aligned Text through TinyMCE to the left, center and right.
Added Tables and changed sizes and colors.

### What I expect to happen:
Text should be aligned properly.
Tables should keep size and color settings.

### What actually happened:
Text aligned always to the left.
Tables reset to default settings.

### What version of Plone/ Add

[2018-08-01 10:54] RKomen2609 opened #2488 "Clicking Links in Navigation as Admin"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
As Admin added a Link to a folder. Through the Navigation i clicked on the Link.

### What I expect to happen:
Not to get redirected to the Link, but to the window where you can see the URL from the Link

### What actually happened:
Get redirected immediately to the Link.
Using the "prev. / next Navigation" works properly.

### What ve

[2018-08-01 11:30] #2488 closed

[2018-08-01 11:30] #2487 closed

[2018-08-01 11:31] #2486 closed

[2018-08-01 18:03] ashutoshsenger commented on #2480
hey, my self ashutosh  senger and i want to fix this bug.

[2018-08-01 18:17] ashutoshsenger commented on #2310
Hey, my self ashutosh senger and i want to fix this bug.Pls instruct me about t he resources to find the corresponding issue's code

[2018-08-02 14:07] nzambello commented on #2333
@pbauer Is this solved? Could we close this?

[2018-08-03 11:24] pigeonflight commented on #2349
Can you say which version of Plone?

[2018-08-03 14:25] petschki commented on #2349
Mayer related to lately fixed mobile Toolbar? #2333

[2018-08-03 16:45] mauritsvanrees commented on #1985
I never noticed this behavior until now. Confirmed still there in Plone 5.1.2. :-(

[2018-08-06 06:04] zopyx commented on #2228
@hvelarde why did you removed the "high" flag? This issue is a major and blocker and it must be resolved before the next release (5.1.3).

[2018-08-06 08:33] pgrunewald commented on #1989
In the changelog of Plone 4.3.15 says, that this ticket has been fixed. But apparently it's not the case when looking at the status of this ticket. Any reasons why it is that?

[2018-08-06 09:37] mauritsvanrees commented on #2228
This bug now has labels '11 prio: blocker' and '12 prio: high'. I think that is why Hector removed one of them: there is no sense in having two priority labels.
It looks like you two agree that this is a blocker. :-)

Now if someone would have a good idea on what the real underlying problem is, that would be very helpful.

[2018-08-06 09:40] zopyx commented on #2228
My workaround for this issue (in context of using plone.restapi for migration and my own browser view for provisioning a Plone site) is to create plain Plone website using `addPloneSite()` first and then installing all dependencies after that using `portal_quickinstaller.installProducts([products])`.

[2018-08-06 09:40] jensens commented on #2228
Indeed, "blocker" is more than "high". For an explanation of the labels please read https://docs.google.com/spreadsheets/d/1IQ73bSQ10b0pwoUFn0u8SE4epDdvwjhTiYTDyPAhx7A/edit#gid=0

[2018-08-06 09:41] zopyx commented on #2228
blocker or high...I would love that the release management considers a blocker as a blocker instead of ignoring them

[2018-08-06 09:43] jensens commented on #2228
@zopyx I think dropping the feature of installing a site together with a set of addons is not an option in an bugfix release.

I also digged a bit in code but did no came to the cause or a solution.

[2018-08-06 09:48] jensens commented on #2333
I lost a bit track here. Is it solved? Is (and if, how) #2349 related or something different?

[2018-08-06 10:20] mauritsvanrees commented on #1989
Forgot to close it I guess.
Let me check to be sure.
Core problem fixed in plone.app.caching 1.1.12 (Plone 4.3.15 and higher) 1.2.17 (Plone 5.0.8 and higher, Plone 5.1).
Upgrade step for fixing existing installations done in plone.app.upgrade 1.4.2 (Plone 4.3.15 and higher) and 2.0.3 (Plone 5.0.8 and higher, Plone 5.1).
So yes, it is fixed in Plone 4.3.15.
I will close the issue now.

[2018-08-06 10:20] #1989 closed

[2018-08-06 12:41] zopyx commented on #2228
I am pretty sure that this issue is related to Plone 5.1 since I have never seen this in similar complex Plone projects on Plone 5.0 and I had the very same issue when I added Plone 5.1 tests and Travis CI coverage for XML-Director from 5.0 -> 5.1.

[2018-08-06 13:09] l34marr opened #2490 "Overlay with Toolbar from Top and NavBar"
### What I did:

Site Setup -> Site Settings -> Toolbar Position -> on the Top

### What I expect to happen:

Add new... Dropdown Menu should overlay on top of NavBar

### What actually happened:

![toolbar-top](https://user-images.githubusercontent.com/56113/43717949-b781b0cc-99bb-11e8-9816-192b3c2b8aab.png)

### What version of Plone I am using:

Plone 5.1.1

For the record: with Browser Inspect

[2018-08-06 13:38] zopyx opened #2491 "Improper action URL in actions control panel not reported"
Plone 5.1.2:

If you enter an improper path expression like in the screenshot (`string:` missing) then you are unable to save the form because of the validation error however now error message is show for the error.

![screenshot-dynasupport zopyx com-2018 08 06-15-36-54](https://user-images.githubusercontent.com/594239/43719687-a92a209a-998e-11e8-8e4d-5234f586e0b2.png)

[2018-08-07 10:06] zopyx opened #2492 "Folder contents view without "Show all" options"
All former Plone versions supported an unbatched "Show all" of the folder listing. This feature has gone in Plone 5 while it is often needed and frequently used.

[2018-08-07 13:13] tisto commented on #2454
@jaroel would you mind giving us an update on the current status? What is missing before we can review your code? Do you plan to integrate this in Plone 5.2 or later?

[2018-08-07 13:15] tisto commented on #2475
@gforcada the framework team approved this PLIP.

@esteele would you mind announcing that we drop Python 2.6 for the next 4.3 / 5.1 releases?

[2018-08-07 13:17] pbauer commented on #2368
There is now a demo-site for this PLIP: http://demo-latest-py3.plone.de/de

[2018-08-07 13:30] pbauer commented on #2454
@tkimnguyen see https://github.com/plone/plone-react/blob/master/api/buildout.cfg#L24

[2018-08-07 17:40] jensens commented on #1813
done with plone.login merge

[2018-08-07 17:40] #1813 closed

[2018-08-07 17:42] jensens commented on #449
@pbauer did we solve this already in python 3?

[2018-08-07 17:53] jensens opened #2493 "Plone 5.2 tests on Jenkins are hanging sometimes"
With Plone 5.2 sometimes we got the following error in Jenkins. Test hangs until some timeout drops in. This does not happen every time.

Any idea whats going on here?

cc @plone/testing-team

[code]

This is from here: https://jenkins.plone.org/job/pull-request-5.2/1003/console

[2018-08-08 01:28] hvelarde opened #2494 "Implementation of new security headers"
I want to implement the new `X-Content-Type-Options` and `X-XSS-Protection` security headers for Plone 5.x but I don't know where I should add them.

In Plone 4.3 I did so in the main template (https://github.com/plone/Products.CMFPlone/pull/2479), but this doesn't seem right to me for Plone 5.x as similar headers seem to be implemented in 2 different places: plone.app.layout and/or plone.protect:

[2018-08-08 03:27] davisagli commented on #2493
See https://github.com/zopefoundation/ZODB/issues/208 and https://github.com/plone/plone.restapi/issues/558

[2018-08-08 17:43] zopyx commented on #2311
<img width="1411" alt="screenshot 2018-08-08 19 42 01" src="https://user-images.githubusercontent.com/594239/43854476-46c28ff8-9b43-11e8-9560-aabb2a1ad20a.png">

The markup of the `div` used for the action icons is in particular smelly. It uses `&nbsp;` that don't have any effect.

The expected result is that the icons should be display in one line.

[2018-08-08 18:36] jaroel commented on #2454
@tisto In practice it seems to work just fine. I'm resolving the test failures when I have time.
See https://jenkins.plone.org/view/PLIPs/job/plip-dx-siteroot/ for the current state.

You can check the changes done so far using the PLIP buildout config https://github.com/plone/buildout.coredev/blob/5.1/plips/plip-2454-dx-siteroot.cfg .

I wouldn't see this as a blocker for 5.2. I'd not even consid

[2018-08-09 07:15] zopyx commented on #2228
The error is meanwhile reproducible with a complete Plone buildout without any extension when you create a Plone site without any extension TTW

[code]

[2018-08-09 11:56] #2052 closed

[2018-08-09 16:18] jensens commented on #291
Done

[2018-08-09 16:18] #291 closed

[2018-08-09 18:39] frapell commented on #2425
This is happening because of https://github.com/plone/mockup/pull/861

[2018-08-13 07:39] jensens commented on #223
I close this one. First, the plone.app.versioningbehavior problem itself was solved. Second, I am sure any of those problems of other packages will be addressed with the Python 3 transition process.

If there are problems left and they were not solved in the python3 branches, please create fresh issues.

[2018-08-13 07:39] #223 closed

[2018-08-13 07:45] jensens commented on #369
since there was no response, I close this. Reopen if I am wrong.

[2018-08-13 07:45] #369 closed

[2018-08-13 07:48] jensens commented on #376
I close this here, if it is still a problem, please create an issue at https://github.com/zopefoundation/Products.PluggableAuthService

[2018-08-13 07:48] #376 closed

[2018-08-13 07:53] jensens commented on #380
With plone.login merge in 5.2 here a lot changed, also behavior wise. So this is outdated here.

[2018-08-13 07:53] #380 closed

[2018-08-13 07:56] jensens commented on #389
For those still using sunburst: This is still true https://github.com/plone/plonetheme.sunburst/blob/master/plonetheme/sunburst/skins/sunburst_templates/main_template.pt

[2018-08-13 08:00] jensens commented on #448
This was addressed in the Plone 5.2 python3 migration and is removed already there (branch python3)

[2018-08-13 08:00] #448 closed

[2018-08-13 08:08] jensens commented on #665
is this still an issue in Plone 5.1 latest?

[2018-08-13 08:36] jensens commented on #797
No problem in Plone 5.1 latest any more

[2018-08-13 08:36] #797 closed

[2018-08-13 08:39] jensens commented on #791
can be closed, open and edit was now moved out to own icons.

[2018-08-13 08:39] #791 closed

[2018-08-13 08:47] jensens commented on #898
wow, this one is still true

[2018-08-13 08:55] jensens commented on #890
Eigentlich meinen wir ja auch Schlagworte https://www.duden.de/rechtschreibung/Schlagwort#Bedeutung2
und nicht Stichwörter https://www.duden.de/rechtschreibung/Stichwort#Bedeutung1a
oder Stichworte https://www.duden.de/rechtschreibung/Stichwort#Bedeutung3

[2018-08-13 10:05] tomgross commented on #665
It is. Here is a version we @ FHNW use successfully with c.folderishtypes. It removes all folder contents on checkout and restores it on checkin. I can't guarantee this is a generic solution usable for everyone.

Obviously there are issues with (path) query-selectors, which probably could be solved with special adapters but we never dug into it.

[2018-08-13 12:32] tdesvenain commented on #2425
Hi, i tested the commit on a Plone 5.1.3 site, it successfully fixes the issue @frapell
Thanks !

[2018-08-13 16:18] frapell commented on #2425
@tdesvenain Great... now we need to fix the tests so plone/mockup#861 can be merged... I haven't had time to do it yet, hopefully I can have it done this weekend

[2018-08-14 01:03] claytonc opened #2500 "Folder contents error when a user a add content with "widget" id"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

1- Add content with  **widget** id.
2 - Access  **folder_contents**

### What I expect to happen:
Check if reserved name and rename.
https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/skins/plone_scripts/check_id.py#L68

### What actually happened:

Traceback (innermost last):
  Module ZPublisher.Publish, line 13

[2018-08-14 06:28] icemac commented on #890
@jensens Leider muss ich dir widersprechen: Wenn es um Verschlagwortung geht ist „Schlagwörter“ der korrekte Plural von „Schlagwort“, _nicht_ „Schlagworte“. So steht es auch in dem Duden-Link, den du referenziert hast: https://www.duden.de/rechtschreibung/Schlagwort#Bedeutung2

[2018-08-14 07:01] jensens commented on #890
@icemac, oh, ja, ich hab mich da wohl verwirren lassen, danke für den Hinweis. Ich korrigiere das. Aber Grundsätzlich passt Schlagwort schon besser?

[2018-08-14 07:51] icemac commented on #890
@jensens Ja, Schlagwort passt besser als Stichwort, da es ja um Verschlagwortung geht. Schlagwort halte ich für eine gute Übersetzung von `tag` bzw. `keyword`.

[2018-08-14 07:54] #890 closed

[2018-08-14 12:53] tdesvenain commented on #2425
I have an other issue after that

the url of tinymce theme css is wrong

http://localhost:8085/mockup/mockup/patterns/tinymce/++plone++static/components/tinymce-builded/js/tinymce/skins/lightgray/skin.min.css

(should be http://localhost:8085/site/++plone++static/components/tinymce-builded/js/tinymce/skins/lightgray/skin.min.css)

it breaks the widget

[2018-08-14 13:49] tdesvenain commented on #2425
forgot my previous comment. it happens only when i cherry-pick your commit on a branch based on 2.7.4 tag.

do you think we can fix 5.1.3 before definitive release ?

[2018-08-14 13:59] frapell commented on #2425
@tdesvenain How are you compiling the bundle? If you look at https://github.com/plone/mockup/blob/master/mockup/patterns/tinymce/less/pattern.tinymce.less it is being included as ```@import (inline)``` so, what you mention, shouldn't be happening...

What do you mean by "fix 5.1.3" ? the only thing missing would be to fix the tinymce tests in plone/mockup#861 so it can be merged to master... I thi

[2018-08-14 15:04] tdesvenain commented on #2425
this commit not only fix the tests. it also fixes tinymce which is broken since any plugin or language is activated.

this is a major issue and i think it should be included in a 1.5.

[2018-08-14 15:08] tdesvenain commented on #2425
this commit not only fix the tests. it also fixes tinymce which is broken when any plugin or language is activated. on 5.1.2 and 5.1.3-pending, tinymce is broken on any plone site that is not in english by default.

this is a major issue and i think it should be included in a 5.1.x release. @esteele do you think it is possible to include it in definitive 5.1.3 release ?

btw, https://github.com/pl

[2018-08-14 15:37] frapell commented on #2425
@tdesvenain I am sorry man, I am not following... what commit are you referring to?

This PR https://github.com/plone/mockup/pull/861 fixes the issue with TinyMCE but tests fail... I need to find time to figure out how to fix the tests. Once tests are fixed, this PR can be merged to master and then it can be included in CMFPlone

This PR https://github.com/plone/mockup/pull/854 was already merged

[2018-08-14 16:59] sunew commented on #2493
and see https://github.com/plone/Products.CMFPlone/issues/2455

[2018-08-15 08:47] jensens commented on #804
After auto rotation is implemented and plone.app.imagecropping as an addon works fine in 5.1, I close this one.

[2018-08-15 08:47] #804 closed

[2018-08-15 08:51] jensens commented on #932
`plone.schema` has an [email field](https://docs.plone.org/external/plone.app.dexterity/docs/reference/fields.html#fields-in-plone-schema), which in fact just need to be used instead of an ASCIILine https://github.com/plone/Products.CMFPlone/blob/0d8155f4d0d526f7b0cd67a9a3750dd5fb66ed20/Products/CMFPlone/interfaces/controlpanel.py#L1481

[2018-08-15 08:55] jensens commented on #830
From what I can see this was solved long time ago in https://github.com/plone/plone.app.layout/pull/69

[2018-08-15 08:55] #830 closed

[2018-08-15 08:57] jensens commented on #768
Is this still an issue?

[2018-08-15 08:58] jensens commented on #767
Meanwhile this works

[2018-08-15 08:58] #767 closed

[2018-08-15 09:01] jensens commented on #769
Meanwhile ... this was fixed.

[2018-08-15 09:01] #769 closed

[2018-08-15 09:05] jensens commented on #1014
I close this one. There is a PLIP now with more details to https://github.com/plone/Products.CMFPlone/issues/2454

[2018-08-15 09:05] #1014 closed

[2018-08-15 09:09] jensens commented on #997
This was fixed meanwhile.

[2018-08-15 09:09] #997 closed

[2018-08-15 09:15] jensens commented on #961
Permission is
https://github.com/plone/Products.CMFPlone/blob/0d8155f4d0d526f7b0cd67a9a3750dd5fb66ed20/Products/CMFPlone/controlpanel/browser/configure.zcml#L139
If this is a problem, we can introduce a new permission just for this controlpanel in order to have fine grained control.
Please submit a PR.

[2018-08-15 09:28] jensens commented on #1104
So, I tested this at demo.plone.de.
- creating a page with title `_goobar` works and creates an ID `goobar`
- renaming this page to `_foobar` works and creates an ID `foobar`.
So I think we can close this issue. The name-chooser works as expected.

[2018-08-15 09:28] #1104 closed

[2018-08-17 07:39] jensens commented on #2368
FYI: I changed the above "Merge all open pull-requests" into a check list style. I am atm about to check the packages.

[2018-08-17 08:33] jensens commented on #2368
Checked all, please keep up to date

[2018-08-19 04:31] tkimnguyen commented on #932
I’ll see if I can figure out how to make that Email value persistent

[2018-08-19 09:58] jaroel commented on #2454
@gforcada or @tisto  I'm getting timeout accessing the ftp server on jenkins (https://jenkins.plone.org/view/PLIPs/job/plip-dx-siteroot/12/testReport/plone.app/testing/layers_rst/)
Any idea what could be going on there?

[2018-08-25 13:27] ida commented on #2228
The commits linked above exclude the occurrence of the originating error, when a referenced dependency-profile-id does not exist, done like in a site's add-on-controlpanel:
Show the add-on as broken and disable the possibility to install.

Unfortunately Jenkins doesn't like it, so closed the PR again. The test-report is here:
https://jenkins.plone.org/blue/organizations/jenkins/pull-request-5.1/de

[2018-08-27 12:57] zopyx commented on #2228
Please leave the issue open until it is official merged and confirmed.

[2018-08-27 13:15] ida commented on #2228
That was unintentional and happened automagically with the keyword "fixes" in this PR:
https://github.com/zopefoundation/Products.GenericSetup/pull/64

@mauritsvanrees The problem was that `getProfilesForDependencies` failed silently if a dependency-id does not exists, but still returns an empty tuple, thus not breaking further procedures and causing multiple errors overlaying each other, instead

[2018-08-27 14:33] zopyx commented on #2228
I would to test this fix asap personally since it affects our current project. Unfortunately I am on vacation until mid September..but I am looking forward for giving further feedback.

[2018-08-29 11:09] mauritsvanrees opened #2502 "Combine bundles import step not running with registry directories"
Plone 5.1.
The `combine-bundles` [import step](https://github.com/plone/Products.CMFPlone/blob/5.1.3/Products/CMFPlone/resources/exportimport/bundles.py) looks for a file `registry.xml`, looks for the string `IBundleRegistry` in the body of this file, and then combines bundles. Working fine.

But `plone.app.registry` since Plone 5.1 can handle a [directory `registry`](https://github.com/plone/plon

[2018-08-30 13:09] Rupeshiya commented on #2480
I would like to fix this issue .Can I fix @zopyx .

[2018-08-31 07:38] ida commented on #2228
Created PR to see if Jenkins eats it, with positive result. Closing PR anyway for reasons described a comment:https://github.com/plone/Products.CMFPlone/pull/2504
Also deleted the related branch, to not leave litter.

[2018-08-31 14:05] yshgpta commented on #2480
Hey there, myself Yash Gupta and I want to work on this issue and it seems easy fix for me to work through....@zopyx

[2018-08-31 14:29] zopyx commented on #2480
Guys, stop misusing the Plone bugtracker for finding a mentor. This attitude is highly annoying,

[2018-09-03 10:26] nzambello commented on #2349
This shoud be resolved by #2477, isn't it?

[2018-09-03 10:26] nzambello commented on #2333
In my opinion and during my tests, I consider this solved.
#2349 should be solved: it's the same stuff.

[2018-09-03 15:39] fredvd opened #2506 "resource registries: Developing a bundle without resources seems to break the registry"
### What I did:

Testing Plone.app.mosaic with Plone 5.1 coredev testing branch  by using https://github.com/plone/plone.app.mosaic/blob/master/test-5.1.coredev.cfg .

Install Plone site,
install Mosaic add'on.
Go to resource registries in the control panel
Activate development mode
Develop Javascript for either mosaic Grid or Mosaic styles

### What I expect to happen:

One or more javascripts th

[2018-09-06 08:05] sunew commented on #2228
I backported ida's fix in GenericSetup to 1.8, so we can get a release for plone 5.1 (master of GenericSetup is plone 5.2)

@ida I'm not sure if your fix still requires changes to CMFPlone? If so, can you re-add the PR with a "WIP:" (work in progress) in the title? Please keep the commits on a branch, also if you have it in your fork of the repo. It gets really difficult to backport the changes if

[2018-09-06 16:00] ida commented on #2228
@sunew The actual bug-fix happended in GenericSetup, the branch here was for adding broken-addons-warnings in the site-creation-template, should probably get it's own ticket and is not critical, imho.

Gonna look these days, if there's an issue already, otherwise open a new one, and then repush the branch, if you don't have any objections.

Thanks for your feedback and bearing with delayed respons

[2018-09-06 16:12] sunew commented on #2228
@ida great, thanks!

[2018-09-07 10:03] ida opened #2510 "Consistency between `@@plone-addsite?advanced=on` and `prefs_install_products_form`"
`prefs_install_products_form` shows a warning on broken add-ons and inhibits them from the possibilty to be installed. This should happen in `@@plone-addsite?advanced=on`, too.

A poof of concept had been started here: https://github.com/plone/Products.CMFPlone/commit/5636c2d397888ae1797f4bbdc041e32c733fafd6. Needs improvements, a new branch will be provided.

Refs #2228.

[2018-09-08 11:42] sunew commented on #2228
@zopyx maybe you have the possibility to test your setup with GenericSetup 1.8 branch?

[2018-09-08 11:45] zopyx commented on #2228
yes, https://github.com/plone/Products.CMFPlone/issues/2228#issuecomment-416247282

[2018-09-08 11:53] sunew commented on #2228
@zopyx yep :) Enjoy the vacation.

[2018-09-09 06:41] #1811 closed

[2018-09-09 10:10] sunew commented on #2317
fixed in https://github.com/plone/Products.CMFPlone/pull/2509

[2018-09-10 13:14] thet opened #2512 "Datatables CSS not available"
The current ``plone-logged-in-compiled.min.css`` bundle file does not directly include the datatables css files but tries to import them. Also the paths are wrong which leads to a bunch of 404's - at least for me. See the first line here:

https://github.com/plone/Products.CMFPlone/blob/7cefb8f47585422c182e04ae15b08dd2ea456616/Products/CMFPlone/static/plone-logged-in-compiled.css

The CSS files mi

[2018-09-10 14:41] datakurre commented on #2512
I’m sorry about that. I didn’t realise that difference between inline and css imports.

The difference with webpack was that css import let webpack’s css loader to do the inlining fixing some lookup issues with less loader (it was unable to find relative paths linked from unlined css because of lost original folder context).

So, probably you should revert and use inline, and I should figure out i

[2018-09-11 08:49] tomgross commented on #2374
This seems OK now.

[2018-09-11 08:49] #2374 closed

[2018-09-11 08:49] tomgross commented on #2124
Plone 5.1 was released so this is obsolete.

[2018-09-11 08:49] #2124 closed

[2018-09-12 06:56] ida commented on #2228
@sunew Tested the 1.8-branch and the multiple errors still occur, that's because I made changes after the recommendations of the product-owners without testing it manually again.
I'm sorry, but I don't have more time left to spend on this issue, good proceeding!

[2018-09-12 06:57] ida commented on #2510
Closing due to lack of necessity to fix.

[2018-09-12 06:57] #2510 closed

[2018-09-12 07:51] sunew commented on #1663
Issue can be reproduced on 5.1.3-pending

Reproduce:
On a site running with `instance start` (not in debug mode).
Go to resource registry, set in debug mode. Save. Set it back to production. Save.
Now you get 404's on:

https://cms.integrationsviden.dk/++plone++production/++unique++2018-09-11T17:21:00.926425/++plone++static/fonts/plone-fontello.woff
https://cms.integrationsviden.dk/++plone++produc

[2018-09-12 08:58] sunew commented on #2228
@zopyx I copied your buildout from above, and tried to reproduce.
I cannot reproduce the problem on my system, adding a plone site ttw works fine, no traceback in the log.

I have commented out:

auto-checkout =
#    dynamore.policy
#    dynamore.seminarsdx
#    dynamore.theme.diazo

(I do not have access to the repo, so I cannot clone these. Should have no effect, since they are not in eggs)

A d

[2018-09-12 09:01] zopyx commented on #2228
@sunew I am _currently_ testing the GS 1.8 in our migration setup...

[2018-09-12 12:34] zopyx commented on #2228
The GenericSetup 1.8 solves actually nothing. The lookupAll problem persists.
The specific error situation in our case is that the default profile contains a registry file with a record for interface `spirit.plone.theming ...` . The lookupAll traceback is triggered when the related add-on is not installed or not initalized.

[2018-09-12 13:04] sunew commented on #2228
@zopyx
Ok. So we can conclude:
1. The error is not reproducable on a pure plone 1.5.2 with no addons
2. The error is triggered by a default profile with a non-exisitng interface (ie. the original problem, the missing interface, is masked by GS).

I will try to reproduce with a bobtemplate addon with a default profile pointing to a non-existing interface, and see if I can make a fix...

[2018-09-12 13:35] ida commented on #2228
@sunew The first ocurring error will fail hard, if you change the following line to `return None`:
https://github.com/zopefoundation/Products.GenericSetup/blob/3ca5ee7b3947e02e2cad0c3eaad17d4913322dd7/Products/GenericSetup/tool.py#L951
Tried to explain that in https://github.com/zopefoundation/Products.GenericSetup/issues/68, hope that saves you some time.

[2018-09-12 13:45] sunew commented on #2228
@ida thanks! Very helpful:)

[2018-09-13 06:57] shashwatmishra76 commented on #2480
Hello! I am new to Plone.Can I be assigned to this issue?

[2018-09-13 15:46] sunew commented on #2502
@mauritsvanrees I guess this can be closed? Is merged.

[2018-09-14 15:40] agitator opened #2516 "New faster navigation with dropdown menus for Plone"
## Responsible Persons

### Proposer: Peter Holzer (@agitator)

### Seconder: Johannes Raggam (@thet)

## Abstract

Plone sites typically have a lot of content, the global navigation only supports the main folders of the site for navigation. It's time we have dropdown menus in Plone by default.

## Motivation

webcouturier.dropdownmenu is used by many plonistas to solve this problem - not without

[2018-09-14 15:49] agitator commented on #2516
@plone/framework-team

[2018-09-14 15:59] agitator commented on #2516
Where should the code go?
- Viewlet & Tile into plone.app.layout or Products.CMFPlone?
- Styles plonetheme.barceloneta
- Javascript Products.CMFPlone (mockup)?

[2018-09-14 16:32] hvelarde commented on #2516
the tile must live out of core for obvious reasons.

[2018-09-14 16:35] jensens commented on #2516
@hvelarde no, it can be included with a ``zcml:condition``. Thats fine .

[2018-09-14 16:55] frapell commented on #2516
@agitator I think viewlet & tile in p.a.layout, and JS in mockup, if it is a pattern

[2018-09-15 07:53] sunew commented on #2455
@pbauer
Yes, exactly my point in https://community.plone.org/t/zope-4-welcome-sprint-in-halle-germany-may-16th-to-18th-2018/6351/11

Actually a small patch to 5.4.0 would do the job. I can make one if you agree. But how do we apply it?
Should only be applied when testing to not sneak this in permanently.

The bug has been there 'always', but was surfaced after some cleanup code in ZODB.
We could s

[2018-09-15 07:55] sunew commented on #2455
A real fix would be to make the ZODB Connection thread safe.
See the comment by jmuchemb here:
https://github.com/zopefoundation/ZODB/issues/208

[2018-09-15 08:03] pbauer commented on #2455
I'd favor pinning the old version, everyting else seems to be twiche as much work. It's fine if you want to create a PR with the proposed fix but my guess it might take a while until a new version is released and we already have to many source-checkouts.

[2018-09-15 08:48] sunew commented on #2455
Fine :)

[2018-09-15 08:49] sunew commented on #2493
Closing as duplicate of #2455

[2018-09-15 08:49] #2493 closed

[2018-09-16 15:43] djay commented on #2480
@shashwatmishra76 just fix it and submit a PR. There is no assignment.

[2018-09-18 09:06] agitator commented on #2516
fixed the cashing ;-)

[2018-09-18 10:50] sunew commented on #2425
@tdesvenain and @frapell see https://github.com/plone/mockup/pull/869

Should fix it:)

[2018-09-18 11:50] iham commented on #2516
+1 for
viewlet in plone.app.layout -> sections.pt was there
js in mockup -> patterns/mockups live there
css in barceloneta. -> anything else is styled there.

i can't say anything about the tile, as i'm not really into the tile/mosaic topic

[2018-09-18 12:46] agitator commented on #2516
after discussion with @jensens I'll do the base navigation markup as a content provider and put the tile into plone.app.standardtiles

[2018-09-18 13:07] tdesvenain commented on #2425
@sune great !!

Le mar. 18 sept. 2018 à 12:50, Sune Broendum Woeller <
notifications@github.com> a écrit :

--
Thomas Desvenain

Téléphone : 09 51 37 35 18

[2018-09-18 13:42] sunew commented on #1140
@zopyx I cannot reproduce on a 5.1.x  site - can you?

[2018-09-19 08:00] agitator commented on #2395
Can someone confirm that this fix actually worked?
Just tested it on 5.1 coredev and the actions within the toolbar don't get updated.

Even if I put the loggedin bundle in js dev mode, I got the error from toolbar.js

[2018-09-19 08:13] sunew commented on #2395
this problem has many manifestations - see also https://github.com/plone/mockup/pull/858

I am currently recompiling the bundles to include https://github.com/plone/Products.CMFPlone/issues/2512

[2018-09-19 11:41] ida commented on #1269
Confirming regression. All actions show up in the new control-panel, just not folder-buttons.
Likely because `folder_contents` is now entirely replaced with a new technique.
It is possible to add folder-buttons-actions, they show up in the controlpanel, but not in `folder_contents`.
Other action-definitions seem to work, at least with object-buttons. Example `actions.xml`:
[code]

[2018-09-19 12:05] pbauer commented on #2368
The Saltlabs-Sprint in Halle (https://www.meetup.com/de-DE/Zope-Sprint/events/252468356) is approaching. More than 30 people are coming to the sprint (!!!) and I hope we will get a lot done. In preparation for the sprint there is some work under way:

**Merge branches:** @jensens, @thet and I are currently trying to merge as many python3-branches as possible. We're currently down to 44 unmerged br

[2018-09-19 16:32] idgserpro commented on #2148
Another thing: the only place that indicates the difference in "Manual" to "Automatic" versioning is in the behavior label itself:

https://github.com/plone/plone.app.versioningbehavior/blob/1.3.3/plone/app/versioningbehavior/behaviors.py#L32

This information should be stated in `/@@content-controlpanel`, not only in the behavior field.

[2018-09-19 21:36] gforcada commented on #2368
@pbauer regarding more servers, I already asked @polyester to get a server (someone at the board should have the hetzner account, I also got an account there, but with no billing permissions :money_mouth_face: )

[2018-09-19 22:04] gforcada commented on #2368
@pbauer as I saw some commits from you updating trove classifiers, I thought about updating https://jenkins.plone.org/py3/ ``162 out of 290 packages ported``

[2018-09-20 08:37] jensens commented on #2368
I updated the above list of open PRs and we're down to 28.

[2018-09-20 15:07] robbuh opened #2520 "TinyMCE replace a wrong relative url referred to the same domain if multilingual support is installed on the web site"
When an External URL related to the same domain (an internal page) is added via TinyMCE editor, TinyMCE replace absolute url with a relative url.

But If plone.app.multiligual support is installed and active in the web site the folder related to the language (eg. /en) is included and added in the relative path, so link leads to a not existing page.

a "../" too much is added on the relative path.

[2018-09-20 15:11] sunew opened #2521 "Build all js / css bundles before every release"
On 5.1.x master, resourceregistry and thememapper havent been compiled for quite a while:

![selection_665](https://user-images.githubusercontent.com/893142/45827986-d61d7980-bcf7-11e8-8e98-3b6faf1e901a.png)

This could explain this:
https://github.com/plone/Products.CMFPlone/pull/2518
The test are failing locally with a freshly buildt thememapper bundle.

In general, changes to mockup or other fr

[2018-09-21 17:54] #2502 closed

[2018-09-24 17:06] pbauer commented on #2456
@terapyon any news on this issue?

[2018-09-25 01:02] terapyon commented on #2456
I'm sorry, I'm trying the fix. Please wait for a few weeks.

[2018-09-25 17:20] #2434 closed, assigned to rnixx

[2018-09-25 18:47] l34marr commented on #2490
For the record, this issue also happens while Toolbar Position on the Side

![overlay-issue](https://user-images.githubusercontent.com/56113/46035768-6f082680-c136-11e8-9e53-657ad72cc08d.png)

[2018-09-25 21:37] cdw9 commented on #2283
I'm able to confirm this is happening in Plone 5.1.2. The cause seems to be the fact that the portlet add/edit screen is in an overlay. The error does not happen otherwise.

I think the better fix would be to edit the Upload panel to have the correct context. This is only an issue if you do not choose an upload location. I also noticed from the root of the site that if I chose an upload location,

[2018-09-25 22:03] ale-rt commented on #2456
@terapyon given you are busy I tried with this patch on the `python3` branch: https://github.com/plone/Products.CMFPlone/commit/37b106ca9aa5434017a6e6a3c09452a54596c799
Feel free to correct it if wrong!

[2018-09-25 22:05] ale-rt commented on #2456
Note: I just tried to make the tests pass, but maybe we want the splitter methods to return bytes in Python2 and text in Python3 (now they return bytes in both)

[2018-09-26 02:49] djay commented on #2283
Confirmed in 5.0.x as well (duplicate ticket https://github.com/plone/plone.app.content/issues/161)

[2018-09-26 11:03] #2512 closed

[2018-09-26 15:38] kj0317 commented on #840
I know this thread is a few years old but I have just confirmed that my current installation and configuration still had the CSRF false positives. I'm using Plone 5.1.1, installed via Plone UnifiedInstaller, and have the following Addons installed:

-collective.easyform 2.0.0b7
-collective.themefragments 2.11.1
-collective.lineage 2.1.1
-plone.app.jquery 1.11.2
-collective.z3cform.datagridfield 1.

[2018-09-26 16:17] sunew commented on #2032
Can there be saved resources in portal_resources we do not want to remove - with customisations?

[2018-09-26 20:03] sunew commented on #2032
Same issue as https://github.com/plone/Products.CMFPlone/issues/1862
and https://github.com/plone/Products.CMFPlone/issues/1663

[2018-09-27 09:07] thet opened #2524 "Cleanup setup.py metadata for all core packages"
- [x] Fix trove classifiers (Plone version, Python version)
- [x] remove ``ez_setup`` reference
- [x] Add ``Framework :: Zope :: 4`` trove classifier
- [ ] Change author information to ``Plone Foundation``
- [ ] Change author email from "plone-developers@lists.sourceforge.net"  to something we use. **decision needs to be made**
- ...

@plone/framework-team

[2018-09-27 12:46] pbauer opened #2525 "Provide Migration-Story for ZODB with Plone from Python 2 to 3"
ZODB itself is compatible with Python 3 but a DB created in Python 2.7 cannot be used in Python 3 without being modified before.

After some evaluation of different approaches (see https://blog.gocept.com/2018/06/07/migrate-a-zope-zodb-data-fs-to-python-3) https://github.com/zopefoundation/zodbupdate#migration-to-python-3 seems to be a good approach.

If you want to contribute to the documentation

[2018-09-27 13:07] pbauer opened #2526 "DX-Documents have no size"
Dexterity-Based Documents with a richtext-field as primary field do not have a size.
This is a regression compared to Archetypes.

The failing test in CMFPlone (py3 branch) is:

[code]

plone.app.contenttypes only has getObjSize indexers for files and images.

[2018-09-27 13:37] #2420 closed

[2018-09-27 20:33] mauritsvanrees commented on #2524
- [ ] Fix pypi.python.org package links. `https://pypi.python.org/pypi/package-name` -> `https://pypi.org/project/package-name`
- [ ] Fix pypi.python.org classifiers links: https://pypi.org/classifiers/

[2018-09-27 21:02] jensens commented on #2524
I think this needs a script, at least semi-automated...

[2018-09-27 21:09] jensens commented on #1351
I think except documentation this can be seen as done. Documentation has its own ticket #1940
So, I close this!

[2018-09-27 21:09] #1351 closed

[2018-09-27 21:10] jensens commented on #1926
Still an issue with the new bootstrap based ZMI?

[2018-09-27 21:49] jensens commented on #2368
We are at 21 left - 61 done. Also, there were 10 AT BBB related PRs merged (not listed here).

[2018-09-27 21:57] jensens commented on #2368
State of tests on Python 3: 57 failures.
On Python 2.7 way more, mainly (but not only) because of exception and string outputs in doctests. Should be easy to fix most of them.

[2018-09-27 22:41] ale-rt commented on #2368
I switched the Zope branch to plone-py3 which contains the current Zope master plus the two patches:

- https://github.com/zopefoundation/Zope/pull/290
- https://github.com/zopefoundation/Zope/pull/320

[2018-09-28 05:15] pbauer commented on #1926
This issue is obsolete with the new ZMI. See http://demo-latest-py3.plone.de/manage

[2018-09-28 05:15] #1926 closed

[2018-09-28 05:48] zopyx opened #2528 "Default page popup/overlay should omit the document descriptions for saving space"
See screenshot.

I many case we have something like 40-100 documents with often longer descriptions in one folder.
Picking up the right default page is a pain when the UI is cluttered with irrelevant document descriptions.
Either hide the document descriptions at all or display only one or two lines. In general: the description is not really helpful for content authors here. It's the title that ma

[2018-09-28 05:56] zopyx opened #2529 "Toolbar -> manage portlets applies to default page instead of current content object"
- blank Plone site
- add some page and assigned it as default page to the Plone root
- click on the Plone logo for getting into the context of the Plone root
- click on manage portlets
- Plone will redirect to ../plone-site/default-page/@@manage-portlets

This is usually not what you want because you expect to manage the portlets of the Plone site  and not only the portlets of the default page. Th

[2018-09-28 06:17] zopyx opened #2530 "folder_contents: batch navigation is consistent"
Using the batch navigation of the folder contents view is weird in many ways:

- no batching navigation should be displayed if there is nothing to batch (less than 15 elements)
- Showing batching options for 30|50 items makes only sense if there are more than 30 or 50 items
- With only one batch there is a red sign showing up if you want to click on preview/first batch link.
- no red sign icon is

[2018-09-28 06:32] pbauer commented on #2525
See https://github.com/zopefoundation/Zope/pull/285 for the `zodbupdate_decode_dict` in Zope.

[2018-09-28 07:24] zopyx opened #2531 "Navigating within the folder contents does not update the URL of the "View" action in the toolbar."
When you navigation using the folder contents view through a hierarchy of documents then URL of the toolbar's view action does not relate to the URL of the current folder of the folder contents view.
This is a usability. As a content author I want to see the view of the current folder and not view of the folder that was used to start the initial folder contents view from....usuality fail.

[2018-09-28 07:29] sunew commented on #2531
This is a clear bug, not just usability. It is related to https://github.com/plone/Products.CMFPlone/issues/2395
(at least same kind of issue)
and https://github.com/plone/mockup/pull/858

[2018-09-28 10:31] mauritsvanrees commented on #2521
In the past, I have seen PRs on CMFPlone where someone had done the bundle build work already. Ah, like you did [two days ago](https://github.com/plone/Products.CMFPlone/pull/2522).
I have never done the building myself, and don't know how to do that.

I guess fresh bundles make sense after a mockup release, not after every little change in mockup. Right?

I have made mockup releases, but have nev

[2018-09-28 10:55] jensens commented on #2339
afaik meanwhile fixed. didnt see it anymore anywhere.

[2018-09-28 10:55] #2339 closed

[2018-09-28 12:34] hvelarde commented on #2528
same happens in Plone 4.3.

![screenshot_2018-09-28 home](https://user-images.githubusercontent.com/341393/46208626-ae36a300-c301-11e8-8fa0-c573ec0d7843.png)

[2018-09-28 12:37] hvelarde commented on #2529
that has been the default behavior for eons as you can see in this Plone 4.3 screenshot:

![screenshot_2018-09-28 home secretaria de teste de migracao](https://user-images.githubusercontent.com/341393/46208738-0bcaef80-c302-11e8-867e-c845aa786371.png)

[2018-09-28 14:06] zopyx opened #2532 "CSS issues in image selector"
Tested with Plone 5.1.2 on plone-demo.info:

![screenshot-www plone-demo info-2018 09 28-16-05-41](https://user-images.githubusercontent.com/594239/46213291-7b5bd180-c338-11e8-8a59-899617f84a0a.png)

Why are some images show with indentation?

[2018-09-28 14:09] zopyx opened #2533 "CSS issus in "insert Image""
See screenshoot (overlap of filename with icon)

Plone 5.1.2, plone-demo.info
![screenshot-www plone-demo info-2018 09 28-16-08-43](https://user-images.githubusercontent.com/594239/46213469-edccb180-c338-11e8-852d-8709b6bf4528.png)

[2018-09-28 14:12] tisto commented on #1475
I gave a Plone training this week and at least 5 of the 20 people that I gave this training for ran into the issue of triggering an action for the wrong content objects because they came from the folder contents view. Here is what most of them did:

1) Navigate to a subfolder via folder_contents
2) Click on workflow, action, display and accidentally triggered the action on the portal root

I think

[2018-09-28 14:13] zopyx opened #2534 "Insert Link/insert image dialog opens with improper tab"
Plone 5.1.2, plone-demo.info

- create a new document with some body text
- select text, click on the image icon and cancel/close the popup
- select text again, click on "insert link" and the popup will show with the "Upload" tab open instead of "External"

[2018-09-28 14:16] zopyx opened #2535 "TinyMCE default styles incompatible with HTML filtering"
Usability bug in Plone 5.1.2:

- create a new document, add some text and select "strikethrough" as character format -> text show as strikethrough inside TinyMCE
- "Save" -> text display as normal text

[2018-09-28 14:20] zopyx opened #2536 "TinyMCE/Plone ignores size of table columns"
Plone 5.1.2

I created a table with two cols and adjusted the widths of the cols to about 50:50.
These settings are ignored when rendering the page.

![screenshot-www plone-demo info-2018 09 28-16-18-23](https://user-images.githubusercontent.com/594239/46214021-5ff1c600-c33a-11e8-91a7-35758b3e98b6.png)
![screenshot-www plone-demo info-2018 09 28-16-17-52](https://user-images.githubusercontent.com/

[2018-09-28 16:13] sunew commented on #1475
this is a bug in mockup - has been fixed.
But similar bugs still exist.
(on my phone will find ticket / pr numbers later)

On Fri, 28 Sep 2018 at 16.13, Timo Stollenwerk <notifications@github.com>
wrote:

--
Sune Brøndum Wøller
+45 24256610
skype: sune.woeller

[2018-09-29 02:43] davisagli commented on #2525
I played with zodbupdate a bit a week or so ago and it seems promising, but will probably take some work to get great results.

Here's the basic path:
1. Set up a buildout that includes Plone 5.2 *in Python 2*, plus the zodbupdate and the following mr.developer checkouts:
* zodbupdate = git https://github.com/zopefoundation/zodbupdate branch=master
* Zope = git https://github.com/zopefoundation/Zo

[2018-09-29 03:32] tisto commented on #1475
@sunew can you elaborate why this is a bug in mockup? If I understand things correctly folder_contents is written in React, so the toolbar has now way to automatically update itself when the context of folder_contents changes. The toolbar just can not reload automatically because it is static, right? To me, Matthew's fix to hide the context-specific toolbar items seems good enough for me: https://

[2018-09-29 03:35] tisto commented on #2531
@zopyx I think the UX part of this bug is already reported here: https://github.com/plone/Products.CMFPlone/issues/1475

[2018-09-29 11:28] thet commented on #2368
Regarding WebDAV and WSGI - there is a WSGI middleware for WebDAV (which also includes a standalone WebDAV server):

https://github.com/mar10/wsgidav
https://wsgidav.readthedocs.io/en/latest/reference_guide_architecture.html

This project looks quite promising:
- It has a good software architecture - everything is implemented against interface specifications.
- It comes with default ``DAVProvider`

[2018-09-29 15:35] davisagli commented on #2368
There are some test failures in CMFCore due to Plone monkey patches that change the behavior that CMFCore tests for (at least patches/dateIndexPatch and patches/speed). Ideally each patch should come with a function to apply it and a function to unapply it and we could apply them as part of the Plone test fixture and during Zope startup instead of at import time. But that's probably quite some wor

[2018-09-30 05:17] pbauer opened #2537 "Provide a replacement for WebDAV and FTP"
WebDAV and FTP are part of ZServer which is removed when running on Python 3. We might need a replacement if the uses-cases that we use it for are still valid nowadays.

@thet wrote in https://github.com/plone/Products.CMFPlone/issues/2368:

[2018-10-01 01:45] davisagli commented on #2427
Looks like these are passing with Zope master.

[2018-10-01 01:45] #2427 closed

[2018-10-01 01:47] davisagli commented on #2185
Wow, I have no recollection of making that previous comment, but I submitted a PR to fix this in AccessControl yesterday: https://github.com/zopefoundation/AccessControl/pull/62

[2018-10-01 09:40] reinhardt commented on #2526
The test passes fine for me. The ```getObjSize``` indexer calls [DAVResourceMixin.get_size()](https://github.com/plone/plone.dexterity/blob/master/plone/dexterity/filerepresentation.py#L54) which returns 1000 which is in turn correctly converted to "1 KB".

Am I missing something?

[2018-10-01 09:48] reinhardt commented on #2526
I'll have a look at the comment in https://github.com/plone/plone.dexterity/pull/89#issuecomment-425803602.

[2018-10-01 10:01] tmassman commented on #2311
This bug is coming from a customer add-on used in the site and will be fixed there.

[2018-10-01 10:01] #2311 closed

[2018-10-01 11:20] tmassman commented on #723
Added backport to Plone 5.1.x in PR https://github.com/plone/Products.CMFPlone/pull/2539.

[2018-10-01 11:29] ale-rt opened #2540 "Fix the format accessor"
The dexterity format accessor is not returning the content of the format attribute but the output of the `content_type` method, see:
- https://github.com/plone/plone.dexterity/blob/58c601e98575350f51104aed4e3ff7bab148a301/plone/dexterity/filerepresentation.py#L86-L99

[2018-10-01 11:34] tmassman commented on #723
Merged into 5.1.x.

[2018-10-01 11:34] #723 closed

[2018-10-01 11:37] mauritsvanrees commented on #2524
If anyone is doing cleanups like this which don't really touch code and cannot break anything, please include `[ci skip]` in your commit message to avoid running Jenkins.

[2018-10-01 11:41] mauritsvanrees commented on #2524
I have found this script on my laptop to remove some classifiers from `setup.py`. That may be useful as blueprint for similar scripts:

[code]

[2018-10-01 12:03] polyester opened #2541 "Rewrite robotscreenshot-tests to conform to Products.CMFPlone robot test style"
currently the tests/screenshots for the documentation have a different style than the overall Products.CMFPlone robot tests.

In the 5.2 branch, this leads to breakage, but it is also not very maintainable. Tests to generate robot-screenshots should closely mimic the standard robot-tests

[2018-10-01 12:29] davisagli commented on #2526
Good catch and thanks for the fix, @reinhardt

[2018-10-01 12:50] ale-rt commented on #2540
An attempt to fix this in the in the `DexterityContent` was done in https://github.com/plone/plone.dexterity/blob/58c601e98575350f51104aed4e3ff7bab148a301/plone/dexterity/filerepresentation.py#L86-L99 but this breaks  other tests, I will now try to provide a simpler and less general patch patch in the Document class from plone.app.contentypes.

[2018-10-01 13:30] mauritsvanrees commented on #2524
I am using this script to update the pypi links of a single package:

[code]

and then this to run it on all checkouts in coredev 5.2 in the src directory:

[code]

[2018-10-01 13:33] ale-rt commented on #2540
See The following PR need to be merged together:

- https://github.com/plone/plone.stringinterp/pull/13
- https://github.com/plone/plone.app.contenttypes/pull/489
- https://github.com/plone/plone.app.contenttypes/pull/490
- https://github.com/plone/plone.app.contenttypes/pull/492

[2018-10-01 13:37] ale-rt opened #2543 "GS Snapshot functionality is broken"
GS Snapshot broken.
See https://github.com/plone/Products.CMFPlone/pull/2371/commits/b283232e574b838f5190a9ecafe82b10ee0aaf1e#diff-05db58afb7ec9f5d9327a90968d6e570R632

[2018-10-01 13:46] mauritsvanrees commented on #2524
Okay, PyPI links are fixed on all packages on coredev 5.2 that end up in the `src` directory with `auto-checkout = *`.

[2018-10-01 14:03] gforcada commented on #2524
Should we remove the `exclude=['ez_setup']` on `packages=find_packages('src', exclude=['ez_setup']),` as well? :thinking:

[2018-10-01 14:32] mauritsvanrees commented on #2524
Yes, that can be removed. I see that lots of packages have that, and I see only `ZODB3` which actually has a `ez_setup.py`.
I can do that.
First I am adding 5.2 classifiers to all packages in 5.2/src that have 5.1 in their classifiers.

[2018-10-01 14:44] mauritsvanrees commented on #2524
Currently using this script for the 5.2 classifiers:

[code]

I forgot to change the commit message, so the first couple dozen packages have the wrong commit message, but okay.

[2018-10-01 14:56] tmassman commented on #2315
Same as #723 and fixed with hyphenation support added.

[2018-10-01 14:56] #2315 closed

[2018-10-01 15:43] mauritsvanrees commented on #2524
5.2 has been added to the classifiers, when 5.1 was already in there.

[2018-10-01 15:49] Rotonen opened #2547 "Track down all implications of the `__repr__` changes of Zope objects"
There are recent changes in how Zope represents its objects. This breaks, at least, some of our doctests.

Entry vectors for understanding what this is about:

https://github.com/zopefoundation/zope.site/issues/8
https://travis-ci.org/plone/plone.testing/builds/435575510

[2018-10-01 16:07] mauritsvanrees commented on #2524
Using this for `ez_setup.py`:

[code]

Done all.

[2018-10-01 17:00] mauritsvanrees opened #2548 "Use towncrier for all or most Plone packages"
Towncrier is a tool for putting the changes in news fragments instead of a single CHANGES.rst that will get merge errors.

See also #2524. Busy on this during the Saltlabs Sprint in Halle.
This should be helpful for those wanted to assist: https://github.com/plone/plone.releaser/blob/master/ADD-A-NEWS-ITEM.rst

For a package, all branches used in 4.3-5.2 should be initialized to use towncrier. Par

[2018-10-01 17:00] mauritsvanrees commented on #2524
Towncrier checklist of packages moved to issue #2548.

[2018-10-01 17:14] ewohnlich commented on #2264
I'm getting this issue in 5.0.5 at least. Shouldn't it check for IPrimaryField and failback if this is missing (or not a NamedFile)? What is actually happening is it is saving the file to the Document's "file" attribute, even though that's not part of its schema. One of our users ended up creating these documents and then linking to them by appending "download/file" which hilariously works.

[2018-10-01 18:21] gforcada commented on #2548
Should we update Mr.roboto to warn if the towmcrier config is there but changes.rst is modified? 🤔

[2018-10-01 20:17] thefunny42 commented on #2525
I added the options to migrate zodbupdate to migrate my application to Python3. That worked fine, and we are running Python 3 in production since March. There's some stuff to know:
- zodbupdate out of the box will break your blobs if you use the filesystem option: the script goes over the whole database, transform the records and recommit them in a new transaction. The blob files need to be rename

[2018-10-01 20:17] mauritsvanrees commented on #2548
It could help.
But it should already be hard to modify `CHANGES.rst`, because there is no header for the next version. Well, one could easily add an entry to the previous header...
I guess a check could easily lead to false positives, where a contributor edits the `CHANGES.rst` file directly to fix a typo.

[2018-10-01 20:30] mauritsvanrees commented on #2548
Note that in some cases, you may need to add a dummy issue, so you have a unique identifier for towncrier. See https://github.com/plone/Products.CMFFormController/issues/17.

[2018-10-02 07:51] ale-rt commented on #2540
Fixed by:
- https://github.com/plone/plone.stringinterp/pull/13
- https://github.com/plone/plone.app.contenttypes/pull/489
- https://github.com/plone/plone.app.contenttypes/pull/490
- https://github.com/plone/plone.app.contenttypes/pull/492

[2018-10-02 08:31] #2540 closed

[2018-10-02 12:33] petschki commented on #2422
fixed in #2424

[2018-10-02 12:33] #2422 closed

[2018-10-02 13:34] ale-rt commented on #2543
This should pass now:
[code]
[code]

[2018-10-02 14:00] ale-rt opened #2551 "Fix Products.CMFEditions.tests.test_ZVCStorageTool/TestZVCStorageTool/test16_delete_history_on_content_deletion"
See:

- https://jenkins.plone.org/view/PLIPs/job/plip-py3/832/testReport/junit/Products.CMFEditions.tests.test_ZVCStorageTool/TestZVCStorageTool/test16_delete_history_on_content_deletion/

[2018-10-02 14:30] ale-rt commented on #2551
Should be fixed by https://github.com/plone/Products.CMFEditions/commit/2ffabb990ad852d96bb63f09d361ab147864a196

[2018-10-02 15:27] tomgross opened #2552 "Date widget does not respect date format"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

The DateWidget defined in https://github.com/plone/plone.app.z3cform/blob/master/plone/app/z3cform/widget.py#L130 does not respect the date formats defined in Plone (via registry entry `Products.CMFPlone.i18nl10n.override_dateformat.date_format_short`).

### What I did:

- Render DateTime widget in a localized Plone with a custom date format

### What

[2018-10-02 15:33] tomgross commented on #2552
Hint: The code for getting the localized date can be "borrowed" from plone.api: https://github.com/plone/plone.api/blob/master/src/plone/api/portal.py#L209

[2018-10-02 23:10] frapell commented on #2474
@pbauer @lukasgraf I would like to work in this... Running the tests for plone.rest with py3.cfg has only 1 failure:

[code]

Happening at "test_error_handling.py", line 118, in test_500_traceback_only_for_manager_users

Any pointers as to what would be the appropriate way to fix it?

[2018-10-02 23:13] gforcada commented on #1653
@thet wouldn't be a better approach to get a buildout file on the plips folder in buildout.coredev? This way you can commit right away and your configuration changes and updates are always running with latest changes.

I can create a jenkins job for it as soon as the buildout file is there :+1:

[2018-10-02 23:14] davisagli commented on #2474
@frapell https://github.com/plone/plone.rest/pull/75#issuecomment-404971502 has a comment at the bottom about that one.

[2018-10-02 23:49] frapell commented on #2474
@davisagli Thanks! I had missed that one... Now, I guess the Publisher is ok, and I should change plone.rest behavior to be aware of this, what do you think?

[2018-10-03 00:02] davisagli commented on #2474
@frapell the publisher still normalizes exceptions, for example turning zope.publisher's NotFound into zExceptions NotFound -- that happens here: https://github.com/zopefoundation/Zope/blob/master/src/ZPublisher/WSGIPublisher.py#L137 ... Maybe that line in plone.rest can compare the class names of the two exceptions instead of using `is`

[2018-10-03 00:08] frapell commented on #2474
@davisagli Yeah, saw that line from the comment you referenced... My guess was that the Publisher is correct and plone.rest is the one that should be fixed... I am not experienced with plone.rest nor with WSGIPublisher, that's why I was asking your thoughts :)

Alright, will try exploring that route and see if it works. Thanks !

[2018-10-03 00:29] thet commented on #1653
here it is: https://github.com/plone/buildout.coredev/blob/5.2/plips/plip-1653-staticresources.cfg

thanks for setting up a jenkins job!

[2018-10-03 02:54] metatoaster commented on #2104
Since issues related to slimit release for Python 3 is raised again (well rather the lack of a release, as per rspivak/slimit#65 and rspivak/slimit#102), I have a fork of `Products.CMFPlone` with [this change](https://github.com/metatoaster/Products.CMFPlone/commit/1b65396447d451d5e7287a4d73888f1e3f0777f7) to show that this change is basically a drop-in replacement using `calmjs.parse` - this also

[2018-10-03 07:28] ale-rt opened #2554 "Fix broken test on Python 3 testClearFindAndRebuildKeepsModificationDate"
The test:

https://jenkins.plone.org/view/PLIPs/job/plip-py3/842/testReport/junit/Products.CMFPlone.tests.testCatalogTool/TestCatalogIndexing/testClearFindAndRebuildKeepsModificationDate/

Fails because of this modification:

- https://github.com/zopefoundation/Products.CMFCore/pull/44

that was fixing the context where the notifyModified was called (before for every indexed/reindexed object it wa

[2018-10-03 07:52] ale-rt opened #2555 "Fix broken test on Python 3 testDoUpgrades"
See:

- https://jenkins.plone.org/view/PLIPs/job/plip-py3/842/testReport/junit/Products.CMFPlone.tests.testMigrationTool/TestMigrationTool/testDoUpgrades/

[2018-10-03 08:01] frisi commented on #2525
Thanks for sharing your experience @thefunny42! could you please email me this script or post the relevant parts here/as gist so i can use it for documenting the migration of plone sites? Thanks a lot!

[2018-10-03 08:38] ale-rt opened #2556 "Fix broken test on Python 3 test_writeDataFile_simple_plain_text_unicode"
See: https://jenkins.plone.org/view/PLIPs/job/plip-py3/842/testReport/junit/Products.GenericSetup.tests.test_context/SnapshotExportContextTests/test_writeDataFile_simple_plain_text_unicode/

also releated https://github.com/zopefoundation/Products.GenericSetup/pull/70

[2018-10-03 10:36] ale-rt opened #2559 "Plone 5.2: Remove manage_metadata"
The ZMI form manage_metadata is currently broken on dexterity objects and will probably work reliably only on the Plone site itself, see http://demo.plone.de/en/frontpage/manage_metadata
When also the Plone site will be a dexterity object this will stop working anyway.

I would remove it in 5.2.

[2018-10-03 11:17] ale-rt opened #2560 "Fix PropertiesToolXMLAdapterTests tests"

[2018-10-03 11:52] frisi commented on #2525
i prepared a buildout and documented the process of creating a sample plonesite running python2 and migrate it to python3.

you can find everything under https://github.com/frisi/coredev52multipy/tree/zodbupdate
this should help users new to the topic (eg pickles, string handling in python2 VS python3) understand the problem and how to debug and fix problems during migration.

i also started to do

[2018-10-03 12:10] thefunny42 commented on #2525
Some additional information:
- The way we debugged our database to see if the migrated worked was to unpickle all the records there a was in it, we used the zodbsearch/relsearch script you can find in our mdtools repository,
- I remember something with ``zope.schema`` where ASCII fields are based on ``zope.schema.Bytes`` in Python 2 but on ``zope.schema.Text`` in 3. We did replace in our applicati

[2018-10-03 12:28] davisagli commented on #2525
@frisi I've only skimmed your writeup so far, but it looks really great! The same results I was discovering, but much more clearly written.

[2018-10-03 15:03] 2silver commented on #2395
@agitator This line [plone.app.content vocabulary.py:254](https://github.com/plone/plone.app.content/blob/master/plone/app/content/browser/vocabulary.py#L254) breaks my folder_contents and leads to the same JS-Error, can you confirm that?

[code]

[2018-10-03 16:04] ale-rt commented on #2555
Closed by https://github.com/plone/plone.app.upgrade/pull/179

[2018-10-03 16:04] #2555 closed

[2018-10-03 16:04] #2554 closed

[2018-10-03 16:09] #2551 closed

[2018-10-03 16:09] #2543 closed

[2018-10-03 17:15] MrTango commented on #2333
Is fixed now for Plone 5.1 and 5.2

[2018-10-03 20:38] runyaga commented on #2395
This problem is severe.  A user can accidentally perform operations on an item unintentionally.  e.g. they could enter Folder A, navigation through a buncha folders and end on Folder J, add a piece of content and the content ends up in Folder A instead of the intended context of Folder J.

[2018-10-03 20:54] thet commented on #2333
Closing with : #2561

[2018-10-03 20:54] #2333 closed

[2018-10-03 21:29] thet commented on #2322
The issue is still open.
But I have a fix for it...

[2018-10-03 22:05] thet commented on #2395
Should already be fixed in:
https://github.com/plone/Products.CMFPlone/pull/2398
https://github.com/plone/Products.CMFPlone/pull/2399

But for sure in 5.1.5 with:
https://github.com/plone/Products.CMFPlone/pull/2563
https://github.com/plone/plonetheme.barceloneta/pull/165

If it's not, it might be a resource caching problem, where @sunew knows more about it and we're investigating it tomorrow.

[2018-10-03 22:05] #2395 closed

[2018-10-03 22:06] thet commented on #2531
Should already be fixed in:
https://github.com/plone/Products.CMFPlone/pull/2398
https://github.com/plone/Products.CMFPlone/pull/2399

But for sure in 5.1.5 with:
https://github.com/plone/Products.CMFPlone/pull/2563
https://github.com/plone/plonetheme.barceloneta/pull/165

If it's not, it might be a resource caching problem, where @sunew knows more about it and we're investigating it tomorrow.

[2018-10-03 22:06] #2531 closed

[2018-10-03 22:55] gforcada commented on #1653
@thet there it is: https://jenkins.plone.org/view/PLIPs/job/plip-plone-staticresources/

[2018-10-04 10:15] sunew commented on #2395
@agitator @runyaga
I can confirm this is fixed on latest 5.1.x

[2018-10-04 10:18] polyester commented on #2516
@agitator in following up to the chat we had earlier, some links that might help:

- [css-only solution, using aria-haspopup and :focus-within](https://css-tricks.com/solved-with-css-dropdown-menus/)
- do note that there's some concern on use of checkbox/input (see the "checkbox hack" section of [this](https://inclusive-components.design/menus-menu-buttons/), although he says it can be a reasonabl

[2018-10-04 11:23] zopyx opened #2565 "Toolbar: "Display" has various issues"
1) Why does the popup with the available views contain the string "Display"...confusing and duplicates "Display" within the toolbar. Using a heading in the popups of the toolbar is a common pattern, It works for "Add new" because the addable entries haven icon. It does not work for toolbar popups without icons. In particular the visual contrast between the heading of a popup toolbar and its entrie

[2018-10-04 12:56] hvelarde commented on #2565
this was already reported eons ago in #1007.

[2018-10-04 12:56] #2565 closed

[2018-10-04 13:04] #2322 closed

[2018-10-05 10:15] sunew opened #2574 "Building a bundle TTW fails on CSRF check"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

Go to @@resourceregistry-controlpanel
Click build on a bundle (the plone bundle for instance):

![selection_672](https://user-images.githubusercontent.com/893142/46529797-12281100-c898-11e8-8cf6-856c4693350b.png)

It builds and reports success, but raises a few CSRF check failures:

[code]

### What I expect to happen:

### What actua

[2018-10-05 10:19] frisi opened #2575 "Provide a Python 3 upgrade form/view"
Before being able to run Plone 5.2 on Python 3 the database needs to be migrated.
(see https://github.com/plone/Products.CMFPlone/issues/2525 for more information and a collection of related documentation and tickets)

Before using https://github.com/zopefoundation/zodbupdate to migrate the database to python 3 we need to differentiate which Python 2 strings should be converted to Python 3 binary

[2018-10-05 10:48] frisi opened #2576 "Prepare Userfolders for Python 3 migration"
we need a script that is called by the python3 migration view (see #2575 for details) that marks password hashes located in userfolders as `zodbpickle.binary` so they do not get mangled when `ZODB.serialize` unpickles the Btree running Python 3 or when using `zodbupdate` to migrate the database to python 3.

## Procedure:

I tried out with test setup described in https://github.com/frisi/coredev52

[2018-10-05 13:00] #2556 closed

[2018-10-05 15:14] jaroel opened #2579 "CSS in robot tests on py3 is broken"
When running robot tests I noticed that the editbar isn't styled.
This works correctly when using `bin/wsgi`.

![screen shot 2018-10-05 at 17 09 06](https://user-images.githubusercontent.com/70700/46543593-8b882980-c8c1-11e8-8faa-3adc8b279d8d.jpg)

A diff between some CSS shows that urls contains '' <0x01> characters. This prevents the CSS from being applied, which breaks robot tests 💯

[bin_wsgi

[2018-10-05 15:36] jaroel commented on #2579
I see the following using `bin/wsgi` using pdb in PloneBundlesTraverser:

(Pdb++) persistentDirectory
<PersistentResourceDirectory object at portal_resources>
(Pdb++) the_resource
<File at /Plone/portal_resources/resource_overrides/production/logged-in.css>
(Pdb++) the_resource.data
<OFS.Image.Pdata object at 0x10e6becf8>
(Pdb++) type(the_resource.data.data)
<class 'bytes'>
(Pdb++) the_data = the_

[2018-10-05 15:44] jensens commented on #2524
We should also add "Framework :: Zope :: 4" I suppose?

[2018-10-05 16:12] mauritsvanrees commented on #2524
Yes, that would be good.

[2018-10-06 09:02] jensens opened #2581 "test isolation problem between plone.z3cform and Products.CMFPlone"
if tests run in combinations the following occurs:

[code]

to reproduce I was able to narrow this down to the following call::

[code]

It can be resolved by skipping the test at:
https://github.com/plone/Products.CMFPlone/blob/442a7c0d100240ec6758cfb19217cc0175c26997/Products/CMFPlone/controlpanel/tests/test_controlpanel_usergroups.py#L27-L40

if the view is rendered, the problem occurs.

Needs

[2018-10-06 10:09] mauritsvanrees opened #2582 "Move check_id skin script to function"
Part of https://github.com/plone/Products.CMFPlone/issues/1801.
The `skins/plone_scripts/check_id.py` script should be replaced by something else. A function in `utils.py` seems best.

- For Plone 5.1:  add a function `Products.CMFPlone.utils.check_id`.
- For Plone 5.2:  add the same, and remove the skin script.

The script is used in various places, so they need an update as well. Related issues

[2018-10-06 14:54] mauritsvanrees commented on #2582
Note: it is tricky to have this running and get all tests to pass in both 5.1 and 5.2. A trick you do to test a corner case in one package may break a test in a different package.

What does not help, is that both `Products.validation` and `plone.app.content` have their own code for this. On current master, they both first look for `context.check_id`, and use a (different) simple fallback method i

[2018-10-07 17:51] frisi commented on #2525
i removed myself as an assignee as i won't be able to carry on with the zodb-py3 migration in the near future. hope my current findings and documentation will help other contributors to get startet.

@thefunny42 thanks for your comments and fixes on the zodbupdate tickets/PR.

@davisagli could you please have a look at the updated ticket description. i tried to add an overview over the currently k

[2018-10-07 20:41] petschki commented on #2581
skipping this test only resolves the issue with ``test_controlpanel_usergroups.py``. If you add another controlpanel test (regardless which one) the failure in `plone.z3cform` comes up again since all the controlpanel tests render the `plone.z3cform.layout` view ... I've investigated a little more into the problem and could narrow the AttributeError down to the stream object in `chameleon/template

[2018-10-08 07:49] gforcada commented on #2582
@mauritsvanrees wouldn't be a solution to move the skin script to an AT related package? As Archetypes related packages are not being ported to python 3 and are on the way to get deprecated and out of core, just pushing these scripts there while cleaning the other core packages that will stay might be simpler... I think @reinhardt used this approach, or thought about doing it

[2018-10-08 09:38] tisto commented on #1475
@sunew thank you for your detailed response! Let's see if Plone 5.1.4 or 5.1.5 will fix this then...

[2018-10-08 09:56] djay commented on #1475
@tisto did anyone try reloading the toolbar via ajax on each folder change?

[2018-10-08 09:57] mauritsvanrees commented on #2582
The `check_id` script is also used by `plone.app.content`. When creating content, we do still have to do various checks on the id.

[2018-10-08 12:58] tisto commented on #1475
@djay I guess that would fix the issue and I was under the assumption this is the actual default behavior. Though I have never touched mockup code in my life and I plan to stay at that level ;)

[2018-10-08 13:05] krissik opened #2585 "Cut and Paste in same folder"
### What I did:

* On folder_contents I select an item and click "Cut" button
* I click "Paste" button on same folder

### What I expect to happen:

Selected item is still in folder.

### What actually happened:

The selected item disappears after clicking "Paste" and  "Successfully pasted items" message is shown. I can still paste the item to another folder so it is not lost but this is very conf

[2018-10-08 14:33] petschki commented on #2581
@jensens  @pbauer I've fixe the failing tests but need advice if this fix is valid. Due to the fact, that `five.pt` is deprecated and the `<include package="five.pt" />` here https://github.com/zopefoundation/plone.z3cform/blob/test-cleanups/src/plone/z3cform/templates.zcml#L7 never gets valid, the page templates from plone.z3cform are somehow broken. If you add

[code]

to `plone.z3cform.template

[2018-10-08 14:35] petschki commented on #2581
PS: I've added the lines in the open pull request here https://github.com/zopefoundation/plone.z3cform/pull/20 ... lets see what travis is saying

[2018-10-08 14:45] jensens commented on #2581
Yes, this makes sense to me. Looks like a very good catch!

[2018-10-08 20:08] mauritsvanrees commented on #2582
This is ready for review.
Jenkins on 5.1 is happy.
Jenkins on 5.2 complains, but I think that is a general problem with the 5.2 Jenkins job since a few days. There are [no test failures](https://jenkins.plone.org/job/pull-request-5.2/1541/).

[2018-10-09 07:57] mauritsvanrees commented on #2582
Note: it is better to wait with merging until after Plone 5.1.4 has been released, which should be soonish.
But review can happen.

[2018-10-09 08:14] sunew commented on #2585
Could be related to https://github.com/plone/mockup/issues/857
Possibly fixed in 5.1.4-pending - @krissik would it possuble for you to test that case on 5.1.4-pending?

[2018-10-09 16:30] zopyx opened #2588 "Setting effective/expiration dates through toolbar -> Advanced does not work"
Setting the effective/expiration date (Oct 1 and Oct 31 in example) has no effect. Both the folder listing and edit form of the same content object reveal different dates.

Tested with Plone 5.1.2 on plone-demo.info

<img width="1149" alt="screenshot 2018-10-09 18 27 57" src="https://user-images.githubusercontent.com/594239/46683802-65c89080-cbf1-11e8-9303-01acaf3f4938.png">

<img width="473" alt=

[2018-10-10 07:16] yurj commented on #2516
Please consider compatibility with other navigations like collective.editablemenu or megamenu

[2018-10-10 07:28] agitator commented on #2516
@yurj please explain, imho those add ons follow a totally different approach to build a navigation

[2018-10-10 08:13] pbauer commented on #2579
The problem seems not only in robot-tests. Robot-tests use `logged-in.css`.

When running `./bin/wsgi` the content of http://0.0.0.0:6543/Plone/++plone++production/++unique++2018-10-10T09:38:39.378199/logged-in.css
contains:

[code]
Where ```` is ``<0x01>`` and should be `url(`, so that `url(++plone++static/pb_close.png)` works.

What is more: The same in python2 (using `py3_on_py2.cfg`) returns

[2018-10-10 09:06] pbauer commented on #2579
The issue is in `Products.CMFPlone.resources.browser.combine.write_css`:

[code]

The regex is broken:

[code]

[2018-10-10 10:08] pbauer commented on #2579
The fix that seems to work is to use raw bytes in the regex to make the `\` work as a escape-character. Do regex-nerds think that is ok or is there a better fix?

[2018-10-10 10:30] zopyx commented on #2228
All my reports are related to 5.1.2.1

[2018-10-10 10:52] tisto commented on #2228
@zopyx sorry for the noise. I was wrong. You can indeed still see the error with Plone 5.1.2 here: https://travis-ci.org/collective/collective.shibboleth/jobs/439564303 (Code: https://github.com/collective/collective.shibboleth/pull/2)

[2018-10-10 13:31] jaroel commented on #2579
@pbauer That's ok!

Normally raw string are used, but this got mixed up in https://github.com/plone/Products.CMFPlone/commit/f4c99c98567b028da2aae3a321b7d109bde405c2

I've checked this locally and it works like a charm! Thank you!

[2018-10-10 13:31] #2579 closed

[2018-10-10 18:38] pbauer opened #2589 "Port robot-server to Python 3"
robot-server is not yet ported to python 3 but is a sometimes required for debugging robot-tests.

It depends on Signals (https://github.com/zopefoundation/Zope/tree/2.13/src/Signals) which was moved from Zope to ZServer and is not ported to Python 3.

[2018-10-10 19:11] davisagli commented on #2589
What does it do that can't be done when using the Zope testrunner?

[2018-10-10 20:08] pbauer commented on #2589
I'm not sure but I was under the impression that it was best practive to use robot-server when debugging robot-tests (with reload).

I wanted to debug the unfound keyword `enable_autologin_as`:

[code]
Could that be related to the change to default to picking a free port?

I found that if I disable reload (e.g. by setting HAS_RELOAD to false when ZServer is not importable) the robot-server starts

[2018-10-10 20:09] pbauer commented on #2589
@Rotonen do you have any idea about the cause of
`[ ERROR ] Error in file '/home/jenkins/workspace/plip-py3/src/plone.app.robotframework/src/plone/app/robotframework/tests/test_i18n_library.robot': Getting keyword names from library 'Remote' failed: Calling dynamic method 'get_keyword_names' failed: Connecting remote server at http://localhost:52576/plone/RobotRemote failed: <ProtocolError for loc

[2018-10-10 20:12] Rotonen commented on #2589
No.

[2018-10-10 21:35] davisagli commented on #2589
Ah, reload is a fine answer. I don't trust plone.reload, so didn't think about that.

From my debugging, the missing RobotRemote is not related to the port changes but has to do with zope test layer ordering issues -- so you're definitely going to have to run with the zope testrunner to figure this one out. For some reason that I haven't found yet, one of the test layers in plone.app.robotframewor

[2018-10-11 07:54] krissik commented on #2585
The problem still exists in 5.1.4-pending.

[2018-10-11 09:19] Rotonen commented on #2589
@davisagli oh, that actually fully explains why we have different teardown issues in:

1) with the old zope.testrunner in a sequential run
2) with the new zope.testrunner, which optimised layer sharing, and thus the run order, in a sequential run
3) with parallel runs as they do not share layer setups or teardowns between executors, but just run the layers independent of each other

This is probab

[2018-10-11 10:35] pbauer commented on #2589
@davisagli thanks for fixing the issue with RobotRemote in https://github.com/plone/plone.app.robotframework/pull/94!
In Python 3 We're now down to 4 failing robot-tests and no failing python-tests!

In Python 2 chrome does not start:
[code]

[2018-10-11 11:01] pbauer opened #2590 "Update to Zope 4.0b7"
Zope 4.0b6 is out (https://community.plone.org/t/zope-4-0b6-released/7345/1). Updating the extends to the new version-pinns fails in multiple ways (in 5.2 coredev but also in py3 and py3_on_py2).

Here we collect issues that need to be adressed/fixed:
* [x] Validation of PythonIdentifier #2591
* [x] Changed `__repr__` for Zope objects #2547
* [x] Update the versions to https://raw.githubuserconten

[2018-10-11 11:07] pbauer opened #2591 "Startup of Plone fails in Zope 4.0b6 on py3"
Due to https://github.com/zopefoundation/zope.schema/commit/c5da21d27354430abec3d965011c96f47c626b2e values like `plone.app.registry` and `3-4alpha1` or `import-intid-util` are no longer valid names of import-steps. They seem to be validated as PythonIdentifier using the regex `r'[a-zA-Z_]+\w*'`.

[code]

[2018-10-11 11:13] pbauer commented on #2590
See #2591

[2018-10-11 11:14] Rotonen commented on #2589
That's probably the CI job not setting `$PATH` correctly.

[2018-10-11 12:03] davisagli commented on #2591
Well, they aren't valid Python identifiers. We should probably switch the schema in Products.GenericSetup to use ASCIILine, maybe with our own constraint.

I can't figure out why this worked before the change 🤔

[2018-10-11 12:05] tisto commented on #1475
@sunew I can confirm that the problem is gone with Plone 5.1.2-pending. Thanks for your help!

[2018-10-11 12:06] tisto commented on #1475
@terapyon can you elaborate which issues are still unsolved in your opinion here?

[2018-10-11 12:48] pbauer commented on #2589
https://jenkins.plone.org/view/PLIPs/job/py3_on_py2/ is green \o/

[2018-10-11 13:02] pbauer commented on #2368
A super-short update:

* We just had the first green test for py3_on_py2 (https://jenkins.plone.org/view/PLIPs/job/plip-py3/). That job is running the whole python3-branches plus Archetypes in Python 2.
* The py3 job (https://jenkins.plone.org/view/PLIPs/job/plip-py3/) has 5 remaining faiing robot tests and no failing python-tests
* Zope 4.0b6 is released. Updating our versions leads to some more

[2018-10-11 13:58] ale-rt commented on #2589
Please upload a picture of your happy face :)

[2018-10-11 15:42] davisagli commented on #2589
I was momentarily excited that plip-py3 is green too, but it turns out that build only ran 145 tests... 🤔 Looks like you temporarily edited the build to only run the robot tests, @pbauer?

[2018-10-11 15:45] Rotonen commented on #2589
Yes, it was temporarily switched to have a quick run which screenshots the failures, but it seems there is some layer leak from a non-Robot layer breaking those tests.

[2018-10-11 15:56] pbauer commented on #2589
Yes, that was an experiment to get the screenshots earlier to debug the failing p.a.m tests. But only running robot-tests they passed.

[2018-10-11 16:37] sunew commented on #1475
@tisto you mean 5.1.4-pending I assume :)

[2018-10-11 16:51] davisagli commented on #2589
I debugged and found that the getAdapters call in field/edit.py in plone.schemaeditor does not actually find the IFieldEditorExtender adapter that it should. But I see the adapter factory in getSiteManager().registeredAdapters(), so it's not obvious what is going wrong with the lookup.

If you remove the provideAdapter calls in plone.app.multilingual.dx.schemaeditor, you can get the error even whe

[2018-10-11 17:04] pbauer commented on #2589
Yes, I looked hard at that file and especially at these two calls and learned nothing except that ZCA can create headaches. Ping me as soon as you figure out a fix 😄

[2018-10-11 17:07] pbauer commented on #2589
By running `ROBOT_BROWSER=chrome ./bin/test --all -s Products.CMFPlone -s plone.app.multilingual -t Products.CMFPlone  -t 'test_schemaeditor.robot' -t '!CMFPlone*.robot'` I found that the issue is at least not in one of the python-tests in CMFPlone.

[2018-10-11 17:11] pbauer commented on #2589
It is in plone.schemaeditor. With `ROBOT_BROWSER=chrome ./bin/test --all -s plone.schemaeditor -s plone.app.multilingual -t plone.schemaeditor -t 'test_schemaeditor.robot'` I can reproduce it.

[2018-10-11 17:35] davisagli commented on #2589
I won't have a chance to try this until later but I suspect we should convert plone/schemaeditor/tests/tests.py to use plone.testing

[2018-10-11 17:41] pbauer commented on #2589
Damn! False alarm, it's not plone.schemaeditor (I commented out the two provideAdapter calls and fogot to save after undoing that...)
I'll try a couple more packages but in half andf hour I'll have to call it quits.

[2018-10-11 17:55] pbauer commented on #2589
plone.app.users it is.

[2018-10-11 19:56] pbauer commented on #2589
It seems to be a a mix of the two layers `plone.testing.z2.INTEGRATION_TESTING` and `plone.app.users.testing.PLONE_APP_USERS_FUNCTIONAL_TESTING`

When running the following three tests it fails:
`ROBOT_BROWSER=chrome ./bin/test --all -s plone.app.users -s plone.app.multilingual -t 'test_schemaeditor.robot' -t test_uuid_disabled_email_as_login_enabled_no_full_name_uppercase -t test__init__userid_in

[2018-10-11 21:28] davisagli commented on #2589
And... 🍏📗💚🥗!

Ship it! 🚢:shipit:

[2018-10-11 21:47] pbauer commented on #2589
Sadly, the py3_on_py2 job is not really green. For some reaons it ran 10000 less tests than it should have 😭. There are some failures in plone.restapi that do not happen locally (not again 😱).
And: Zope 4.0b6 needs to be merged. So shipping has to wait a little 😄

[2018-10-12 01:09] terapyon commented on #1475
@tisto thank your supporting. it great.

[2018-10-12 04:36] tisto commented on #1475
@sunew yes, of course. I edited my previous comment. :)

[2018-10-12 04:47] zopyx commented on #2228
I don't get the point. #2228 is an error in Plone 5.1.2.1.

[2018-10-12 06:37] pbauer opened #2592 "Prepare for release of Plone 5.2a1 with python 3 support"
Here we discuss and collect all tasks that need to be done before a 5.2a1 release.

* [x] Fix all tests in python 3.6  (https://jenkins.plone.org/view/PLIPs/job/plip-py3)
* [x] Fix all tests in python 3.7 (https://jenkins.plone.org/view/PLIPs/job/plip-py3.7)
* [x] Fix all tests in python 2.7 (https://jenkins.plone.org/view/PLIPs/job/py3_on_py2)
* [x] Activate pull-request jobs for 5.2 that use py3

[2018-10-12 08:08] pbauer commented on #2592
The failing tests in plone.restapi are all from `TestBatchingArchetypes` and they fail together with the robot-tests in `plone.app.widgets`. Even when I strip everything from the tests and the testsetup of the robot-tests in plone.app.widgets it fails.
To reproduce:
[code]

[2018-10-12 08:10] pbauer commented on #2589
Let's track remaining issues and tasks in #2592 so that this ticket can go back to be about porting robot-server to Python 3, which IMHO is not a hard requirement for 5.2a1

[2018-10-12 08:17] jensens commented on #2228
I suppose this owas one of those github-auto-close problems. We had this already in past. Weird.

[2018-10-12 09:29] pbauer commented on #2591
Changing to ASCIILine until startup works requires changes in:
* Products.GenericSetup: (IRegisterProfileDirective, IExportStepDirective, IImportStepDirective, IImportStepDependsDirective)
* plone.resource (IResourceDirectoryDirective)
* z3c.caching (IRuleset)

Should we do that?

[2018-10-12 09:35] pbauer commented on #2590
Also relevant: https://github.com/plone/Products.CMFPlone/issues/2547

[2018-10-12 11:40] Rotonen commented on #2592
The filedescriptor leaks should also be tackled for testing stability. I'm having a feeling currently the Robot tests can get stuck when hitting an ulimit and the test setup machinery not handling that scenario.

[2018-10-12 12:12] pbauer commented on #2592
I skipped the tests in `TestBatchingArchetypes` but then next tests `TestATContentPatch` failed. It seems the first tests in `plone.restapi.testing.PloneRestApiATLayer:Functional` fails but consecutive tests do not fail. I tried to add a dummy Test-Class that is run before the others in the hope that the teardown of that would fix consecutive TestCases but that was no successfull. I'm currently at

[2018-10-12 12:15] Rotonen commented on #2592
Run those quick runs with `--shuffle` and `-vvv` to see if the ordering between failures and successes pinpoints the correct leaking test, testclass or layer execution and/or setup/teardown out for you.

[2018-10-12 13:02] pbauer commented on #2592
For the failing tests `plone.rest.events.mark_as_api_request` is never hit 😟

[2018-10-12 13:28] pbauer commented on #2592
Could I buy me a clone of @davisagli for all the times that I run into these soul-crunching issues?

[2018-10-12 16:32] pbauer commented on #2592
I added a crazy workaround for the issue in plone.restapi: https://github.com/plone/plone.restapi/commit/23fad9ad12d11c00c3c524f1ab032b0c5bb54cb3

[2018-10-12 16:32] pbauer commented on #2592
And... we are green!
![green](https://user-images.githubusercontent.com/453208/46881843-f818a080-ce4c-11e8-86e9-608ebbf070a9.png)

[2018-10-12 18:20] thet commented on #2592
wohoo!

[2018-10-12 20:11] pgrunewald commented on #2592
Great news!

[2018-10-13 00:32] davisagli commented on #2592
Oh dear -- I'll try to find a chance to look at the plone.restapi failure soon. Glad it's green though!

[2018-10-13 02:53] davisagli commented on #2591
See the discussion on https://github.com/zopefoundation/Products.GenericSetup/pull/72

[2018-10-13 10:41] tisto commented on #2592
@pbauer if p.a.widgets tests bleed into p.restapi tests why don't we just move the package to the test-isolation issues group in buildout? If we start to write that kind of work-around tests we just make things worse IMHO.

[2018-10-13 11:18] pbauer commented on #2592
@tisto the whole alltests-thing will be gone and the test-isolation group as well. We're running tests with `./bin/test --all` because we fixed almost all test-isolation issues.

[2018-10-13 11:52] tisto commented on #2592
@pbauer wow, ok. That's great news! Never thought that the work I started many years ago actually would come to an end at some point. :)

Though unfortunately being able to run "bin/test --all" just means that we currently do not see test isolation issues in the specific order we run the tests. The test isolation issues are still present.

If we now start to fix the problems of one package in anot

[2018-10-13 12:40] lukasgraf commented on #2592
I've looked into the `plone.restapi` failure last night.

The failure in `plone.restapi` happens because the subscriber registration of the [`mark_as_api_request` for `IPubStart`](https://github.com/plone/plone.rest/blob/b43bf5266876b41256772a0ab2627e6a412588b5/src/plone/rest/configure.zcml#L8-L11) seems to vanish when a robotframework test like the one from `p.a.widgets` runs before it.

This is

[2018-10-13 16:41] Rotonen commented on #2592
@tisto I'm trying to get to a starting point for adding daily and weekly test runs to shake the testing stack harder to start finding those out. Additionally running each layer in parallel already passes and that's a pretty decent starting point, as the layer setups happen in isolation with both the `zope.testrunner` `-j` flag and the hacky `mtest` wrapper I'm toying around with.

https://jenkins.

[2018-10-14 07:51] tisto commented on #2592
@Rotonen that all sounds fantastic! Thank you for taking this over!

[2018-10-14 10:08] gforcada commented on #2592
Regarding single package isolation, we can create a Jenkins job thatvruns only the package tests on every push on that package for each buildout.coredev branch, it should be trivial to wire that up with mr.roboto (tm)

[2018-10-14 10:37] pbauer opened #2593 "Reconfigure coredev for Plone 5.2a1"
It should work in py2 and py3 with py2 still being the default and py3 working when extending from a py3.cfg

Tasks/Questions:

* Since py2 is the default, ZServer should be in the default config.
* We should probably move the whole Archetypes-stack to a separate file since it is being deprecated with 5.2.
* We should add a py3.cfg that removes the incompatible packages (ZServer/AT) similar to wha

[2018-10-14 14:33] Rotonen commented on #2592
@gforcada can we do those as pipelines, which share the buildout filesystem? If so, that'd sound like the way to parallelise (and we could get rid of the weight plugin that way too). Don't know if the default should be to split the runs per package or per layer (or both).

But that's something for later, as we'd need to figure out the basics of running our test reliably in any manner.

@tisto than

[2018-10-14 14:39] gforcada commented on #2592
Let's move that to Jenkins.plone.org repo then

[2018-10-15 19:29] #2268 closed

[2018-10-15 20:58] ale-rt commented on #2582
Also 5.2 is happy now: https://jenkins.plone.org/job/pull-request-5.2/1578/

Should we just merge all the PRs in a random order?

For Plone 5.1:

https://github.com/plone/Products.CMFPlone/pull/2584
https://github.com/plone/Products.ATContentTypes/pull/62
https://github.com/plone/Products.Archetypes/pull/119
https://github.com/plone/Products.validation/pull/5
https://github.com/plone/plone.app.con

[2018-10-16 05:33] icemac commented on #2547
Maybe we can add a `__repr__` to `OFS.SimpleItem` which still contains the path in the ZODB.
See zopefoundation/persistent#96.

But maybe this is different from the actual problem you described here.

[2018-10-16 05:34] icemac commented on #2590
There will be a 4.0b7 in the near feature containing some bug fixes for 4.0b6.

[2018-10-16 07:07] thet commented on #2593
All sounds good. There is already a wsgi.cfg which extends core.cfg, so that should be fine.

[2018-10-16 07:11] thet commented on #2547
@icemac +1 for adding ``__repr__`` to ``OFS.SimpleItem`` and actually what I suggested while discussing this issue in Halle :)
In the context of Zope, the path is a worthy info to be included in ``__repr__``

[2018-10-16 07:12] thet commented on #2590
For #2547 there might be a simple solution which is discussed in the ticket.

[2018-10-16 08:05] jensens commented on #2593
FTR, besides the reconfiguration, here other findings while analysing our buildout and resulting TODOs:

- we still have a Sphinx setup in buildout.coredev while the actual build happens at a different place @svx @polyester - can we drop it here?

- we still have references to Grok in our ecosystem.cfg and versions and in . Lets drop it. We anyway can not  guarantee that it is working.

[2018-10-16 08:14] svx commented on #2593
@jensens IMHO, yes !

[2018-10-16 08:37] Rotonen commented on #2547
@icemac see also https://github.com/zopefoundation/persistent/pull/95

Will need to find time to figure out the cPersistent side. Help welcome.

Doctests are not the only issue there - also bad tooling, which consumes and reunsafes the ’bunches of bytes’ OIDs can be.

[2018-10-16 19:15] pbauer opened #2594 "Update and translate Plone default frontpage"
The text of the frontpage might need to be updated/reviewed. Also the translations (at least german) are not up to date.
Template: Products/CMFPlone/browser/templates/plone-frontpage.pt,
Translations: e.g. plone/app/locales/locales/de/LC_MESSAGES/plonefrontpage.po)

[2018-10-17 07:11] Rostislav2017 commented on #1724
TranslatorsAuction is the translation exchange with a free selection of the best performer for the Auction principle.
It provides the unique opportunity to conduct the ruled auction: preliminary testing, cross assessment by potential authors the works of the other applicants, ranging the results of the tests according to the points gained by "blind" assessment. The conditions allow the customer to

[2018-10-17 14:06] pbauer commented on #2591
@davisagli should we switch to `TextLine` or `ASCIILine` in `plone.resource` and `z3c.caching`?

[2018-10-18 01:42] davisagli commented on #2591
@pbauer sorry, I'm not sure and don't have time to take a closer look tonight.

[2018-10-18 01:43] davisagli commented on #2591
But given the discussion on the GenericSetup issue I would guess TextLine

[2018-10-18 05:34] pbauer commented on #2590
With https://github.com/plone/buildout.coredev/pull/537 I combined the update to 4.0b6 with the fixed ZODB and fixes for #2591. The jenkins-jobs results will show all cases where `__repr__` breaks the tests:

* https://jenkins.plone.org/job/pull-request-5.2-3.7/7/
* https://jenkins.plone.org/job/pull-request-5.2-3.6/7/
* https://jenkins.plone.org/job/pull-request-5.2/1586/

[2018-10-18 06:28] icemac commented on #2547
@Rotonen I do not know enough C to be helpful to resolve zopefoundation/persistent#95. But I see your point and added the ticket to the Zope final issue list.

[2018-10-18 06:55] pbauer commented on #2590
All failing tests are all caused to the change of `__repr__`. Once https://github.com/zopefoundation/Zope/issues/379 is done we can safely update to 4.0b6 without touching all the failing doctests:

[code]

[2018-10-18 07:43] pbauer commented on #2591
I did the same in https://github.com/zopefoundation/z3c.caching/pull/6 and https://github.com/plone/plone.resource/pull/28

[2018-10-18 13:30] raminqaf commented on #391
#42

[2018-10-19 02:58] abosio commented on #1789
Still running into this occasionally. Have not been able to reduce issue. It might only be Chrome on Windows. It seems like the drag interferes with the click.

[2018-10-19 13:13] iham opened #2595 "review list portlet does not work with plone.app.multilingual"
## BUG/PROBLEM REPORT

### What I did:
1. create a vanilla plone site; install it with multilingual support
2. configure at least two languages (i used German and English)
3. on portal_root add the review list portlet
4. create a contentobject and submit it for publication

### What I expect to happen:
the review list portlet should show the pending object.

### What actually happened:
the review

[2018-10-19 22:06] jamadden commented on #2547
https://github.com/zopefoundation/persistent/pull/97 handles getting the type repr the same (and back to what it was) between C and Python; https://github.com/zopefoundation/persistent/pull/98 handles formatting recognisable OIDs as hex ints.

[2018-10-20 09:35] pbauer opened #2596 "backport safe_nativestring to Plone 5.0 and 5.1"
`safe_nativestring` is useful when writing py2 and py3 compatible code. It could be used in may places, e.g. https://github.com/plone/Products.PortalTransforms/pull/38. To allo wthe use in addons that support Plone 5.2 and older versions we should add it to 5.0 and 5.1 as well.

[2018-10-21 11:06] iham commented on #2595
i did some more research ...
plone.app.multilingual way above 2.x is pinned by at least all versions of plone 5.1. according the docs it is used by all plone 5.x versions.

why is that language bypass for linguaplone still part of cmfplone?
is there any case in which cmfplone 5.x is used by plone4?

if not: we could just remove that language bypass.
a neat feature would be, to make the bypass an o

[2018-10-22 08:56] zopyx opened #2597 "Collection edit screen inconsistent naming of table columns"
See screenshot.

The "table columns" items are not properly named or localized. The naming should be consistent e.g. with the "Columns" items

![screenshot_20181022_105321](https://user-images.githubusercontent.com/594239/47284823-0acb6c00-d5e9-11e8-999d-f9e305a99fe2.png)

[2018-10-22 09:04] zopyx opened #2598 "Collection edit: duplicate entries"
![screenshot_20181022_110311](https://user-images.githubusercontent.com/594239/47285146-33079a80-d5ea-11e8-97b2-7c5d6f7d9e0e.png)

See duplicated entries "Creation Date" and "created"

[2018-10-22 13:03] jamadden commented on #2547
persistent 4.4.3 was released with those changes.

[2018-10-22 13:46] tomgross commented on #2150
What's the state of this?

[2018-10-22 14:18] hvelarde commented on #2595
@iham a regression is a special kind of bug; marking a regression as a bug is redundant.

[2018-10-22 14:19] hvelarde commented on #2597
do you mind to replace the screenshot?

[2018-10-22 14:27] thet commented on #2150
This needs some funding. For my part, the project where I use these branches is out of budget to finalize the PLIP.

[2018-10-22 18:28] mauritsvanrees commented on #2582
Thanks for the review!
I will merge them all now.

[2018-10-22 19:44] mauritsvanrees commented on #2582
The core jobs of Jenkins on 5.1 and 5.2 are passing, so all is well.

[2018-10-22 19:51] mauritsvanrees commented on #1801
Status as of 22 October 2018: 12 scripts to go in `Products.CMFPlone/skins/plone_scripts`:

[code]

(The list in the main text of this issue is leading.)

[2018-10-23 12:18] zopyx commented on #2228
Why was 5.1.4 released with this blocker?

[2018-10-23 12:34] zopyx commented on #2228
Minimal buildout for failing Plone 5.1.4: https://github.com/zopyx/failing-plone

[2018-10-23 12:34] zopyx commented on #2228
https://github.com/zopyx/failing-plone works on MacOS - weird

[2018-10-23 12:42] jensens commented on #2228
Your buildout works here on a *very* customized Ubuntu 14.04. Also tried with Multilingual using `advanced=1`. Works.

[2018-10-23 12:56] pnicolli commented on #2228
I can confirm the failing-plone buildout works for me on MacOS 10.14, python 2.7.15

[2018-10-23 13:03] zopyx commented on #2228
Interesting observation: the error is reproducible with latest Ubuntu and FC26 where we use a shared eggs-directory. Both machines are pretty fresh and the eggs cache is also pretty new. Running the instance from a buildout with local egg-cache (eggs-directory=eggs) then I do not see the error. I also verified the issues with a system Python vs. self-compiled Python which makes no difference. This

[2018-10-23 13:05] jensens commented on #2228
I have a global egg cache here configured in my `~/.buildout/default.cfg` and it works.

[2018-10-23 13:07] ebrehault commented on #2516
@agitator your PLIP has been approved by the Framework team.

[2018-10-23 13:38] jensens commented on #449
This was fixed by https://github.com/plone/plone.app.folder/pull/21

[2018-10-23 13:38] #449 closed

[2018-10-23 13:40] jensens commented on #1742
parts solved by https://github.com/plone/Products.CMFPlone/pull/2573

[2018-10-23 13:52] agitator commented on #2516
😎 ... work will continue at the ploneconf sprint

[2018-10-23 14:07] pbauer opened #2599 "bobtemplates.plone with newer Unidecode breaks searching for special characters"
`bobtemplates.plone` >= 3.4.2 requires `python-slugify` which pulls in `Unidecode>=0.04.16`.
Plones `versions.cfg` (http://dist.plone.org/release/5.1.4/versions.cfg) pinns `Unidecode = 0.04.1` because it breaks the search in Plone because `plone.i18n.normalizer.base.baseNormalize` behaves different than with that version.

I guess that `baseNormalize` needs to be adapted to work correctly with `Un

[2018-10-23 14:10] hvelarde commented on #1742
just for the record: an alternate method for registering static resources in Plone add-ons that works in both Plone 4 and 5 is described here:

http://hvelarde.blogspot.com/2018/09/look-ma-no-resource-registries.html

[2018-10-23 14:28] mauritsvanrees commented on #2228
As far as I understand, this is not a problem in Plone. It is a problem in GenericSetup that hides the underlying problem. And the underlying problem is an add-on that lists a non-existing dependency profile. Installing the add-on in the add-ons control panel would fail. Installing it in the advanced add-plone-site also fails, but sadly in a non-helpful way.

So something that should fail, now fai

[2018-10-23 14:49] pbauer commented on #2599
The current implementation from 2010 is https://github.com/plone/plone.i18n/commit/dc4b3c25a7ca8fccc59769e07e20929f9d8f2e5d and can probably be replaced by a much simpler use of `unidecode`.

[2018-10-23 19:43] 2silver commented on #2595
same as #1969

[2018-10-24 01:42] #2595 closed

[2018-10-24 01:43] hvelarde commented on #1969
according to #2595 this happens also in Plone 5.

[2018-10-24 06:12] pbauer commented on #2590
I did a new testrun with the newest versions from https://raw.githubusercontent.com/zopefoundation/Zope/master/versions.cfg and the branch https://github.com/zopefoundation/Zope/pull/387 which restores the old __repr__ in OFS. There may be exciting new failures.
* https://jenkins.plone.org/job/pull-request-5.2-3.7/21/
* https://jenkins.plone.org/job/pull-request-5.2-3.6/19/
* https://jenkins.plone

[2018-10-24 13:13] jensens opened #2601 "requirements.txt is missing in release"
@plone/release-team

In the Plone release at http://dist.plone.org/release/5.1.4/ is no `requirements.txt` file matching the `setuptools` and `zc.buildout` versions pinned in the `versions.cfg`.

Also, there is no tag at https://github.com/plone/buildout.coredev which one could use to reference the file from.

Please always include the `requirements.txt` with the releases!

[2018-10-24 13:47] hvelarde commented on #2221
with our new approach we don't need this anymore.

[2018-10-24 13:47] #2221 closed

[2018-10-24 15:20] erral commented on #2599
I have made a quick test, and replacing `mapUnicode`'s implementation and `baseNormalized`'s with a single unidecode call, passes the tests of plone.i18n with the exception of a german normalization:

[code]

I can prepare a PR and see if this breaks something else, we could be using this somewhere inside CMFPlone too.

[2018-10-24 17:21] esteele commented on #2601
I've added the requirements.txt to dist.plone.org

[2018-10-25 08:43] pbauer commented on #2590
I don't understand where the `__repr__` of `persistent.Persistent` takes precedence over the one from `OFS.SimpleItem`. Here is the chain as I understand it:

[code]

Can you give me a hint?

[2018-10-25 09:50] petschki commented on #2536
There are several TinyMCE styling bugs which all lead to the HTML filtering module (#2329, #2482, #2535)... only current workaround is to disable HTML filtering if you want to have all TinyMCE styles available. But do this only with trusted editors!

[2018-10-25 11:35] icemac commented on #2590
`persistent.Persistent` is implemented in C. This fact seems to change the MRO so it always comes before  the classes implemented in Python. See https://github.com/PyCQA/pylint/issues/2188 where I got to know about this fact.

[2018-10-25 12:17] pbauer commented on #2590
🤦‍♂️

[2018-10-25 12:42] agschaid commented on #2536
@petschki thanks a lot! That was a tremendous help!

Actually I did NOT have to disable HTML filtering. I just had to add the `style` attribute to the list of "Custom Attributes" which are allowed.

Might be considered a "config bug" between TinyMCE and Plone.

[2018-10-25 17:17] pbauer commented on #2590
I see that changing the first base-class of `plone.dexterity.content.Container` to `PathReprProvider` fixes the reprs for folderish dexterity content. It feels super-ugly though. Having a completely different repr for Item and Container is a no-go though, so I'll probably add that.

Are we planning to add the physical path like in `PathReprProvider` to the `__repr__` of `persistent.Persistent` at

[2018-10-26 08:02] MrTango commented on #2599
I'll have a look at the code bobtemplates.plone later this day.

[2018-10-26 17:09] #2591 closed

[2018-10-26 17:18] pbauer commented on #2590
With the following four PR's all remaining issues should be fixed:
* https://github.com/plone/plone.dexterity/pull/93
* https://github.com/plone/Products.Archetypes/pull/121
* https://github.com/plone/plone.app.folder/pull/22
* https://github.com/plone/plone.contentrules/pull/9

When the following builds of https://github.com/plone/buildout.coredev/pull/542 are green **and** 4.0b7 is released we c

[2018-10-26 17:38] pbauer commented on #2455
With the release of ZODB 5.5.1 and transaction 2.4.0 this is done. It will be included in Plone 5.2a1

[2018-10-26 17:38] #2455 closed

[2018-10-26 18:03] jamadden commented on #2590
Because Persistent's `__repr__` first tries to delegate to a `_p_repr`, if present, I wonder if this could be solved without manually changing all those other classes' MRO by having `PathReprProvider` also set `_p_repr` (`_p_repr = __repr__`). That way, when the weird C MRO comes into play and finds Persistent's `__repr__`, Persistent can still find a correct `_p_repr`.

[2018-10-27 05:19] pbauer commented on #2590
@jamadden Thanks for the tip, I'll test that.

[2018-10-27 05:44] pbauer commented on #2590
Looks good. I'll wait for comments. Not requiring to add a new base-class that is only available in the newest Zope (even to deprecated Code such as Archetypes) would be much better.

[2018-10-27 06:04] pbauer commented on #2590
@jamadden there are surprising test-errors in https://github.com/zopefoundation/Zope/pull/392:

[code]
Could it be that the C-implementation of  returning `_p_repr` swallows the leading slash? My C-fu is non-existent.

[2018-10-27 06:58] pbauer commented on #2590
Weird: The issue is actually in `PathReprProvider`.

When calling the same method as `obj.__repr__()` the ourput of `'/'.join(self.getPhysicalPath())` is `'/test_folder_1_'`.

But when calling the same method as as `obj._p_repr()` the output of the same same code `'/'.join(self.getPhysicalPath())` is `'test_folder_1_'`

[2018-10-27 12:58] pbauer commented on #2590
This can be reproduced in the test `test_cook_zope3_page_templates_using_format`:

`aq_parent(aq_inner(self))` returns `None` when using `__repr__`, but when using `_p_repr` is returns `<Application at >`. So in the first case `self` seems to be not properly aq-wrapped. I re-added `PathReprProvider` to `OFS.Folder.Folder` in https://github.com/zopefoundation/Zope/pull/392/commits/b52bdd9617d8ef300

[2018-10-28 22:19] pbauer commented on #2590
My fix in https://github.com/zopefoundation/Zope/pull/392 passes in Zope itself but fails in Plone in several tests with similar issue as above:
[code]
instead of
[code]

What now happens is that `__repr__` of `persistent.Persistent` delegates to `_p_repr` of `OFS.SimpleItem` which again calls `__repr__` of `OFS.SimpleItem`. Somewhere in that mess the object loses the ability to access its parent

[2018-10-28 22:36] MrTango commented on #2599
See my comments in https://github.com/plone/bobtemplates.plone/issues/335

[2018-10-28 22:37] MrTango commented on #2599
@erral did you had any success to fix the issue plone.i18n? I think thats the only way to solve this.

[2018-10-29 06:55] zopyx opened #2604 "Collection portlet lacks configuration for # items to display"
We created a collection for showing the "recent changes" of all content across the site.
The collection display options are perfectly fine for controlling #items, #items per batch etc.
You want to reuse the collection with a collection portlet and display the latest N items. There is no to control the number of items being displayed inside the portlet unless you reconfigure the collection's displa

[2018-10-29 08:09] MrTango commented on #2150
@thet How much work will this be?
I think we really need some solid widget here, the current situation on DateWidgets is bad.
For a current project i needed more a TextWidget with the Date field, but even this was not easy to do.
I had to use a custom DataConverter and a custom TextWidget to archive this. Plus i had to import the virtualtime package to get rid of the <1900 problem, as i needed dat

[2018-10-29 09:08] pbauer commented on #2599
Why not simply replace the one line where it is used?
[code]

[2018-10-29 12:49] zopyx commented on #1140
I can still reproduce this error on Plone 5.1.4

[2018-10-29 14:30] pbauer commented on #2590
We'll not use `_p_repr` in Zope for now since I could not figure out where exactly acquisition got lost and how to fix that. Instead I'll add `PathReprProvider` to Dexterity and Archetypes (i.e. the pull-requests mentioned above).
Since the coredev builds are currently broken because of a dependency-bump in Zope and Zope 4.0b7 will be released tomorrow, I'll also let coredev depend on https://raw.

[2018-10-29 15:13] zopyx opened #2605 "TypeError: not all arguments converted during string formatting message in @@edit mode caused by plone.z3cform"
Running Plone 5.1.4.

Editing a custom DX type shows the following error on the console:

[code]

This is caused by this deprecation warning:
[code]

generated in z3c.form (  /home/ajung/sandboxes/onkopedia_buildout-plone5/eggs/plone.app.z3cform-3.0.6-py2.7.egg/plone/app/z3cform/wysiwyg/widget.py(49)WysiwygFieldWidget() )

[code]

[2018-10-29 18:37] pbauer opened #2606 "ZMI Database Manager raises LockError when running under wsgi"
When running in py2 or py3 with wsgi the Database Manager controlpanel in the ZMI cannot find the existing DB.

ZMI > Control_Panel > Databases
http://localhost:6543/Control_Panel/Database/manage_main

Opening for database with id 'main'
http://localhost:6543/Control_Panel/Database/main/manage_main
-> raises Error with no traceback in console

When I debug `Startup.datatypes.pyDBTab.getDatabase` t

[2018-10-29 22:14] ale-rt commented on #2596
`safe_nativestring` is really great!
A little bit off topic, what about also renaming `safe_unicode` and `safe_encode` to `safe_text` and `safe_bytes`?

Regarding the fact to backport that method to Plone <5.2 I am not sure if this will cause confusion.
You are adding a feature that will be available only for some minor versions of Plone.

That can cause some headaches.

[2018-10-30 00:47] davisagli commented on #2606
@pbauer I'm not sure what's going on here, but it is working okay for me with WSGI when running Zope 4 using the bin/instance script generated by my changes in https://github.com/plone/plone.recipe.zope2instance/pull/52

[2018-10-30 02:48] davisagli commented on #2604
There's a `limit` option for the collection portlet; is it not working? https://github.com/plone/plone.portlet.collection/blob/master/plone/portlet/collection/collection.py#L66

[2018-10-30 05:54] zopyx commented on #2604
My bad...sorry for being blind.

[2018-10-30 05:54] #2604 closed

[2018-10-30 13:39] davisagli commented on #2604
@zopyx I think I found your problem:
![screen shot 2018-10-30 at 9 38 49 am](https://user-images.githubusercontent.com/49014/47721958-abdca700-dc27-11e8-8c96-e93f64721076.png)

[2018-10-30 13:51] zopyx commented on #2604
#fake-news

[2018-10-30 14:18] #2605 closed

[2018-10-30 19:57] jensens commented on #2599
@erral just branch buildout.coredev away and edit the versions.cfg there, then create a PR there and run Jenkins PR testing with both PR-references.

[2018-10-30 20:10] erral commented on #2599
thanks for the pointer.

[2018-10-31 07:16] zopyx opened #2608 "TinyMCE resources not found in Plone 5.1.4"
See browser console in screenshot.
This happens with a fresh Plone 5.1.4 when you edit the front-page.

![screenshot_20181031_081423](https://user-images.githubusercontent.com/594239/47771899-4a7b0d80-dce5-11e8-995f-6bc9d605d30d.png)

[2018-10-31 08:12] zopyx opened #2609 "Resource filter in /@@resourceregistry-controlpanel not working Plone 5.1.4"
/@@resourceregistry-controlpanel provide an input field for filtering the resources.

This functionality is not working (tested on plone-demo.info, Plone 5.1)

[2018-10-31 08:40] zopyx opened #2610 "Resource registry control panel - weird position of delete icon"
See screenshot...where does the icon belong to?

Plone 5.1.4

![screenshot-dev zopyx de-20080-2018 10 31-09-39-30](https://user-images.githubusercontent.com/594239/47775802-08f05f80-dcf1-11e8-84f8-2ca791c317e2.png)

[2018-10-31 11:20] ale-rt commented on #2610
A nice css rework of the resource registry control panel it is definitely welcome.
I also think that improving the UI will make people accept more this complex part of the Plone configuration.
It would be great if a designer can put some lipstick on it. Maybe this can be an easy sprint topic for the Plone conference.

[2018-10-31 12:47] hvelarde commented on #2608
this is the same as in #949, it was supposedly fixed in the past.

[2018-11-01 06:50] pbauer commented on #2592
All tasks in preparation of 5.2a1 are now done, so I'll close this issue.
The problem with the thread-local SiteInfo that was unearthed by @lukasgraf in
https://github.com/plone/Products.CMFPlone/issues/2592#issuecomment-429538716 should maybe become a separate ticket. @lukasgraf: Could you add that please?

[2018-11-01 06:50] #2592 closed

[2018-11-01 06:52] pbauer commented on #2590
All merged. The issue with `_p_repr` is continued in https://github.com/zopefoundation/persistent/issues/101

[2018-11-01 06:52] #2590 closed

[2018-11-01 06:56] pbauer commented on #2547
So far we use `PathReprProvider` to fix most `__repr__` issues as explained in https://github.com/plone/Products.CMFPlone/issues/2590#issuecomment-433746872.
The issue with `_p_repr` is continued in https://github.com/zopefoundation/persistent/issues/101

[2018-11-01 06:56] #2547 closed

[2018-11-01 10:59] lukasgraf commented on #2592
@pbauer done: plone/plone.testing#58

[2018-11-02 07:02] zopyx opened #2613 "Inconsistent behavior accessing the configuration of parent portlets"
Edit, hiding or deleting a portlet is only allowed when you access the portlet manager in the context of the related object.

For parent portlets you have access to their edit option but you can not hide/delete parent portlets.
This makes little sense. Either it should be allowed to manipulate parents portlets (edit, delete, hide) or it should be disallowed completely.

[2018-11-04 09:59] esteele commented on #2104
@metatoaster Would you be willing to create a PR for that to get merged into CMFPlone? I'd hate for 5.2 to be held up over this one package.

[2018-11-04 11:49] gforcada commented on #2104
The other problematic package is z3c.zcmlhook is only in Pyrenees github org

[2018-11-05 09:29] thet commented on #1653
@jensens #1653 should soon be ready to review. I just need to get the PLIP jenkins job running and fix tests, if they fail. PLIP jenkins job runner needs a fix, see: https://github.com/plone/buildout.coredev/issues/549

[2018-11-05 11:20] gforcada commented on #1653
@thet PLIP jobs, hopefully fixed and now with 3.6 and 3.7 support :-)

[2018-11-05 15:14] pbauer commented on #2041
Since python 3 support was merged in Plone 5.2 the above documentation is outdated.

Here is how you do that now:

# Running Plone 5.2 on Python 3

The configuration-file `buildout-py3.cfg` (https://github.com/plone/buildout.coredev/blob/5.2/buildout-py3.cfg) can be used to build Plone on Python 3. It no longer has any Archetypes-dependecies.

Clone coredev and use branch 5.2:

    $ git clone git

[2018-11-06 14:53] pbauer commented on #2599
Fixed with https://github.com/plone/bobtemplates.plone/commit/1a76769b52320b8a0e9ffc0399297f964c53b999 in `bobtemplates.plone 3.5.2`

[2018-11-06 14:53] #2599 closed

[2018-11-06 15:48] ewohnlich opened #2617 "Bad reference to plone-fontello.svg in plone-compiled.css"
### What I did:
Our link validator found a bad reference to plone-fontello.svg#fontello in plone-compiled.css. I don't know if this is even used, but regardless the URL does look incorrect.

### What I expect to happen:
A reference to url('../++plone++static/fonts/plone-fontello.svg#fontello')

### What actually happened:
A reference to url('/../++plone++static/fonts/plone-fontello.svg#fontello').

[2018-11-06 19:31] gforcada opened #2618 "Remove five.globalrequest"
Zope 4 integrated five.globalrequest and thus the package should be deprecated. According to https://jenkins.plone.org/py3/deps-reverse/five.globalrequest.svg the following packages:

- [x] Products.CMFCore https://github.com/zopefoundation/Products.CMFCore/commit/c310881cccfac6f0a1ab0a82df2437cdfc2ea551
- [x] plone.caching https://github.com/plone/plone.caching/pull/7
- [x] plone.app.widgets http

[2018-11-06 21:29] thet commented on #1653
OMG! https://jenkins.plone.org/view/PLIPs/job/plip-plone-staticresources-2.7/5/ passed! After two runs with flaky robot tests.
Now testing for 3.6 and 3.7

[2018-11-06 21:46] thet commented on #2150
@MrTango you can use what's there (referenced in this PLIP) as I do. But this involves some branches of core packages, which is ugly to maintain.
To get it into core, see the deliverables in the PLIP description. I think that could be doable within the scope of a sprint.
Note, that the widget is only relevant for Safari and IE11 - all other browsers do already support a native widget. With these P

[2018-11-06 23:57] hvelarde commented on #2150
after reading @thet comments I think this PLIP doesn't worth the effort.

[2018-11-07 06:30] thet commented on #1653
3.7 passed: https://jenkins.plone.org/view/PLIPs/job/plip-plone-staticresources-3.7/3/
3.6 failed with another single error. each test run something different...

[2018-11-07 06:47] thet commented on #2150
@hvelarde I you mean that the relevance of IE11 and Safari: Without the changes in this PLIP you won't get the browser's native date/time widgets. This PLIP changes the form inputs to datetime type including necessary changes all over the place. It's only the mockup widget which is only relevant for IE11 and Safari - because on modern browsers Pikaday's progressive enhancement feature doesn't load

[2018-11-07 07:51] agitator commented on #2516
@thet could you look into
  - add portal_actions functionality
  - about the inPath selector: I'd keep that, but would like to have a .selected class on the last/deepest item in the structure, so that only the last item could be highlighted?

[2018-11-07 08:33] thet commented on #1653
3.6 passed: https://jenkins.plone.org/view/PLIPs/job/plip-plone-staticresources-3.6/

ready to review.

There is one more thing I want to do, but that can probably also done after review:
- [ ] Add an extra profile+uninstall profile for Patternslib patterns.

[2018-11-07 08:40] thet commented on #2516
@agitator I try to get this done this week.

[2018-11-07 11:40] hvelarde commented on #2150
I think it doesn't worth the effort to support deprecated browsers used by almost nobody; we already have a widget, isn't it? let's keep thing clean and simple.

but, you guys know better than I do.

[2018-11-07 17:19] agitator commented on #2516
@thet i also added navigation_depth
and some tests would be useful ;-)

[2018-11-07 19:29] thet commented on #2516
I'm incredibly busy currently and I hope for some unexpected productivity boosts to get anything done this week. So I don't make any promises.
Maybe this could be added to the sprint's topics.

[2018-11-07 19:54] thet commented on #2150
There are the change we need to get the browser's native widget working, basically: https://github.com/plone/plone.app.z3cform/pull/90

[2018-11-08 12:46] staeff commented on #2041
@pbauer I was curious to try it out after your talk. The command to run an instance with python3 is back to `$ ./bin/instance fg`, right?

[2018-11-08 14:35] pbauer commented on #2041
yes

[2018-11-08 19:14] mauritsvanrees opened #2619 "Fix plone.app.redirector support for JSON/unspecified requests [dummy]"
Dummy issue for towncrier so we can point to this.
Related to commit https://github.com/plone/Products.CMFPlone/commit/90303dd92846460cf0a77aa7a4c9a59e5e24e49e which seems to have been a direct commit on 5.0.x.

[2018-11-08 19:14] #2619 closed

[2018-11-08 20:11] mauritsvanrees opened #2620 "Duplicate Farsi translation for pickadate"
I ran `check-manifest` in `Products.CMFPlone`` (5.0/5.1/5.2) and got this:

[code]

This is on a Mac, which is case insensitive or case unaware or whatever, and it does not see that there is both a [`fa_ir.js`](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/static/components/pickadate/lib/translations/fa_ir.js) file and a  [`fa_IR.js`](https://github.com/plone/Products.CM

[2018-11-09 06:20] pbauer opened #2621 "Cannot run Plone 5.2a1 with wsgi in Python 2"
Currently you cannot run Plone with waitress in py2 unless you remove ZServer from your dependencies.

Installing Plone 5.2a1 on Python 2 pulls in `ZServer`.

Startup will then fail if wsgi is enabled in buildout with:

    wsgi = on

If you remove `ZServer` from `install_requires` of `CMFPlone` it works using wsgi, if you remove `wsgi = on` it works using `ZServer`.

[2018-11-10 02:28] #2621 closed, assigned to nobody

[2018-11-10 11:55] zopyx opened #2623 "@@overview-controlpanel visible for Site Administrator but not accessible"
Log into Plone 5.1/5.2 as Site Administrator.
The syndication controlpanel is visible for the Site Administrator but clicking on the icon causes an Unauthorized error (no further usable error information found).

[2018-11-11 03:35] pbauer opened #2624 "BrowserViews implement IPublishTraverse in Zope 4 which breaks allowed_attributes and allowed_interface"
In Zope 4 a `BrowserView` always implements `IPublishTraverse` which it did not in Zope 2.
This breaks the way to make methods traveseable using `allowed_attributes` and `allowed_interface` in zcml.

Example:

[code]
dummy.py:

[code]

In Zope 2 (Plone 5.1) http://0.0.0.0:8080/Plone/foo/bar returned `foobar`. In Zope 4 (Plone 5.2) that throws a 404.

The relavant code is in `BaseRequest.traverseNa

[2018-11-11 05:33] pbauer opened #2625 "ZMI broken in PLone 5.2 with Python 2.7"
The new bootstrap-based ZMI looks broken in Python 2.7
In Plone 5.2 with Python 3 it looks fine and also in pure Zope using either Python version.

[2018-11-11 18:35] ksuess opened #2626 "Legacy resources like comments.js are not loaded"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)
legacy resources like comments.js are not loaded

### What I did:

Site root on domain.com/somepath/myroot/
_myroot_ is the name of the Plone instance.

### What I expect to happen:
++plone++static/plone-legacy-compiled.js includes comments.js

### What actually happened:
++plone++static/plone-legacy-compiled.js reads
[code]

### What version of Plone/

[2018-11-12 16:12] hvelarde commented on #2623
I just tested it in Plone 5.1.2.1 and it's working.

[2018-11-14 09:31] gforcada commented on #2618
Done! :fireworks: :tada: thanks for everyone who reviewed and provided feedback!! :+1:

``bin/instance`` should have one package less on 5.2 :smile:

[2018-11-14 09:31] #2618 closed

[2018-11-14 12:53] petschki opened #2628 "CSRF protection screen apperas when custom site logo was uploaded in @@site-controlpanel"
_### What I did:_

- install fresh Plone
- Upload a custom Site Logo in @@site-controlpanel
- go back to configuration overview
- click again on @@site-controlpanel

_### What I expect to happen:_

The @@site-controlpanel form appears

_### What actually happened:_

The @@confirm-action screen of plone.protect appears

_### What version of Plone/ Addons I am using:_

Plone 5.1.5, 5.2b1

_### possi

[2018-11-14 17:24] agitator commented on #2516
@polyester you said something about additional attributes for the markup... which ones are these?

[2018-11-14 18:27] CorySanin opened #2629 "Plone 5 Shows Error When Saving Default Values for Dexterity Fields"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did: (All steps done TTW) Create a new Dexterity type, give it a text field, and attempt to save a default value.

### What I expect to happen: Defaults should save without an error

### What actually happened: An error is shown

### What version of Plone/ Addons I am using: 5.0.8

The bug occurs because it tries to also save defaults for b

[2018-11-18 02:40] davisagli commented on #2576
I updated AuthEncoding to handle either strings or bytes as input, so this is no longer necessary.

[2018-11-18 02:40] #2576 closed

[2018-11-19 14:40] zopyx commented on #2228
Using the current GS master does not make a difference.

[2018-11-20 12:23] zopyx opened #2631 "TinyMCE based content can overflow to the right"
Plone 5.1.4

The content (migrated from a Plone 4.3 site) overflow the right border. This must never happen.
Content managed through TinyMCE must always fit into the given grid.
![screenshot-dev zopyx de-5080-2018 11 20-13-20-57](https://user-images.githubusercontent.com/594239/48773340-66137b80-ecc7-11e8-851f-48d5ac87fb0f.png)

[2018-11-21 07:57] zopyx opened #2633 "plone.namedfile: AttributeError: 'NoneType' object has no attribute 'rfind'"
Plone 5.1.4

When saving the edit form of a custom Dexterity content type containing a NameBlobImage raises this error the image field has an image attached but no `filename`.

[code]

Debugger info:

[code]

[2018-11-21 08:03] zopyx commented on #2633
This happens during a migration over plone.restapi when you omit the `filename` parameter for images. Perhaps a missing `filename` parameter in plone.restapi calls should be handled within plone.restapi?

[2018-11-21 13:35] zopyx opened #2634 "Short name for File instances derived from filename of uploaded file instead of the title"
Usually the shortname of a content object is derived from the title metadata.
`File` behaves differently. The shortname is generated from the name of the uploaded file which is inconsistent with the default behavior.

[2018-11-21 22:59] gforcada commented on #2524
@thet I took over your first message to add all the requests to change setup.py, I hope it is fine.

Regarding email address, any suggestion? Should we point them to the release/security/framework teams? Any preference

Regarding the author, if we assume that plone packages are owned  by the foundation, then yes there should be no problem, let's hope no one gets offended due to the change :sweat_s

[2018-11-25 09:03] pbauer commented on #2184
The docs above mostly apply to porting Plone itself. For addons this is documented in https://github.com/plone/documentation/blob/5.2/manage/upgrading/version_specific_migration/upgrade_to_python3.rst

[2018-11-25 09:03] #2184 closed

[2018-11-26 20:19] pbauer opened #2635 "Test performance of Plone 5.2 in Python 3 and 2"
Plone needs performance tests to allow comparing different versions Plone and Python. Ideally all significant changes should be performance-tested.

[2018-11-26 22:58] ale-rt commented on #1653
Added an initial review: https://github.com/plone/buildout.coredev/blob/5.2/plips/reviews/plip-1653-review-ale-rt.rst
Feel free to comment :)

CC @thet @jensens

[2018-11-27 09:04] gforcada commented on #2635
Wishes, wishes, please come true 😃6

[2018-11-27 15:10] zopyx opened #2636 "Inconsistent borders out of the box with Plone 5.1.4"
See screenshot showing the plone.app.multilingual edit interface on a Plone 5.1.4 site:

- inconsistent  left/right borders of the dark blue header
- why can't the theme allocate 100% of the browsers windows width...a major wasting of space for giving the editor the space that it needs here for editing and translating content

![screenshot-dev zopyx de-5080-2018 11 27-16-05-49](https://user-images

[2018-11-27 18:45] 1letter opened #2637 "Missing Upgrade Step in 5.1.4 or is to much registered?"
#### What I did:
- Install Plain Latest Plone 5.1.4
- Go To portal_setup in ZMI
- i see an available upgrade step
- i run this step

#### What I expect to happen:
- an up-to-date Plone

#### What actually happened:
- a screen with a request, that i should update my plone

#### What version of Plone/ Addons I am using:
Plone 5.1.4

#### This is the Plain Installation
![screen1](https://user-images.

[2018-11-27 19:16] cdw9 commented on #2585
I have seen this happen in Plone 5.1.2 and 5.1.4. It only happens with empty folders. Steps to reproduce:
* Create four folders at the same level
* Add content into two of the folders
* From folder_contents, select the four folders
* Cut
* Paste

Only the two folders with content are saved, the two empty folders disappear. As @krissik mentioned, all folders do show up if pasted into a new location

[2018-11-28 01:49] davisagli commented on #2636
Isn't that extra space on the left meant to be for the toolbar? Where's the toolbar?

[2018-11-28 01:56] davisagli commented on #2585
@cdw9 are the folders actually gone, or did they just get removed from the catalog? (Check if they show up in the ZMI.)

[2018-11-28 03:40] cdw9 commented on #2585
They are showing up in the ZMI

[2018-11-28 16:45] hvelarde commented on #2635
I have always dreamed about something like a performance unittest layer :)

I saw there's a benchamark suite: https://github.com/python/performance

[2018-11-28 21:49] gforcada commented on #2635
The problem with performance is getting a valid/repeatable testing environment.

Shared infrastructure (like jenkins.plone.org) is repeatable, but not valid, as you will get plenty of different values depending on the workload of jenkins :confused:

An external service, i.e. demo.plone.org is not much repeatable, as is being continued used but it will have also network problems as well.

Which kin

[2018-11-28 22:11] #2620 closed

[2018-11-29 07:39] tisto commented on #2635
FYI: I have jmeter performance test in place for Plone 4.3 and 5.0 if I recall correctly. I also did performance tests with plone.restapi. I even tried to set them up on jenkins.plone.org. The main problem is setting up a dedicated machine that allows us to have proper results. Shared VMs are usually not a good idea...

[2018-11-29 08:25] agitator opened #2639 "Move mockup-patterns-select2 to logged-in bundle"
To reduce bundle size for anonymous users, it would be good to move mockup-patterns-select2 to the logged-in bundle.

mockup-patterns-select2 is afaik about 200KB and not used if one is not editing.

[2018-11-29 10:01] gforcada commented on #1653
@thet just thinking out loud, so don't put too much time thinking on it: if mockup and patternslib are released as NPM, would it be possible at some point to create a complete plain theme without @datakurre webpack plugin, by just npm installing these two packages (and whatever else might be needed)? Or this is out of the scope of this PLIP (but could be proposed as another PLIP to build on top of

[2018-11-29 11:38] zopyx opened #2640 "Position of "change notes" field in edit dialog of Document/Page (move it down above the Save button)"
The input field for "change notes" inside the standard documen/page edit view should be below the text field. First you edit your content and then you add a change note before saving the document but not in between.

![screenshot-dev zopyx de-5080-2018 11 29-12-35-24](https://user-images.githubusercontent.com/594239/49219424-8207d300-f3d3-11e8-891d-cdc72bcbffdf.png)

[2018-11-30 15:54] ale-rt commented on #2637
I can confirm the issue.
The issue cannot be reproduced when using the 5.1.x branch because there was a bump in the profile, which now is 5115.

CC @mauritsvanrees: I thought you were working on someway to not show "future upgrade steps"

[2018-11-30 16:02] ale-rt commented on #2637
See also #2377

[2018-12-03 01:18] gforcada commented on #2640
@zopyx I think, untested, that with this small change is enough, would you mind trying it? https://github.com/plone/plone.app.versioningbehavior/pull/44

[2018-12-03 13:58] zopyx commented on #2640
Seems to work

[2018-12-03 21:54] mauritsvanrees commented on #2637
@ale-rt You have found the code that I worked on in #2377. That code is included in Plone 5.1.4. But it does not help for the `portal_setup` Upgrades page. Something similar should be done there, like you allude to in PR #2643. Maybe including an option 'Show future upgrades', next to 'Show old upgrades', would help.

I see there is some confusion in `plone.app.upgrade`. https://github.com/plone/p

[2018-12-04 12:33] gbastien opened #2645 "Fallback to default view is broken"
The fallback to default view mechanism is broken, this is related to https://github.com/plone/Products.CMFDynamicViewFTI/issues/16

PloneTool does not use check_exits=True to check if layout exists.

### What I did:

Create a folder

- create a folder "fallback" at the root;
- got to fallback/manage_propertiesForm and define layout to "toto";
- got to the fallback folder.

### What I expect to hap

[2018-12-05 07:53] #2464 closed

[2018-12-05 08:04] #2640 closed

[2018-12-05 08:44] sauzher commented on #2635
https://pypi.org/project/collective.funkload/
https://pypi.org/project/collective.recipe.funkload/

is this definitely abandoned?

[2018-12-06 06:47] zopyx opened #2650 "In-Out widget overflow"
Plone 5.1.4, see screenshot
![screenshot-dev zopyx de-5080-2018 12 06-07-44-43](https://user-images.githubusercontent.com/594239/49566503-1bcb0500-f92b-11e8-93f2-5f0f59a5b967.png)

[2018-12-06 14:50] zopyx opened #2652 "Content types in DX content types control panel not translated"
Plone 5.1.4.

See screenshot...site language is `DE` but the names of the portal_types show up with their `EN` names instead of the German translated names.

![screenshot-dev zopyx de-5080-2018 12 06-15-47-55](https://user-images.githubusercontent.com/594239/49591357-881b2800-f96e-11e8-8e13-c75a4fae4712.png)

[2018-12-07 07:42] zopyx opened #2653 "Widget for RelationChoice showing up with duplicate path information"
Plone 5.1.4:

![screenshot-dev zopyx de-5080-2018 12 07-08-40-35](https://user-images.githubusercontent.com/594239/49634084-f9ed8300-f9fb-11e8-9d25-032103e70a64.png)

[2018-12-07 08:30] zopyx opened #2654 "Error handling on DX edit forms with multiple fieldsets (no information about the fieldset(s) containing validation errors)"
Most DX based editor forms have multiple fieldsets. An error that occurs on an invisible fieldset (upon saving) e.g. when fields are required are not directly indicated to the editor. As an editor I want to know directly in which fieldsets validation errors occur. At the moment you need to click through every fieldset (eight in our case) for figuring out the related fieldset and the related field

[2018-12-07 14:28] zopyx opened #2655 "[Python 3] UnicodeError caused by `wsgi.py adduser ...`"
Python 3.6, Plone 5.2a1: possibly a ZODB error

[code]

[2018-12-09 17:02] uwaiszaki commented on #2480
hey , Can i work on this issue if no one is working on it

[2018-12-09 20:21] tkimnguyen commented on #2480
@uwaiszaki @Rupeshiya @yshgpta @shashwatmishra76  if you want to fix it or any other Plone issue, just go ahead and do so and make a pull request. Before we can merge a pull request in the "plone" GitHub organization you will have to have signed a contributor agreement. See https://plone.org/foundation/contributors-agreement and https://plone.org/get-started. For further guidance on how to contrib

[2018-12-10 07:32] zopyx opened #2658 "UI issues in fields editor"
See screenshot (Plone 5.1.4):

- overlap of field label with form ID
- field label should be left aligned
- the 'x' link for removing the current field should perhaps be placed top-right
- the "settings" link should be place right-aligned below the 'x' link

![screenshot-dev zopyx de-5080-2018 12 10-08-30-45](https://user-images.githubusercontent.com/594239/49717055-0e2cbc80-fc56-11e8-8c15-b0cd665

[2018-12-10 07:45] zopyx opened #2659 "UI issues XML model editor"
See screenshot (Plone 5.1.4)
![screenshot-dev zopyx de-5080-2018 12 10-08-42-58](https://user-images.githubusercontent.com/594239/49717622-f6563800-fc57-11e8-851b-95cd89fb9dc0.png)

[2018-12-10 17:01] uwaiszaki commented on #2480
Can you tell me where to find the respective files?

[2018-12-10 21:06] angelawong opened #2660 "plone.app.event 3.2"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did: Upgraded Plone from 5.1.2 to 5.1.4

### What I expect to happen: Should not affect prevent me from creating new folders

### What actually happened: Cannot create folders because there no fields are appearing when I Add Folder (when I upgraded plone.app.event from 3.1 to 3.2.0)

### What version of Plone/ Addons I am using: 5.1.4

[2018-12-10 22:00] tkimnguyen commented on #2660
Probably best to ask this in the forum https://community.plone.org

[2018-12-10 22:03] tkimnguyen commented on #2660
I see you did post in https://community.plone.org/t/add-folder-fields-are-missing/7641/2 so am closing this for now.

[2018-12-10 22:03] #2660 closed

[2018-12-10 22:03] angelawong commented on #2660
Thanks. I posted it here because I was not sure if it were a bug.

[2018-12-11 15:28] zopyx opened #2661 "Multiple UI issues on navigation portlet"
See screenshot (Plone 5.2a1)

- broken alignment of icons and text
- icons shown on left and right hand side ..their is no consistency

![screenshot-dev zopyx de-8080-2018 12 11-16-26-39](https://user-images.githubusercontent.com/594239/49810503-a6fc2e80-fd61-11e8-8f16-a90cc692bfee.png)

[2018-12-11 15:53] uwaiszaki commented on #2480
Barceloneta Theme is not editable. So how to edit the css file ?

[2018-12-12 10:22] filith opened #2662 "Display folder content do not show the 21. element in content area"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:
I created a folder named FAQs and added 21 pages  with differnt subjects.
I set the view mode of this folder to "All content"

### What I expect to happen:
I exepted to see all content of all pages in this folder in the content area. With a breakdown  to different pages at a defined number of entries

### What actually happened:
If the

[2018-12-12 15:20] rafaelbco commented on #2662
I think this is probably related to this one: https://github.com/plone/plone.batching/issues/9

[2018-12-12 22:01] ewohnlich opened #2664 "Internal url widget (from TinyMCE link) has current path at a page, instead of its container"
### What I did:

On the front page of a new Plone site, create a link in the wysiwyg and use the Internal option

### What I expect to happen:

I expect the "Current path" to start from the page's container.

### What actually happened:

The base path starts from the front page. This effectively means that none of my searches will work until I change the "current path"

I believe the problem is ac

[2018-12-14 08:00] nazrulworld opened #2665 "Bug: `_smtp` is missing at SMTPMailer's __init__ patching what is introduced in zope.sendmail from version 4.1.0"
### What I did:
I am working on internal Addon development (adding support for Plone 5.2) , sending mail notification one of the part functionalities. FYI: some how I forget to active MockMailhost.
When I run all my existing unittests and  got unexpected errors :

[code]
All tests are passing for earlier version of Plone.

### What is my prediction:
After day long investigation, I found [SMTPMaile

[2018-12-14 10:35] zopyx opened #2666 "A simple PT can kill the Zope/WSGI server"
Plone 5.2a1, Python 3.6.5.

By accident I had a condition `tal:condition="view"` in one of my templates.

This causes the complete Plone instance to shut down and exit (instead of raising a RecursionError exception).

Haven't verified if this is an issue with Zope 4 and/or Python 2.7 vs. 3.x.

[code]

[2018-12-14 11:15] pbauer commented on #2666
Calling the view from the same view will naturally result in a infinite recursion in any version of Plone with any version of Python. How is this a bug?

[2018-12-14 11:30] zopyx commented on #2666
Yes, possibly somehow an attack vector e.g. by ttw customizations (Rapido or so)...

[2018-12-17 21:44] mauritsvanrees commented on #2464
Thanks! This was on my list of things to look at, since it broke after a commit by me, but I didn't make time for it yet.