[2021-12-01 08:37] mauritsvanrees commented on #3371
Sure. Happy to have this in. :-)

[2021-12-02 07:24] icemac commented on #3371
As RestrictedPython now has a Python 3.10 release. Would it help to have a Zope 5 release officially supporting Python 3.10?

[2021-12-02 07:53] mauritsvanrees commented on #3371
Always welcome. But I would not rush it for this alpha release.

[2021-12-02 11:32] ale-rt commented on #3339
#3340 is merged!

[2021-12-02 11:32] #3339 closed

[2021-12-02 14:09] yurj commented on #3279
I think this is a good idea.

I suggest to implement huge 1600:-1 (because everybody agree on it) in the next alpha.

[2021-12-03 22:07] #3241 closed

[2021-12-03 23:23] #3371 closed

[2021-12-03 23:24] mauritsvanrees commented on #3371
It is released:

- https://dist.plone.org/release/6.0.0a2/
- https://plone.org/download/releases/6.0.0a2
- https://community.plone.org/t/plone-6-0-0a2-released/14602

[2021-12-06 13:26] gforcada opened #3373 "2 viewlets and 2 view for the history view?"
I was debugging why we did override the `@@historyview` on our plone instance and stumbled upon the upstream version of it on `plone.app.layout`:
- on `viewlets/configure.zcml` there is a `historyview` **view** registration that has a class found in `content.HistoryByLineView`
- that view has a related template `history_view.pt` that basically calls the `@@contenthistory` view
- that view is imple

[2021-12-07 08:04] 1letter opened #3374 "missing closing </body> tag in insufficient_privileges.pt"
beauty mistake in the template

[2021-12-07 09:19] gotcha opened #3375 "LinguaPlone support code still in Plone6"
https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/WorkflowTool.py#L240

From line 240 to 246

`WorkflowTool` still has reference to `LinguaPlone`. It seems `plone.app.multilingual` also needs fiddling with the catalog.

Should we fix that code ?

[2021-12-07 23:09] #305 closed

[2021-12-07 23:13] jensens commented on #3341
@mauritsvanrees I think we can close this?

[2021-12-08 00:00] #3341 closed, assigned to mauritsvanrees

[2021-12-08 12:56] gotcha commented on #3375
@jensens @ale-rt Who knows `multilingual` enough to be able to clean this ?

[2021-12-08 18:14] jensens commented on #3375
I could figure this out, but this topic is at the moment not on my priorities list. Does it result in problems?

[2021-12-08 21:01] ale-rt commented on #3375
I do not have a lot of experience with multilingual stuff. It would be good to remove this old code but if it does not harm I would not consider this an high prio.

[2021-12-09 09:12] jmevissen commented on #3335
The Error Log Form  is fixed with #3372

[2021-12-09 23:19] gotcha commented on #3375
@jensens Nothing urgent. I thought I write it down when I found it in order to not get it lost.

[2021-12-12 03:01] Rudd-O opened #3379 "Link browser (relations, hyperlinks) does not work in certain multilingual sites."
There is a multilingual issue that arises when a site uses language detection by URL prefix, and the VirtualHostMonster hides the folder.  I'll postulate the following config and then explain the error :

English URL at http://domain.com/ .  Spanish URL at http://es.domain.com/ .

Zope server structure has site /Domain

VHM URL rewrite config transforms incoming `http://domain.com/folder/page` to

[2021-12-12 03:13] Rudd-O commented on #3379
Unaffected (non-VHMed)

![Screenshot 2021-12-12 at 03-12-02 What the world is undergoing is called mass formation psychosis — Rudd-O com](https://user-images.githubusercontent.com/346306/145698770-e9cb5aa8-72cb-4dd0-8e3a-12bc8db619fd.png)

Affected (VHMed)

![Screenshot 2021-12-12 at 03-11-41 What the world is undergoing is called mass formation psychosis — Rudd-O com](https://user-images.githubus

[2021-12-12 03:25] Rudd-O commented on #3379
![Screenshot_20211212_032420](https://user-images.githubusercontent.com/346306/145699001-a8cd97d2-007f-463c-bd56-d979ac190e4d.png)

As you can see from the screenshot (I did a little `printf` debugging), the root path is incorrect when the VHM is active.  It takes the content item to be the root of the site, instead of the actual navigation root of the site.  Not even sure wtf is going on there.

[2021-12-12 03:49] Rudd-O commented on #3379
Reproducer recipe:

1. Start with blank Plone site.
2. Add multilingual, a couple language folders.
3. Add this rewrite (using your favority proxy, this is Varnish) to hide the language folders from the URL:

[code]

[2021-12-12 07:14] yurj commented on #3379
The pat-relateditems has a lot of issues with vhm. You should open this issue on plone.mockup which hosts the widget.

[2021-12-13 11:02] yurj opened #3380 "alt as tal:attributes and i18n:attributes"
https://github.com/plone/Products.CMFPlone/blob/fe810d633b96213cc8555099b0d4e9e585613686/Products/CMFPlone/controlpanel/browser/prefsmaintemplate.pt#L46

here we define both alt as attribute and than as a translation. How should it works? `i18ndude` complains about:

```zope.tal.taldefs.I18NError: attribute [alt] cannot both be part of tal:attributes and have a msgid in i18n:attributes, at line 44

[2021-12-13 18:56] Rudd-O commented on #3379
I will do so later, thank you for the kind pointer!  :-)

[2021-12-14 11:44] gforcada commented on #3380
I very much expect that the `i18n:attributes` is a mistake/leftover. If `alt` comes from `tal:attributes` if it has to be translated, it should be don one the python side then.

[2021-12-14 22:00] mauritsvanrees commented on #3229
This seems done.

[2021-12-14 22:00] #3229 closed

[2021-12-16 08:26] petschki commented on #3031
Just got the same in a fresh Plone 6.0.0a2 installation (and on https://demo-latest-plone6.plone.org) ... removing the `Change Password` from controlpanel solves the issue. This is not a migration problem. I think we can savely remove this from controlpanel since changing password is in the`@@personal-preferences` user-menu as tab ... I think also the `Personal Preferences` controlpanel should be

[2021-12-16 11:55] Rudd-O commented on #3031
Should the migrator not delete that entry if it exists tho?

[2021-12-16 12:22] petschki commented on #3031
First the entries should be removed from CMFPlone controlpanel.zcml ... I'm not sure where this should happen in plone.app.upgrade but it definitely should happen.

[2021-12-18 10:13] sneridagh opened #3381 "Update generator metadata literal in HEAD tag"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Not a bug, a todo: The generator metadata literal in HEAD tag in Classic is:

`<meta name="generator" content="Plone - http://plone.com" />`

### What I expect to happen:

I suggest to update it with:

`<meta name="generator" content="Plone 6 - https://plone.org" />`

so we can track from now on the version numbers out there too.

PR in Volto:

https:

[2021-12-18 10:40] sneridagh opened #3382 "Link in "Powered by Plone & Python""
Question: Should we update the "Powered by Plone & Python" link in the footer? I'd say we only say "Powered by Plone". Also the link is outdated, it points out to `plone.com`

[2021-12-18 14:04] ale-rt commented on #3382
+0 Maybe the @plone/marketing-communications team is more interested in that.

+1 in fixing that!

[2021-12-18 14:34] sneridagh commented on #3382
Yeah, sure I wanted to put it here, so it's visible and start the discussion. Agreed, it is a question for the @plone/marketing-communications team to decide.

So for classic is clear, no change at all. The doubt was more geared towards Volto, since it's confusing for newbies after booting the frontend, and the footer says "Powered by Plone and Python" :/ . In that case, since Plone is made up a l

[2021-12-19 12:45] #3019 closed

[2021-12-19 18:58] thomasmassmann opened #3383 "Accessibility fixes for Plone Classic"
## PLIP (Plone Improvement Proposal)

## Responsible Persons

### Proposer: Thomas Massmann

### Seconder: Veit Schiele

## Abstract

Increase the accessibility in Plone Classic for Editors.

## Motivation

Plone Classic has several minor and major accessibility issues for editors. Editors are currently not able to work with Plone when assistive technologies are required.

Some issues exist becaus

[2021-12-19 21:16] ale-rt commented on #3383
CC @plone/framework-team

[2021-12-19 21:19] thomasmassmann commented on #3383
Hi @ale-rt ,

I didn’t mention the framework team yet because it’s not finished. From the docs:

😃

[2021-12-20 12:17] mauritsvanrees commented on #3305
In `plone.app.upgrade` we now have an upgrade step, which was merged today.
Further steps are that we should prevent creating deprecated `ulines` and other properties, at least in Plone. Probably in Zope as well.

Looking for [`ulines` in the plone organization](https://github.com/search?q=org%3Aplone+ulines&type=code):

- [ ] `plone.dexterity`. PR: https://github.com/plone/plone.dexterity/pull/16

[2021-12-20 12:54] mauritsvanrees commented on #3305
For `ustring` I only found it in [`plone.app.users`](https://github.com/plone/plone.app.users/blob/e7caa655ddbaf0bf5806b7670b56cc38a3370d4c/plone/app/users/tests/test_doctests.py#L37) and then seemingly only in doctests for Python 2.

[2021-12-20 21:15] #3336 closed

[2021-12-20 22:17] mauritsvanrees commented on #3305
I have prepared a few small fixes in Zope: https://github.com/zopefoundation/Zope/pull/995

[2021-12-21 19:09] Rudd-O opened #3386 "Plone 6: Virtual Host Monster-refereed URLs fail when WebDAV requests are made to the server"
In Plone 5.2 / Zope 4.5.3, VHMed HTTP request to a Plone site `OPTIONS https://site.com/VirtualHostBase/https/site.com/Plone/VirtualHostRoot/ HTTP/1.0` succeeds without an issue, and DAV clients can connect fine.  Same is true for `PROPFIND`.

In Plone 6.0 alpha / Zope 5.3, the exact same HTTP request returns 404.  Same is true for `PROPFIND`.

As a consequence, DAV clients cannot connect to Plone

[2021-12-21 19:48] Rudd-O commented on #2040
Files are uploaded as Dexterity Files indeed, when the `PUT` targets a Dexterity container.  See https://github.com/plone/plone.dexterity/blob/master/docs/WebDAV.txt to get how it works.

I think this is not a bug, though it could use more documentation.

[2021-12-22 09:08] Rudd-O commented on #3386
I've done some more `printf()` debugging.

In both VHM and non-VHM cases, `PloneSite.__before_publishing_traverse__()` is being called, again in both cases with identical parameters.

However:

* In the non-VHM case, `PortalFolder.listDAVObjects()` is called (expected).
* In the VHM case, it is not called.  Something is stopping the traversal before getting there (unexpected!).

Something is eatin

[2021-12-22 09:22] Rudd-O commented on #3386
Hm.

Without VHM:

[code]

With VHM:

[code]

Note the `path` variable.

[2021-12-22 10:10] Rudd-O commented on #3386
HTTP `PUT` is also broken with VHM.  Without VHM, `PUT` returns Created or No Content.  With VHM it returns 409 Conflict.

[code]

I an convinced now that there's a bad traversal error when VHM is enabled.

[2021-12-22 11:14] Rudd-O commented on #3386
Yep I have identifed what the problem is.

Zope's `BaseRequest.py` attempts to look up `virtual_hosting` in `traverseName()`.

In Plone 5 / Zope 4, there is no `IPublishTraverse` adapter associated to the `PloneSite` passed to `traverseName(PloneSite, "virtual_hosting")`.

In Plone 6 / Zope 5, `PloneSite` has a `plone.dexterity.browser.traversal.DexterityPublishTraverse` associated with it.  This

[2021-12-22 11:17] Rudd-O commented on #3386
Some printf debugging demoes it.  `DexterityPublishTraverse` is *not* called in Plone 5 for `virtual_hosting`.  The following log is `printfs()` in Plone 6.

[code]

[2021-12-24 22:48] rpatterson commented on #3278
Don't suppose you can provide me an example of using that tag?  I'd be happy to submit a PR applying it to these offending Robot tests.

[2021-12-25 00:33] mauritsvanrees commented on #3278
I can't search properly on my mobile, but I think the tag is 'unstable'. There should be examples in CMFPlone/tests/robots, but you may need to look at 4.3 or 5.0.

[2021-12-26 02:43] Rudd-O commented on #3211
PLIP looks good.  Only thing I would love to see is documentation for addon writers to port their addons to the new tech.

[2021-12-28 13:47] MrTango opened #3387 "folder_contents hides items when effective date is not reached yet"
## BUG

### What I did:

As a editor, add a news item, set the effective date to the future and publish the item.

### What I expect to happen:

The item should be visible for me in folder_contents.

### What actually happened:

The item is only visible for admins in folder_content.

### What version of Plone/ Addons I am using:

5.1.x/5.2.x

[2021-12-29 09:36] MrTango commented on #3387
The querystring parameter show_inactive should be set by default to authenticated.

`{"i":"show_inactive","o":"plone.app.querystring.operation.string.showInactive","v":["Authenticated"]}],`

this needs to be changed in the Mockup "structure" pattern.

[2022-01-05 17:51] agitator opened #3390 "manage_importAllSteps fails on .DS_Store file"
Plone 6a2

OSX for whatever reason created a .DS_Store file in the registry folder of the profile - `profile/default/registry/.DS_Store`
So far had the impression that it would have to be an xml-file at least to be considered, but doesn't seem so.

[code]
Anyone else seen this or can reproduce?

[2022-01-06 11:59] jmevissen opened #3392 "Rename ControlPanel View "prefs_install_products_form" for Plone6"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

* go to "Site Setup" (/@@overview-controlpanel)
* click Add-Ons

### What I expect to happen:

I land at nicer URL:
/@@install-products-form

### What actually happened:

I land at old URL:
/prefs_install_products_form

### What version of Plone/ Addons I am using:
Plone 6.0.0a3.dev0 (6003)

[2022-01-06 21:40] mauritsvanrees commented on #3390
I can confirm this on coredev 6.0.

The exception happens in [`importDocument`](https://github.com/plone/plone.app.registry/blob/2.0.0a5/plone/app/registry/exportimport/handler.py#L109) when calling `etree.fromstring`. If you get actual xml in here but it cannot be parsed, then you _do_ want to see this exception.
So probably best to fix this in [`importRegistry`](https://github.com/plone/plone.ap

[2022-01-08 10:36] giulioturetta opened #3394 "Broken ARIA reference in SVG icon"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

Triggered a status info message just by e.g. logging in, and checking the SVG tag of the icon next to the message text.

The issue came up while testing accessibility with the WAVE Web Accessibility Evaluation Tool browser extension https://wave.webaim.org/extension/.

### What I expect to happen:

The `aria-labelledby` attribute in t

[2022-01-09 12:00] jensens opened #3395 "PLIP 3395 `plone.base`: Untangles existing circular dependencies (imports/zcml) in Plone."
## PLIP (Plone Improvement Proposal)

Dear @plone/framework-team - I am happy to submit this PLIP

## Responsible Persons

### Proposer: @jensens

### Seconder: @mauritsvanrees

## Abstract

This PLIP is a major step toward the cleanup of our dependency mess in Plone core. It untangles the (implicit) dependencies on import/ ZCML level and ensures a clean dependency graph.

## Motivation

After dis

[2022-01-09 12:43] jensens commented on #3355
Close in favor of #3395

[2022-01-09 12:43] #3355 closed

[2022-01-09 19:24] jensens commented on #3395
I implemented already the major part of it.
- #3396
- https://github.com/plone/plone.base

[2022-01-09 22:22] jensens commented on #3383
Would like to see this finished. I put it on the 6 project board anyway to not get lost.

[2022-01-10 09:17] gforcada commented on #3395
Cool to see this moving forward!! 🎉 💯

One question from a CI point of view: the goal is of course to get rid of the circular dependencies, but do we have a way to ensure we are not adding them back yet? 😅

Should we add another check on our CI, that tests, only on an approved list of the sorts (to avoid too much noise), that packages do not get themselves tangled in a circular dependency? 🙂

[2022-01-10 10:16] jensens commented on #3395
@gforcada I think this is a good idea. I am not familiar with the tools to analyse on import level (and as bonus ZCML!) if we run into circular dependencies.

[2022-01-10 11:09] thomasmassmann commented on #3383
I need to find the time to record and document the current issues for this PLIP in detail (e.g. video using a screen reader).

[2022-01-10 11:33] mauritsvanrees commented on #3305
All PRs have been merged.

[2022-01-10 11:33] #3305 closed

[2022-01-10 11:40] gforcada commented on #3395
ZCML is indeed a bit more complex... for import level, if we use `z3c.dependencychecker` to get `setup.py` dependencies in shape, it could be noticed(?) with a simple `pip install`? 🤔 but there has to be some tool around... we will not be the first ones trying to get out of a circular dependency mess

[2022-01-10 11:49] jensens commented on #3395
Well, checking `setup.py` is not enough. We already cleaned those up to not have circulars, but imports are going back anyway. So we would need a checker on Python level, parsing the packages code (AST?) and looking at all imports.

[2022-01-10 14:57] gforcada commented on #3395
that's exactly what `z3c.dependencychecker` does, we use it internally (no code changes) on our CI pipeline to avoid merging code that imports/uses code that is not declared on `setup.py` ✨

[2022-01-10 15:35] mauritsvanrees opened #3398 "Replace zope.org references with zope.dev"
As you can see in this [community.plone.org post](https://community.plone.org/t/zope-4-7-and-5-4-released/14682?u=mauritsvanrees) the zope.org domain has basically been renamed to zope.dev. There are redirects in place.
We will want to update Plone code and documentation to point to zope.dev as well.
Note that `namespaces.zope.org` in zcml or `xml.zope.org/namespaces` in page templates should not

[2022-01-11 12:35] #3021 closed

[2022-01-11 22:33] mauritsvanrees commented on #314
This is being handled differently in Plone 6 with [PLIP 3395](https://github.com/plone/Products.CMFPlone/issues/3395).

[2022-01-11 22:33] #314 closed

[2022-01-11 22:53] Rudd-O opened #3399 "data-pat attributes should be allowed by default"
Using Plone Mockup patterns in content is near impossible, because the `data-pat-*` attributes that Mockup patterns consume, are suppressed by the filtering machinery.  The only way to get these to work, is to manually allow an exception in `custom_attributes`.

These attributes should be allowed by default.  They do not appear to pose a security risk, and they help enrich the content of a site wi

[2022-01-11 22:59] mauritsvanrees opened #3400 "Automatically close stale issues and PRs?"
The CMFPlone issue tracker usually has around 700 issues open, sometimes more, sometimes less. Some are really old, the oldest being issue #125 from 2013, or 8 years ago. (That one is actually still relevant, as it talks about possibly removing the `portal_properties` tool in Plone 6.)

Anyway, most issues of say at least one year old, are stale, not being worked on, not on anyone's radar. They cl

[2022-01-12 01:26] Rudd-O commented on #3399
https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes

[2022-01-12 10:12] pbauer opened #3401 "Deleting a item updates modification_date on all items that have links to the deleted item"
As a result to updating the linkintegrity-relations when the item is deleted `obj.reindexObject()` is called. Since calling that without a `idxs`-argument triggers updating `modifcation_date`.
I would argue that behavior is a bug since the object with the (now broken) link did not change at all.

I'm not sure yet which code actually is responsible that behavior, maybe a side-effect of `RelationBro

[2022-01-12 16:12] agitator commented on #3394
We should extend the icon resolver here...
Either we have an optional role attribute to set or we set  the role to "presentation" if not alt attribute is set.

@thomasmassmann would you add the additional discussed cases that should be handled?
and do we have a developer doc where we explain how this should be used?

[2022-01-12 16:20] agitator opened #3402 "Extend icon resolver with attributes for role and localization"
To fix https://github.com/plone/Products.CMFPlone/issues/3394

The tag method in https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/icons.py#L108 should handle aria related role info better.

Also localization of alt tag would be useful.

[2022-01-13 12:35] thomasmassmann commented on #3394
I created a codepen with different variations for presentational svg images and decorative images: https://codepen.io/thomasmassmann/pen/KKXbVVy

All tests have been done with VoiceOver on Firefox.

So far I would opt for:

- Img role, title and description for svg images with meaning in context
- Presentation role, no title, no description, aria-hidden for svg images without meaning (decorative)

[2022-01-13 14:41] yurj opened #3403 "login browser view should not be cached by proxy cache because of came_from"
For a full discussion:
https://community.plone.org/t/varnish-and-login-page/14692/6

The login browser view html output contains, as hidden input, the parameter `came_from`. When you click on login on a public view, the `came_from` parameter in the form input hidden field is set to the url where you clicked "login". The idea is to login and go back in the same point you were before. If you put a p

[2022-01-13 14:53] thomasmassmann commented on #3394
On note regarding `aria-labelledby` and `aria-describedby`: they need to reference `id`s, and those need to be **unique**. So if that is used, we need to ensure that the `id` used for the `title` tag and referenced in `aria-labelledby` is unique for every icon on the page, even if the page shows the same icon multiple times! Same goes for the `desc` tag, if used.

But in my tests those are not req

[2022-01-13 16:38] yurj commented on #3403
As an additional idea, we could use the same approach of the statusmessage viewlet (Products.statusmessages), which uses a cookie to display the message. When clicking on login, a cookie is cleared (to avoid stale entries) and set with the came_from url and used in the login page by a javascript to fill the `came_from` hidden input form field, and finally delete the cookie.

[2022-01-13 16:50] pbauer commented on #2264
In Plone 5.2.6 and 6.0a2 this is still a issue. Adding a txt-file via bulk-upload creates a empty Document.

[2022-01-13 17:51] mauritsvanrees commented on #3390
That makes sense.

[2022-01-15 10:35] iham commented on #3390
fixed by pr https://github.com/plone/plone.app.registry/pull/59

[2022-01-15 10:35] #3390 closed

[2022-01-17 23:07] #3146 closed

[2022-01-18 09:46] yurj opened #3405 "error on rss feed on plone site search"
on plone 6, if you do a search, you get an error clicking on the RSS feed link (`search_rss`):

[code]

Sometimes it works, I think when the query result has not been cached. When cached, you get an error in calculating the cachekey, I suppose.

[2022-01-19 10:35] me-kell opened #3407 "5.2.6 theme editor does not compile less theme"
The theme editor does not compile less theme. The popup hangs forever but nothin changes.

To reproduce it:
- Fresh `Plone-5.2.6-UnifiedInstaller-1.0`
- Go to theming-controlpanel
- Make a copy of `Barceloneta Theme` and activate the new theme
- Modify a less file, e.g. change `@plone-font-size-base:` to `24px;` in `variables.plone.less`
- Save the file and compile css
- It hangs forever but nothi

[2022-01-19 14:26] pbauer opened #3409 "Time field broken in es6 branch"
After updating mockup to replace pickadate with pat-date-picker from patternslib there is no more support for time-fields:

[code]

The obvious solution would be to register a widget (z3c.form does not have one) for time-fields that use native html input for time:

[code]

[2022-01-19 15:09] petschki commented on #3409
fixed here https://github.com/plone/plone.app.z3cform/pull/134

[2022-01-25 08:09] yurj commented on #2408
what is the state of this issue? The actual link lead to nowhere, maybe we should put this link: https://www.section508.gov/sell/vpat/ ?

[2022-01-25 10:43] yurj opened #3410 "Use navigation root url instead of portal_url for the contact-info form"
https://github.com/plone/Products.CMFPlone/blob/eb4a4443550dedd85e21669e8bc6a07efd8e883d/Products/CMFPlone/browser/templates/error_message.pt#L111
would be better to use navigation_root_url? For multilingual sites, for example, you could have a multilingual contact-info (/en/contact-info). For subsites, you could customize the contact info per site.

[2022-01-25 17:04] zopyx opened #3411 "Huge scrollable white area below Plone footer if you are logged in (in Plone 6)"
- Plone 6.0a2
- default site
- logged in as Manager
-> a huge scrollable empty white area is visable under the footer

<img width="1509" alt="Bildschirmfoto 2022-01-25 um 18 01 36" src="https://user-images.githubusercontent.com/594239/151025787-b399a115-d207-4a72-a84e-d67fa2bf610b.png">

[2022-01-25 20:12] mauritsvanrees opened #3412 "Release checklist Plone 6.0.0a3"
- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone metadata.xml`](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/profiles/default/meta

[2022-01-25 20:38] mauritsvanrees opened #3413 "Release checklist Plone 5.2.7"
- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone metadata.xml`](https://github.com/plone/Products.CMFPlone/blob/5.2.x/Products/CMFPlone/profiles/default/metad

[2022-01-25 22:05] mauritsvanrees commented on #3413
Announcement of pending release: https://community.plone.org/t/plone-5-2-7-soft-released/14748?u=mauritsvanrees

[2022-01-26 17:36] pbauer commented on #3409
The field looks ok but the data is not stored or even passed to the request.

[2022-01-26 17:43] pbauer opened #3414 "Toolbar issues with ES6 branch"
Some items we discussed today:

- [x] Cannot be positioned on top of the page
- [x] when collapsed, make whole bar clickable to open (maybe even on hover?)
- [x] Cannot be made smaller unless viewport is at breakpoint md
- [x] Cannot scoll to actions that are at the lower end when viewport is small and/or items are expanded
- [x] Name (last item) not visible when viewport is small and/or items are

[2022-01-27 09:23] iham commented on #3409
first weird behavior i can spot:
the rendered input has no "name" and "value" attribute.

trying to figure out how to add those...

[2022-01-27 09:24] petschki commented on #3414
I've refactored the toolbar and implemented the "collapsed/expanded" mode which already was implemented in `plone.app.layout.globals.layout` by toggling the body class `plone-toolbar-left-expanded` via cookie.

Now there are the following states which should be discussed:

1. **Expanded mode**: this is the default state for screenwidth larger than `md` breakpoint
2. **Collapsed mode**: Either the

[2022-01-27 09:31] agitator commented on #3414
Nice!

[2022-01-27 10:45] petschki opened #3415 "ES6: Cancel button not working if there are validation errors"
due to HTML5 form inline validation the Cancel button doesn't work if there are validation errors.

[2022-01-27 10:52] yurj commented on #3414
Very nice. Beware that the toolbar is not scrollable under md scree sizes.

[2022-01-27 11:15] pbauer commented on #3409
@iham in most other templates it is the tal-attribute `name view/name;`

[2022-01-27 11:38] petschki commented on #3409
time widget doesn't have its own template but reuses InputWidget with overridden `type` see https://github.com/plone/plone.app.z3cform/blob/petschki-html-datetime-field/plone/app/z3cform/widget.py#L233 ... this is exactly what Date and DateTime field do and there it works ... seems that the rabbithole is a bit deeper ...

[2022-01-27 12:25] petschki commented on #3414
I've enabled the offcanvas-backdrop when in collapsed mode -> this fixes scrolling and close on click outside

[2022-01-27 14:10] iham commented on #3414
@petschki really like what you did there!

especially the <-| is a good action indicator.

[2022-01-28 05:41] 1letter commented on #3414
@petschki looks good!

[2022-01-28 08:56] petschki commented on #3414
First draft of "topmode" is pushed ... updated packages:

- mockup
- plone.app.contentmenu
- plone.app.layout
- plonetheme.barceloneta

as mentioned, the toolbar scss has moved to [plonetheme.barceloneta/scss/_toolbar.scss](https://github.com/plone/plonetheme.barceloneta/blob/master/scss/_toolbar.scss) ...

open issues with topmode:
- [ ] menu items wrap when browser window is between xl and lg
-

[2022-01-28 10:59] petschki commented on #3414
hovering on collapsed toolbar opens it now

[2022-01-28 12:30] mauritsvanrees commented on #3346
The code would be for example:

    upgradeProfile("plone.staticresources", dest="208")

@pbauer is adding this one in plone.app.ugprade for ES6 as we speak.

[2022-01-28 14:59] Rudd-O opened #3417 "Plone 6a: @@search on a subject, pagination bar at the bottom does not preserve the subject"
This is what I see.

If I go to `/@@search?Subject%3Alist=asubject`, I get presented with a list of ten items corresponding to `asubject`.  If I then middle-click in the second (`[2]`) pagination item at the bottom, it opens a new tab with the expected list of the second ten items.

If I, however, **left click** on the same exact link, JS takes over and loads an unexpected results page that contai

[2022-01-29 04:04] Rudd-O opened #3419 "Favicon feature added a content disposition attachment header that's wrong"
Recently-added feature produces a custom favicon that is simply delightful to manage.

However, two things pop to mind:

First, the icon is served as a downloadable file (it shouldn't -- it's intended to be viewed inline, and the header may cause a highly annoying browser download window to pop up in some browsers):

[code]

Second, the icon is served under the cache rule `plone.content.file`, whi

[2022-01-29 04:10] Rudd-O commented on #3419
Ah I think what needs to be done is simply to inherit from `DisplayFile` instead of from `Download` in `Products/CMFPlone/browser/favicon.py:class SiteFavicon`.  That ought to fix the first issue.

[2022-01-30 08:46] yurj opened #3421 "Plone 6, sharing on the DX root and permissions in the users control panel"
Now that the Plone Root is a DX object, it has a sharing tab. Plone has role settings in the control panel, to grant global roles to users.  Now, If I grant a role in the control panel, I don't see it in the object (because it is local).

What is the relation between dx root sharing tab and controlpanel users roles? Should we prefer one over the other or they can work differently in some scenario?

[2022-01-31 09:08] #3413 closed

[2022-01-31 09:08] #3412 closed

[2022-01-31 13:18] yurj opened #3422 "@@login-help uses subform but validation is over all the fields"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

go to /@@login-help

I expect to be able to retrieve my username or a link to reset the password

Instead, validation kicks in for both inputs while they should be indipendent.

I'm using plone 6.0, in Plone 5.2.6 it works.

Note: the feature is implemented using subforms.

[2022-02-01 07:58] pbauer opened #3423 "Search for Users in Collection criteria broken when many_users is enabled"
## BUG/PROBLEM REPORT

When many_users is enabled I cannot search for members in the default Collection criteria.
When the setting is disabled it works but for sites with many user it kills performance.

### What I did:

* Enable the setting `plone.many_users` in @@usergroup-controlpanel
* Add a Collection
* Add criterion `Creator` with `Matches any of`
* Enter a username

### What I expect to hap

[2022-02-01 15:09] Rudd-O opened #3424 "resolveuid support for videos and other embeddable content"
The video inserter / media plugin allows for insertion of videos and sound files hosted on a Plone instance (this is swell), but unlike the image insertion plugin or the internal link insertion plugin, it does not automatically transform the link (source src tag inside the video / audio / iframe tag) to a resolveuid URL (this does not seem to be done inside Plone as an input filter, but rather in

[2022-02-01 16:04] Rudd-O opened #3425 "<draft> PLIP: move resolveuid generation logic to plone.app.linkintegrity"
## PLIP (Plone Improvement Proposal)

Esteemed @plone/framework-team - I am submitting this PLIP for your consideration.

## Responsible person

### Proposer: @Rudd-O

### Seconder: still needed

## Abstract

This PLIP aims to improve both Plone's rich media story as well as link integrity,  by centralizing the generation of resolveuid URLs which aid in the robustness of Plone content.  Both Plone

[2022-02-01 17:07] #3424 closed

[2022-02-02 09:06] iham commented on #3409
looks fixed :)

[2022-02-02 09:06] #3409 closed

[2022-02-02 09:25] jensens commented on #3425
To me the natural place for all high level uuid handling code would be `plone.app.uuid` - linkintegrity is only one aspect of uuid handling. Can you elaborate why you choose that package?

https://github.com/plone/plone.app.uuid

[2022-02-02 11:34] Rudd-O commented on #3425
Because `plone.app.linkintegrity` already is well-positioned to process the modifications — it already implements the proper object modification inbound hooks — whereas `plone.app.uuid` does not appear to do so: it only offers the machinery to index and resolve UUIDs forward.

We _could_ also implement this proposal straight in another package (hypothetically `plone.app.linkuidify`) but then we'd

[2022-02-02 12:53] MrTango commented on #3425
In general +1 for the direction, but it is quite some work, not sure what milestone you have in mind, for Plone 6.0 it looks like a bit too much. But if it is non breaking can be done later too.
I think plone.app.linkintegrity is the better place, at the end it's about link integrity. Please no addition package ;).
Would you work on this, when it's accepted by the FWT?

[2022-02-02 15:12] pbauer opened #3427 "Bundle with a dot in the name are not editable in es6 resource registry"
Bundle with a dot (`.`) in the name are not editable. The accordion does not work because the css-classes are created from the name.

[2022-02-02 15:49] pbauer commented on #3427
Fixed

[2022-02-02 15:49] #3427 closed

[2022-02-02 17:06] Rudd-O commented on #3425
This would be a non-breaking change.  I would *most likely* not work full time on this, but I have a substantial sum of money (EUR / CHF / USD / BTC offered) set aside to fund this project, to whomever in the Plone community wants to tackle this — and of course the result will be as free software as Plone itself.

[2022-02-03 06:16] tisto commented on #3425
@Rudd-O can you elaborate your plans regarding Plone 6 and especially Volto? Both link integrity and resolveuid might be subject to change in the future. We have to make both features fully available via REST API and usable for any consumer system (mainly but not only Volto). We will also have to think about making all TinyMCE transformations optional, since there is no TinyMCE in Plone 6 / Volto.

[2022-02-03 08:48] ale-rt commented on #1487
I am closing this because it is very old, stalled since quite some time and is probably obsolete.

Feel free to reopen/comment.

CC @plone/framework-team

[2022-02-03 08:48] #1487 closed

[2022-02-03 08:49] ale-rt commented on #1485
I am closing this because it is very old, stalled since quite some time and is probably obsolete.

Feel free to reopen/comment.

CC https://github.com/orgs/plone/teams/framework-team

[2022-02-03 08:49] #1485 closed

[2022-02-03 11:14] mauritsvanrees commented on #3425
Forget about the ATCT one. That is Archetypes, so only Plone 5.2 on Python 2.7. That is not something I as release manager would want such a big change in: too risky for a Plone version that should remain stable.

[2022-02-03 11:36] Rudd-O commented on #3425
Fixed by removing that part from the proposal.

[2022-02-03 11:41] Rudd-O commented on #3425
In short: Volto will not be affected, but Volto developers may be able to save a lot of hard-to-get-right labor.

The proposal involves embedding the resolveuidification (currently done by TinyMCE) into Plone core backend.

From Volto's perspective, Volto will continue to POST content to be saved to Plone.  All that would happen is that Plone would, in the background, change hyperlinks to be resol

[2022-02-03 12:02] #3419 closed

[2022-02-03 12:02] Rudd-O commented on #3419
Will be soon fixed by #3418.

[2022-02-04 00:30] Rudd-O opened #3428 "The renderer of sendto_template.pt is corrupting the whitespace"
Just tried the sendto form (built into CMFPlone, used through sc.social.like), and — sadly — it sent an email with completely destroyed whitespace.

I am one hundred percent sure, based on the ZPT content, that the e-mail is not supposed to look like this:

![Screenshot_20220204_002904](https://user-images.githubusercontent.com/346306/152452092-75a770bb-7762-4574-ab16-218cc1209a76.png)

Maybe we j

[2022-02-07 12:05] laulaz opened #3429 "folder_contents escapes "&" wrong in content titles (to "&amp;")"
### What I did:

I added a content with a "&" in its name : Foo & Bar.

![image](https://user-images.githubusercontent.com/1101273/152784341-8e1914b4-061b-42c1-a979-1ca6a3ad68e3.png)

### What I expect to happen:

See the right content title when exploring through `folder_contents`.

### What actually happened:

I see the html code `&amp;` instead of `&` in content title.

### What version of Plon

[2022-02-07 16:46] laulaz opened #3430 "Template tag left over"
In Add-ons control panel, there is a ">" next to Info messages :
<img width="499" alt="Screen Shot 2022-02-07 at 17 43 47" src="https://user-images.githubusercontent.com/1101273/152832857-9a902f39-fae8-4648-9df0-e6875fc3495f.png">

Warning messages are ok :
<img width="501" alt="Screen Shot 2022-02-07 at 17 43 53" src="https://user-images.githubusercontent.com/1101273/152832845-b16b8f13-f38f-4e65-

[2022-02-07 17:44] wesleybl commented on #3007
Actually this error occurs with any search that has a record in the URL.

For example, the URL below also fails:

http://localhost:8080/Plone/@@search?end.query:record:list:date=2022-2-2+00%3A00%3A00&end.range:record=min

Therefore, the fix must be made to all parameters that have record notation, not just the `created` parameter.

The way to pass "dictionaries" in the URL is using record notation

[2022-02-07 20:05] wesleybl commented on #3405
This seems to be related to: #3007

[2022-02-07 21:25] wesleybl commented on #3007
@jensens @ale-rt @ericof @frapell I think the best solution to this problem is to test if the parameter is also a `ZPublisher.HTTPRequest.record` in:

https://github.com/zopefoundation/Products.ZCatalog/blob/91e7826dcfd196632fb1c9318cd5025b718f1058/src/Products/ZCatalog/query.py#L68

staying:

[code]

I don't have Zope contributor agreement. So can anyone do a PR on ZCatalog with this small change

[2022-02-08 07:49] ale-rt commented on #3007
Hi @wesleybl!
I am pretty sure the plone contributor agreement will work for the zopefoundation as well these days, but maybe I am wrong.
CC @polyester

[2022-02-08 07:52] #3430 closed

[2022-02-08 09:27] polyester commented on #3007
@wesleybl @ale-rt Technically yes, but we haven't added all Plone contributors to the zopefoundation repo. I've added wesleybl there now.

[2022-02-08 12:29] wesleybl commented on #3007
Thanks @ale-rt and @polyester !

I will do the PR there.

[2022-02-08 15:12] avoinea commented on #3345
This issue is still there with Plone **6.0.0a3**. @mauritsvanrees Anyway to fix this with `mkwsgiinstance`?

[2022-02-08 21:33] #3007 closed

[2022-02-08 21:47] wesleybl commented on #3405
@yurj I did the PR: https://github.com/zopefoundation/Products.ZCatalog/pull/129 in the ZCatalog which I think will fix this. See if with the ZCatalog master branch this is fixed.

[2022-02-08 22:26] wesleybl opened #3432 "Remove the treatment of the "created" parameter in the search view"
To fix #3007, @frapell did PR #3012. However, the problem occurs with any parameter that uses record notation in the URL. So I made PRs https://github.com/zopefoundation/Products.ZCatalog/pull/129 and https://github.com/zopefoundation/Products.ZCatalog/pull/130 in `ZCatalog`, to handle any record parameter.

Therefore, we must remove the treatment of the `created` parameter:

https://github.com/pl

[2022-02-09 08:07] yurj commented on #3405
Yes, it is fixed! Nice work :+1:

[2022-02-09 11:31] mck9 commented on #2918
is this still open?

[2022-02-11 06:36] petschki commented on #3422
If using subforms and the validation is done on the server side, we should implement `<form novalidate />` to skip browsers html5 validation.

[2022-02-11 08:23] #3422 closed

[2022-02-11 14:12] MrTango opened #3434 "Remove old versions from contraints.txt/versions.cfg"
## We have some outdated version in the constraints.txt/versions.cfg in Plone 6.0.0a3

This makes it harder to convert the dependencies for build tools like PDM, Poetry or pipenv.

- futures
- typing

[2022-02-11 15:48] ale-rt commented on #2433
I stumbled in to this one day, I mitigated it with:
[code]
I wonder what could be an acceptable solution...
Even if Plone 6 is not affected in the same way, it still does not look good.
Maybe the text should be cropped and displayed in full when hovering (that might have some accessibility implications).

It would also be interesting to investigate what the other web frameworks do in similar cases

[2022-02-11 16:41] yurj commented on #2433
Time for a "exclude from breadcrumbs"? Long and in the middle path titles should not be displayed in breadcrumb.

[2022-02-12 14:28] ale-rt commented on #2433
That might be a good idea for a new issue...

[2022-02-13 10:36] laulaz opened #3436 "Related items field does not handle navigation root correctly"
### What I did:
I created a "Navigation root folder" with `INavigationRoot` interface.
Inside that root, I created some content and I try to use the related items field.

![related_items](https://user-images.githubusercontent.com/1101273/153749187-c9d1d503-85d3-4b43-90fb-048cf6a82502.gif)

### What I expect to happen:
I should not be able to select a content **outside** the navigation root.
Or, if

[2022-02-13 14:59] yurj commented on #3436
https://discord.com/channels/786421998426521600/787254601656827924/913696217148567553

this are some findings by me:
https://discord.com/channels/786421998426521600/787254601656827924/913696217148567553

you can read @Rudd-O findings here:
https://github.com/plone/Products.CMFPlone/issues/3379

Some @thet explainings:
https://github.com/plone/mockup/issues/795#issuecomment-332771918

[2022-02-14 10:31] mauritsvanrees commented on #3432
Pinning new `Products.ZCatalog` releases should be enough. I can't create releases for this package, but I can ask.
I will wait a bit, since Jenkins has problems now.

[2022-02-14 12:03] petschki commented on #3415
z3cform is fixed (https://github.com/plone/plone.app.z3cform/pull/141/commits/22886dd3e3b241819fb46c5c2f8da153801c492f) but `pat-validation` needs a fix too: https://github.com/Patternslib/Patterns/issues/960

[2022-02-15 14:11] MrTango commented on #3279
The PLIP was approved

[2022-02-15 16:00] thomasmassmann commented on #3277
Not yet 😞

[2022-02-15 17:08] MrTango commented on #2705
Since Plone 6 will not provide a TTW Theming Editor in core anymore, I'll close this PLIP.
If there is enough interest, this could be done as an add-on.
https://community.plone.org/t/giving-up-ttw-theming-in-plone-6-classic-ui/14474/42

[2022-02-15 17:08] #2705 closed

[2022-02-15 17:14] MrTango commented on #3383
wasn't mentioned and was not a draft ;)

[2022-02-15 17:25] MrTango commented on #1492
There will be a new Bootstrap 5 based toolbar in Plone 6, and it will be easy to override the CSS. But reordering of menu items has not changed. And as long as nobody steps up and does the work for that, i doubt it will.

[2022-02-15 22:30] ldaverio commented on #3429
My 2 cents, based on Plone instances I can play with:

- Plone 5.2.4 / py27 doesn't seem to have the problem
- Plone 5.2.5 / py39 does have it

After migrating from 5.2.5 to 5.2.7, we ran into a similar problem in the menu bar, but it went away for some reason (maybe some cached templates were refreshed). But my guess, at the moment, is that the problem in folder_contents, appeared with 5.2.5. Or

[2022-02-17 09:36] mauritsvanrees commented on #3345
I tried https://github.com/bluedynamics/plone-kickstarter and it creates a proper `zope.conf` with blobstorage. Not sure where it gets this from though. Ah, the instance skeleton is created by [`cookiecutter-zope-instance`](https://github.com/bluedynamics/cookiecutter-zope-instance/blob/475308ab6718a54febfcd0737768fb455cecb3cc/%7B%7B%20cookiecutter.target%20%7D%7D/etc/zope.conf#L39) which is basic

[2022-02-17 21:15] 1letter commented on #3031
@mauritsvanrees I would like fix this via an Upgrade step in plone.app.upgrades and a corrected version of controlpanel.xml in this package. what is the right and correct way, if two packages are affected? Should i create a branch in buildout.coredev with this two affected packages? What else should I watch out for? Sorry for my "stupid" questions.

[2022-02-18 20:20] #3374 closed

[2022-02-19 18:21] #3290 closed

[2022-02-19 19:03] #3322 closed

[2022-02-21 10:56] mauritsvanrees commented on #3031
@1letter Easiest in this case is to treat it as two separate problems:

1. The control panel has a wrong permission. This can be fixed with a PR for `Products.CMFPlone`. (I assume; I did not check the details.) That fixes it for new sites.
2. Add an upgrade step in `plone.app.upgrade`. This fixes it for existing sites.

It sounds like this should be fixed in both Plone 5.2 and 6. So four PRs, if y

[2022-02-21 15:25] bsuttor opened #3442 "overview-controlpanel view do not work with gunicorn"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)
overview-controlpanel view do not work with gunicorn. This view get server_name from `SERVER_SOFTWARE` environment variable and try to parse this name to get version from pkg_resources. (https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/controlpanel/browser/overview.py#L55)

As I can see in Gunicorn, `SERVER_SOFTWARE` variable is

[2022-02-21 16:22] ale-rt commented on #3442
Thanks for reporting and I see you are already working on this.

What about changing:
[code]
to
[code]
Goal is to avoid breakage and to make devs aware that something has to be fixed without spamming them

[2022-02-21 17:27] sneridagh commented on #3425
@Rudd-O My five cents!

Since some time ago, we have the "Blocks Transforms" for serializers/deserializers in plone.restapi.

https://plonerestapi.readthedocs.io/en/latest/blocks.html?highlight=transform#block-serializers

It is a powerful tool that we developed not just for solving resolveuid subject in Volto blocks, but for other purposes (indexing, injecting data, etc). Basically, it's a ZCA-on

[2022-02-21 22:54] mauritsvanrees commented on #3442
A warning helps yes. And I do not use the `warnings` module often enough.
It should be `warnings.warn` though. `error` does not exist.

[2022-02-21 23:05] mauritsvanrees commented on #3442
What is a bit weird/sad though, is that the `InvalidRequirement` exception that @bsuttor gets, is not caught  by the `try/except RequirementParseError`. From a `pdbpp` session it looks like this would be meant to work. Maybe it worked in earlier Python versions.

[code]

[2022-02-22 07:59] #3442 closed

[2022-02-22 08:26] bsuttor commented on #3442
Thank you @ale-rt ,

There is another related PR on buildout.coredev, Indeed, I was not able to start buildout `./bin/buildout -c wsgioptions.cfg` because of not compatible version of greenlet with python 3.9: https://github.com/plone/buildout.coredev/pull/777

Would you like another PR to use
[code]
instead of
[code]
?

[2022-02-22 08:34] ale-rt commented on #3442
It would be great if you have time to do that!

[2022-02-22 10:41] bsuttor commented on #3442
I'm working on it, but I have one question, for my new test, gunicorn is needed into test eggs. But I don't know where is the best place to add it. Is it in the test section of setup.py of Products.CMFPlone or into buildout.cordev ?
I think it's related of Products.CMFPlone, so maybe it's better to put gunicorn in setup.py file ?

[2022-02-23 08:44] MrTango opened #3446 "Provide upgrade info for content markup changes"
Since some stylesheet classes have changed in bootstrap, it would be good to migrate content and replace some classes like "image-left" >> "image-start" or "image-right"  >> "image-end".
It can either be done by using an addon like collective.searchandreplace or as a view or in plone.app.upgrade.

[2022-02-24 15:52] mauritsvanrees commented on #3434
I see.

- [`typing`](https://pypi.org/project/typing/) is for Python 3.4 and lower. It is pinned in the Zope master versions, so could be removed there.
- [`futures`[(https://pypi.org/project/futures/) is for Python 2 only. Pinned in coredev. I will remove it there.

There are probably more pins in there that are no longer used. We can remove some in Plone 6.

[2022-02-28 10:47] jensens commented on #2780
We will resurrect this PLIP.

[2022-02-28 20:05] fredvd commented on #1688
I found this issue when searching for something related. Checked plone.app.contentlisting, this is not fixed a.t.m. And title_or_id is something I always assumed would be fully catalog/brain operated.

I think it's reasonably safe to insert something like this to shortcut and return title_or_id from the brain before the elif:

[code]

@mauritsvanrees @jensens ?

[2022-02-28 20:59] jensens commented on #1688
Indeed!

but this should be
``` id = getattr(aq_base(self._brain), 'getId', missing)```

[2022-03-01 08:53] mauritsvanrees commented on #1688
The suggestion from @yurj seems good, if it works. I wonder if some code is needed in `__getattr__` anyway, otherwise this new `title_or_id` method is not found, but maybe I am mixing it up with `__getattribute__`. Dunder methods are tricky animals.

Then again, if you iterate over real brains, without having it wrapped in a content listing, `brain/title_or_id` will still fail. But at least it is

[2022-03-01 08:54] mauritsvanrees commented on #1688
Curtesy link to the code: https://github.com/plone/plone.app.contentlisting/blob/2.0.6/plone/app/contentlisting/catalog.py#L38-L51

[2022-03-03 17:38] wesleybl opened #3449 "Contents are not unlocked when exiting the edit form without clicking Save/Cancel"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

- Create two Site Administrator users.
- With one of the users, create a page.
- With the same user who created the page, access the page edit form.
- Exit the edit form without clicking Save/Cancel.
- Authenticate in another browser with the other user.
- Access the view of page created by the other user.

### What I expect to happen

[2022-03-03 20:32] mauritsvanrees commented on #3395
I have added myself as seconder of this PLIP.

Status: Jens mostly finished this in January already. In the Plone 6 coordination meeting today, he said he wants to wait until all the ES6 stuff is merged, and then finish it.

Note that there is not yet an initial approval of the idea by the @plone/framework-team.

[2022-03-03 21:51] jensens commented on #2973
Old one, but is this obsolete with Plone 6 ES6 branch?

[2022-03-04 07:53] tisto commented on #3279
@plone/framework-team as discussed in the last FWT meeting (that I attended), I went ahead with the implementation:

https://github.com/plone/Products.CMFPlone/pull/3450

I choose the image scales that we currently use in plone.volto (in sync with the original proposal of this PLIP).

Using "-1" instead of "65536" would be a nice feature but not worth the effort IMHO and we would lose backward com

[2022-03-04 11:02] zworkb commented on #2780
The following steps are planned to implement the PLIP and to integrate into the Plone 6.0 release:

- 0: prep:
   - new branch 'plip-2780' for plone.app.dexterity, plone.app.event:

- 1: repackage collective.dexteritytextindexer to plone.app.dexterity.textindexer
    - make everything work as before
    - remove deps on plone.api (converters.py)
    - remove zope.deferredimports from ```dexterityi

[2022-03-04 13:33] ale-rt commented on #3211
This was discussed in the @plone/framework-team mailing list and nobody spoke against.
Personally I would consider this one approved and also not really @plone/framework-team material given that is geared towards the frontend and the framework team decided to limit its activity to the backend code.

Anyway it is still good to have a PLIP, I think.

[2022-03-04 16:32] #3031 closed

[2022-03-05 01:36] tisto commented on #3279
Here is the plone.restapi PR to make all coredev tests pass:

https://github.com/plone/plone.restapi/pull/1341

This needs to be merged together with the CMFPlone PR. I don't think a plip Jenkins job is necessary here...

[2022-03-05 02:01] tisto commented on #3279
I ran two PR jobs on Jenkins to prove tests pass:

https://jenkins.plone.org/view/All/job/pull-request-6.0-3.9/923/
https://jenkins.plone.org/view/All/job/pull-request-5.2-2.7/2318/

[2022-03-05 22:39] gforcada commented on #3279
@tisto Jenkins virtualenv is not broken, the brokeness is on the input, you pasted a issue URL rather than a PR URL 😅

[2022-03-06 09:26] tisto commented on #3279
@gforcada jikes. Thanks for the hint. Another try:

https://jenkins.plone.org/view/All/job/pull-request-6.0-3.9/925/
https://jenkins.plone.org/view/All/job/pull-request-5.2-2.7/2319/

[2022-03-07 20:32] mauritsvanrees commented on #3429
I confirm this is a problem in latest 5.2 and 6.0 on Python 2 and 3.
It is caused by a security fix for [this vulnerability](https://plone.org/security/hotfix/20210518/stored-xss-in-folder-contents).
The problem should be caused since Plone 5.2.5 by this [`plone.app.content` PR](https://github.com/plone/plone.app.content/pull/229).

I thought I had checked this and that it worked fine. So now I wo

[2022-03-07 20:57] Dnouv commented on #1847
Hello @tkimnguyen
Is this issue still available to work? If it is, please let me know, I would like to work on this.
Thank you!

[2022-03-07 21:00] Dnouv commented on #2306
Hello @zopyx and/or @vincentfretin
Is this issue still available to work? If it is, please let me know, I would like to work on this.
Thank you!

[2022-03-07 21:01] Dnouv commented on #2332
Hello @pbauer
Is this issue still available to work? If it is, please let me know, I would like to work on this.
Thank you!

[2022-03-07 21:08] Dnouv commented on #3381
Hello @sneridagh
Is this issue still available to work? If it is, please let me know, I would like to work on this.
Looking forward to your reply.
Thank you!

[2022-03-07 21:53] wesleybl commented on #3381
@Dnouv to contribute to Plone, you must sign the Contributor Agreements. See:

https://docs.plone.org/develop/coredev/docs/agreement.html

[2022-03-08 00:00] jensens commented on #2306
@Dnouv I need to pass this question over to @thet and @MrTango.  I think this evolved with Plone 6 and ES6 upgrade a lot.

[2022-03-08 07:17] Dnouv commented on #3381
Thank you for your prompt reply. I have a query regarding the Agreement. In the CA, there was a question.

So to answer this question, shall I make the required changes as per this issue and then fill out the modified filename and cc the CA, or should I leave this question blank as of now and cc the CA before making the changes to any code file.
I would really appreciate it if you could help me ou

[2022-03-08 07:47] ale-rt commented on #2332
This is not an issue anymore.
Checked on:
- https://demo.plone.org/en (Plone 5.2.6)
- https://6-classic.demo.plone.org/ (Plone 6 alpha)

[2022-03-08 07:47] #2332 closed

[2022-03-08 12:12] wesleybl commented on #3381
You can simply answer the question:

`None`

Then you can sign the CA and send. Then, you will be included in the plone organization, and from there, you can create Pull Requests to change the files.

If you find this question strange, you can open an issue in:

https://github.com/plone/Products.CMFPlone/issues

for it to be improved.

[2022-03-10 15:07] tisto commented on #3279
@plone/framework-team as discussed in our meeting this PR is ready to be reviewed and merged. After this PR has been merged we need to merge https://github.com/plone/plone.restapi/pull/1341 to fix the failing tests.

[2022-03-11 08:38] mauritsvanrees opened #3453 "Update the ADDON_LIST of core profiles with upgrades"
See also [my comment in `Products.PlonePAS`](https://github.com/plone/Products.PlonePAS/pull/66#issuecomment-1064889122).

In the `MigrationTool` we have a [list of add-ons](https://github.com/plone/Products.CMFPlone/blob/6.0.0a3/Products/CMFPlone/MigrationTool.py#L90). At the end of running `@@plone-upgrade`, all [profiles in this list get upgraded](https://github.com/plone/Products.CMFPlone/blob

[2022-03-11 10:15] mauritsvanrees commented on #3279
How do we want to handle upgrades? I don't think anyone wants to recreate all scales. And it would be confusing if a page with two preview images suddenly changed from this:

![Screenshot before](https://user-images.githubusercontent.com/210587/157847131-940b3b9d-7d20-4313-b1b7-a9acb1e003b9.png)

to this:

![Screenshot after](https://user-images.githubusercontent.com/210587/157847190-19b3d795-0ed3

[2022-03-11 10:45] rpatterson commented on #3453
Good catch!  I started digging into this, and now I'm at the bottom of a rabbit hole.  Oh wait, I still haven't hit bottom.  Expect a missive from me tomorrow.  :-/

[2022-03-11 20:11] rpatterson commented on #3453
Actually now I kinda resent you for motivating me to read this code.  ;-)  It seems like there may be several messes here.

When I first read the code, it seemed to me that [`ADDON_LIST` is about *optional* add-ons that are explicitly supported as a part of core Plone](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/MigrationTool.py#L90) and thus should be upgraded when Pl

[2022-03-11 22:26] rpatterson commented on #3453
Writing everything up was taking longer than just making the changes, so I drafted #3454 to both capture my findings and my suggested approach.  See the commit messages there for more detailed discussion.

[2022-03-12 14:39] tisto commented on #3279
I agree

[2022-03-12 21:20] mauritsvanrees commented on #3453
I started preparing an answer, but it is weekend. :-)
Your PR won't work completely, but it is an interesting approach that we can work with.
More on Monday.

[2022-03-13 12:06] mohitbalwani commented on #3273
Can I work on this issue?

[2022-03-14 09:51] mauritsvanrees commented on #3453
Should I react on your PR or on this issue? I want to explain the current situation first, so let me do that here. I don't just explain it for you, but also for me. :-)

## Current installation method

The add-plone-site view calls factory.addPloneSite .
This installs the _DEFAULT_PROFILE, with is Products.CMFPlone:plone .
This is one of the few base profiles instead of extension profiles. This me

[2022-03-15 19:24] rpatterson commented on #3453
I can't come up with a reason to care.  ;-)  But seriously, that PR is for you (or whoever) to do with as you please.  Build on it, close it, whatever.

Just in case the reason for this isn't clear, the actual import steps run in the `Products.CMFPlone:dependencies` profile are there and not in the base profile because they build on state imported from those 14 other dependency profiles.

I strong

[2022-03-15 20:52] mauritsvanrees commented on #3453
You move all files from `profiles/default` to `profiles/core`. In my proposal we keep them in `profiles/default`, so there are much less changes.

Sorry, but this sounds scary to me, although this may be without good reason.

- Re-applying a complete profile is something that we tell add-on authors not to do: you should write a proper upgrade step instead. It should be okay in this case, and I am

[2022-03-16 20:22] MrTango opened #3458 "iconresolver: support for extended icon names as contenttype/news-item broken"
## Extended names are currently not correctly supported:

This registration can't be found with the current publishtraverse implementation:
[code]

please also document this in [https://github.com/plone/documentation/blob/6-dev/docs/classic-ui/icons.md](https://github.com/plone/documentation/blob/6-dev/docs/classic-ui/icons.md)

[2022-03-16 21:35] mauritsvanrees commented on #2957
All done. `plone.recipe.zope2instance` by default no longer creates a temp storage on Plone 6. You can still switch it on, if you know what you are doing. And if you do not have `Products.CMFPlone` in the instance eggs, there is no change in behavior: you get the temp storage as before.

[2022-03-16 21:35] #2957 closed

[2022-03-16 21:56] rpatterson commented on #3453
We can't change the name of the base profile, `Products.CMFPlone:plone`, because of existing portals.  In my proposal we need the base profile to only have dependencies and not run any import steps.  So we either break the `GenericSetup` convention that the main profile is named `default` or we move all the real import step data files to a different profile directory, `core` in my proposal.  Consi

[2022-03-17 10:58] mauritsvanrees commented on #3279
I made a PR for the upgrade step: https://github.com/plone/plone.app.upgrade/pull/274

[2022-03-17 12:11] petschki commented on #3415
done

[2022-03-17 12:11] #3415 closed

[2022-03-17 13:24] petschki opened #3459 "Use latest z3c.form in Plone Classic UI"
## PLIP (Plone Improvement Proposal)

## Responsible Persons

### Proposer: @petschki

## Abstract

This PLIPs mission is to upgrade `z3c.form` to the latest available version in Plone Classic UI.

## Assumption

Right now `z3c.form` is pinned to the latest 3.x version because of the dependencies to the subform functionality provided by `z3c.form.object.SubformAdapter` and `z3c.form.object.ObjectS

[2022-03-17 13:26] petschki commented on #3459
I've created a branch with the updated z3c.form version and this what happened on jenkins ... https://github.com/plone/buildout.coredev/pull/782

[2022-03-18 08:21] mauritsvanrees commented on #3453
That could work.

In general, I have the idea that we need a few small PRs in `GenericSetup` to make our upgrade story easier.

Here is the first minor one, which is only about not logging uninteresting things by passing `quiet=True`:
https://github.com/zopefoundation/Products.GenericSetup/pull/119
We would use that when [calling `upgradeProfile`](https://github.com/plone/Products.CMFPlone/blob/2a

[2022-03-18 16:52] petschki commented on #3459
plone.autoform and plone.app.portlets can safely be merged because there are only backwards compatible test fixes.  CMFPlone has a backward compatible update to login form and can be merged too.  The plone(.app).z3cform package Updates need z3c.form >= 4 and therefore an updated versions.cfg of buildout.coredev …

/cc @mauritsvanrees @jensens might wanna have a look?

[2022-03-18 16:55] petschki commented on #3459
PS: jenkins is down to 3 failing tests. I think I can them later today.

[2022-03-19 18:00] rpatterson commented on #3453
Ah, gotcha, makes sense and I have no better solution off the top of my head.

Good luck with all this and thanks for making this discussion so pleasant!

[2022-03-22 07:39] ale-rt commented on #3459
+1 with this PLIP and what with Timo says about not having a PLIP for this!
Thanks @petschki

[2022-03-22 14:28] suklix opened #3461 "Clicking samples or Home will jump to Confirm Action Pages. Can I skip this step"
<img width="1169" alt="image" src="https://user-images.githubusercontent.com/26037801/159504856-b7630ddd-c0d3-4518-b83f-f481f1454efe.png">

[2022-03-22 20:49] petschki commented on #3459
Thanks for your comments. Indeed not really worth a PLIP ... I have merged the updates in plone.(app.)z3cform packages and bumped `z3c.form` version to `4.2` in cordev 6.0 today ... everything runs smooth.

[2022-03-22 20:51] #3459 closed

[2022-03-22 23:25] mauritsvanrees commented on #3211
I have tested it, from the point of view of a site admin or editor, and a bit as add-on writer. I did not look at how things are implemented in the code. Tested on Mac in Firefox.

Some review notes:

- The extra session refresh support from [`plone.session` breaks](https://github.com/plone/plone.session/issues/23). Should probably be solved there. Can also point to a wider problem, when add-ons d

[2022-03-22 23:52] mauritsvanrees commented on #3461
I don't know what "samples" is. this sounds like something specific to your website.

But this page is from the automatic CSRF protection. You can find some information here: https://github.com/plone/plone.protect#automatic-csrf-protection

Plone sees that visiting this page will make a change in your database. A database change is fine when you fill in a form, for example the Edit form of a page.

[2022-03-23 07:56] yurj commented on #3211
It happened to me too, If you re-run the last staticresources import step and cmfplone one, jquery bundle pops up. Seems like some upgrade steps add/erase things, and something runs not in the right order.

[2022-03-23 08:59] jensens commented on #3211
This is by intend.
- In past we had no HTTP/2.0.
- Map files are working w.o concat
- For JS we anyway have module federation, this loads lots of small files on demand, no large bundles anymore
- Simplification/no magic

[2022-03-24 00:04] heisenberg2208 commented on #3381
Can I work on this enhancement? still yet to be done?

[2022-03-24 01:05] Rudd-O commented on #3425
@sneridagh It looks like the uid_to_url and url_to_uid functions need to be updated to deal with whole tags rather than single URLs.  The code in collective.exportimport does this already.

I still think the most vertical solution is to rely on the PortalTransforms machinery rather than writing ad-hoc ser/deser code, which is (to my limited understanding) what the code you linked currently does.

[2022-03-24 09:18] sneridagh commented on #3425
We do not deal with tags... nor with HTML as a whole, we deal with JSON. Slate saves to JSON. We deal with tags only on rendering, since tags are only rendered when they should be, in JSX. Which is the whole point. That code runs on every URL that it finds given a specific block.

We implemented the blocks transforms because a reason, and they provide functionality beyond what PortalTransforms pro

[2022-03-24 15:15] mauritsvanrees commented on #3211
@thet has merged everything. Thank you Johannes, @MrTango, @petschki, @jensens, @agitator, @pbauer and lots more people!

[2022-03-24 15:19] EliaoHame commented on #3461
Ok, thanks for your reply

[2022-03-24 15:19] #3461 closed, assigned to nobody

[2022-03-24 17:15] Rudd-O commented on #3425
OK @sneridagh, I may have misunderstood — I thought these blocks dealt with HTML rich text fields.

This PLIP is limited to dealing with uniqueid'ifying HTML rich text fields as they are fed _into_ Plone for storage.  It does not influence the _rendering_ of any data sources, JSX or HTML — within the scope of this PLIP, that remains untouched and the same.

So it's really orthogonal work.

[2022-03-25 00:22] mauritsvanrees commented on #3240
This form is indeed not needed anymore. I am removing it in the next two PRs that I am testing together:

- https://github.com/plone/Products.CMFPlone/pull/3462
- https://github.com/plone/plone.app.upgrade/pull/276

[2022-03-25 00:23] #3057 closed

[2022-03-25 08:01] laulaz commented on #3335
`password_form` will be removed in #3425

[2022-03-25 08:10] jensens commented on #3425
I still support the basic idea (details need discussion), but I veto against adding IResolveUIDer interface and implementation to p.a.linkinterity - it's place is `plone.app.uuid`. It is all out of scope of what I consider a linkintegrity checker package to do.

[2022-03-25 08:13] jensens commented on #3425
Overall I would like to see an implementation scanning arbitrary (not limited to HTML) text for links, a detection if they are internal and not already based on UUIDs, then replace them by matching UUID links. (and vice versa). This basic/generic and robust/very well tested implementation then can be used in several places, like for JSON/slate, for HTML/TinyMCE, at export/import time and so on.

[2022-03-26 15:19] pbauer opened #3463 "Editing in TinyMCE throws errors for missing css-files in Plone 6 classic"
See https://6-classic.demo.plone.org/de/frontpage/edit

[code]

`plone-compiled.css` and `tinymce-styles.css` are added in `Products.CMFPlone.patterns.tinymce.TinyMCESettingsGenerator.get_content_css` and used to be proved by the theme.
I'm not sure if we need and want any of these.

The third is the value of `content_css` in the TinyMCE Controlpanel.
In Plone 5.2 that was `++plone++static/compone

[2022-03-26 15:38] wesleybl opened #3464 "folder_contents calls @@getVocabulary twice"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did:

I accessed the folder_contents from the root of the portal:

http://localhost:8080/Plone/folder_contents

### What I expect to happen:

I expect `@@getVocabulary` to be called only once

### What actually happened:

He called the `@@getVocabulary` URL twice, with the same parameters. The URL called twice is:

http://localhost:8080/Plo

[2022-03-26 15:39] wesleybl commented on #3464
@thet Is this expected? could it improve?

[2022-03-26 16:01] wesleybl commented on #3464
@fredvd this might look like what you fixed in https://github.com/plone/mockup/pull/1031?

[2022-03-26 16:15] fredvd commented on #3464
@wesleybl I tried to fix a number of double requests together with @thet:  and we managed to fix most of them.  IIRC there are one or 2 conditions left where another component triggers fetching the same info again (but not always if you actually use the filter).   :-(

[2022-03-26 16:54] pbauer opened #3465 "Allow TinyMCE to be used in inline-mode"
Inline-mode of TinyMCE (https://www.tiny.cloud/docs/demo/inline) is nice among other reasons because the edited text looks exactly the way as the saved result.

To enable it you could simply set `{"inline": "true"}` as the value in the field "Other settings" of the TinyMCE controlpanel. That is enough to trigger it.

But that fails with `Could not initialize inline editor on invalid inline target

[2022-03-26 19:48] wesleybl commented on #3464
The problem also occurs in the Plone 6 master.

[2022-03-27 00:00] #3240 closed

[2022-03-28 08:42] yurj opened #3466 "Link type wrong url when inserting a space in front of the external url"
How to reproduce:

- add a Link
- select External
- insert " https://www.plone.org/" (no ", just the space in front of https://www.plone.org/)

expected:

- a link to https://www.plone.org/

What happen:
Demo here:
https://6-classic.demo.plone.org/en/test-link

this is the html code produced, the site root is prepended:

<a href="https://6-classic.demo.plone.org https://www.plone.org/"> https://ww

[2022-03-29 11:40] pbauer opened #3467 "Savepoint required in PloneFixture for tests to pass"
Test are failing unless there is a `transaction.savepoint(optimistic=True)` after creating the portal (`addPloneSite`) while the contextmanager `with zope.zopeApp() as app:` is still active.

Up to now that savepoint was triggered rather accidentally while adding a large js-file (>128 kB) for the logged-in bundle during `combine_bundles`. The logic for that savepoint is in [`OFS.Image.File._read_d

[2022-03-29 12:24] pbauer commented on #3467
I created three pull-requests:

* https://github.com/plone/plone.app.testing/pull/76
* https://github.com/plone/plone.staticresources/pull/205
* https://github.com/plone/Products.CMFPlone/pull/3468

I also triggered a build with these three: https://jenkins.plone.org/job/pull-request-6.0-3.9/990

[2022-03-29 12:33] pbauer opened #3469 "js used when editing events is missing"
When adding a event (https://6-classic.demo.plone.org/de/++add++Event) in Plone 6 classic the js hat used to modify various aspects of the input-fields is no longer used.

Examples: When selecting "Whole Day" the end-field was hidden or when the date of start was set to the future the end-date was set to the same day.

The old js from `plone/app/event/browser/resources/event.js` is not yet include

[2022-03-29 16:27] pbauer commented on #3467
New build with all four pull-requests: https://jenkins.plone.org/job/pull-request-6.0-3.9/

[2022-03-29 17:18] zworkb commented on #2780
You can try it out:

https://github.com/plone/buildout.coredev/tree/plip-2780

- clone it
-  $ make -f Makefile-plip-2780
- add the richtext behavior to event
- create an event, the richtext entry should now be found by a portal search

[2022-03-29 17:22] mauritsvanrees commented on #3467
The Python 3.9 job has succeeded. I don't expect problems with other Python versions, but let's check anyway. If there is a freak error on 3.7, I do not want to undo four merges.

- https://jenkins.plone.org/job/pull-request-6.0-3.7/1074/
- https://jenkins.plone.org/job/pull-request-6.0-3.8/1069/

[2022-03-29 19:57] #3467 closed

[2022-03-29 19:58] mauritsvanrees commented on #3469
See also https://github.com/plone/plone.app.event/issues/350

[2022-03-29 20:27] ale-rt commented on #3211
Also I would like to see some documentation on this one and if possible a demo add on, something similar to https://github.com/collective/example.p4p5. It does not need top work on both p5 and p6 (though it would be a nice plus) but at least it should be really clear how to wire up custom css + javascript in Plone 6 add on.

[2022-03-29 20:30] ale-rt commented on #3395
This PLIP has been approved in some follow up emails after the FWT meeting the happened the 10th of March.

[2022-03-29 23:20] davisagli commented on #3467
Oh my, that sounds like a nightmare to debug. Maybe creating a savepoint holds a reference somewhere that prevents the connection from getting garbage collected, or something like that?

[2022-03-30 07:02] pbauer commented on #3467
Yes, it was quite a ride going from the logged-in bundle (that accidentally triggered the savepoint beacuse it was really large). At one point I checked **all** events, all subrequests and subprocesses for issues.  Duh!

[2022-03-30 08:34] mauritsvanrees opened #3471 "Plone 6: Custom css textarea is disabled when empty"
In a new Plone 6 site, go to Theme Settings and then Custom Styles. The custom css textarea is black and you cannot type in it.

When [reviewing ES6](https://github.com/plone/Products.CMFPlone/issues/3211#issuecomment-1075746689) I already saw this problem. Later I edited my comment to note that after merge it was fixed. But now I see the problem again, both on migrated and on fresh sites. See scr

[2022-03-30 08:36] ale-rt commented on #2703
@tisto this can be closed because in Plone we are already shipping volto, right?
CC @plone/volto-team

[2022-03-30 08:39] thet commented on #2150
Done in https://github.com/plone/plone.app.z3cform/pull/141 as part of the ES6 effort.
Closing this.

[2022-03-30 08:39] #2150 closed

[2022-03-30 08:40] mauritsvanrees commented on #3471
In `plone.app.theming` in `controlpanel.pt` as a test I can change `tal:content="custom_css"` to `tal:content="python:custom_css or 'p {}'"` and then it works, because it is no longer empty.

@MrTango Is this something that needs to be fixed in `pat-code-editor`, that it also loads when the current field content is empty?

[2022-03-30 08:41] thet commented on #2973
The moment js bundle is removed in Plone 6.
moment.js is currently still a dependency of Patternslib and might be removed in the near- to mid future but it doesn't hurt us anymore as with the async loading mechanism we do not have this big payload anymore.
So moment.js handling in Patternslib is fine.

I'm closing this ticket.

[2022-03-30 08:41] #2973 closed

[2022-03-30 08:58] mauritsvanrees commented on #3395
This would need an upgrade step in `plone.app.upgrade`. All keys in the registry that start with `Products.CMFPlone.interfaces` should be changed to `plone.base.interfaces`. Right?

See [`v52.final.change_interface_on_lang_registry_records`](https://github.com/plone/plone.app.upgrade/blob/3.0.0a3/plone/app/upgrade/v52/final.py#L110-L126) where we do the same for the update from `CMFPlone.interface

[2022-03-30 08:59] thet commented on #3465
For reference, in Plone 5 you can activate inline editing like so:

[code]

[2022-03-30 09:01] mauritsvanrees commented on #3395
Also, we should be careful that we do not clean this up and then reintroduce old interfaces later on, for example when running a `plone.staticresource` upgrade step. But if we forget something, we can always call this cleanup step a second time during beta.

[2022-03-30 09:21] pbauer commented on #3469
Fixed with https://github.com/plone/plone.app.event/pull/353

[2022-03-30 09:21] #3469 closed

[2022-03-30 12:02] jensens commented on #3395
This would be necessary, but it is not necessary for the next alpha.

[2022-03-30 14:10] pbauer opened #3473 "Modeleditor not working in Plone 6 classic"
The code-editor used in Dexterity (https://6-classic.demo.plone.org/dexterity-types/File/@@modeleditor) and in easyform
(/@@fields/@@modeleditor) is not working at all in Plone 6 classic coredev.

[2022-03-30 14:53] pbauer commented on #3471
Looks similar to #3473

[2022-03-30 14:59] #3466 closed

[2022-03-30 15:55] zworkb commented on #2780
fixed it, have now added
https://github.com/plone/buildout.coredev/blob/6.0/plips/plip-2780-textindexer.cfg

steps are:

- `buildout -c plips/plip-2780-textindexer.cfg`
- add the richtext behavior to Event
- create an event, the richtext entry should now be found by a portal search

[2022-03-30 16:35] #3471 closed

[2022-03-30 18:43] pbauer commented on #2780
Builds for 3.7, 3.8 and 3.9:
https://jenkins.plone.org/job/pull-request-6.0-3.9/1004/
https://jenkins.plone.org/job/pull-request-6.0-3.8/1081/
https://jenkins.plone.org/job/pull-request-6.0-3.7/1085/

[2022-03-30 20:29] #3463 closed

[2022-03-31 05:22] pbauer commented on #2780
All tests are green

[2022-03-31 08:12] pbauer commented on #3473
This is still broken, now there is a empty input-form, the current xml is not displayed but I can add new xml which then overwrited the default-schema.

Image (http://localhost:8080/Plone/dexterity-types/Image/@@modeleditor):
![image](https://user-images.githubusercontent.com/453208/161008713-9a6a081e-2233-4055-aefe-0a4dc8273e0c.png)

Easyform (http://localhost:8080/Plone/asd/@@fields/@@modeledito

[2022-03-31 10:25] mauritsvanrees commented on #3473
It shows nothing when the `model_source` of the FTI is empty. I have a fix now in the modeleditor in plone.app.dexterity:
https://github.com/plone/plone.app.dexterity/pull/343

[2022-03-31 10:27] mauritsvanrees commented on #3473
To be clearer: the FTI in question has a `model_file` which has some perfectly fine XML. It should be shown when there is not `model_source` yet.

[2022-03-31 12:43] zworkb commented on #2780
ive just seen that `plone.app.blocks` also steals SearchableText, so we have to fix that one too

[2022-03-31 12:45] jensens commented on #2780
this should not block the merge here

[2022-03-31 13:52] zworkb commented on #2780
fixed plone.app.blocks: it indeed was textindexer-aware but of course only for collective.dexteritytextindexer.
it now respects both collective.dexteritytextindexer and p.a.d.textindexer

as a consequence textindexer works also if e.g. Mosaic is installed

[2022-03-31 15:59] #3473 closed

[2022-04-01 01:02] Rudd-O commented on #3425
`plone.app.uuid` seems to me lower in the dependency stack than `plone.app.linkintegrity` — why should plone.app.uid gain HTML parsing functionality as part of this project, when `plone.app.linkintegrity` is where that sort of thing is happening nowadays?

Alternatively, I can create a separate package.  Either way, `plone.app.linkintegrity` is going to use code from that hypothetical new package,

[2022-04-01 01:02] Rudd-O commented on #3425
(No disagreement on the second comment, albeit I have no plans for doing this to the Markdown interfaces — there is no precedent for Plone to do that kind of transformation.)

[2022-04-01 09:04] petschki commented on #3464
@wesleybl @fredvd @thet during `pat-structure` refactorings for mockup#ES6 I came accross a fix for this. See https://github.com/plone/mockup/pull/1152

[2022-04-01 14:51] #3464 closed

[2022-04-02 08:59] fredvd commented on #3464
Cool @petschki , thanks !! I circled around this issue for a few hours last year but couldn't find the exact trigger back then, also by looking through the call stack in the browser.

So the one line that updated the per page value with:

was causing the double result/collection refresh?

[2022-04-02 10:25] petschki commented on #3464
Exactly ... here https://github.com/backbone-paginator/backbone.paginator/blob/legacy/dist/backbone.paginator.js#L181 after setting perPage the complete `pager()` is called which fetches the results. So in our case its enough to set the perPage attribute on initialization and leave the rest up to the paginator API.

I came across this when trying to update `backbone.paginator` to version 2.0.4 whi

[2022-04-03 17:48] mreza-kiani commented on #3028
Hi, I can't find the Products.CMFCore package to look at SkinsTool class. Is it in a different project?

[2022-04-04 07:47] petschki opened #3480 "Plone default logo as SVG"
found here https://upload.wikimedia.org/wikipedia/commons/d/df/Plone-logo.svg

[2022-04-04 08:32] mauritsvanrees commented on #3028
The code is here:
https://github.com/zopefoundation/Products.CMFCore

[2022-04-04 08:50] pbauer commented on #3028
@mreza-kiani beware that in Plone 6 this does no longer throw an error. This issue applies only to Plone 5.2

[2022-04-04 10:57] jensens commented on #2780
We did a cleanup/squash of the branches (and for a project for now I created backported branches pre ES6).

Now run Jenkins with:
[code]
Which I did here:
- https://jenkins.plone.org/job/pull-request-6.0-3.9/1027/
- https://jenkins.plone.org/job/pull-request-6.0-3.8/1101/
- https://jenkins.plone.org/job/pull-request-6.0-3.7/1109/

[2022-04-05 04:58] d-maurer opened #3481 "PasswordResetTool.clearExpired can raise RuntimeError"
https://github.com/plone/Products.CMFPlone/blob/165ee87cd253ceb18039f816d89d77377247da0a/Products/CMFPlone/PasswordResetTool.py#L174-L183
can raise the following exception:
[code]
I recommend to use `for key, record in list(self._requests.items()):` (rather than `... in self._requests.items():`).

[2022-04-05 21:17] mauritsvanrees opened #3482 "Deprecated bundle fields still get added."
When you upgrade a site to Plone 6, several deprecated bundle fields are deleted. In fact, @petschki just added another field to the [deleted list](https://github.com/plone/plone.app.upgrade/pull/283). And in [my plone.session-related open PR](https://github.com/plone/plone.app.upgrade/pull/281/files#diff-7edeb5a37c73e7e87ab5a8249680936c39a661b65ec0abc6ed15c7846dafbda4R364) I add another one.
But

[2022-04-05 21:55] jensens commented on #3395
Short review by @ale-rt here: https://github.com/plone/Products.CMFPlone/pull/3396/#issuecomment-1088968474

[2022-04-05 23:49] mauritsvanrees opened #3483 "Release checklist Plone 6.0.0a4"
See the [release schedule](https://plone.org/download/release-schedule).

- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone metadata.xml`](https://github.com/p

[2022-04-06 14:28] pbauer commented on #2780
I fixes some failing tests by using named behaviors in tests.

New jenkins run:

* https://jenkins.plone.org/job/pull-request-6.0-3.7/1126/
* https://jenkins.plone.org/job/pull-request-6.0-3.8/1117/
* https://jenkins.plone.org/job/pull-request-6.0-3.9/1043/

[2022-04-06 14:34] jensens commented on #3395
part 1 merged

[2022-04-06 19:06] pbauer commented on #2780
Once more with feeling:

* https://jenkins.plone.org/job/pull-request-6.0-3.7/1132/
* https://jenkins.plone.org/job/pull-request-6.0-3.8/1123/
* https://jenkins.plone.org/job/pull-request-6.0-3.9/1049/

[2022-04-06 19:52] mauritsvanrees commented on #3395
@jensens Can you make a PyPI release of `plone.base` please?  I would suggest version 1.0.0a1.
Please give the `plone` user the Owner role.

Without a release, currently the [`plone.restapi` GHA fails](https://github.com/plone/plone.restapi/runs/5856639094?check_suite_focus=true) because CMFPlone is checked out, but plone.base is nowhere to be found. I am fixing this in a different way in https://

[2022-04-06 21:41] jensens commented on #3395
@maurits wouldn't it be better to fix the GHA over there to use buildout.coredev? I anyway wondered why such a non standard layout is used there.
Anyway, I can do a release if needed tomorrow.

[2022-04-07 01:18] mreza-kiani commented on #3028
Hi @mauritsvanrees @pbauer
Thanks for your help.

I used the vagrant to run the project, but I don't know how should I add something to the source code and test the result. Do you have any suggestions for that?

[2022-04-07 04:54] pbauer commented on #2780
Three failing tests but I don't know why these fail since I cannot reproduce that locally:

* [plone.app.dexterity.textindexer.tests.test_schemaeditor.TestSchemaEditor.test_searchable_field_change_is_saved](https://jenkins.plone.org/job/pull-request-6.0-3.7/1132/testReport/junit/plone.app.dexterity.textindexer.tests.test_schemaeditor/TestSchemaEditor/test_searchable_field_change_is_saved/)
* [plon

[2022-04-07 06:40] ale-rt commented on #3395
See:
- https://github.com/plone/plone.restapi/pull/1255
- https://github.com/plone/plone.restapi/pull/1259

That test setup will be a recurring pain

[2022-04-07 06:46] pbauer commented on #2780
Oh my, someone changed the branch without updating the plip-config.

[2022-04-07 06:53] pbauer commented on #2780
I fixed the config and updated the new branch of plone.app.dexterity with my test-fixes. Tests should pass now:

* https://jenkins.plone.org/job/pull-request-6.0-3.7/1136/
* https://jenkins.plone.org/job/pull-request-6.0-3.8/1127/
* https://jenkins.plone.org/job/pull-request-6.0-3.9/1053/

[2022-04-07 08:55] pbauer commented on #2780
Dear https://github.com/orgs/plone/teams/framework-team, can we merge this?

[2022-04-07 09:06] ale-rt commented on #2780
Thank you guys for implementing this one and @MrTango for checking it.
I briefly had a look and my idea is that this one should be merged.
I would say that:
1. if @MrTango is fine with the outcome of his review
2. if the other @plone/framework-team members do not object

Please wait at least one day before merging so that other members can jump in to the discussion :)

[2022-04-07 09:22] pbauer commented on #2780
@ale-rt thanks for looking at it. I jumped ahead and merged the pull-requests. If someone objects I will revert. @MrTango is fine with the merge.

[2022-04-07 09:23] MrTango commented on #2780
LGTM

[2022-04-07 09:42] #2780 closed

[2022-04-07 11:07] pbauer opened #3486 "Display Collection in navigation, hide Files and Images"
The default-setting for navigations in Plone 5 and 6 does not show Collections in the navigation (top-bar and portlets).
I propose to change that, so that for new sites created with Plone 6 Collections actually show up.

It was so irritating that the demo-folder in https://demo.plone.org/en/demo has a collection but it was not shown that I changed that in the demo-site profile.

I would also chang

[2022-04-07 17:49] 1letter commented on #3486
yes, i do also the same steps

[2022-04-07 23:03] marwanatef2 commented on #3273
@tkimnguyen I think this issue should be closed? Or what do you think?

[2022-04-08 00:31] mauritsvanrees commented on #3483
Released:

- https://dist.plone.org/release/6.0.0a4/
- https://community.plone.org/t/plone-6-0-0a4-released/15126
- https://plone.org/download/releases/6.0.0a4

[2022-04-08 08:39] pbauer commented on #3486
Pull-requests so far:

* https://github.com/plone/plone.base/pull/4
* https://github.com/plone/plone.app.layout/pull/300
* https://github.com/plone/Products.CMFPlone/pull/3490

Jenkins build with these parameters:

[code]

* https://jenkins.plone.org/job/pull-request-6.0-3.7/1150/
* https://jenkins.plone.org/job/pull-request-6.0-3.8/1140/
* https://jenkins.plone.org/job/pull-request-6.0-3.9/1071/

[2022-04-08 09:58] pbauer commented on #3486
@plone/framework-team I don't think this needs to be a plip but I'd like to hear your opinion.
Tests are green.

[2022-04-08 10:12] ale-rt commented on #3486
Personally, I do not have a big preference here.
I do not think it is even a FWT matter.

What it is certain is that the Plone 6 alpha stage is the right moment for changing this kind of stuff.

So if you get large consensus or lack to find anyone against you are free to go.

But this is just my own opinion.

[2022-04-08 11:08] sneridagh opened #3491 "Unify schema widget `pattern_options` parameter name to `frontend_options`"
I stumbled upon this today, so I wanted to make a full shoutout to draw people's attention.

We started to use `frontend_options` parameter name for parameterise Volto's widgets in the backend, it's included in `plone.restapi` schema serializers since long ago. Also, it's a used pattern when parameterising fields in Volto. Somehow it seemed strange to continue using `pattern_options` for the purpo

[2022-04-08 12:49] ale-rt commented on #3491
I failed to grep for `frontend_options`, I only see `frontendOptions`:
[code]

Did you mean `frontendOptions`?
[plone/volto/coresandbox/example.py](https://github.com/plone/plone.volto/blob/749ba6d266c8ab3031adaa9e8797bee841dcaa95/src/plone/volto/coresandbox/example.py#L262)

Whatever the name is, I see your point.
I also like standardization and agree on the fact the term `pattern` is understood

[2022-04-08 13:21] sneridagh commented on #3491
@ale-rt you are correct, it's `frontendOptions` :)

Not that it's huge, I agree, but if we have the opportunity to not have (again) two valid ways of dealing with the same thing, I think it's worth still to discuss it and talk about it.

If we finally go along with it, it won't be a big deal, but still, something we should look forward fixing and unify.

[2022-04-08 14:11] ksuess commented on #3491
Glad that you picked up this topic!

In most cases this would be fine.

In some cases a conflict could arise. A package that is used for Pone Classic UI at first, it would set

[code]

If this backend package gets a Volto frontend corresponding package, this Volto package would set

[code]

In another context (another add-on) another mapping is better

[code]
So, I think it's worth thinking about

[2022-04-08 14:52] sneridagh commented on #3491
@ksuess good point!

Yes, I can imagine situations, where things can collide or one wants to differ from one implementation to another.

You convince me so far...

[2022-04-08 16:12] Rudd-O commented on #3425
Not at all.  @jensens I get the vibe that you believe the purpose of this PLIP is the antipode of what it actually is.

This PR does not touch the part of Plone that renders UUID links into proper HTML URLs.  That will remain untouched.

The purpose of this PR is the opposite — evaluate HTML URLs and see if they can be transformed to UUID links, then transform them if possible.

------------------

[2022-04-08 16:35] jensens commented on #3425
Anyway, reverse lookup would fit in `plone.app.uuid` as well.
However, you need to get the PLIP out of draft mode and the official path over the framework team (I am not part of any longer) applies, who will then review it.

[2022-04-09 23:07] jensens commented on #3482
Worth to try. It could work.

[2022-04-11 08:50] jensens opened #3496 "full_review_list not styled with bootstrap 5"
`@@full_review_list` view of `plone.app.content` is not styled for Plone 6.
It is linked in the review portlet.

[2022-04-11 08:52] thet commented on #3279
Closing, as this is merged.

[2022-04-11 08:55] thet commented on #1653
Resource registry is completely rewritten and improved in Plone 6: https://github.com/plone/Products.CMFPlone/issues/3211

[2022-04-11 08:56] thet commented on #1955
Resource registry is completely rewritten and improved in Plone 6: https://github.com/plone/Products.CMFPlone/issues/3211

[2022-04-11 09:39] mauritsvanrees opened #3497 "isort and black config"
Several packages have an `isort` config. Often something like this:

[code]

But ever since `isort` has gotten profiles, like the `black` used above, it has also had a `plone` profile. See the [current profiles](https://github.com/PyCQA/isort/blob/main/isort/profiles.py).  The black and plone profiles are defined like this:

[code]

The author seems to have gotten the config out of the [Plone styl

[2022-04-12 07:14] iham opened #3498 "doctype is contradicting itself"
when taking a look at the [main_template](https://github.com/plone/Products.CMFPlone/blob/fe810d633b96213cc8555099b0d4e9e585613686/Products/CMFPlone/browser/templates/main_template.pt)

in line 2 is a doctype defined that indicates **html5**
[code]

but goes on in line 4 with declaring the namespace as **xhtml**
[code]

no matter, what diazo might do - this should be correct out of the box, should

[2022-04-12 07:40] #3498 closed

[2022-04-12 13:36] pbauer opened #3499 "cannot add new record contenttype icon to registry"
In Plone 6.0.0a4 I cannot add a content-type icon to the registry beacuse the required record-name has a slash (e.g. `plone.icon.contenttype/customtype`) but the form validates that Fieldname with the error `Must be in a format like "plone.my_name". Only letters, periods and underscores.`

Adding such values via xml works fine though:

[code]

[2022-04-12 13:37] agitator opened #3500 "icon resolver summarized issues"
How it is expected to work:
- Icons are registered by name via registry in staticresources
- each icon name will return the path to the resource
- the iconresolver tag method, will return a parametrized (class, aria) svg snippet that you can inline in your template
- icon names containing a `/` support fallback to a more generic icon, for example `contenttype/foo` will return the default `contentt

[2022-04-13 08:34] pbauer commented on #3465
This is fixed with:

* https://github.com/plone/Products.CMFPlone/pull/3501
* https://github.com/plone/plone.base/pull/7
* https://github.com/plone/plone.app.upgrade/pull/288

[2022-04-13 08:36] pbauer commented on #3465
Jenkins:
https://jenkins.plone.org/job/pull-request-6.0-3.7/1178/
https://jenkins.plone.org/job/pull-request-6.0-3.8/1169/
https://jenkins.plone.org/job/pull-request-6.0-3.9/1103/

[2022-04-13 08:51] pbauer commented on #3465
With the current solution you can globally enable or disable inline mode in the TinyMCE controlpanel and still disable or enable it by schema-field for specific types or behaviors using `pattern_options={"inline": True}` like the example from @thet

What I did not see earlier is that the tinymce-pattern actually uses this setting to replace the textarea with a div before instanciating tinymce. So

[2022-04-13 08:58] pbauer commented on #3207
Done

[2022-04-13 09:05] pbauer opened #3502 "Upgrade to TinyMCE 6"
In Plone 6 we should use the recently released TinyMCE 6 (currently 6.0.1).

Upgrade-Guide: https://www.tiny.cloud/docs/tinymce/6/migration-from-5x/
Changelog: https://www.tiny.cloud/docs/tinymce/6/6.0-release-notes-overview/

[2022-04-13 09:58] pbauer commented on #3207
Sorry, I thought that was for Plone 6. We could reopen that but with Plone 6 almost ready I guess nobody will put in the work to do that.

[2022-04-13 10:01] pbauer commented on #3465
Tests are green.

[2022-04-13 10:27] #3465 closed

[2022-04-13 10:27] mauritsvanrees commented on #3465
Alles gemerget.

[2022-04-13 10:54] pbauer commented on #3499
The form `plone.app.registry.browser.records.IAddFieldForm` has `name = schema.ASCIILine` which is not consistent with `plone.registry.interfaces.IRegistry` which has

[code]

But the record is actually only validated in `plone.registry.registry._Records` with

[code]

That is write-only code but is supposed to be `A registry key is a dotted name with up to one '/'.`

I'm not 100% sure what to do

[2022-04-13 11:01] fredvd commented on #3207
As also noted by Johannes.  The site that gave me most inexplicable but occasional issues with TinyMCE 4 will move to Plone 6 shortly, so I won't have much motivation myself to look at this. But I'd like to keep this open for a while for others to find if they search for tinymce issues in Plone 5.2 frontend and find out our TinyMCE is rather long in the tooth and could be updated. to the latest 4.

[2022-04-14 08:31] MrTango opened #3504 "Improve image caption handling"
We need to define which information like ALT, TITLE, CAPTION come frome where.
It should be possible to override a caption when inserting an image for example in TinyMCE.
The caption should done only in the backend by output filter, editors like TinyMCE should only set markers and informations used by output filters to do the job.

[2022-04-14 12:02] #3499 closed

[2022-04-14 12:31] jensens opened #3505 "Todo: Invalidate cache of webresource"
As discussed with @pbauer and @MrTango

- provide utility function in `resources.utils.bundles_changed` to write timestamp (int) at Plone root to `_webresources_bundle_changed`.
- add value of `_webresources_bundle_changed` to cache hash of rendered resource viewlet
- add subscriber to `plone.registry` record lifecycle events and call above function if a prefix `plone.bundle...` changes.
- if in t

[2022-04-14 13:42] mauritsvanrees commented on #3497
Anyone else want to comment?
It would not be much use if we change this in `isort`, and then have to revert it in a new release.

[2022-04-14 19:41] mauritsvanrees commented on #3505
I like it.
Thise timestamp could also be used as value of the [`resourceRegistries` etag](https://github.com/plone/plone.app.caching/issues/93).

[2022-04-14 19:55] jensens commented on #3505
Probably it is better if there (if there isn't already) is a event in `plone.app.theming` to subscribe to. Otherwise we may introduce circular dependencies...

[2022-04-15 07:35] stevepiercy opened #3506 "docstrings have inconsistent formatting that Black would fix up"
Docstrings have inconsistent formatting. I would suggest using Black and other automatic code formatters.

_Originally posted by @stevepiercy in https://github.com/plone/documentation/pull/1204#discussion_r850835699_

[2022-04-15 15:32] #3346 closed

[2022-04-16 07:54] iconoyuri commented on #2302
Hello everyone
I want to fix this issue. It may be quite easy to do
Can anyone show me the folder which may contain the different stylesheets which are applying to that page?

[2022-04-16 07:55] iconoyuri commented on #2302
I don't know if it is necessary to precise it, but I'm applying as a GSoC contributor for Plone

[2022-04-18 13:41] wesleybl commented on #2302
@iconoyuri the first thing for you to contribute to Plone is to sign and submit the Contributor’s Agreement. To see:

https://plone.org/foundation/contributors-agreement

[2022-04-18 20:31] iconoyuri commented on #2302
Thank you for the information.

Le lundi 18 avril 2022, Wesley Barroso Lopes ***@***.***> a
écrit :

[2022-04-18 21:16] nutjob4life commented on #1666
This is happening to me now (Firefox, Safari):
![Screen Shot 2022-04-18 at 3 49 16 PM](https://user-images.githubusercontent.com/814813/163878297-ebe1f586-2f8b-478d-9232-4236b4612466.png)
Or just empty rectangles (Chrome). This occurred after an upgrade from Plone 5.1 → 5.2.5.

The network log shows 404s for:

- `/++plone++static/fonts/plone-fontello.woff?89786008=`
- `/++plone++static/fonts/plone

[2022-04-19 14:35] #3432 closed

[2022-04-19 15:38] wesleybl commented on #3405
I pinned version 6.2 of `Products.ZCatalog`, which fixes this issue: https://github.com/plone/buildout.coredev/pull/791

[2022-04-19 15:38] #3405 closed

[2022-04-19 20:28] nutjob4life commented on #1666
@yurj thank you so much. That's tremendous 👍

[2022-04-19 22:02] yurj commented on #1666
you can also use a rewrite url in apache to add the missing `/portal` back

[2022-04-20 12:04] laulaz opened #3509 "Calendars are broken in events Recurrence overlay"
### What I did:
On an event with "Event Recurrence" behavior activated, if you click on Recurrence "Add" button, its overlay has problems :
1.  calendars popups are not working when trying to choose a date (for "Until" and for "Add date" fields)
2. z-index is incorrect and the overlay is behind TinyMCE toolbar

<img width="773" alt="capture" src="https://user-images.githubusercontent.com/1101273/1

[2022-04-21 10:02] sneridagh commented on #3467
For the record. I just stumbled upon this trying to put together the Volto tests using 6.0.0a4 and the official image plone/plone-backend.

This fails:
[code]

Throws a thousand of lines complaining about ZODBtransactions errors.
I had to manually state to use `plone.app.testing==7.0.0a2` (same workaround @ericof found for local tests).

[code]

We are using PIP-based approach everywhere now in fr

[2022-04-21 12:49] mauritsvanrees commented on #3467
But `plone.app.testing 7.0.0a2` is in the [`versions.cfg`](https://dist.plone.org/release/6.0.0a4/versions.cfg) and [`constraints.txt`](https://dist.plone.org/release/6.0.0a4/constraints.txt) of 6.0.0a4. So I don't see what is wrong here.

Maybe the `plone-backend` image overrides the pin with an older one?

And the fix that went in `plone.app.testing` 7.0.0a2 is not needed on Plone 5, although th

[2022-04-21 13:33] sneridagh commented on #3467
The plone/plone-backend image does not include `plone.app.testing` so you have to provide it as a dependency (`ADDONS` env var) in the call, along with the update of other packages:

`-e 'ADDONS=plone.restapi==8.22.0 plone.volto==4.0.0a4 plone.rest==2.0.0a5 plone.app.iterate==4.0.2 plone.app.vocabularies==4.3.0 plone.app.robotframework==2.0.0a3 plone.app.testing==7.0.0a2 plone.app.contenttypes'`

[2022-04-21 14:33] mauritsvanrees commented on #3467
`ADDONS` is used in [this line](https://github.com/plone/plone-backend/blob/05b686478971063d33516625ed04e7b6db9d7e3b/6.0/6.0.0a4/skeleton/docker-entrypoint.sh#L75):

[code]

If that lines includes `-c https://dist.plone.org/release/6.0.0a4/constraints.txt` it should work. You can add it to `ADDONS` or `PIP_PARAMS` or the script could explicitly add it on this line. It may interfere with editable i

[2022-04-21 15:43] sneridagh commented on #3467
Indeed we can't do it this way...

Could be an option, as said @ericof we are talking about this "testing image". Let's hope we can work on it soon-ish (or during the sprint)

We did that during all these years... the "frontend stack" works both in 5 and 6 using the same KGS.

That would work only until we release an stable for p.a.testing :(

I thought you issue the breaking because of the `CMFFo

[2022-04-21 20:43] mauritsvanrees commented on #3467
I have never heard of such a KGS. What is in it? Is that only the packages that you have in `ADDONS` here or is the list bigger?

Other candidates for such a list are:

[code]

These are Python 3 only, but I intend to keep them working on both Plone 5.2 and 6.0. They all have a `tox.ini` and Github actions to test those versions. Let me link to the `tox.ini` files:

* https://github.com/plone/plon

[2022-04-26 12:45] #1498 closed

[2022-04-26 12:55] laulaz opened #3511 "Impossible to add content to a folderish default page item through modal"
### What I did:

I have a folderish item defined as a default page.

I want to add content to this folderish item:

1.
<img src="https://user-images.githubusercontent.com/1101273/165303294-aae4f8f3-91b6-4d15-b703-46848180f4da.png" width=25% height=25%>

2.
<img src="https://user-images.githubusercontent.com/1101273/165303305-3ebf0fb7-7625-421c-9453-f60ff5d0a620.png" width=50% height=50%>

### What

[2022-04-28 06:53] petschki commented on #3458
this is fixed with #3512 ... see https://demo-latest-plone6.plone.org/@@iconresolver/contenttype/document for example

[2022-04-28 06:53] #3458 closed

[2022-04-28 12:09] agitator commented on #3500
Regarding https://github.com/plone/mockup/issues/1159#issuecomment-1111896146 and reading  https://docs.plone.org/develop/plone/searching_and_indexing/indexing.html#default-plone-indexes-and-metadata-columns ... should we rethink what we do with `getIcon`?
@mauritsvanrees @jensens @ale-rt @petschki

[2022-04-28 12:20] petschki commented on #3500
+1000

what about a catalog metadata `content_icon` or `type_icon` which contains the registry key for the icon. this would make it easy for the `folder_contents` to get the correct icons

[2022-04-28 12:33] agitator commented on #3500
Products/CMFCore/DynamicType.py seems to return the `icon_expr`value
[code]
Is that enough?

[2022-04-28 12:39] petschki commented on #3500
yes, that's what the `@@iconresolver` expects

[2022-04-28 12:56] yurj commented on #3500
Something in the metadata but not in the index... Anyway I would not change it because it can be used. What is the purpose of using the catalog? We just need a map from the content type to the icon string (as above), something like:
[code]
This can be built on startup querying the registry and cached?

[2022-04-28 19:34] mauritsvanrees opened #3513 "Release checklist Plone 5.2.8"
It is time for a new 5.2 release. See the [release schedule](https://plone.org/download/release-schedule).

- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone m

[2022-04-29 11:00] jensens commented on #3500
As long as the vocabulary is not defined in plone.app.vocabularies (otherwise dependency indirection), but in CMFPlone I am fine if it helps.

[2022-04-29 15:20] frapell commented on #3429
@mauritsvanrees I don't think the proper fix for this would be in `@@getVocabulary`, this should be handled by whoever consumes the returned JSON.

See for instance the example I put in https://github.com/plone/plone.app.content/issues/244 The titles for items are plain wrong, like an empty string instead of the actual correct title of `<input>` or `<span>Title<p></p></span>` instead of the correc

[2022-04-29 15:57] frapell commented on #3429
Just to be clear... removing those 2 lines does fix this issue... Now, I don't know if I am introducing some XSS vulnerability, cannot find an example on my own

[2022-04-30 11:23] jensens opened #3514 "Untangling and cleanup of syndication feature between CMFPlone and pa .contenttypes needed."
plone.app.contenttypes syndication (feed) behavior imports from CMFPlone. This indirection need untangeling.

Also,  overall the feed code may need some love, cleanup, getting rid of duplications from former ATCT times.

[2022-05-01 21:42] mauritsvanrees opened #3515 "Remove all skin layers in Plone 6"
In Plone 6.0.0a4 only the following skin layers are left.

From `Products.CMFPlone`:

- `plone_templates` with two templates
- `plone_wysiwyg` with one template
- `plone_scripts` with ten scripts
- `plone_images` with 27 images. I hope these are not used anymore, but we might not be so lucky.

From `Products.CMFPlacefulWorkflow`:

- `CMFPlacefulWorkflow` with one icon

It would be nice if we could

[2022-05-02 09:33] yurj commented on #3515
plone_images: what is the problem even if they're used? At least you can move the to static/old_icons and drop a note to change the url if used but it is not worth the time.

Beware that the logo seems to be used: https://6-classic.demo.plone.org/logo.png if the logo is not updated. I can't find where the logo.png OFS.Image is used so maybe it is already handled under the hood.

[2022-05-02 10:00] petschki opened #3517 "searching for phrases within quotes doesn't work"
the `munge_search_term` method doesn't work when searching for quoted phrases.

https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/search.py

**Reproduce:**

- go to https://6-classic.demo.plone.org/en
- search for `"Welcome to Plone"`
- you get an empty search result

**Background**

the `munge_search_term` returns this for the phrase above:

`'Welcome AND to AND Plo

[2022-05-02 10:14] yurj commented on #3517
"Welcome" -> 1 result
"Welcome " -> 0 results (a space after 'e')

[2022-05-02 14:41] mauritsvanrees commented on #3515
It is not a problem if the images are used. But if we find that core does *not* use them, then now would be a good time to get rid of them, especially if this would be the last skin layer in use.

[2022-05-02 15:01] yurj commented on #3515
I think `logo.png` is used
@agitator do you agree?

[2022-05-03 06:48] agitator commented on #3515
Few things...
- Should we switch to a default (svg) logo  within the site control panel?
- And if there's no logo to not display a logo at all?
- Use https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/sitelogo.py everywhere?
- Keep in mind https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/favicon.py isn't used if a file/image is accessed

[2022-05-03 07:38] mauritsvanrees commented on #3497
@jensens You did some isort commits in Plone recently. Do you agree with the above?

[2022-05-03 07:44] gforcada commented on #3497
Yes, that sounds like a really good settings 👍🏾 and the final result, these only 2 lines are pure beauty 🤩

[2022-05-03 08:50] jensens commented on #3497
sounds good. so we need to change our styleguide to use black and this isort config too?

[2022-05-03 10:41] MrTango commented on #3497
the only thing would be, when ever something changes in black, there is a chance that our profile get's outdated, where the black profile will be update to date or sure.
What is the reason to use a plone profile here?
The black profile works fine for me.

[2022-05-03 11:48] mauritsvanrees commented on #3497
I have made an [`isort` PR](https://github.com/PyCQA/isort/pull/1926) where I copy the `black` settings on-the-fly and add our extra sauce on top.

In the [Plone style guide](https://docs.plone.org/develop/styleguide/python.html#grouping-and-sorting) we have advocated the use of these three extra settings for years:

[code]

Most important is the first one, which says: we do not care about what is

[2022-05-03 16:46] pbauer commented on #3486
What @ericof just said (after I merged everything) was that he also enables Link everytime.
I agree that If you actually add a Link you do that so it shows up in the navigation, e.g. "Shop" that points to a external shop. I will add that as well...

[2022-05-05 15:07] erral opened #3523 "Case insensitive sort of addon controlpanel items"
In the addon controlpanel we are presenting the list of addons without sorting it.

Volto sorts them [case-insensitively by title](https://github.com/plone/volto/blob/master/src/reducers/addons/addons.js#L28) which makes sense.

We should do the same here in CMFPlone.

[2022-05-05 19:29] mauritsvanrees commented on #3188
These packages are already included explicitly in `Products.CMFPlone` or elsewhere, so their entry point can be removed immediately:

- [ ] plone.app.discussion
- [ ] plone.app.event
- [ ] plone.app.intid
- [ ] plone.app.lockingbehavior
- [ ] plone.app.querystring
- [ ] plone.app.versioningbehavior
- [ ] plone.app.widgets
- [ ] plone.formwidget.namedfile
- [ ] plone.formwidget.recurrence
- [ ] plo

[2022-05-06 22:25] #3523 closed

[2022-05-09 11:37] #3517 closed

[2022-05-10 21:49] 1letter commented on #3496
I think this can be closed. It is fixed via plone/plone.app.content#245

[2022-05-10 21:49] #3496 closed

[2022-05-11 06:01] 1letter commented on #3497
i like black with the three options like @mauritsvanrees says, that makes sense.

[2022-05-11 12:21] mauritsvanrees commented on #3497
My PR to `isort` has been merged. Now we need to wait for a release. Could be a while, because the CI is broken (unrelated to my PR), and I can imagine the author prefers to fix that first.

[2022-05-12 14:27] frapell commented on #3429
@mauritsvanrees Any thoughts on this issue?

[2022-05-13 10:54] pbauer opened #3526 "Adding a name of a user that does not exists to contributors shows error"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Adding a name of a user that does not exists in Plone (or ldap) leads to `error while rendering plone.contributors` being displayed at the bottom:

![Bildschirmfoto 2022-05-13 um 12 50 39](https://user-images.githubusercontent.com/453208/168268649-cd472071-61bb-4210-8618-fb71d9c99ce3.png)

### What I did:

You can test ot here: https://6-classic.demo.

[2022-05-13 11:11] yurj commented on #3526
Maybe this:
(https://github.com/plone/plone.app.layout/blob/c71efdd951f8e1702b3118d9897615d5cfd97c33/plone/app/layout/viewlets/document_byline.pt#L10)

This commit:
https://github.com/plone/plone.app.layout/commit/c71efdd951f8e1702b3118d9897615d5cfd97c33

changed

`view/authorname` to `view.get_fullname(creator_id)`

The error is:
`AttributeError: 'NoneType' object has no attribute 'get'`
because

[2022-05-13 15:53] #3526 closed

[2022-05-14 14:46] #3513 closed

[2022-05-16 09:20] pbauer opened #3528 "Allow to migrate to Volto after updating a site to Plone 6"
When Plone is updated to 6 the upgrade-view (@@plone-upgrade) should display a link to the migration to Volto.
See https://github.com/plone/plone.volto/issues/55 for the migration itself.

[2022-05-16 14:36] mikey00001 opened #3530 "alt-tags are not aggregated consistently"
Images have an alt-tag (which contains the text alternative for the image), which is generated **inconsistently**, depending on how an image is inserted and which fields are **used and/or available**.

**Proposal 1**: every image object should have a field "text alternative", which is **not context-dependent**. The field should be a property of the image and not of the context in which the image i

[2022-05-16 15:00] ewohnlich opened #3531 "select2 html entities over escaped in Plone 5.2.5+"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

### What I did: Entered a value with an ampersand into the Tags field. When creating/editing another page, I pulled up the expected values for this field.

### What I expect to happen: Ampersands and other html entities are shown as opposed to "&amp;"

### What actually happened: A value of "&" instead shows as "&amp;"

### What version of Plone/ Addo

[2022-05-17 10:36] pbauer opened #3532 "ImportError PyCapsule_Import could not import module "ExtensionClass" when starting with Python 3.10"
I leave this here for people who run into the same issue.
Plone 6 now supportes Python 3.10 but can lead to the traceback below during startup.

If is caused by buildout-cache using a version of AccessControl that was compiles with Pyrthon 3.9 (or older).

It is easily solved by adding `abi-tag-eggs = true` to your global buildout config. See http://www.buildout.org/en/latest/topics/optimizing.htm

[2022-05-17 10:37] #3532 closed

[2022-05-18 06:50] stevepiercy commented on #3506
See also https://github.com/plone/Products.CMFPlone/issues/3497. When that issue is fixed, and docstrings are reformatted, then we should update them in `plone/documentation`.

[2022-05-18 07:32] alecpm commented on #2469
I have to say it's shocking to me that this change made it into a bug fix release on stable versions of Plone. Implicit acquisition of attribute values has long been a "feature" of Zope and Plone, including during catalog indexing. This change has certainly silently broken existing sites by changing long established and well known behavior. Implicit acquisition can be annoying, but this does not s

[2022-05-18 17:25] mauritsvanrees commented on #3532
What do you think @gotcha ? Should buildout change the default? I think so.

[2022-05-19 10:04] petschki opened #3533 "Missing resource breaks rendering viewlet.resourceregistries.js"
if there's a typo or a missing JS resource defined in the resource registries, the `viewlet.resourceregistries.js` gives a traceback and all JS resources are missing.

[2022-05-19 13:11] mauritsvanrees commented on #3429
What we want to prevent is that a title like this pops up an alert:

[code]

It could show up when viewing the page, when searching for it, when shown in the global sections, when in folder contents if contained by another folder, or when in folder contents if the title is of the current folder.

In other words: it is tricky to be sure that it both works safely and shows nicely in all places.

[2022-05-19 13:12] mauritsvanrees commented on #3531
Duplicate of https://github.com/plone/Products.CMFPlone/issues/3429

[2022-05-19 13:12] #3531 closed

[2022-05-19 14:02] yurj commented on #3429
https://github.com/plone/mockup/tree/master/src/pat/structure/templates

I think the templates should decode the title (&amp; -> &). These are tinymce templates, but don't know if it is possible and how it works...

[2022-05-19 14:30] frapell commented on #3429
@mauritsvanrees Yeah, agreed that should be prevented, however fixing it in a way that the API response returns a wrong title is a mistake IMHO... I added a document with the title you suggested, and when I see it there is no alert and it shows up correct in navigation, breadcrumbs and the view template for the item itself as expected
![image](https://user-images.githubusercontent.com/851006/16931

[2022-05-19 15:21] mauritsvanrees opened #3535 "Templates should use @@images.tag"
Several templates use code like this:

[code]

Instead of first calling the `scale` function and calling `tag` on the result, we should call the `tag` method directly:

[code]

The old way will not benefit from the `plone.scale` and [`plone.namedfile` improvements](https://github.com/plone/plone.namedfile/pull/113) for making a split between creating a tag and creating the actual scale.

A quick s

[2022-05-20 08:30] mauritsvanrees opened #3537 "Robot tests are not always reported as failures"
On current coredev 6, Python 3.10, with a few packages on other branches but I think this does not matter:

[code]

So the robot test fails, but you only see this if you check the output yourself, because the report says no failures.
On Jenkins it *is* reported as failure, see [this run](https://jenkins.plone.org/job/pull-request-6.0-3.9/1305/robot/).
Jenkins has a [different problem](https://gith

[2022-05-20 09:09] ale-rt commented on #3532
The fact that buildout should change the defaults is already anticipated here: https://github.com/buildout/buildout/blob/3da22a7dacb9a4d1f771e7763e014214c31d935b/doc/topics/optimizing.rst

I am +1 for it as well

[2022-05-20 09:48] #3533 closed

[2022-05-23 11:59] #3537 closed

[2022-05-23 22:00] mauritsvanrees opened #3542 "Folder contents does not always load. Robot tests broken."
- Plone coredev 6, Python 3.10
- Create a Classic Plone site.
- Add a few items in the root, say a Page and a Folder.
- Go to the folder contents of the root.
- Reload the page a few times.

Problem: sometimes this works, sometimes not.
When it does not work, you only see the title, the document byline, and the overal page structure (header, footer, toolbar). In case it helps, the `content-core` l

[2022-05-24 13:31] cekk opened #3543 "Renaming content: acquisition wins over redirection tool"
### What I did:

Let's say that we have this basic structure:

 - Folder A
     - Page foo
     - Folder B

I want to copy "Page foo" into Folder B and rename it as "Page bar".
The copy action works fine.
Now in Folder B i have a new object called "Page foo" (id: page-foo).
Click on sidebar's action "rename" and rename it with "page-bar" id and "Page bar" title.

### What I expect to happen:

The

[2022-05-25 09:34] #3483 closed

[2022-05-28 11:30] zopyx opened #3544 "Extended search: portal type filter should display types ordered from A-Z using the current localization"
The long content-type list is very hard to parse. It should be sorted by the translations of the portal type names.

![35eb2bf6-5545-4574-b772-6df16b7fd48b](https://user-images.githubusercontent.com/594239/170823528-442cf9e0-e763-4f69-8037-b3f331370947.png)

[2022-05-28 11:33] zopyx opened #3545 "Extended search form: clicking on a label should change the state of the corresponding checkbox rather than closing the popup"
When you click on the lable of a content-type, the filter popup closes. Instead, the state of the related checkbox should change. The `id` of the related checkbox should be associated with the related label through the `for` attribute.

![35eb2bf6-5545-4574-b772-6df16b7fd48b](https://user-images.githubusercontent.com/594239/170823637-5c9b9300-692f-42bd-bab8-c67f1ee76897.png)

[2022-05-31 12:58] zopyx opened #3546 "Formatting of long strings in toolbar"
See screenshot...hyphenation should be enabled (or at least wrapping of text). Test with 6.0.0a4.
![Uploading b85a91f6-76b7-4648-8f14-58b170b7a9b6.png…]()

[2022-05-31 13:02] zopyx opened #3547 "Infinite white scroll area below footer"
Plone 6.0.0a4

See video...you can scroll infinitely (can be tested on plone-demo.info)

https://user-images.githubusercontent.com/594239/171179566-de10fda3-5743-4518-b586-3791c6ad28fa.mp4

 across the footer...there is only a white area...

[2022-05-31 13:57] agitator commented on #3547
https://6-classic.demo.plone.org (coredev) doesn't seem to have that issue... or does it?

[2022-06-01 09:21] #3528 closed

[2022-06-01 11:41] mauritsvanrees commented on #3542
The module federation in plone.staticresources was merged. Trying it manually, I no longer see a problem in the folder contents. Robot tests still randomly fail though.

[2022-06-01 12:13] pbauer commented on #3546
@zopyx The screenshot is missing.

Also: Long names also are reaching into the content-area:
![grafik](https://user-images.githubusercontent.com/453208/171401588-ffba7ae7-a425-4079-84ee-e3be727e878b.png)

[2022-06-01 14:27] zopyx commented on #3546
![Uploading b85a91f6-76b7-4648-8f14-58b170b7a9b6.png…]()

[2022-06-01 14:34] petschki commented on #3509
I startet fixing this at BSSP ... issue is here https://github.com/plone/mockup/issues/1171 ... PR follows

[2022-06-01 14:47] zopyx commented on #3546
![b85a91f6-76b7-4648-8f14-58b170b7a9b6](https://user-images.githubusercontent.com/594239/171432907-87924392-e03d-4b58-9215-c5e9d2c732a0.png)

[2022-06-01 14:50] petschki commented on #3546
the latest toolbar updates switched back to `pull-right` menus as you see in @pbauer 's screenshot ... there the length of the type strings isn't an issue anymore ... the collapsibles menus were "experimentally" released in alpha4 ...

[2022-06-02 05:13] petschki opened #3548 "Toolbar: redirect after selecting default page broken"
### What I did:

toolbar -> `display` -> `select content item as default view` -> select an item & save

### What I expect to happen:

I get redirected to the selected item

### What actually happened:

The current folder view remains

### What version of Plone/ Addons I am using:

Plone 6.0-dev

[2022-06-02 07:04] mauritsvanrees commented on #3548
I cannot reproduce this on current coredev with a fresh Plone site.

- Create a folder.
- Create a page in it.
- Go back to the folder.
- Select the page as default page.
- I get redirected to the default page.

Tried in three browsers.

Ah, but in folder contents the experience is off. Do you mean that?

This works fine:

- Go to folder contents.
- Select a different view.
- You get redirected to

[2022-06-02 07:04] #3548 closed

[2022-06-02 20:34] mauritsvanrees opened #3549 "Merge experimental.ulocalized_time to core"
[`experimental.ulocalized_time`](https://github.com/RedTurtle/experimental.ulocalized_time) is a package that extends the `ulocalized_time` function with one feature: accept a string argument to`long_format`, instead of just a boolean. Result is that you can explicitly pass a `strftime`-format in templates or Python code, like this:

[code]

In other words, instead of only having the choice betwee

[2022-06-02 23:27] mauritsvanrees opened #3550 "Override for date format should support dollar signs, like in po"
Tested on Plone 6 coredev, Dutch Plone site (but for the most part could be any language).

I have edited the Dutch po file (`locales/nl/LC_MESSAGES/plonelocales.po`) to have this:

[code]

The letters `B/b` at the beginning are extra, displaying the full or short week day. The `ulocalized_time` function has special code for translating the week days (and month names). That works fine, see this sc

[2022-06-03 06:52] mauritsvanrees commented on #3542
The folder contents robot tests seem fine now.
The tests that I think most often fail now, are:

-  [Test Querystring](https://jenkins.plone.org/job/plone-6.0-python-3.9-robot-chrome/1113/robot/Robot/Test%20Querystring/), with a failure like `Element 'jquery=.select2-drop-active[style*="display: block;"] input' not visible after 30 seconds.`
- [Test Fields](https://jenkins.plone.org/job/plone-6.0-

[2022-06-03 20:00] ewohnlich commented on #3429
My issue is on this line https://github.com/plone/plone.app.content/blob/master/plone/app/content/browser/vocabulary.py#L265 - I just have a SimpleVocabulary so no attributes. The vocabulary term is "Pediatric Blood & Cancer" and I am using plone.app.z3cform.widget.AjaxSelectFieldWidget. So what happens is that BaseVocabularyView is calling scrub_html on the value but then AjaxSelectFieldWidget ex

[2022-06-04 09:05] zopyx opened #3551 "zope.location.interfaces.LocationError: (<PloneSite at /xxxxxx>, 'get-current-language')"
I see sometimes this kind of errors in Plone 6.0.0a4 (unclear how to reproduce or to make it specific to a particular add-on):

[code]

[2022-06-04 09:09] zopyx commented on #3551
It seems to be tied to a custom control panel within my add-on (although there is nothing special there):

https://github.com/zopyx/zopyx.typesense/blob/master/src/zopyx/typesense/browser/controlpanel.py

[2022-06-04 11:35] zopyx commented on #3551
Invalid issue, issue on my side.

[2022-06-04 11:35] #3551 closed

[2022-06-06 08:35] petschki commented on #3542
I am able to reproduce the failing robottests: when I edit for example the `test_querystring.robot` and let it run it fails. The second time it succeeds. After editing again it fails again. Don't know if this is only a local behavior but I've started #3552 to investigate some bits which I think have to do mainly with select2 selectors.

[2022-06-07 10:52] krissik commented on #3088
I have seen this error today (Plone 5.2.7). A user created a folder named "subjects" but this folder was not accessible. This was the error message:

[code]

[2022-06-07 12:54] fredvd commented on #3542
Also left on the Discord:

I pushed one commit to the robottest-fix branch to add 2 extra visible/move to focus commands around the querystring index type selection. Had 2 random breaks on that locally before changing it,  now I can no longer reproduce it locally with 3 runs... 5 runs

I think it's a viewport issue when the select2 dropdowns from the querystring widget go just below the viewport w

[2022-06-08 21:52] zopyx opened #3557 "Pinning the Plone toolbar in 6.0.0a4+ does not work in the context of the portlet configuration option"
- pin the toolbar on a particular context option
-  choose a portlet configuration
-  there is no way for getting back to the pinned toolbar configuration
![Uploading Bildschirmfoto 2022-06-08 um 23.50.58.png…]()

[2022-06-10 07:41] petschki commented on #3557
same issue on demo.plone.org with Plone 5.2 ... maybe we should style the "return" and "go to parent" links as buttons like its was done in Plone 5.2 ...

<img width="1192" alt="Bildschirmfoto 2022-06-10 um 09 40 21" src="https://user-images.githubusercontent.com/511761/173015655-7eaaa7d2-997e-4e4a-b59f-8f9896fe492b.png">

/cc @agitator

[2022-06-10 10:31] zopyx opened #3559 "Instantsearch input field completely minimized and unusable with cluttered portal tabs"
Plone 6.0.0a4: as you can see, the search input field is minimized and the user can enter some search text however the contents of the input field is not visible
<img width="1496" alt="Bildschirmfoto 2022-06-10 um 12 28 35" src="https://user-images.githubusercontent.com/594239/173047058-346c30a8-26c7-4769-9bb3-b4c6c5b50398.png">

[2022-06-13 21:22] #3549 closed

[2022-06-13 21:22] #3550 closed

[2022-06-15 04:22] #3414 closed

[2022-06-18 10:16] 1letter commented on #3557
I have add an PR in [plone.app.portlets](https://github.com/plone/plone.app.portlets/pull/165) to solve the display of links as Buttons

[2022-06-20 11:53] agitator commented on #3557
I'd prefer not to use buttons and just add more margin/whitespace around those links, as we do it in some sub-controlpanel-views.

[2022-06-20 18:56] 1letter commented on #3557
i think that can be closed with this merge https://github.com/plone/plone.app.portlets/issues/164

[2022-06-20 18:56] #3557 closed

[2022-06-22 21:54] davisagli opened #3561 "addPloneSite swallows exceptions while importing extension profiles"
If there's an exception while Products.CMFPlone.factory.addPloneSite is installing an extension profile, it is logged but does not abort execution. This causes problems if addPloneSite is used in a script and something is relying on the exit status of the script to determine whether the site was created successfully (like in https://github.com/plone/plone-backend/blob/5.2.x/skeleton/scripts/create

[2022-06-23 18:26] #3561 closed, assigned to davisagli

[2022-06-24 07:06] petschki commented on #2918
yes ... and Plone in 6.0 also.

[2022-06-24 07:07] petschki commented on #3480
fixed here https://github.com/plone/Products.CMFPlone/pull/3558

[2022-06-24 07:07] #3480 closed

[2022-06-24 14:51] mauritsvanrees opened #3563 "Release checklist Plone 6.0.0a5"
It does look like we can use another alpha release. Biggest blockers for beta: getting a Volto 16 alpha release with Slate, and having the installation documentation merged.

Smaller items before I want to release the alpha:

- `plone.volto` release
- `plone.app.locales` release

See the [release schedule](https://plone.org/download/release-schedule).

- [x] Check Jenkins Status: should be green.

[2022-06-24 19:46] asdali8888 commented on #3382
https://test.net

[2022-06-28 07:13] mauritsvanrees commented on #3563
- https://dist.plone.org/release/6.0.0a6/
- https://plone.org/download/releases/6.0.0a6
- https://community.plone.org/t/plone-6-0-0a6-released/15401

[2022-06-28 07:13] #3563 closed

[2022-06-28 13:51] #3509 closed

[2022-06-28 14:01] laulaz commented on #3335
Everything is fine now (tested on Plone 6.0.0a6) 👍

[2022-06-28 14:01] #3335 closed

[2022-06-29 13:07] jensens commented on #3546
@zopyx does https://github.com/plone/plonetheme.barceloneta/pull/289 fix it for you? if so, please close the issue.

[2022-06-29 13:11] stevepiercy opened #3568 "Text on Create Plone Site screen is incorrect"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

Note that the text is not correct.

![Screen Shot 2022-06-29 at 5 20 08 AM](https://user-images.githubusercontent.com/102112/176435249-931da994-7dfc-42fe-a3db-0cea879570c7.png)

plone.com redirects to plone.org.

See https://github.com/plone/documentation/pull/1260#discussion_r909565281

### What I did:

Followed the instructions here:

https://deploy

[2022-06-29 14:35] zopyx commented on #3546
Resolved

[2022-06-29 14:35] #3546 closed

[2022-06-29 14:36] zopyx opened #3569 "Toolbar: long list of addable types, some not reachable"
Plone 6.0.0a6

We have a long list of addable types...some types at the bottom of the list of types is not reachable through scrolling.

<img width="793" alt="Bildschirmfoto 2022-06-29 um 16 35 31" src="https://user-images.githubusercontent.com/594239/176463930-16eeff14-3fb3-4fd8-a120-390116d7cfb9.png">

[2022-06-30 21:18] 1letter opened #3571 "Published object with effective date in the future is not shown in folder_contents view"
go to https://demo-latest-plone6.plone.org/

1. login as editor in chief
2. add a folder
3. publish the folder
4. add a page with effective date in the future
5. publish the page
6. go to the parent folder_contents view

the table is empty!

what i expect: the page that i added with a label "in the future"

[2022-07-01 05:58] petschki commented on #3571
long time ago, but this sounds like a regression: https://github.com/plone/Products.CMFPlone/pull/1952

[2022-07-01 06:01] petschki commented on #3571
If I'm the owner, I also expect that the page is visible regardless of the workflow state.

[2022-07-01 07:29] petschki commented on #3571
After some more investigations: not a regression but "hard to implement" ... as @davisagli already mentioned here https://community.plone.org/t/published-object-with-effective-date-in-the-future-is-not-shown-in-folder-contents-view/15410/2, the portal and a given path keyword in the query is checked for `AccessInactivePortalContent` ...

But I really would like to pull in more ideas to get this do

[2022-07-01 07:42] 1letter commented on #3571
referring to the old discussions, i look in the code. it's hard to find a solution without wake up the full objects in the search result. i think it needs 3 parts to correctness:
1. for the folder_contents View a query paramter show_inactive=True is needed
2. the permissions of the state "private" in simple_publication_workflow should be changed, private mean "Owner" & "Manager" can view, access o

[2022-07-01 07:53] petschki commented on #3571
`show_inactive=True` for folder_contents sounds like a good idea.

[2022-07-01 07:55] yurj commented on #3571
If the problem is only on the foldercontent view, I would fix it there instead of the catalog filtering. In a normal view (folderlisting/contentlisting) it is ok to not show the object even if I'm the owner, because it is inactive/expired (*). If the pat-structure can query the catalog in an unrestricted mode, that could be the solution? anyway, it depends on the context, so an adapter that adapt

[2022-07-01 08:10] petschki commented on #3571
the check for `AccessInactivePortalContent` simply sets the `effectiveRange` index to today if not allowed ... so the range between effective_date and expiration_date is filtered.
My first idea with the `AllowedRolesAndUsers` index cannot work as this is set on creation/modification but the effectiveRange depends on the current datetime of course.

Solving this in `folder_contents` would be ok for

[2022-07-01 08:16] 1letter commented on #3571
@petschki where can i set this option? it's a rebuild of the js bundle needed? or exist an adapter like for tinymce to modify the pattern settings?

[2022-07-01 08:22] petschki commented on #3571
I think these 3 parts are needed:

- [ ] `pat-structure` needs the parameter in its defaults (=mockup rebuild)
- [ ] `plone.app.content.browser.contents` has to set the parameter in `FolderContentsView.get_options`
- [ ] `plone.app.content.browser.vocbulary` should pass the parameter to `plone.app.vocabularies.catalog` correctly

[2022-07-01 15:24] mauritsvanrees commented on #3400
No reaction, so let's close.

[2022-07-01 15:24] #3400 closed

[2022-07-01 15:47] davisagli commented on #3400
I would support spending time manually reviewing old issues (and I will try to contribute to that now that I am more focused on Plone work) but I'm -1 on closing old issues automatically. There are real problems that are old, there are tickets which have useful information about those problems, and closing them makes it harder to find the information.

[2022-07-14 05:46] davisagli commented on #740
The icons were updated in Plone 6

[2022-07-14 05:46] #740 closed

[2022-07-14 05:57] davisagli commented on #955
Plone 6 no longer uses RequireJS

[2022-07-14 05:57] #955 closed

[2022-07-14 05:59] davisagli commented on #994
Through-the-web compilation of bundles has been removed in Plone 6

[2022-07-14 05:59] #994 closed

[2022-07-14 06:03] davisagli commented on #1029
TTW compilation of bundles was removed in Plone 6

[2022-07-14 06:03] #1029 closed

[2022-07-14 06:11] davisagli commented on #1122
An option to set a custom favicon was added to the Site control panel in Plone 6.0.0a3

[2022-07-14 06:11] #1122 closed

[2022-07-14 06:14] davisagli commented on #1126
It looks like neither this menu nor the horizontal toolbar remain in Plone 6

[2022-07-14 06:14] #1126 closed

[2022-07-18 20:47] mauritsvanrees opened #3578 "Release checklist Plone 5.2.9"
See the [release schedule](https://plone.org/download/release-schedule).

- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone metadata.xml`](https://github.com/p

[2022-07-18 22:06] mauritsvanrees commented on #3578
See [pre-announcement on community](https://community.plone.org/t/plone-5-2-9-soft-released/15470?u=mauritsvanrees).

[2022-07-21 07:05] FarooqAlaulddin commented on #3020
Any updates for this issue? python 3.8.12 + Plone5.2.8

[2022-07-21 21:41] mauritsvanrees commented on #3578
Done.

- https://plone.org/download/releases/5.2.9
- https://community.plone.org/t/plone-5-2-9-released/15481
- https://dist.plone.org/release/5.2.9/versions.cfg

[2022-07-21 21:41] #3578 closed

[2022-07-21 21:41] mauritsvanrees opened #3580 "Release checklist Plone 6.0.x"
See the [release schedule](https://plone.org/download/release-schedule).

- [x] Check Jenkins Status: should be green. (This should be checked often during the release process.)
- [x] In coredev, check packages for updates: `bin/manage report --interactive`
- [x] Release individual packages from `checkouts.cfg`.
- [x] Check that the version numbers of [`CMFPlone metadata.xml`](https://github.com/p

[2022-07-21 22:42] mauritsvanrees commented on #3580
I have updated https://dist.plone.org/release/6.0-dev/
Still expected package releases:

- plone.volto
- plone.staticresources
- plone.app.locales

And lastly I will release the usual suspects:

- Plone
- Products.CMFPlone
- plone.app.upgrade

[2022-07-22 23:14] mauritsvanrees commented on #3580
All packages have been released. We have a beta 1!

- https://dist.plone.org/release/6.0.0b1
- https://plone.org/download/releases/6.0.0b1

[2022-07-22 23:30] #3580 closed

[2022-07-26 12:52] pbauer opened #3581 "Removing expressions-patch breaks sites with skin templates in 6.0.0b1"
Removing `earlypatches/expressions.py` in 0de3c3c breaks sites with old skin-based templates.

I have a site that uses skin templates with `context/main_template/macros/master` and in 6.0.0b1 all of these are broken with `zExceptions.NotFound: zExceptions.NotFound: macros`

I'm not sure if we should force everyone to stop using add-ons that use such a pattern (or update them). Is there another way

[2022-07-30 09:11] pbauer commented on #3581
Another example is a action `object/@@faceted_search_subtyper/can_disable` that fails with
[code]
Where `can_disable` is a property of the View `faceted_search_subtyper`.

[2022-08-01 07:52] mauritsvanrees opened #3582 "Robot tests with modals sometimes fail"
We have some unstable robot tests. One class of failures is where a modal is not closed. For example this [`plone.schemaeditor` failure](https://jenkins.plone.org/job/pull-request-6.0-3.7/1674/testReport/junit/plone.schemaeditor.tests.test_robot/RobotTestCase/Add_a_fieldSet_and_move_a_field_into_this_fieldset/):

I thought I had mentioned this elsewhere, but cannot find it. Maybe it was not on Git

[2022-08-01 08:32] mauritsvanrees commented on #3581
The patch was added as a workaround because a Zope security fix was too strict for Plone, causing problems like the above. In Plone 6 we should fix any underlying problems.
For the `main_template` we should allow access to the `macros` property. I am preparing a PR.
For `faceted_search_subtyper` a similar fix should be done, defining `can_disable` (and probably others) as fine to call from untrust

[2022-08-03 06:44] erral opened #3584 "Site title entered in the @@plone-addsite form is not set as site title"
Plone site title is set in the @@site-controlpanel form and saved in the registry. But the @@plone-addsite form gets the site title from the user and saves it as a Zope property in the portal object.

Related to https://github.com/plone/plone.app.layout/issues/317

[2022-08-04 07:32] pbauer commented on #3581
Word of warning: This pattern only work with methods. If you use `@property` in a browser-view it cannot be accessed in a expression even when you try to allow it using `allowed_attributes` or `allowed_interfaces`.

[2022-08-05 10:20] mauritsvanrees commented on #3581
Are you saying my fix in https://github.com/plone/Products.CMFPlone/pull/3583 does not work? I think it does. Maybe I only tested it in the custom skin where it works, and it fails for filesystem skin templates? Do you have an example?

[2022-08-05 12:24] #3584 closed

[2022-08-09 12:25] MrTango commented on #3547
With  beta1 and after i can't reproduce this, closing it for now.

[2022-08-09 12:25] #3547 closed

[2022-08-09 12:40] MrTango commented on #3530
Thx for bringing this up.
Please be aware that in most cases you should not autogenerate the text for an alt-tag.
The corrent text of an alt-tag is highly dependend of the context and surounding infos like caption, a headline and so on.
https://webaim.org/techniques/alttext/

In Plone 6 classic ui the default behavior has changed to not autogenerate alt-text in output filter.
The user has to set i

[2022-08-09 13:00] petschki commented on #3582
This happens very often but not reproducable. While locally all tests are green my latest jenkins job today had this again: https://jenkins.plone.org/job/pull-request-6.0-3.9/1654/robot/report/robot_log.html

[2022-08-09 13:17] petschki commented on #3569
I recommend a custom CSS snippet for your implementation:

example 1: scrolling

[code]

example 2: columns

[code]

[2022-08-09 13:26] zopyx commented on #3569
This must not be in the responsibility of the add-on developers.
As user *without any Plone theme* should be able to install as much add-ons with as much content types it needs.
The Plone toolbar must support this use case out of the box.

[2022-08-09 13:32] petschki commented on #3559
Fixed here https://github.com/plone/plonetheme.barceloneta/commit/e4755ab0507f5387dc671f2dafb1389c0d3b72e9

[2022-08-09 13:32] #3559 closed

[2022-08-09 14:20] mauritsvanrees commented on #3582
I have the feeling it goes wrong more often on Jenkins on 3.7 and maybe 3.8 than on 3.9. Local testing seems to confirm this. Does not really help though. :-/

[2022-08-09 18:40] zopyx opened #3591 "Empty folder_contents showing "Page 1 of 0 shown""
Plone 6.0.0b1
![IMG_2512](https://user-images.githubusercontent.com/594239/183736257-fe4f4351-aaf0-4d74-b3df-c76879f8b055.PNG)

[2022-08-09 18:42] zopyx opened #3592 "Thumbnails overflow in folder_contents view"
Plone 6.0.0b1:

![IMG_2513](https://user-images.githubusercontent.com/594239/183736447-20bf14a0-be97-4e40-b783-c0b7500ff0a3.PNG)
![IMG_2511](https://user-images.githubusercontent.com/594239/183736459-e97d8786-a893-4b4a-93c2-b0a98e7c13e2.PNG)

[2022-08-09 18:43] zopyx opened #3593 "Empty, black popup with Date/Time selector on iPad"
Plone 6.0.0b1

Clicking on minutes, opens an black, empty popup on iPad

![Uploading IMG_2510.PNG…]()

[2022-08-09 18:44] davisagli commented on #3593
@zopyx the image is missing, so the context isn't clear

[2022-08-09 18:47] zopyx opened #3594 "Missing padding between Save/Cancel buttons"
There are various places in the UI where Save and Cancel buttons have no visual separation.
Here: schema editor
Plone 6.0.0b1
![Uploading Bildschirmfoto 2022-08-09 um 20.45.38.png…]()

[2022-08-09 18:50] zopyx commented on #3593
![IMG_2510](https://user-images.githubusercontent.com/594239/183738189-20263cb5-eb32-453d-8a1e-d846ea61d5fa.PNG)

[2022-08-09 18:51] davisagli commented on #3594
@zopyx image also missing here. You have to wait for the uploading to finish before you submit the issue.

[2022-08-09 18:54] zopyx opened #3595 "Buttons cluttered together in Theming control panel"
The top 3 buttons have no paddings, the placement of the bottom buttons also needs some love.
<img width="607" alt="Bildschirmfoto 2022-08-09 um 20 52 57" src="https://user-images.githubusercontent.com/594239/183738822-b05b0ea4-9b6b-4893-a133-748e625cb6f0.png">

[2022-08-09 18:56] zopyx opened #3596 "Language Control Panel: size of available language widgets should be aligned"
The left and right widgets of the in-out widget should be equally sized and aligned properly.
Plone 6.0.0b1

<img width="949" alt="Bildschirmfoto 2022-08-09 um 20 55 35" src="https://user-images.githubusercontent.com/594239/183739192-ca5c50db-3610-4cc9-bcee-d8a67e6fe076.png">

[2022-08-09 19:02] zopyx opened #3597 "Visual overflow in portal message"
Adding a very long group name causes an visual overflow

Plone 6.0.0b1
![Uploading Bildschirmfoto 2022-08-09 um 21.01.26.png…]()

[2022-08-09 19:02] zopyx commented on #3597
<img width="1150" alt="Bildschirmfoto 2022-08-09 um 21 01 26" src="https://user-images.githubusercontent.com/594239/183740309-35d56170-75b1-4216-981b-b80d8a66982a.png">

[2022-08-09 19:05] zopyx commented on #3370
The password length in 6.0.0b1 is still 5 chars

[2022-08-09 19:09] zopyx commented on #3594
Stupid Github
<img width="615" alt="Bildschirmfoto 2022-08-09 um 20 45 38" src="https://user-images.githubusercontent.com/594239/183741617-59cb506e-7715-45b5-9c41-0cd5eb24409b.png">

[2022-08-09 19:21] zopyx opened #3598 "Portal status message for User/Group settings displayed with H1 and body"
Plone 6.0.0b1

<img width="1266" alt="Bildschirmfoto 2022-08-09 um 21 19 59" src="https://user-images.githubusercontent.com/594239/183743731-55ff3056-c165-4225-84c3-33148fb60f07.png">

The portal message should appear consistently above the H1 tag as here:

<img width="1273" alt="Bildschirmfoto 2022-08-09 um 21 19 47" src="https://user-images.githubusercontent.com/594239/183743639-2722ee56-3354-4d

[2022-08-09 19:23] zopyx opened #3599 "Relations control panel show "Site Setup" links"
The "Site setup" link appears superflous
Plone 6.0.0b1

<img width="1272" alt="Bildschirmfoto 2022-08-09 um 21 22 43" src="https://user-images.githubusercontent.com/594239/183744057-e068e074-b774-4d83-b227-0a799196cf33.png">

[2022-08-09 19:24] zopyx commented on #3599
Same for `@@maintenance-controlpanel`

[2022-08-09 19:26] zopyx opened #3600 "Inconsistent font sizes used for description in control panels"
All descriptions should use the same font/font-size

Plone 6.0.0b1

<img width="944" alt="Bildschirmfoto 2022-08-09 um 21 25 27" src="https://user-images.githubusercontent.com/594239/183744544-985dc590-01a4-4ea8-9131-5100e65ec1ea.png">
<img width="1265" alt="Bildschirmfoto 2022-08-09 um 21 25 22" src="https://user-images.githubusercontent.com/594239/183744551-c57246ca-63a3-4c4a-97db-0610313723af.p

[2022-08-09 19:28] zopyx opened #3601 "Visual issue in actions control panel with long texts"
Plone 6.0.0b1

<img width="1260" alt="Bildschirmfoto 2022-08-09 um 21 27 25" src="https://user-images.githubusercontent.com/594239/183744829-b282a97d-3954-4102-a5eb-eb9ee5bbca52.png">

[2022-08-09 19:34] zopyx opened #3602 "Discussions control panel: some fields disabled and can not be enabled"
It is impossible to edit the two marked fields. For unknown reasons, they are disabled.

Plone 6.0.0b1

![07d06a27-4c54-4d0a-be34-211c8b3030f8](https://user-images.githubusercontent.com/594239/183745951-70a912aa-10bd-4eb6-9b5c-0be3fedde50c.png)

[2022-08-09 19:43] zopyx commented on #3602
Invalid...email configuration was incomplete 🥺

[2022-08-09 19:43] #3602 closed

[2022-08-10 10:25] jensens opened #3603 "Plone 6 default "pat-datetime-picker" problems"
`pat-datetimepicker`

1. is not documented anywhere https://github.com/Patternslib/Patterns/issues/1038
2. is not backwards compatible with [pat-pickadate](http://plone.github.io/mockup/dev/#pattern/pickadate) which means if one used the pattern until 5.2 (or 6.0a4 to b) the editor experience is not the same. Ie. like time is displayed even if pattern setting on widget in Python with `"time": Fals

[2022-08-10 11:09] jensens commented on #3603
Furthermore:

- no timezone selection implemented (in code it says "todo").
- default settings on input do not relate with those I can find in code in https://github.com/Patternslib/Patterns/blob/master/src/pat/datetime-picker/datetime-picker.js

I consider this a blocker for any Release-Candidate of Plone (in fact earlier detected this would have been a blocker for beta too).

cc @mauritsvanrees

[2022-08-10 11:41] jensens commented on #3603
Another one: If in settings -> date time the first day of the week is monday, the datepicker ignores it and still shows sunday.

[2022-08-10 12:18] petschki commented on #3603
My previous assumption that `date-picker` is the successor of `datetime-picker` is not correct.
Here are some facts:

- `pat-date-picker` is the patternslib implementation of `Pikadate` with some options to enable a date picker for `<input type="date" />` fields. in `plone.app.z3c.form` this is automatically wired for `schema.Date` Fields.

- `pat-datetime-picker` is used per default for `schema.D

[2022-08-10 12:32] jensens commented on #3603
I guess this need some additional brain cycles to fix. What is our default use case? What are additional use cases?

[2022-08-10 12:36] petschki commented on #3603
Maybe @thet can give some insights, what the future plans for `pat-datetime-picker` are. For now I'm good with native behavior only.

[2022-08-10 12:38] jensens commented on #3603
Well, I need the "today" button for both. And it would be cool if it would start with monday.

Why do we need this imported in Mockup btw?

[2022-08-11 15:35] #3569 closed

[2022-08-12 10:07] petschki opened #3604 "Consistent styling of membertools dropdown for disabled Toolbar permission"
If `Show Toolbar` permission is not granted to the user, there's the "old" membertools dropdown at the top right. Should be styled a bit more consistently.

<img width="215" alt="Bildschirmfoto 2022-08-12 um 12 02 28" src="https://user-images.githubusercontent.com/511761/184332907-befe6ceb-2e35-4692-811c-bbb198bf4faf.png">

[2022-08-13 12:37] mtrebron opened #3605 "main_template references plone.com"
## BUG/PROBLEM REPORT (OR OTHER COMMON ISSUE)

The CMFPlone [main_template](https://github.com/plone/Products.CMFPlone/blob/master/Products/CMFPlone/browser/templates/main_template.pt#L42) includes this line:
`<meta name="generator" content="Plone - http://plone.com" />`

See also: https://github.com/plone/Products.CMFPlone/issues/3568

### What I did:

Create a new Plone6 classic site.

### What

[2022-08-13 13:51] rohnsha0 commented on #3605
Changing the link would work right?

[2022-08-13 14:52] #3605 closed

[2022-08-13 14:55] #3581 closed

[2022-08-13 15:18] rohnsha0 commented on #3568
@stevepiercy Check if the issue persists!?

[2022-08-13 16:25] rohnsha0 commented on #3594
@davisagli Should I do this? about adding padding?

[2022-08-13 19:38] stevepiercy commented on #3568
Yes. Please see: https://github.com/plone/Products.CMFPlone/search?q=plone.com

[2022-08-14 06:07] rohnsha0 commented on #3568
@stevepiercy But the link you gave doesn't reflect the issue!
Please provide a valid link...

[2022-08-14 06:12] stevepiercy commented on #3568
It shows all instances of `plone.com` in the code base. That site no longer exists. All references to it should be updated to `plone.org`.

[2022-08-14 06:13] rohnsha0 commented on #3568
@stevepiercy This means all instances should be changed to plone.org!?

[2022-08-14 06:21] rohnsha0 commented on #3568
I'll soon fix the all the known instances through a PR! @stevepiercy

[2022-08-14 06:24] stevepiercy commented on #3568
Indeed, after your other PR, I suspected that there were more instances of `plone.com` lurking in the code base, just waiting to pounce upon the unwary. Imagine the horror! 😱 So I did that query to reveal where they are hiding.

[2022-08-14 06:27] rohnsha0 commented on #3568
hahahah!
I'll try to fix them all by sometime after this front-end fix for your issue!

[2022-08-14 06:31] rohnsha0 commented on #3568
@stevepiercy Just searched plone.com in the organization, It has as much as 423 times used! :(
https://github.com/search?p=3&q=org%3Aplone+plone.com&type=Code

[2022-08-14 07:14] stevepiercy commented on #3568
One repo at a time. 😉 If the repo is in Plone Core and still active, then it would be worth updating. Many are not, such as [plone/plone.com-static](https://github.com/plone/plone.com-static), and should be ignored (or archived as read-only).

[2022-08-14 07:15] rohnsha0 commented on #3568
yaa! I understand

[2022-08-14 07:15] rohnsha0 commented on #3568
doing a PR now! kindly verify!

[2022-08-15 01:48] rohnsha0 commented on #3382
@mtrebron Is there any change for this issue?
As the link is fixed in #3607!
Should we update anything with branding in the same PR?
@ericof @stevepiercy @fredvd

[2022-08-15 02:16] rohnsha0 commented on #3595
Does the issue persist? @zopyx

[2022-08-15 03:43] stevepiercy commented on #3382
@rohnsha0 yes, please change "Powered by Plone & Python" to "Powered by Plone". We got a 👍 from a member of the @plone/marketing-communications team.

[2022-08-15 03:49] rohnsha0 commented on #3382
@stevepiercy under #3607 or through an altogether new PR?

[2022-08-15 04:19] stevepiercy commented on #3382
Whatever is easier. We are not picky.

[2022-08-15 07:59] #3568 closed

[2022-08-15 08:24] stevepiercy commented on #3382
Actually, now that #3607 was merged, a new PR is needed.

[2022-08-15 11:24] rohnsha0 commented on #3320
Does the issue persists even today?

[2022-08-15 14:10] zopyx commented on #3595
Your question makes no sense without a fix for the issue. Is there a fix?

[2022-08-15 16:08] davisagli commented on #3320
@rohnsha0 If there's no PR linked to an issue, it is likely that it has not been fixed. But, sometimes pull requests are made to fix a problem without linking to the related issue. The best way to find out for sure if it is still a problem is to check it yourself in a local Plone instance.

[2022-08-15 16:12] rohnsha0 commented on #3320
Actually, I wasn't much confident into this.
So though of asking directly!

[2022-08-15 16:14] rohnsha0 commented on #3320
@davisagli In addition to this, I would like to apologize that by mistake I unpinned an issue but can't recall which was that issue... Sorry guys... It was just a wrong click (as I am new to GitHub)...

[2022-08-16 02:34] #3382 closed

[2022-08-16 06:47] rohnsha0 commented on #3275
Will fix this soon

[2022-08-16 07:09] rohnsha0 commented on #3275
Unable to find the codebase :(

[2022-08-16 07:24] rohnsha0 commented on #3275
This issue makes no sense here... Issue raised in `ploneorg.theme` repo... (Issue21 in PLoneorg.theme)

[2022-08-16 07:25] #3275 closed

[2022-08-17 04:17] stevepiercy commented on #3595
@zopyx on https://demo.plone.org/@@theming-controlpanel, here is what I see.

![Screen Shot 2022-08-16 at 9 15 06 PM](https://user-images.githubusercontent.com/102112/185033366-6e310f88-6212-480d-b2b0-4bfb6de1371c.png)

Technical Details:
[code]

What is different between your experience and mine?

[2022-08-17 04:48] zopyx commented on #3595
Talking about Plone 6..you are on 5.2.9.

See

https://www.plone-demo.info/@@theming-controlpanel

admin/admin

[2022-08-17 05:24] stevepiercy commented on #3595
Got it.

Next question, where in the heck is the CSS located? We looked all over in CMFPlone, no luck.

I found this template:

https://github.com/plone/plone.app.theming/blob/master/src/plone/app/theming/browser/controlpanel.pt

Which mentions the CSS file:

https://github.com/plone/plone.app.theming/blob/master/src/plone/app/theming/browser/controlpanel.pt#L34

Which is located here:

https://gi

[2022-08-17 06:10] agitator commented on #3595
The active styles are from plonetheme.barceloneta - just add some utility classes from bootstrap https://getbootstrap.com/docs/5.2/utilities/spacing/#margin-and-padding

[2022-08-17 06:18] rohnsha0 commented on #3595
But these are some template-based errors naa?
Then changing the theme should fix the error?!
Correct me if I'm wrong...

[2022-08-17 06:47] stevepiercy commented on #3595
@agitator thanks for the reference to Bootstrap 5.2 CSS classes to use. Now where the heck should they be added? That's what we cannot figure out.

[2022-08-17 06:47] agitator commented on #3595
The css-file is just the bare minimum and seen as a fallback.
All the button styling is from Bootstrap, so adding bootstrap classes to the template should be the fix.

[2022-08-17 06:49] rohnsha0 commented on #3595
Yaa... Got it

[2022-08-17 07:00] stevepiercy commented on #3595
This one?

https://github.com/plone/plone.app.theming/blob/master/src/plone/app/theming/browser/controlpanel.pt

[2022-08-18 01:45] rohnsha0 commented on #3595
But padding is there... This must be fixed using internal CSS...

[2022-08-18 04:09] stevepiercy commented on #3595
I would say identify was done in Plone 5.2 for the theming control panel's buttons, which I think was based on Bootstrap 3 or 4, or it could have some custom CSS mixed in. If it is Bootstrap based, then check Bootstrap 5's upgrade guide to see what needs to be changed and how for the Plone 6 theming control panel.

[2022-08-18 04:27] stevepiercy commented on #3595
Actually, looking at the HTML, this is a [button group](https://getbootstrap.com/docs/5.2/components/button-group/). Button groups are essentially a group of buttons smooshed together into a toolbar. That does not make sense in this context. They are just buttons.

I would change `<div class="btn-group">` to `<div class="m-1">`, based on the [Spacing utility](https://getbootstrap.com/docs/5.2/util

[2022-08-18 04:30] rohnsha0 commented on #3595
@stevepiercy Yaa... This would make sense... but won't that break anything?

[2022-08-18 04:30] rohnsha0 commented on #3595
Directly changing to `<div class="m-1">`

[2022-08-18 04:32] stevepiercy commented on #3595
I don't know. Only one way to find out! Run tests before committing changes and pushing them to GitHub to make a pull request. If a test breaks, fix the test to match the new HTML markup.

[2022-08-18 04:34] rohnsha0 commented on #3595
Hahaha! That's the only possible way.... I think would work...

[2022-08-18 04:34] stevepiercy commented on #3595
I mean, @rohnsha0, if you have not yet done so, it is a Really Good Idea™ to read and follow the [Guidelines for contributing to Plone Core](https://docs.plone.org/develop/coredev/docs/guidelines.html) _before_ you contribute to Plone core.

[2022-08-18 04:35] #3604 closed

[2022-08-18 04:36] rohnsha0 commented on #3595
@stevepiercy But that I'm already aware of Plone Core contribution guidance... Sir...

[2022-08-18 08:53] MrTango commented on #3491
Sounds like a good thing with @ksuess additions in mind. +1

[2022-08-18 08:54] laulaz opened #3613 "`AttributeError: __call__` on a `File` resource"
https://github.com/plone/Products.CMFPlone/blob/40b12fa7fd5ff02bdf6b083843f344818fb2ea75/Products/CMFPlone/resources/utils.py#L69-L74

This is maybe more a question than a bug (?), but I end up with a traceback on a resource with this code (on line 74), because it is (of course) not a BrowserView.
- `path` : `'/++theme++mytheme/js/script.js'`
- `context.unrestrictedTraverse(path)` :  `<File at /Pl

[2022-08-18 10:02] #3601 closed

[2022-08-18 23:11] mauritsvanrees commented on #3429
Fixed by https://github.com/plone/plone.app.content/pull/250

[2022-08-18 23:11] #3429 closed

[2022-08-19 23:50] mauritsvanrees commented on #644
Closed due to long inactivity. Please reopen if this is still relevant for Plone 5.2 or 6.

[2022-08-19 23:50] #644 closed

[2022-08-22 02:09] rohnsha0 commented on #3600
@zopyx can you please elaborate the issue?
Unable to see any inconsistency in font sizing...

[2022-08-22 04:55] zopyx commented on #3600
Open

https://www.plone-demo.info/@@usergroup-groupprefs
https://www.plone-demo.info/portal_registry

side by side and see the different font-sizes of the text below the H1 tag yourself.

Login: admin/admin

[2022-08-22 04:58] rohnsha0 commented on #3600
@zopyx Can understand what's the issue is....
But can't figure out what's going wrong...

[2022-08-22 04:59] zopyx opened #3617 "Inconsistent breadcrumbs for control panels"
Plone 6.0.0b1

Some control panels  show only `Home` in the breadcrumbs. Others contain the name of the related control panel.
For consistency reasons: all control panels should be displayed with `Home`-> `Name of control panel`.
![b8e65096-2e7f-4ad4-bc81-c9a2a7e188f3](https://user-images.githubusercontent.com/594239/185842689-21024a2f-9c11-460a-89a3-f496d0119326.png)
![dea1799b-edec-49ba-b8db-08b

[2022-08-22 05:01] zopyx commented on #3600
Huh??? The same functionality like description should be displayed in all contexts with the same font-size.

[2022-08-22 05:04] rohnsha0 commented on #3600
What I was trying to say that how should this be fixed....
That I'm unable to figure out... 😑

[2022-08-22 05:08] zopyx commented on #3600
The templates use different markup/CSS for the related description..just look at the markup using the website inspector of your browser.

[2022-08-22 13:40] rohnsha0 commented on #3600
changing the class from `lead` to `text-muted m-2` will do the job regarding font sizing in the description

[2022-08-22 13:42] rohnsha0 commented on #3600
In fact I think there's some inconsistency in page margins.... As `Configuration Registry` page has some bigger margin than the homepage

[2022-08-22 13:54] rohnsha0 commented on #3617
@zopyx Can you please help me with finding the folders....?

[2022-08-22 14:19] zopyx commented on #3617
They are likely spread across various package because any package can introduce its own control panel.
The first thing would be to check all UI control panels for improper font-size, determine which would be the correct markup for all control panel in this context (I don't know, I am not in the UI team) and then fix all templates in all affected packages properly.

[2022-08-22 14:22] rohnsha0 commented on #3617
Okay.... breadcrumbs, margin (to some extends), font sizes are the things I personally noticed
Regarding breadcrumb and font sizing, I've figured out some fixes... But hope that works....

[2022-08-22 14:23] rohnsha0 commented on #3617
But I believe there must be some more too... luring here or there.. Will need to find out!

[2022-08-22 15:16] rohnsha0 commented on #3617
@agitator can you please help, where from the breadcrumbs appear?

[2022-08-22 16:39] laulaz opened #3619 "TinyMCE editor not translated anymore"
TinyMCE menus / buttons are not translated anymore on Plone 6.0.0b1, everything stays in English.

For example, in spanish on the demo site :
<img width="1471" alt="tinymce" src="https://user-images.githubusercontent.com/1101273/185973625-e249c95c-264c-4435-8a9e-7f6c40879fda.png">

I don't know in which release the regression occurred, but it was still correctly translated on Plone 6.0.0a3.

[2022-08-22 16:42] davisagli commented on #3619
Also see https://github.com/plone/mockup/issues/1209

[2022-08-22 18:30] #3600 closed

[2022-08-23 04:24] rohnsha0 commented on #3595
![image](https://user-images.githubusercontent.com/86848116/186069464-3482de63-5e1c-41f5-8b51-3554dc6c442a.png)

is this good?

[2022-08-23 04:34] rohnsha0 commented on #3595
This issue is to be fixed in `plone/ploneapp.theming` repo...
Closing this issue here.... as issue raised the repo....

[2022-08-23 07:43] #1413 closed

[2022-08-23 12:43] wesleybl commented on #3595
Closing this issue here.... as issue raised the repo....

@rohnsha0 It's okay to open an issue in Products.CMFPlone, even if the fix is in another package. This is a common practice in Plone.

[2022-08-23 12:59] rohnsha0 commented on #3595
No issues... Let it remain opened... Until that's merged in that repo! Right?

[2022-08-23 13:04] stevepiercy commented on #3595
Closing in favor of https://github.com/plone/plone.app.theming/issues/212

[2022-08-23 13:04] #3595 closed

[2022-08-23 15:36] rohnsha0 commented on #3598
@zopyx Made some changes and a PR subsequently but due to some error unable to run tests...
Kindly run the changes as not much sure about the fix...
If okay then I'll push the PR

[2022-08-23 15:40] rohnsha0 commented on #3597
How to replicate the error?

[2022-08-23 18:23] zopyx commented on #3597
🧐 by creating a group with such a long name

[2022-08-24 07:48] ale-rt commented on #2559
This returns a 404 now https://6-classic.demo.plone.org/en/frontpage/manage_metadata, while on https://demo.plone.org/en/frontpage/manage_metadata it still acquires the Plone site one.

Given that's not an issue anymore for Plone 6 I am going to close this issue.

[2022-08-24 07:48] #2559 closed

[2022-08-24 07:53] ale-rt commented on #2721
This got no traction so I close it.
There are now more popular add-ons to do async tasks like https://github.com/collective/collective.taskqueue

[2022-08-24 07:53] #2721 closed

[2022-08-24 07:53] ale-rt commented on #2758
Plone 5.1 is not a thing anymore :)

[2022-08-24 07:53] #2758 closed

[2022-08-24 08:37] ale-rt commented on #2608
I cannot reproduce this on:
- https://demo.plone.org/en/frontpage/edit
- https://6-classic.demo.plone.org/en/frontpage/edit

Probably fixed by some refactoring in the mockup package

[2022-08-24 08:37] #2608 closed

[2022-08-24 08:56] ale-rt commented on #278
This is still an issue for Plone 6.

I adapted the script:
[code]
Created a folder with a default page on https://6-classic.demo.plone.org/ and ran it:
[code]

[2022-08-24 09:01] ale-rt commented on #317
note: this is still an issue.

[2022-08-24 09:02] #642 closed

[2022-08-24 09:04] #389 closed

[2022-08-24 09:07] ale-rt commented on #627
I will close this given it seems to me quite a lot of activity was done and @terapyon PRs were merged.
Feel free to open more specific a11y issues if we still identify such issues on Plone 5.2 and Plone 6.0

[2022-08-24 09:07] #627 closed

[2022-08-24 09:24] ale-rt commented on #643
No activity happened in this issue for years.
Please feel free to reopen it if it is still relevant for Plone 5.2 or Plone 6.0.

[2022-08-24 09:24] #643 closed

[2022-08-24 09:24] ale-rt commented on #662
No activity happened in this issue for years.
Please feel free to reopen it if it is still relevant for Plone 5.2 or Plone 6.0.

[2022-08-24 09:24] #662 closed

[2022-08-24 09:25] ale-rt commented on #602
No activity happened in this issue for years.
Please feel free to reopen it if it is still relevant for Plone 5.2 or Plone 6.0.

[2022-08-24 09:25] #602 closed

[2022-08-24 09:26] ale-rt commented on #677
No activity happened in this issue for years.
Feel free to reopen if this becomes relevant again.

[2022-08-24 09:26] #677 closed

[2022-08-24 09:28] mauritsvanrees commented on #2500
Plone 4.3 is not supported anymore. I cannot reproduce in Plone 5.2 or 6.0.

[2022-08-24 09:33] ale-rt commented on #1092
I think this is solved now.
Please feel free to reopen if it is still an issue in 5.2 or 6.0

[2022-08-24 09:33] #1092 closed

[2022-08-24 09:35] ale-rt commented on #1075
There have been no updates in the latest years.
Please feel free to reopen if this is still an issue in Plone 5.2 or Plone 6.0.

[2022-08-24 09:35] #1075 closed

[2022-08-24 09:51] ale-rt commented on #1094
Still not looking good in Plone 6:
![image](https://user-images.githubusercontent.com/1300763/186388273-8a5b36f1-3457-4cd8-a031-4a70d06072d1.png)

[2022-08-24 09:59] mauritsvanrees commented on #1959
Checked in 5.2 and 6.0.
I cannot reproduce the CMFPlacefulWorkflow problem, so that was fixed.
I *can* reproduce the problem that adding a control panel action in the ZMI does not work. My fix for that must have not made it to all branches. I have made PRs for 5.2 and 6.0.

[2022-08-24 10:00] mauritsvanrees commented on #1856
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 4.3 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:00] #1856 closed

[2022-08-24 10:00] mauritsvanrees commented on #1320
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 4.3 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:00] #1320 closed

[2022-08-24 10:02] #2500 closed

[2022-08-24 10:05] ale-rt commented on #1097
This is an issue in Plone 5.2 only now:
![image](https://user-images.githubusercontent.com/1300763/186391448-95faa413-e837-47d4-ab4b-231b74b3b9ca.png)

[2022-08-24 10:05] mauritsvanrees commented on #368
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 4.3 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:05] #368 closed

[2022-08-24 10:16] ale-rt commented on #1135
Tested on:
1. https://demo.plone.org/dexterity-types/File/@@modeleditor
2. https://6-classic.demo.plone.org/dexterity-types/File/@@modeleditor

In Plone 6 the issue is solved

[2022-08-24 10:22] mauritsvanrees commented on #2805
Confirmed on current 5.2 and 6.0, both via the action and via the rename button in folder contents.

[2022-08-24 10:22] #1133 closed

[2022-08-24 10:23] mauritsvanrees commented on #2019
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 5.0 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:23] #2019 closed

[2022-08-24 10:23] ale-rt commented on #1140
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 5.1 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:23] #1140 closed

[2022-08-24 10:25] ale-rt commented on #1158
Closed due to long inactivity.
Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:25] #1158 closed

[2022-08-24 10:28] mauritsvanrees commented on #1821
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 5.0 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 10:28] #1821 closed

[2022-08-24 10:29] ale-rt commented on #1124
In both Plone 5.2 and Plone 6.0 clicking the delete action offers to unlock the object before deleting it.
Given not much activity happened here and that the current state is IMO good enough I will close this issue.
Feel free to reopen if you disagree.

[2022-08-24 10:29] #1124 closed

[2022-08-24 10:37] ale-rt commented on #1163
I am closing this because of the long inactivity and because here has been quite some changes in the JS story lately.
Please feel free to reopen if you think this should be addressed in the next Plone versions.

[2022-08-24 10:37] #1163 closed

[2022-08-24 10:38] ale-rt commented on #1164
I am closing this because of the long inactivity and because here has been quite some changes in the JS story lately.
Please feel free to reopen if you think this should be addressed in the next Plone versions.

[2022-08-24 10:38] #1164 closed

[2022-08-24 10:39] mauritsvanrees commented on #2921
Probably tricky to reproduce. I don't expect that simply adding a `RelationChoice` field will trigger it.
But the error would be on [this line](https://github.com/plone/plone.app.content/blob/0021e78c8e0a359beec622e27d8bd465d4562a1c/plone/app/content/browser/vocabulary.py#L237), which should not be run if `val` is `None`.
I am not planning to work on this currently. Actually... should be quick eno

[2022-08-24 10:42] ale-rt commented on #1175
Fixed by https://github.com/plone/Products.CMFPlone/pull/1176

[2022-08-24 10:42] #1175 closed

[2022-08-24 10:44] ale-rt commented on #1182
I am closing this because of the long inactivity and because here has been quite some changes in the JS story lately.
Please feel free to reopen if you think this should be addressed in the next Plone versions.

[2022-08-24 10:44] #1182 closed

[2022-08-24 10:45] mauritsvanrees commented on #2921
I have made PRs for 5.2 and 6.0.

[2022-08-24 10:46] ale-rt commented on #1192
I am closing this because of the long inactivity and because here has been quite some changes in the JS story lately.
Please feel free to reopen if you think this should be addressed in the next Plone versions.

[2022-08-24 10:46] #1192 closed

[2022-08-24 10:47] ale-rt commented on #1195
I am closing this because of the long inactivity and because here has been quite some changes in the JS story lately.
Please feel free to reopen if you think this should be addressed in the next Plone versions.

[2022-08-24 10:47] #1195 closed

[2022-08-24 10:49] ale-rt commented on #1206
I think this was fixed in https://github.com/plone/plone.dexterity/blob/master/CHANGES.rst#251-2017-02-27, please feel free to reopen if I am wrong.

[2022-08-24 10:49] #1206 closed

[2022-08-24 11:00] ale-rt commented on #1217
I am closing this because of the long inactivity
Please feel free to reopen if this is still an issue in Plone 5.2 or Plone 6.

[2022-08-24 11:00] #1217 closed

[2022-08-24 11:06] mauritsvanrees commented on #1759
Confirmed.
In Plone 5.2 Python 2.7, I do not actually get an error, but the parameterExpressions field is not saved. The previous value remains.
In Plone 6 you get this traceback:

[code]

When you edit it through the [config registry control panel](http://localhost:8080/Plone/portal_registry/edit/plone.app.theming.interfaces.IThemeSettings.parameterExpressions) on Plone 6 you get 'Invalid value'

[2022-08-24 11:07] mauritsvanrees commented on #1723
Closed due to long inactivity. Sorry for not coming back on this. Meanwhile Plone 5.0 is not supported anymore. Please reopen if this is still relevant for Plone 5.2 or 6. You could check one of the demo sites: https://plone.org/what-is-plone/plone/try-plone

[2022-08-24 11:11] mauritsvanrees commented on #1721
On Plone 6.0 it looks okay. Not on the same line, but the line is pretty full anyway, so it seems better this way.

![Screenshot 2022-08-24 at 13 09 20](https://user-images.githubusercontent.com/210587/186404067-7c13a5b9-1f10-402e-9f31-1e632623484d.png)

I doubt anyone wants to fix this UI issue in 5.2 still. I close this.

[2022-08-24 11:11] #1721 closed

[2022-08-24 12:13] ale-rt commented on #1532
It looks fine to me now, please feel free to reopen if not :)

[2022-08-24 12:13] #1532 closed

[2022-08-24 12:15] ale-rt commented on #1544
Nowadays it is generated with id: `beret-francais-baguette`.
Tested on https://demo.plone.org/.

[2022-08-24 12:15] #1544 closed

[2022-08-24 12:17] ale-rt commented on #1549
Tested on https://demo.plone.org/ is still an issue.
It is not an issue anymore in https://6-classic.demo.plone.org/

[2022-08-24 12:26] ale-rt commented on #1557
The `@@manage-viewlets` view is subject to this kind of weird behavior.
In addition it does not allow to handle the viewlets in the had.
But I would say this goes beyond the scope of the issue you reported.

Given the issue is stale since quite some time I will close, but feel free to reopen if you think it should be addressed in the future Plone versions.

[2022-08-24 12:26] #1557 closed

[2022-08-24 13:38] #2921 closed

[2022-08-24 13:47] mauritsvanrees commented on #3324
Is anyone actively working on or thinking on this?

[2022-08-24 13:58] mauritsvanrees commented on #3326
I fear many other things would need fixing as well, next to the catalog. At least intids and relation catalog are likely a problem. Linkintegrity checks may fail. I admit that I am guessing. But I would not trust a renamed or copied site. Problem may only surface later.
Really I think this should not be supported. I would not mind if this raised an explicit error, or at least show a warning.

Some

[2022-08-24 14:02] mauritsvanrees commented on #3348
This works fine now, with the currently pinned pip/setuptools/zc.buildout versions.

[2022-08-24 14:02] #3348 closed

[2022-08-24 14:08] mauritsvanrees commented on #3337
Still a problem in current 5.2 on Py 2. Might be in `plone.app.layout`, which seems the only place where `Content-Language` is set:

[code]

But not something I will tackle now.

[2022-08-24 14:15] mauritsvanrees commented on #3373
No real answer, but here is an extra note from [`CMFEditions`](https://github.com/plone/Products.CMFEditions/blob/fc5146fe1112b2290f03129fd805c8edc454a9d7/Products/CMFEditions/browser/configure.zcml#L78-L89):

[code]

I guess some of these could be merged.

[2022-08-24 14:18] ale-rt commented on #1234
It is a view as of now:

- https://github.com/plone/Products.CMFPlone/blob/0725a67f58f48edc6d43f67996ece1d0af2f78b3/Products/CMFPlone/browser/test_rendering.py

Feel free to open specific issues with ideas to improve it :)

[2022-08-24 14:19] #1234 closed

[2022-08-24 14:21] mauritsvanrees commented on #3380
Meanwhile fixed in https://github.com/plone/Products.CMFPlone/commit/cbb726858c848075a8de73e37b7c0b5b6b189824.

[2022-08-24 14:23] mauritsvanrees commented on #2040
For me it seems logical. You upload a File and this uses the File content type from Plone. I expect this has always been the case, also in Plone 4 and with Archetypes.

[2022-08-24 14:23] #2040 closed

[2022-08-24 14:29] #940 closed

[2022-08-24 14:43] ale-rt commented on #1113
It looks fixed to me

[2022-08-24 14:43] #1113 closed

[2022-08-24 14:44] ale-rt commented on #1038
This looks fixed to me

[2022-08-24 14:44] #1038 closed

[2022-08-24 15:08] thet commented on #1322
in plone 6 the listing does look nicer. see:

![Screenshot from 2022-08-24 17-07-59](https://user-images.githubusercontent.com/170891/186454534-ff93fa81-2173-4824-a176-c45f34c36ea4.png)

I'm closing this, as there is also some fine grained control possible:
- disabling pictures to be part of the navigation
- disabling thumbs altogether.

[2022-08-24 15:08] #1322 closed

[2022-08-24 15:13] Rudd-O commented on #2040
How do I configure Plone to receive files via WebDAV and give me back the same files _unchanged_?  This was the case for many, many years with Plone, and this behavior is "new" (the past couple years).

[2022-08-24 15:21] thet commented on #3113
Cannot reproduce, at least as admin. A‌ site administrator does not have access to that form nor the "actions"‌ control panel in http://localhost:8080/Plone/@@actions-controlpanel
If a site admin should have access is another discussion.
Closing this issue.

[2022-08-24 15:21] #3113 closed

[2022-08-24 15:26] Rudd-O opened #3622 "Plone WebDAV is broken for all intents and purposes"
Today, Plone (5/6) is the **single one** WebDAV server (I know of) where you upload in a 100KB binary file and it returns back 101KB of 1KB MIME junk + 100KB binary data.  This might be a "clever" way of serving metadata, but obviously is not the right thing to do in the context of a WebDAV server.  Can you imagine if you put 100 photos in your file server, and later the file server gives you back

[2022-08-24 15:26] Rudd-O commented on #2040
Filed: https://github.com/plone/Products.CMFPlone/issues/3622

[2022-08-24 15:30] thet commented on #1400
Done in: https://github.com/plone/Products.CMFPlone/pull/3524

[2022-08-24 15:30] #1400 closed

[2022-08-24 15:30] thet commented on #1697
Done in https://github.com/plone/Products.CMFPlone/pull/3524

[2022-08-24 15:49] rohnsha0 commented on #3594
Like? Can you specify one or two... for clear understanding...

[2022-08-24 15:59] rohnsha0 commented on #3597
can't think of any fix... 😑😓

[2022-08-24 15:59] ale-rt commented on #1242
It is fine to me.

[2022-08-24 16:02] #1242 closed

[2022-08-24 16:05] thet commented on #1914
Not applicable for Plone 6. We're using pat-validation from Patternslib and browser's native date/time input fields. If there is still a problem it's a different one.

[2022-08-24 16:05] #1914 closed

[2022-08-24 16:06] d-maurer commented on #3326
Maurits van Rees wrote at 2022-8-24 06:58 -0700:

I do not speak about copying -- just moving/renaming:
intids should therefore not be a problem.

The catalogs currently use absolute paths (both as "uid"s as
well as in the `path` index). Would they switch to portal relative
paths, moving/renaming would get significantly simpler.

It, too, may be better use portal relative paths.

[2022-08-24 16:09] thet commented on #1988
Stale issue.

[2022-08-24 16:09] #1988 closed

[2022-08-24 17:18] phgv opened #3623 "Bug when discussion is enabled, the browser scroll down to the end of the page (6.0.0b1 classic)"
When discussion is enable and the page is loading, the cursor focus on the text field of the comments and the browser scroll down to the end of the page.

### What version of Plone/ Addons I am using:
Plone 6.0.0b1 Classic

[2022-08-24 20:08] davisagli commented on #2372
Working in Plone 6

[2022-08-24 20:08] #2372 closed

[2022-08-24 20:35] davisagli commented on #1478
The situation is much improved in Plone 6. All control panels now use a consistent tabbed interface. I just see the following control panels that still have an extra site setup link that should be removed:
- /@@inspect-relations
- /@@member-fields
- /@@maintenance-controlpanel
- /@@language-controlpanel

[2022-08-24 20:41] davisagli commented on #1289
Seems to work well in Plone 6 in Chrome

[2022-08-24 20:41] #1289 closed

[2022-08-24 20:41] ale-rt commented on #1290
I am working on this.
The problem is that this adapter wants to set a property that is not in the memberdata properties and this fails silently:
https://github.com/plone/plone.app.users/blob/575fe2bb60201f795387f322dd5318b86efd62c0/plone/app/users/browser/account.py#L71-L78
This appears to be a valid fix:
[code]

I will work on a patch.

[2022-08-24 20:42] #1723 closed

[2022-08-24 20:44] davisagli commented on #1719
Looks good in Plone 6

[2022-08-24 20:44] #1719 closed

[2022-08-24 20:46] davisagli commented on #1704
Closing since this is quite old and Archetypes is no longer supported.

[2022-08-24 20:46] #1704 closed

[2022-08-24 20:49] davisagli commented on #1633
This was fixed in https://github.com/plone/plone.app.upgrade/pull/176

[2022-08-24 20:49] #1633 closed

[2022-08-24 21:01] davisagli commented on #1452
Could not reproduce in Plone 6. The original page was locked by the creation of the working copy, and "Cancel checkout" was not available on the actions menu.

[2022-08-24 21:01] #1452 closed

[2022-08-24 21:06] davisagli commented on #1357
Current versions of Plone no longer include upgrade steps from such old starting points. And it's arguably a feature to keep existing labels which may have been customized by a site admin. So I'll close this, but I don't feel strongly if someone cares about it enough to add the missing upgrade step.

[2022-08-24 21:06] #1357 closed

[2022-08-24 21:19] davisagli commented on #1317
I think this is working as designed. The Zope "Delete objects" permission is assigned to a container to allow deletion of the container's subitems. Removing the permission from a subitem does not prevent it from being deleted because the permission is checked in the context of the container.

A separate permission to control deletion of an item itself seems like a reasonable feature request. In th

[2022-08-24 21:19] #1317 closed

[2022-08-24 21:21] jensens opened #3624 "TinyMCE SVG handling broken (6.0.0b1)"
### What I did:

- in TinyMCE
- I upload an SVG image
- and select to display it in Large to have it full content width.

### What I expect to happen:

After save the image is shown

### What actually happened:

The image is shown as 1x1 pixel.

### What version of Plone/ Addons I am using:

Plone 6.0.0b1  (Classic) vanilla

[2022-08-24 21:22] #1264 closed

[2022-08-24 21:29] davisagli commented on #1212
In Plone 6 css and js are no longer configured in the registry in this way, but I suspect the broader issue still remains and needs some thought about when it is safe to strip registry values and when it isn't.

[2022-08-24 21:32] davisagli commented on #1160
In Plone 6 it should be harder to completely break the site this way, since there is no longer TTW compilation of bundles. So I think this is no longer relevant, but feel free to reopen if it is.

[2022-08-24 21:32] #1160 closed

[2022-08-24 21:34] davisagli commented on #1110
Still room for improvement

[2022-08-24 21:36] davisagli commented on #1102
Still true; still seems worth fixing

[2022-08-24 21:38] davisagli commented on #1064
We are no longer maintaining the upgrade steps from Plone 4 -> 5

[2022-08-24 21:38] #1064 closed

[2022-08-24 21:39] davisagli commented on #1056
Still valid

[2022-08-24 21:40] davisagli commented on #1052
Still valid

[2022-08-24 21:45] davisagli commented on #1045
The discussion here is way out of date, but I searched for Plone browser support and couldn't find a valid current reference. @mauritsvanrees Do we have any effective current guideline for what browsers are supported?

[2022-08-24 21:49] davisagli commented on #1043
@thet Is this something that was considered when updating Plone's js story for Plone 6 classic?

[2022-08-24 21:53] davisagli commented on #1039
In Plone 6 the fields are labeled Default format and Alternative formats, so it seems okay to me if the default is not also selected as an alternative.

However, there is a bigger problem which is that text/html is always used as the default even if a different format is selected as the default.

[2022-08-24 21:56] davisagli commented on #1036
Done in https://github.com/plone/plone.app.layout/pull/220

[2022-08-24 21:56] #1036 closed

[2022-08-24 21:59] davisagli commented on #1033
In Plone 6 classic the browser date widget is used in both places.

[2022-08-24 21:59] #1033 closed

[2022-08-24 22:02] davisagli commented on #1018
Still true in Plone 6

[2022-08-24 22:04] davisagli commented on #1007
This didn't reach a clear conclusion and hasn't been touched in a few years. I'll close it but feel free to reopen.

[2022-08-24 22:04] #1007 closed

[2022-08-24 22:07] davisagli commented on #1005
Still broken in Plone 6 classic. For the user, nothing happens and the edit form remains open. In the JS console it says "error happened error  do something" 😆

[2022-08-24 22:14] davisagli commented on #946
Plone 6 no longer provides a horizontal variation of the toolbar.

[2022-08-24 22:14] #946 closed

[2022-08-24 22:16] davisagli commented on #945
In Plone 6 we use the browser datetime widget (`<input type="datetime-local">`)

[2022-08-24 22:16] #945 closed

[2022-08-24 22:17] davisagli commented on #933
Still valid

[2022-08-24 22:18] davisagli commented on #932
Still valid

[2022-08-24 22:21] davisagli commented on #922
Plone 6 classic is now using the HTML5 date inputs.

[2022-08-24 22:21] #922 closed

[2022-08-24 22:26] davisagli commented on #888
This is an old convention from Windows menus meaning "this opens a dialog rather than performing an action immediately". But that is not the case here, and I really don't know why we are using it.

[2022-08-24 22:27] thet commented on #2170
1) In Plone 6 we use pat-validation - you cannot easily submit the form without required fields filled out.
2)‌ Having the external url tab first would be a major UI‌ change which we would not do just like so.

[2022-08-24 22:27] #2170 closed

[2022-08-24 22:28] davisagli commented on #867
For clarity: this seems to be about the "Filter" button, which doesn't have `aria-hidden="true"` until it has been opened and closed once.

[2022-08-24 22:32] davisagli commented on #861
In Plone 6 the error is gone, but it still does not actually render the content.

[2022-08-24 22:34] davisagli commented on #824
Still valid in Plone 6

[2022-08-24 22:36] davisagli commented on #808
Still valid

[2022-08-24 22:42] davisagli commented on #779
This is working in general in Plone 6. It is still not working on the login form but there is a separate issue for that.

[2022-08-24 22:42] #779 closed

[2022-08-24 22:44] davisagli commented on #2219
Seems to be working correctly in Plone 6 classic

[2022-08-24 22:44] #2219 closed

[2022-08-24 22:48] davisagli commented on #774
I checked the listed modals in Plone 6 and they are working pretty well. I'd suggest creating more specific new issues for any remaining glitches.

[2022-08-24 22:48] #774 closed

[2022-08-24 22:51] thet commented on #2344
@thomasmassmann We would need to change the requirejs entries for the ace plugin in plone.staticresources and for the sake of completeness also the config.js entry in mockup itself. Then, with a fresh plone install which includes these changes you can run ``./bin/plone-compile-resources -b thememapper``. the bundle would probably written to the thememapper package - you can see the location in the

[2022-08-24 22:51] #2344 closed

[2022-08-24 22:52] davisagli commented on #773
still valid

[2022-08-24 22:56] davisagli commented on #732
Looks like this was fixed in Plone 6

[2022-08-24 22:56] #732 closed

[2022-08-24 23:00] davisagli commented on #715
The lock message is just one example; there are other messages that indicate special content states, such as the one about a plone.app.iterate working copy. I'd suggest a message at the very top or bottom of the window for these to avoid needing to style it to fit inside the content area.

[2022-08-24 23:00] davisagli commented on #701
Still valid

[2022-08-24 23:01] davisagli commented on #700
Still valid

[2022-08-24 23:04] thet commented on #2402
cannot reproduce either. closing.

[2022-08-24 23:04] #2402 closed

[2022-08-24 23:08] thet commented on #2437
Probably won't fix. Plone 6 is totally different and in Plone 5 only a few understand the RR‌ as it is broken in many way. Would not bring a big benefit fixing this.
Unless you do it!

[2022-08-24 23:08] #2437 closed

[2022-08-24 23:11] mauritsvanrees commented on #824
`plone/i18n/locales/languages.py` has the language definitions. `de-ch` is missing a native name for the language:

[code]

So to fix it, you edit `de-ch` to have `"native": "Deutsch (Gruezibuezi)"` ;-)

I suppose it is logical that the English name is **not** used as fallback: if the user does not understand English, then she may not recognise the English name. "German" and "Deutsch" do not even

[2022-08-24 23:13] davisagli commented on #665
Fixed in Plone 6: https://github.com/plone/plone.app.iterate/pull/84

[2022-08-24 23:13] #665 closed

[2022-08-24 23:15] davisagli commented on #589
This still sounds like a good idea, but it doesn't seem like the existence of this issue has helped it happen. Should I keep it open?

[2022-08-24 23:21] davisagli commented on #518
In Plone 6 this seems to be resolved for actually rendering the image due to using new scale URLs that are based on a hash generated when the image is changed. But the full size image is still cached too much.

[2022-08-24 23:22] davisagli commented on #488
Archetypes is no longer supported in Plone 6

[2022-08-24 23:22] #488 closed

[2022-08-24 23:22] mauritsvanrees commented on #1309
I close this: in Plone 6 the resource registry is completely different.

[2022-08-24 23:22] #1309 closed

[2022-08-24 23:23] davisagli commented on #358
plone.app.controlpanel is no longer used and I'm not sure there's any value in doing this. I'll close the issue

[2022-08-24 23:23] #358 closed

[2022-08-24 23:27] davisagli commented on #824
@mauritsvanrees I could imagine a fancy fallback that looks for a translation of the non-country-specific variation name of the language, then adds the 2-char country code in parentheses. But it is probably easier to just add the native names manually.

[2022-08-24 23:29] thet commented on #3087
Closing this. We're not using Travis anymore.

[2022-08-24 23:29] #3087 closed

[2022-08-24 23:32] thet commented on #3259
Done in mockup/es6 by using pat-validation.

[2022-08-24 23:32] #3259 closed

[2022-08-24 23:50] davisagli commented on #2929
@zopyx Is this still an issue? It seems the ZEO cache somehow has a corrupted index, but I have no idea how to reproduce it.

[2022-08-24 23:50] #2929 closed

[2022-08-24 23:52] davisagli commented on #2882
Fixed in https://github.com/plone/plone.app.portlets/pull/129

[2022-08-24 23:52] #2882 closed

[2022-08-24 23:54] davisagli commented on #2764
In Plone 6 it seems to be persisting across folders.

[2022-08-24 23:54] #2764 closed

[2022-08-25 00:01] davisagli commented on #2650
Working in Plone 6

<img width="860" alt="Screen Shot 2022-08-24 at 5 00 57 PM" src="https://user-images.githubusercontent.com/49014/186544670-cdb52d73-8b85-4ac6-9037-7fe2637abd8c.png">

[2022-08-25 00:01] #2650 closed

[2022-08-25 00:04] davisagli commented on #2623
Still valid

[2022-08-25 00:07] davisagli commented on #2609
In Plone 6 the resource registry no longer has a filterable list of resources, only a list of bundles.

[2022-08-25 00:07] #2609 closed

[2022-08-25 00:10] davisagli commented on #2468
This looks like it was a Python 2.7-specific issue

[2022-08-25 00:10] #2468 closed

[2022-08-25 00:11] davisagli commented on #2433
Closing since the original issue here was fixed.

[2022-08-25 00:11] #2433 closed

[2022-08-25 00:13] davisagli commented on #2431
I think there have been multiple changes to mitigate this since then. Please reopen if it's still a problem.

[2022-08-25 00:13] #2431 closed

[2022-08-25 00:17] davisagli commented on #2354
Is this still an issue more recently?

[2022-08-25 00:19] davisagli commented on #2392
To help with this we would need more information about the object that couldn't be cloned.

[2022-08-25 00:19] #2392 closed

[2022-08-25 01:24] esteele commented on #589
Let’s just close it.

[2022-08-25 01:24] #589 closed

[2022-08-25 02:06] davisagli commented on #2389
Looks okay in Plone 6
<img width="328" alt="Screen Shot 2022-08-24 at 7 05 52 PM" src="https://user-images.githubusercontent.com/49014/186557673-7f349215-272e-45c6-ad3e-821676b865a8.png">

[2022-08-25 02:06] #2389 closed

[2022-08-25 02:12] #2338 closed

[2022-08-25 02:14] #2329 closed

[2022-08-25 02:19] davisagli commented on #2137
Plone 6 no longer uses this command for compilation

[2022-08-25 02:19] #2137 closed

[2022-08-25 02:26] davisagli commented on #1687
We are no longer developing Plone 5.1 or Archetypes, so I'll close this.

[2022-08-25 02:26] #1687 closed

[2022-08-25 02:27] davisagli commented on #1593
Plone 6 is using SVG for icons.

[2022-08-25 02:27] #1593 closed

[2022-08-25 04:25] zopyx commented on #2354
No idea 🤷🏻‍♂️

[2022-08-25 04:25] zopyx commented on #2392
outdated 🤷🏻‍♂️

[2022-08-25 04:26] davisagli commented on #2354
Okay, closing since it's also filed in the ZODB repo

[2022-08-25 04:26] #2354 closed

[2022-08-25 08:23] ale-rt commented on #1290
A quick fix for this is to go to the portal_menberdata tool (e.g. https://demo.plone.org/portal_memberdata/manage_propertiesForm) and add the timezone property (see the form at the bottom of the page).
![image](https://user-images.githubusercontent.com/1300763/186614160-539754f6-741d-484e-973e-750fea55363f.png)

[2022-08-25 08:34] fredvd commented on #518
@davisagli   Is it the backend that is caching or is it the browser?

@mauritsvanrees I remember you patched/fixed some of the caching headers for the full size image 1 or 2 years ago for our 'draw' custom contenttype where we hadd issues when the image field was updated but the browser requested an old copy.  That was Plone 4 but iirc you also fixed something related in 5.X that showed the same b

[2022-08-25 14:43] pbauer commented on #1892
This is still not working in Plone 6

[2022-08-25 14:52] pbauer commented on #1442
This works in Plone 6. Example:
[code]

[2022-08-25 14:52] #1442 closed

[2022-08-25 15:01] #1940 closed

[2022-08-25 15:01] #2041 closed

[2022-08-25 15:05] pbauer commented on #2200
I closed this since it probably works now. I did not tests (py2 and AT - duh!). If it is still broken please reopen.

[2022-08-25 15:08] pbauer commented on #2589
The original task (porting robot-server to Python 3) is done.

[2022-08-25 15:08] #2589 closed

[2022-08-25 15:12] #2594 closed

[2022-08-25 15:17] #3599 closed

[2022-08-25 15:18] #2726 closed

[2022-08-25 15:23] jensens commented on #317
🎉 8yo issue! http://www.columbia.edu/~sss31/rainbow/whose.job.html :-)

[2022-08-25 15:25] #2751 closed

[2022-08-25 15:26] #1290 closed

[2022-08-25 15:28] #1959 closed

[2022-08-25 15:31] #2847 closed

[2022-08-25 15:34] pbauer commented on #2876
That code is now also part of collective.migrationhelpers. See https://github.com/collective/collective.migrationhelpers/blob/master/src/collective/migrationhelpers/post_python3_fixes.py#L57

[2022-08-25 15:34] #2876 closed

[2022-08-25 15:36] ale-rt commented on #1290
I am reopening it because on Plone 5.2. this is still an issue

[2022-08-25 16:06] davisagli commented on #317
@jensens Not everything in Volto is a folder. It's a good idea for many content types, but there are still some that don't make sense as folders: assets like Images and Files, and content types that are used to establish a vocabulary but not really used as content on their own.

I am interested in working on this one. It is not at the top of my list, but it is on my list.

[2022-08-25 16:08] davisagli commented on #824
Not really complete; that PR only fixed it for German and Dutch

[2022-08-25 16:13] jensens commented on #1781
Just checked, this is still an issue.

[2022-08-25 16:15] jensens commented on #824
wtf, automatic close ...

[2022-08-25 16:17] davisagli commented on #824
@jensens yeah I know, no worries

[2022-08-25 16:20] jensens commented on #2451
still an issue - just chekced on https://6-classic.demo.plone.org/

[2022-08-25 16:24] jensens commented on #2825
After a check on https://6-classic.demo.plone.org it looks like this got fixed.

[2022-08-25 16:24] #2825 closed

[2022-08-25 16:25] jensens commented on #3202
This was resolved.